<img src="download (1).png" />

# I will connect to a coinmarketcap.com public API and pull the data to a snowflake database. i will be gathering data about cryptocurrency and will be doing EDA on it.

# installing & importing needed dependencies

In [ ]:
pip install snowflake-connector-python

In [ ]:
pip install snowflake-sqlalchemy

In [11]:
import requests
import json
import snowflake.connector as sf
import pandas as pd

# To connect to a Snowflake database and create a storage schema, you need to establish the connection using credentials and parameters, and then execute the required commands for schema creation.

In [ ]:
try:
    conn = sf.connect(
        user='user',
        password='password',
        account='pv92401.europe-west4.gcp',
    )
    print("connected")
except Exception as e:
    print(f"Error connecting to Snowflake: {e}")
    exit()

# Creating a cursor object
cur = conn.cursor()
print("successfully created cursor")

# Creating a new warehouse
cur.execute("CREATE WAREHOUSE IF NOT EXISTS crypto")
print("successfully created warehouse")

# Creating a new database
cur.execute("CREATE DATABASE IF NOT EXISTS api")
print("successfully created database")

# Creating a new schema
cur.execute("USE DATABASE api")
cur.execute("CREATE SCHEMA IF NOT EXISTS eda")
print("successfully created schema")

# Creating a new table
try:
    cur.execute("USE SCHEMA eda")
    cur.execute("CREATE TABLE IF NOT EXISTS coins (name VARCHAR(50), tags VARCHAR(500), marketcap NUMBER(38, 8))")
except Exception as e:
    print(f"Error creating table: {e}")
    cur.close()
    conn.close()
    exit()

# Closing the cursor and connection
cur.close()
conn.close()

# The code retrieves specific data from the CoinMarketCap API, namely the Name, Tags, and Market Cap (market capitalization) of cryptocurrencies.

In [5]:
headers = {
    'X-CMC_PRO_API_KEY': 'api_key',
    'Accepts': 'application/json'
}

# passing arguments to fetch 1st and up to 3rd coin
url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
    'start': '1',
    'limit': '2000',
    'convert': 'EUR'
}

# send the request and get the response
try:
    response = requests.get(url, params=parameters, headers=headers).json()
    coins = response['data']
    print("Data retrieved successfully.")
except requests.exceptions.RequestException as e:
    print("Error retrieving data:", e)

conn = sf.connect(
    user='Vandalism',
    password='Rakovosel0123321',
    account='pv92401.europe-west4.gcp',
    warehouse='crypto1',
    database='api1',
    schema='eda1'
)

cur = conn.cursor()

coins = response['data']
print(f"Retrieved {len(coins)} coins.")

#adding jupyter to interpret in dataframe format

for coin in coins:
    name = coin['name']
    tags = coin['tags']
    marketcap = coin['quote']['EUR']['market_cap']
    print(f"Processing data for {name}")
    
    try:
        query = """
            MERGE INTO coins1 c
            USING (SELECT %s name, %s tags, %s marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)
        """

        print(f"Query: {query % (name, json.dumps(tags), marketcap)}")
        cur.execute(query, (name, json.dumps(tags), marketcap))
        print(f"Data for {name} inserted successfully.")
        
    except sf.Error as e:
        print(f"Error inserting data for {name}:", e)

Data retrieved successfully.
Retrieved 2000 coins.
Processing data for Bitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin name, ["mineable", "pow", "sha-256", "store-of-value", "state-channel", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "binance-labs-portfolio", "blockchain-capital-portfolio", "boostvc-portfolio", "cms-holdings-portfolio", "dcg-portfolio", "dragonfly-capital-portfolio", "electric-capital-portfolio", "fabric-ventures-portfolio", "framework-ventures-portfolio", "galaxy-digital-portfolio", "huobi-capital-portfolio", "alameda-research-portfolio", "a16z-portfolio", "1confirmation-portfolio", "winklevoss-capital-portfolio", "usv-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio", "multicoin-capital-portfolio", "paradigm-portfolio", "btc-ecosystem"] tags, 519866229348.1538 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Error inserting data for Bitcoin: 100078 (22000): String '["mineable", "pow", "sha-256", "store-of-value", "state-channel", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "binance-labs-portfolio", "blockchain-...' is too long and would be truncated
Processing data for Ethereum
Query:
            MERGE INTO coins1 c
            USING (SELECT Ethereum name, ["pos", "smart-contracts", "ethereum-ecosystem", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "binance-labs-portfolio", "blockchain-capital-portfolio", "boostvc-portfolio", "cms-holdings-portfolio", "dcg-portfolio", "dragonfly-capital-portfolio", "electric-capital-portfolio", "fabric-ventures-portfolio", "framework-ventures-portfolio", "hashkey-capital-portfolio", "kenetic-capital-portfolio", "huobi-capital-portfolio", "alameda-research-portfolio", "a16z-portfolio", "1confirmation-portfolio", "winklevoss-capital-portfolio", "usv-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio", "multicoin-capital-portfolio", "paradigm-portfolio", "injective-ecosystem", "layer-1"] tags, 217734038380.2277 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Error inserting data for Ethereum: 100078 (22000): String '["pos", "smart-contracts", "ethereum-ecosystem", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "binance-labs-portfolio", "blockchain-capital-portfolio...' is too long and would be truncated
Processing data for Tether
Query:
            MERGE INTO coins1 c
            USING (SELECT Tether name, ["payments", "stablecoin", "asset-backed-stablecoin", "avalanche-ecosystem", "solana-ecosystem", "arbitrum-ecosytem", "moonriver-ecosystem", "injective-ecosystem", "bnb-chain", "usd-stablecoin", "optimism-ecosystem"] tags, 74511360692.91196 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tether inserted successfully.
Processing data for BNB
Query:
            MERGE INTO coins1 c
            USING (SELECT BNB name, ["marketplace", "centralized-exchange", "payments", "smart-contracts", "alameda-research-portfolio", "multicoin-capital-portfolio", "bnb-chain", "layer-1"] tags, 46502940203.162895 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BNB inserted successfully.
Processing data for USD Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT USD Coin name, ["medium-of-exchange", "stablecoin", "asset-backed-stablecoin", "fantom-ecosystem", "arbitrum-ecosytem", "moonriver-ecosystem", "bnb-chain", "usd-stablecoin", "optimism-ecosystem"] tags, 27359224549.832073 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for USD Coin inserted successfully.
Processing data for XRP
Query:
            MERGE INTO coins1 c
            USING (SELECT XRP name, ["medium-of-exchange", "enterprise-solutions", "arrington-xrp-capital-portfolio", "galaxy-digital-portfolio", "a16z-portfolio", "pantera-capital-portfolio"] tags, 21889568690.025726 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XRP inserted successfully.
Processing data for Cardano
Query:
            MERGE INTO coins1 c
            USING (SELECT Cardano name, ["dpos", "pos", "platform", "research", "smart-contracts", "staking", "cardano-ecosystem", "cardano", "layer-1"] tags, 12505594148.03447 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cardano inserted successfully.
Processing data for Dogecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Dogecoin name, ["mineable", "pow", "scrypt", "medium-of-exchange", "memes", "payments", "doggone-doggerel", "bnb-chain"] tags, 9997568412.634712 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dogecoin inserted successfully.
Processing data for Polygon
Query:
            MERGE INTO coins1 c
            USING (SELECT Polygon name, ["platform", "enterprise-solutions", "zero-knowledge-proofs", "scaling", "state-channel", "coinbase-ventures-portfolio", "layer-2", "binance-launchpad", "binance-labs-portfolio", "polygon-ecosystem", "moonriver-ecosystem", "injective-ecosystem"] tags, 8453511839.788886 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polygon inserted successfully.
Processing data for Solana
Query:
            MERGE INTO coins1 c
            USING (SELECT Solana name, ["pos", "platform", "solana-ecosystem", "cms-holdings-portfolio", "kenetic-capital-portfolio", "alameda-research-portfolio", "multicoin-capital-portfolio", "okex-blockdream-ventures-portfolio", "layer-1"] tags, 8032887184.632008 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Solana inserted successfully.
Processing data for Polkadot
Query:
            MERGE INTO coins1 c
            USING (SELECT Polkadot name, ["substrate", "polkadot", "binance-chain", "polkadot-ecosystem", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "arrington-xrp-capital-portfolio", "blockchain-capital-portfolio", "boostvc-portfolio", "cms-holdings-portfolio", "coinfund-portfolio", "fabric-ventures-portfolio", "fenbushi-capital-portfolio", "hashkey-capital-portfolio", "kenetic-capital-portfolio", "1confirmation-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio", "exnetwork-capital-portfolio", "web3", "spartan-group", "injective-ecosystem", "bnb-chain", "layer-1"] tags, 6294343209.399275 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Error inserting data for Polkadot: 100078 (22000): String '["substrate", "polkadot", "binance-chain", "polkadot-ecosystem", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "arrington-xrp-capital-portfolio", "blockchain-capital-portfolio", "bo...' is too long and would be truncated
Processing data for Litecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Litecoin name, ["mineable", "pow", "scrypt", "medium-of-exchange"] tags, 5900580644.156476 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Litecoin inserted successfully.
Processing data for TRON
Query:
            MERGE INTO coins1 c
            USING (SELECT TRON name, ["media", "payments", "tron-ecosystem"] tags, 5859122104.446742 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TRON inserted successfully.
Processing data for Binance USD
Query:
            MERGE INTO coins1 c
            USING (SELECT Binance USD name, ["stablecoin", "asset-backed-stablecoin", "binance-chain", "harmony-ecosystem", "moonriver-ecosystem", "usd-stablecoin", "optimism-ecosystem"] tags, 5428231597.1548395 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Binance USD inserted successfully.
Processing data for Shiba Inu
Query:
            MERGE INTO coins1 c
            USING (SELECT Shiba Inu name, ["memes", "ethereum-ecosystem", "doggone-doggerel"] tags, 5343967733.950134 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shiba Inu inserted successfully.
Processing data for Avalanche
Query:
            MERGE INTO coins1 c
            USING (SELECT Avalanche name, ["defi", "smart-contracts", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "avalanche-ecosystem", "cms-holdings-portfolio", "dragonfly-capital-portfolio", "moonriver-ecosystem", "injective-ecosystem", "layer-1"] tags, 5142567040.748915 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Avalanche inserted successfully.
Processing data for Dai
Query:
            MERGE INTO coins1 c
            USING (SELECT Dai name, ["defi", "stablecoin", "asset-backed-stablecoin", "ethereum-ecosystem", "avalanche-ecosystem", "polygon-ecosystem", "fantom-ecosystem", "arbitrum-ecosytem", "harmony-ecosystem", "moonriver-ecosystem", "bnb-chain", "usd-stablecoin", "optimism-ecosystem"] tags, 4420258474.436345 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dai inserted successfully.
Processing data for Wrapped Bitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Wrapped Bitcoin name, ["medium-of-exchange", "defi", "wrapped-tokens", "fantom-ecosystem", "arbitrum-ecosytem", "moonriver-ecosystem", "optimism-ecosystem", "btc-ecosystem"] tags, 4156917178.031823 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wrapped Bitcoin inserted successfully.
Processing data for Chainlink
Query:
            MERGE INTO coins1 c
            USING (SELECT Chainlink name, ["platform", "defi", "oracles", "smart-contracts", "substrate", "polkadot", "polkadot-ecosystem", "avalanche-ecosystem", "solana-ecosystem", "framework-ventures-portfolio", "polygon-ecosystem", "fantom-ecosystem", "cardano-ecosystem", "web3", "near-protocol-ecosystem", "arbitrum-ecosytem", "cardano", "injective-ecosystem", "optimism-ecosystem"] tags, 3391742720.5513973 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chainlink inserted successfully.
Processing data for UNUS SED LEO
Query:
            MERGE INTO coins1 c
            USING (SELECT UNUS SED LEO name, ["marketplace", "centralized-exchange", "discount-token", "payments", "kenetic-capital-portfolio", "alameda-research-portfolio"] tags, 2948488122.31288 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UNUS SED LEO inserted successfully.
Processing data for Cosmos
Query:
            MERGE INTO coins1 c
            USING (SELECT Cosmos name, ["platform", "cosmos-ecosystem", "content-creation", "interoperability", "polychain-capital-portfolio", "dragonfly-capital-portfolio", "hashkey-capital-portfolio", "1confirmation-portfolio", "paradigm-portfolio", "exnetwork-capital-portfolio", "injective-ecosystem"] tags, 2926796056.662673 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cosmos inserted successfully.
Processing data for Uniswap
Query:
            MERGE INTO coins1 c
            USING (SELECT Uniswap name, ["decentralized-exchange-dex-token", "defi", "dao", "yield-farming", "amm", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "governance", "blockchain-capital-portfolio", "defiance-capital-portfolio", "alameda-research-portfolio", "a16z-portfolio", "pantera-capital-portfolio", "parafi-capital", "paradigm-portfolio", "arbitrum-ecosytem", "injective-ecosystem", "optimism-ecosystem"] tags, 2921522860.991583 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Uniswap inserted successfully.
Processing data for Monero
Query:
            MERGE INTO coins1 c
            USING (SELECT Monero name, ["mineable", "pow", "medium-of-exchange", "privacy", "ringct", "boostvc-portfolio", "electric-capital-portfolio", "galaxy-digital-portfolio"] tags, 2625303485.791413 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Monero inserted successfully.
Processing data for OKB
Query:
            MERGE INTO coins1 c
            USING (SELECT OKB name, ["marketplace", "centralized-exchange", "discount-token", "alameda-research-portfolio"] tags, 2516117474.9989367 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OKB inserted successfully.
Processing data for Ethereum Classic
Query:
            MERGE INTO coins1 c
            USING (SELECT Ethereum Classic name, ["mineable", "pow", "ethash", "platform", "smart-contracts", "dcg-portfolio"] tags, 2510594476.1483164 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ethereum Classic inserted successfully.
Processing data for Internet Computer
Query:
            MERGE INTO coins1 c
            USING (SELECT Internet Computer name, ["platform", "distributed-computing", "collectibles-nfts", "defi", "interoperability", "smart-contracts", "dao", "wallet", "storage", "polychain-capital-portfolio", "lending-borowing", "metaverse", "electric-capital-portfolio", "fenbushi-capital-portfolio", "hashkey-capital-portfolio", "a16z-portfolio", "multicoin-capital-portfolio", "exnetwork-capital-portfolio", "web3", "internet-computer-ecosystem"] tags, 2381551787.2889104 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Internet Computer inserted successfully.
Processing data for Toncoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Toncoin name, ["pos"] tags, 2353977652.736253 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Toncoin inserted successfully.
Processing data for Stellar
Query:
            MERGE INTO coins1 c
            USING (SELECT Stellar name, ["medium-of-exchange", "enterprise-solutions", "decentralized-exchange-dex-token", "smart-contracts", "hashkey-capital-portfolio"] tags, 2285198017.121919 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stellar inserted successfully.
Processing data for Bitcoin Cash
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin Cash name, ["mineable", "pow", "sha-256", "marketplace", "medium-of-exchange", "store-of-value", "enterprise-solutions", "payments", "btc-ecosystem", "layer-1"] tags, 2115926666.5738873 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin Cash inserted successfully.
Processing data for TrueUSD
Query:
            MERGE INTO coins1 c
            USING (SELECT TrueUSD name, ["store-of-value", "stablecoin", "asset-backed-stablecoin", "avalanche-ecosystem", "arbitrum-ecosytem", "bnb-chain", "usd-stablecoin"] tags, 2023777405.7040846 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TrueUSD inserted successfully.
Processing data for Filecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Filecoin name, ["mineable", "distributed-computing", "filesharing", "storage", "polychain-capital-portfolio", "blockchain-capital-portfolio", "boostvc-portfolio", "dcg-portfolio", "hashkey-capital-portfolio", "a16z-portfolio", "winklevoss-capital-portfolio", "pantera-capital-portfolio", "web3", "filecoin-ecosystem"] tags, 2022211933.156349 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Filecoin inserted successfully.
Processing data for Aptos
Query:
            MERGE INTO coins1 c
            USING (SELECT Aptos name, ["binance-labs-portfolio", "aptos-ecosystem", "circle-ventures-portfolio", "layer-1"] tags, 1698991782.8336353 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aptos inserted successfully.
Processing data for Hedera
Query:
            MERGE INTO coins1 c
            USING (SELECT Hedera name, ["dag", "marketplace", "enterprise-solutions", "payments", "dcg-portfolio", "layer-1"] tags, 1660500688.2347267 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hedera inserted successfully.
Processing data for Cronos
Query:
            MERGE INTO coins1 c
            USING (SELECT Cronos name, ["medium-of-exchange", "cosmos-ecosystem", "centralized-exchange", "mobile", "payments", "injective-ecosystem"] tags, 1607485218.3472419 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cronos inserted successfully.
Processing data for Arbitrum
Query:
            MERGE INTO coins1 c
            USING (SELECT Arbitrum name, ["scaling", "dao", "dapp", "ethereum-ecosystem", "polychain-capital-portfolio", "layer-2", "rollups", "pantera-capital-portfolio", "arbitrum-ecosytem"] tags, 1570381599.013635 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Arbitrum inserted successfully.
Processing data for NEAR Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT NEAR Protocol name, ["platform", "staking", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "arrington-xrp-capital-portfolio", "coinfund-portfolio", "electric-capital-portfolio", "fabric-ventures-portfolio", "kenetic-capital-portfolio", "near-protocol-ecosystem", "injective-ecosystem", "circle-ventures-portfolio"] tags, 1532163006.4625432 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NEAR Protocol inserted successfully.
Processing data for Lido DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Lido DAO name, ["defi", "dao", "three-arrows-capital-portfolio", "paradigm-portfolio", "arbitrum-ecosytem", "liquid-staking-derivatives", "optimism-ecosystem"] tags, 1524595183.1468406 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lido DAO inserted successfully.
Processing data for VeChain
Query:
            MERGE INTO coins1 c
            USING (SELECT VeChain name, ["logistics", "data-provenance", "iot", "smart-contracts", "fenbushi-capital-portfolio"] tags, 1401202415.3022823 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VeChain inserted successfully.
Processing data for Pepe
Query:
            MERGE INTO coins1 c
            USING (SELECT Pepe name, ["memes"] tags, 1348821245.283226 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pepe inserted successfully.
Processing data for ApeCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT ApeCoin name, ["collectibles-nfts", "content-creation", "gaming", "entertainment", "dao", "governance", "metaverse", "animoca-brands-portfolio"] tags, 1280812383.7769096 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ApeCoin inserted successfully.
Processing data for Quant
Query:
            MERGE INTO coins1 c
            USING (SELECT Quant name, ["platform", "interoperability"] tags, 1256365519.207174 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Quant inserted successfully.
Processing data for Algorand
Query:
            MERGE INTO coins1 c
            USING (SELECT Algorand name, ["pos", "platform", "research", "smart-contracts", "arrington-xrp-capital-portfolio", "kenetic-capital-portfolio", "usv-portfolio", "multicoin-capital-portfolio", "exnetwork-capital-portfolio", "layer-1"] tags, 1196544214.559244 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Algorand inserted successfully.
Processing data for Fantom
Query:
            MERGE INTO coins1 c
            USING (SELECT Fantom name, ["platform", "enterprise-solutions", "defi", "research", "scaling", "smart-contracts", "fantom-ecosystem", "injective-ecosystem", "layer-1"] tags, 1106881782.8305457 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fantom inserted successfully.
Processing data for The Graph
Query:
            MERGE INTO coins1 c
            USING (SELECT The Graph name, ["ai-big-data", "enterprise-solutions", "defi", "coinbase-ventures-portfolio", "solana-ecosystem", "analytics", "coinfund-portfolio", "dcg-portfolio", "fabric-ventures-portfolio", "framework-ventures-portfolio", "ledgerprime-portfolio", "multicoin-capital-portfolio", "parafi-capital", "polygon-ecosystem", "fantom-ecosystem", "web3", "near-protocol-ecosystem", "arbitrum-ecosytem", "spartan-group", "injective-ecosystem"] tags, 1084516196.6171389 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for The Graph inserted successfully.
Processing data for EOS
Query:
            MERGE INTO coins1 c
            USING (SELECT EOS name, ["medium-of-exchange", "enterprise-solutions", "smart-contracts", "eos", "fenbushi-capital-portfolio", "galaxy-digital-portfolio"] tags, 1003641062.6022879 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EOS inserted successfully.
Processing data for The Sandbox
Query:
            MERGE INTO coins1 c
            USING (SELECT The Sandbox name, ["collectibles-nfts", "content-creation", "gaming", "ethereum-ecosystem", "binance-launchpad", "metaverse", "play-to-earn", "animoca-brands-portfolio"] tags, 964940933.9472504 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for The Sandbox inserted successfully.
Processing data for Aave
Query:
            MERGE INTO coins1 c
            USING (SELECT Aave name, ["defi", "dao", "yield-farming", "three-arrows-capital-portfolio", "governance", "lending-borowing", "blockchain-capital-portfolio", "defiance-capital-portfolio", "framework-ventures-portfolio", "alameda-research-portfolio", "pantera-capital-portfolio", "parafi-capital", "polygon-ecosystem", "fantom-ecosystem", "optimism-ecosystem"] tags, 962731214.2062125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aave inserted successfully.
Processing data for Stacks
Query:
            MERGE INTO coins1 c
            USING (SELECT Stacks name, ["mineable", "platform", "collectibles-nfts", "defi", "smart-contracts", "metaverse", "arrington-xrp-capital-portfolio", "blockchain-capital-portfolio", "dcg-portfolio", "fabric-ventures-portfolio", "hashkey-capital-portfolio", "huobi-capital-portfolio", "usv-portfolio", "web3", "injective-ecosystem", "btc-ecosystem"] tags, 924399584.3823723 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stacks inserted successfully.
Processing data for MultiversX
Query:
            MERGE INTO coins1 c
            USING (SELECT MultiversX name, ["binance-launchpad", "binance-labs-portfolio", "electric-capital-portfolio", "exnetwork-capital-portfolio", "elrond-ecosystem", "injective-ecosystem", "bnb-chain", "layer-1"] tags, 922942525.1270281 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MultiversX inserted successfully.
Processing data for Decentraland
Query:
            MERGE INTO coins1 c
            USING (SELECT Decentraland name, ["platform", "collectibles-nfts", "gaming", "payments", "metaverse", "boostvc-portfolio", "dcg-portfolio", "fabric-ventures-portfolio", "kenetic-capital-portfolio", "polygon-ecosystem", "play-to-earn"] tags, 919221863.2839451 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decentraland inserted successfully.
Processing data for Theta Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Theta Network name, ["media", "collectibles-nfts", "content-creation", "defi", "video", "metaverse", "huobi-capital-portfolio", "web3"] tags, 913121124.3324156 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Theta Network inserted successfully.
Processing data for Rocket Pool
Query:
            MERGE INTO coins1 c
            USING (SELECT Rocket Pool name, ["defi", "liquid-staking-derivatives"] tags, 892994784.3446884 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rocket Pool inserted successfully.
Processing data for Tezos
Query:
            MERGE INTO coins1 c
            USING (SELECT Tezos name, ["pos", "platform", "enterprise-solutions", "collectibles-nfts", "defi", "smart-contracts", "polychain-capital-portfolio", "boostvc-portfolio", "winklevoss-capital-portfolio", "layer-1"] tags, 870872635.4323443 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tezos inserted successfully.
Processing data for BitDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT BitDAO name, ["dao", "governance", "dragonfly-capital-portfolio", "fenbushi-capital-portfolio", "pantera-capital-portfolio", "spartan-group"] tags, 862041426.3310624 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitDAO inserted successfully.
Processing data for Flow
Query:
            MERGE INTO coins1 c
            USING (SELECT Flow name, ["collectibles-nfts", "coinbase-ventures-portfolio", "coinfund-portfolio", "dcg-portfolio", "ledgerprime-portfolio", "a16z-portfolio", "animoca-brands-portfolio"] tags, 836542214.2907735 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Flow inserted successfully.
Processing data for Conflux
Query:
            MERGE INTO coins1 c
            USING (SELECT Conflux name, ["mineable", "pow", "platform", "collectibles-nfts", "defi", "payments", "research", "smart-contracts", "staking", "hybrid-pow-dpos", "huobi-capital-portfolio", "web3", "injective-ecosystem", "bnb-chain"] tags, 826747752.1786978 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Conflux inserted successfully.
Processing data for Axie Infinity
Query:
            MERGE INTO coins1 c
            USING (SELECT Axie Infinity name, ["collectibles-nfts", "gaming", "binance-launchpad", "metaverse", "defiance-capital-portfolio", "play-to-earn", "animoca-brands-portfolio"] tags, 819034894.8202037 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Axie Infinity inserted successfully.
Processing data for Chiliz
Query:
            MERGE INTO coins1 c
            USING (SELECT Chiliz name, ["sports", "collectibles-nfts", "content-creation", "payments"] tags, 817649486.8902644 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chiliz inserted successfully.
Processing data for Immutable
Query:
            MERGE INTO coins1 c
            USING (SELECT Immutable name, ["collectibles-nfts", "zero-knowledge-proofs", "gaming", "scaling", "layer-2", "rollups", "arrington-xrp-capital-portfolio", "alameda-research-portfolio"] tags, 747813982.1251491 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Immutable inserted successfully.
Processing data for Render Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Render Token name, ["art", "media", "ai-big-data", "distributed-computing", "collectibles-nfts", "gaming", "scaling", "video", "ethereum-ecosystem", "solana-ecosystem", "metaverse", "alameda-research-portfolio", "multicoin-capital-portfolio", "polygon-ecosystem", "web3"] tags, 732830503.5981387 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Render Token inserted successfully.
Processing data for Curve DAO Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Curve DAO Token name, ["decentralized-exchange-dex-token", "defi", "dao", "yield-farming", "amm", "governance", "framework-ventures-portfolio", "alameda-research-portfolio", "polygon-ecosystem", "fantom-ecosystem", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 717192627.458766 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Curve DAO Token inserted successfully.
Processing data for KuCoin Token
Query:
            MERGE INTO coins1 c
            USING (SELECT KuCoin Token name, ["marketplace", "centralized-exchange", "discount-token", "algorand-ecosystem"] tags, 689220742.2675271 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KuCoin Token inserted successfully.
Processing data for Pax Dollar
Query:
            MERGE INTO coins1 c
            USING (SELECT Pax Dollar name, ["store-of-value", "stablecoin", "asset-backed-stablecoin", "bnb-chain", "usd-stablecoin"] tags, 683573584.0024852 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pax Dollar inserted successfully.
Processing data for USDD
Query:
            MERGE INTO coins1 c
            USING (SELECT USDD name, ["stablecoin", "algorithmic-stablecoin", "arbitrum-ecosytem", "usd-stablecoin"] tags, 670010668.6815768 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for USDD inserted successfully.
Processing data for Neo
Query:
            MERGE INTO coins1 c
            USING (SELECT Neo name, ["platform", "enterprise-solutions", "smart-contracts"] tags, 666639350.5407838 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Neo inserted successfully.
Processing data for Klaytn
Query:
            MERGE INTO coins1 c
            USING (SELECT Klaytn name, ["platform", "enterprise-solutions", "injective-ecosystem"] tags, 643676522.8606614 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Klaytn inserted successfully.
Processing data for Maker
Query:
            MERGE INTO coins1 c
            USING (SELECT Maker name, ["store-of-value", "defi", "dao", "polychain-capital-portfolio", "governance", "lending-borowing", "dragonfly-capital-portfolio", "electric-capital-portfolio", "a16z-portfolio", "1confirmation-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio", "paradigm-portfolio", "near-protocol-ecosystem", "arbitrum-ecosytem", "spartan-group", "bnb-chain", "real-world-assets"] tags, 642473473.8166213 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Maker inserted successfully.
Processing data for Sui
Query:
            MERGE INTO coins1 c
            USING (SELECT Sui name, ["binance-launchpool", "layer-1"] tags, 627960129.5179803 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sui inserted successfully.
Processing data for Casper
Query:
            MERGE INTO coins1 c
            USING (SELECT Casper name, ["enterprise-solutions", "arrington-xrp-capital-portfolio", "hashkey-capital-portfolio", "web3", "okex-blockdream-ventures-portfolio"] tags, 603453642.5275805 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Casper inserted successfully.
Processing data for Synthetix
Query:
            MERGE INTO coins1 c
            USING (SELECT Synthetix name, ["services", "decentralized-exchange-dex-token", "defi", "derivatives", "dao", "yield-farming", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "governance", "synthetics", "defiance-capital-portfolio", "framework-ventures-portfolio", "alameda-research-portfolio", "parafi-capital", "paradigm-portfolio", "fantom-ecosystem", "spartan-group", "bnb-chain", "optimism-ecosystem", "real-world-assets"] tags, 600159826.0745459 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Synthetix inserted successfully.
Processing data for Bitcoin SV
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin SV name, ["mineable", "pow", "sha-256", "medium-of-exchange", "store-of-value", "state-channel", "btc-ecosystem"] tags, 580381746.3517815 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin SV inserted successfully.
Processing data for Injective
Query:
            MERGE INTO coins1 c
            USING (SELECT Injective name, ["pos", "platform", "ai-big-data", "defi", "smart-contracts", "cosmos", "binance-smart-chain", "binance-launchpad", "binance-labs-portfolio", "cms-holdings-portfolio", "pantera-capital-portfolio", "web3"] tags, 571901362.7696941 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Injective inserted successfully.
Processing data for Optimism
Query:
            MERGE INTO coins1 c
            USING (SELECT Optimism name, ["layer-2", "optimism-ecosystem"] tags, 569152693.6055093 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Optimism inserted successfully.
Processing data for GMX
Query:
            MERGE INTO coins1 c
            USING (SELECT GMX name, ["derivatives", "dex", "avalanche-ecosystem", "arbitrum-ecosytem"] tags, 560802599.4312121 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GMX inserted successfully.
Processing data for Zcash
Query:
            MERGE INTO coins1 c
            USING (SELECT Zcash name, ["mineable", "pow", "equihash", "medium-of-exchange", "privacy", "zero-knowledge-proofs", "binance-chain", "boostvc-portfolio", "dcg-portfolio", "electric-capital-portfolio", "fenbushi-capital-portfolio", "hashkey-capital-portfolio", "winklevoss-capital-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio", "bnb-chain"] tags, 556202638.7016985 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zcash inserted successfully.
Processing data for Terra Classic
Query:
            MERGE INTO coins1 c
            USING (SELECT Terra Classic name, ["cosmos-ecosystem", "store-of-value", "defi", "payments", "coinbase-ventures-portfolio", "binance-labs-portfolio", "solana-ecosystem", "arrington-xrp-capital-portfolio", "hashkey-capital-portfolio", "kenetic-capital-portfolio", "huobi-capital-portfolio", "pantera-capital-portfolio", "terra-ecosystem", "injective-ecosystem"] tags, 555101352.3055565 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Terra Classic inserted successfully.
Processing data for BitTorrent(New)
Query:
            MERGE INTO coins1 c
            USING (SELECT BitTorrent(New) name, ["platform", "distributed-computing", "filesharing", "interoperability", "staking", "tron-ecosystem", "storage", "binance-launchpad", "binance-labs-portfolio", "web3", "bnb-chain"] tags, 532660763.51947135 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitTorrent(New) inserted successfully.
Processing data for Mina
Query:
            MERGE INTO coins1 c
            USING (SELECT Mina name, ["pos", "zero-knowledge-proofs", "staking", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "polychain-capital-portfolio"] tags, 514213454.8896918 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mina inserted successfully.
Processing data for Frax Share
Query:
            MERGE INTO coins1 c
            USING (SELECT Frax Share name, ["defi", "seigniorage", "avalanche-ecosystem", "exnetwork-capital-portfolio", "olympus-pro-ecosystem", "arbitrum-ecosytem", "liquid-staking-derivatives"] tags, 514121348.8803698 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Frax Share inserted successfully.
Processing data for Dash
Query:
            MERGE INTO coins1 c
            USING (SELECT Dash name, ["mineable", "hybrid-pow-pos", "x11", "medium-of-exchange", "privacy", "masternodes", "dao", "governance"] tags, 503559679.69751865 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dash inserted successfully.
Processing data for IOTA
Query:
            MERGE INTO coins1 c
            USING (SELECT IOTA name, ["dag", "medium-of-exchange", "iot", "sharing-economy"] tags, 503418487.9399209 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IOTA inserted successfully.
Processing data for eCash
Query:
            MERGE INTO coins1 c
            USING (SELECT eCash name, [] tags, 502294298.2561379 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for eCash inserted successfully.
Processing data for PAX Gold
Query:
            MERGE INTO coins1 c
            USING (SELECT PAX Gold name, ["bnb-chain", "tokenized-gold"] tags, 498031164.86808246 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PAX Gold inserted successfully.
Processing data for WOO Network
Query:
            MERGE INTO coins1 c
            USING (SELECT WOO Network name, ["centralized-exchange", "three-arrows-capital-portfolio", "exnetwork-capital-portfolio", "polygon-ecosystem", "arbitrum-ecosytem", "mvb", "vbc-ventures-portfolio", "injective-ecosystem", "bnb-chain"] tags, 483145888.67658657 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WOO Network inserted successfully.
Processing data for Gemini Dollar
Query:
            MERGE INTO coins1 c
            USING (SELECT Gemini Dollar name, ["store-of-value", "stablecoin", "asset-backed-stablecoin", "usd-stablecoin"] tags, 480633494.74671006 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gemini Dollar inserted successfully.
Processing data for XDC Network
Query:
            MERGE INTO coins1 c
            USING (SELECT XDC Network name, ["xdc-ecosystem"] tags, 477005660.58867025 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XDC Network inserted successfully.
Processing data for Huobi Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Huobi Token name, ["marketplace", "centralized-exchange", "discount-token", "payments", "algorand-ecosystem", "kenetic-capital-portfolio", "alameda-research-portfolio", "multicoin-capital-portfolio"] tags, 468813186.34466434 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Huobi Token inserted successfully.
Processing data for GateToken
Query:
            MERGE INTO coins1 c
            USING (SELECT GateToken name, ["marketplace", "centralized-exchange", "discount-token", "algorand-ecosystem", "ftx-bankruptcy-estate"] tags, 466583314.78823346 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GateToken inserted successfully.
Processing data for FLOKI
Query:
            MERGE INTO coins1 c
            USING (SELECT FLOKI name, ["gaming", "memes", "metaverse", "doggone-doggerel", "play-to-earn", "bnb-chain"] tags, 465098517.6269737 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FLOKI inserted successfully.
Processing data for PancakeSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT PancakeSwap name, ["collectibles-nfts", "decentralized-exchange-dex-token", "defi", "smart-contracts", "yield-farming", "amm", "binance-smart-chain", "dex", "governance", "aptos-ecosystem"] tags, 459107291.48069334 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PancakeSwap inserted successfully.
Processing data for Trust Wallet Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Trust Wallet Token name, ["wallet", "polygon-ecosystem", "bnb-chain"] tags, 445721874.62941045 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Trust Wallet Token inserted successfully.
Processing data for Loopring
Query:
            MERGE INTO coins1 c
            USING (SELECT Loopring name, ["marketplace", "decentralized-exchange-dex-token", "defi", "zero-knowledge-proofs", "scaling", "smart-contracts", "wallet", "ethereum-ecosystem", "amm", "dex", "layer-2", "rollups", "red-packets", "web3", "token", "arbitrum-ecosytem"] tags, 407046250.7889601 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Loopring inserted successfully.
Processing data for THORChain
Query:
            MERGE INTO coins1 c
            USING (SELECT THORChain name, ["cosmos-ecosystem", "decentralized-exchange-dex-token", "defi", "dex", "multicoin-capital-portfolio", "exnetwork-capital-portfolio", "injective-ecosystem"] tags, 399760838.039409 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for THORChain inserted successfully.
Processing data for Zilliqa
Query:
            MERGE INTO coins1 c
            USING (SELECT Zilliqa name, ["mineable", "platform", "payments", "smart-contracts", "polychain-capital-portfolio", "metaverse", "kenetic-capital-portfolio", "zilliqa-ecosystem", "bnb-chain"] tags, 393318587.84180176 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zilliqa inserted successfully.
Processing data for Flare
Query:
            MERGE INTO coins1 c
            USING (SELECT Flare name, [] tags, 381599596.6419186 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Flare inserted successfully.
Processing data for Convex Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Convex Finance name, ["defi", "yield-aggregator"] tags, 377568523.9017846 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Convex Finance inserted successfully.
Processing data for Kava
Query:
            MERGE INTO coins1 c
            USING (SELECT Kava name, ["cosmos-ecosystem", "defi", "binance-launchpad", "binance-labs-portfolio", "lending-borowing", "arrington-xrp-capital-portfolio", "framework-ventures-portfolio", "hashkey-capital-portfolio", "injective-ecosystem"] tags, 369720795.6963347 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kava inserted successfully.
Processing data for dYdX
Query:
            MERGE INTO coins1 c
            USING (SELECT dYdX name, ["defi", "derivatives", "zero-knowledge-proofs", "three-arrows-capital-portfolio", "paradigm-portfolio", "spartan-group"] tags, 366822878.7494238 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for dYdX inserted successfully.
Processing data for Nexo
Query:
            MERGE INTO coins1 c
            USING (SELECT Nexo name, ["services", "payments", "cardano-ecosystem"] tags, 361546519.791534 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nexo inserted successfully.
Processing data for Enjin Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Enjin Coin name, ["media", "collectibles-nfts", "gaming", "ethereum-ecosystem", "metaverse", "arrington-xrp-capital-portfolio"] tags, 350721564.96672475 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Enjin Coin inserted successfully.
Processing data for SingularityNET
Query:
            MERGE INTO coins1 c
            USING (SELECT SingularityNET name, ["marketplace", "ai-big-data", "payments", "cross-chain-dex-aggregator"] tags, 343247412.76449746 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SingularityNET inserted successfully.
Processing data for 1inch Network
Query:
            MERGE INTO coins1 c
            USING (SELECT 1inch Network name, ["decentralized-exchange-dex-token", "defi", "wallet", "amm", "binance-labs-portfolio", "blockchain-capital-portfolio", "dragonfly-capital-portfolio", "fabric-ventures-portfolio", "alameda-research-portfolio", "parafi-capital", "spartan-group", "bnb-chain"] tags, 341990206.89415693 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 1inch Network inserted successfully.
Processing data for Osmosis
Query:
            MERGE INTO coins1 c
            USING (SELECT Osmosis name, ["cosmos-ecosystem", "injective-ecosystem"] tags, 331401632.2721043 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Osmosis inserted successfully.
Processing data for JasmyCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT JasmyCoin name, ["iot", "ethereum-ecosystem"] tags, 330472475.72913826 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for JasmyCoin inserted successfully.
Processing data for Basic Attention Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Basic Attention Token name, ["marketing", "content-creation", "defi", "payments", "dcg-portfolio", "1confirmation-portfolio", "pantera-capital-portfolio", "web3", "bnb-chain"] tags, 329594872.9514601 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Basic Attention Token inserted successfully.
Processing data for Oasis Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Oasis Network name, ["cosmos-ecosystem", "ai-big-data", "collectibles-nfts", "defi", "privacy", "scaling", "smart-contracts", "polychain-capital-portfolio", "binance-labs-portfolio", "arrington-xrp-capital-portfolio", "blockchain-capital-portfolio", "dragonfly-capital-portfolio", "electric-capital-portfolio", "kenetic-capital-portfolio", "huobi-capital-portfolio", "a16z-portfolio", "winklevoss-capital-portfolio", "pantera-capital-portfolio", "injective-ecosystem"] tags, 315513614.56842774 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oasis Network inserted successfully.
Processing data for Ethereum Name Service
Query:
            MERGE INTO coins1 c
            USING (SELECT Ethereum Name Service name, ["dao", "governance", "web3"] tags, 313779612.57669157 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ethereum Name Service inserted successfully.
Processing data for Mask Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Mask Network name, ["communications-social-media", "collectibles-nfts", "content-creation", "ethereum-ecosystem", "metaverse", "polygon-ecosystem", "web3", "animoca-brands-portfolio", "injective-ecosystem", "bnb-chain"] tags, 305016059.59309196 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mask Network inserted successfully.
Processing data for NEM
Query:
            MERGE INTO coins1 c
            USING (SELECT NEM name, ["poi", "medium-of-exchange", "payments", "smart-contracts", "fantom-ecosystem"] tags, 296908102.69492483 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NEM inserted successfully.
Processing data for Terra
Query:
            MERGE INTO coins1 c
            USING (SELECT Terra name, [] tags, 294733213.5555914 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Terra inserted successfully.
Processing data for Holo
Query:
            MERGE INTO coins1 c
            USING (SELECT Holo name, ["platform", "distributed-computing", "filesharing", "storage"] tags, 290282708.69012284 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Holo inserted successfully.
Processing data for Balancer
Query:
            MERGE INTO coins1 c
            USING (SELECT Balancer name, ["decentralized-exchange-dex-token", "defi", "dao", "yield-farming", "amm", "three-arrows-capital-portfolio", "governance", "coinfund-portfolio", "alameda-research-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio", "near-protocol-ecosystem", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 281996268.1861399 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Balancer inserted successfully.
Processing data for Compound
Query:
            MERGE INTO coins1 c
            USING (SELECT Compound name, ["defi", "dao", "yield-farming", "polkadot-ecosystem", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "lending-borowing", "dragonfly-capital-portfolio", "alameda-research-portfolio", "a16z-portfolio", "pantera-capital-portfolio", "paradigm-portfolio", "arbitrum-ecosytem", "bnb-chain"] tags, 277130990.4562325 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Compound inserted successfully.
Processing data for Gnosis
Query:
            MERGE INTO coins1 c
            USING (SELECT Gnosis name, ["services", "decentralized-exchange-dex-token", "defi", "prediction-markets", "kenetic-capital-portfolio", "arbitrum-ecosytem"] tags, 276379123.5436228 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gnosis inserted successfully.
Processing data for Theta Fuel
Query:
            MERGE INTO coins1 c
            USING (SELECT Theta Fuel name, ["media", "content-creation", "defi", "payments"] tags, 273758501.338198 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Theta Fuel inserted successfully.
Processing data for Audius
Query:
            MERGE INTO coins1 c
            USING (SELECT Audius name, ["music", "dao", "coinbase-ventures-portfolio", "binance-labs-portfolio", "solana-ecosystem", "pantera-capital-portfolio", "multicoin-capital-portfolio", "web3"] tags, 273213649.09202164 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Audius inserted successfully.
Processing data for Solar
Query:
            MERGE INTO coins1 c
            USING (SELECT Solar name, ["medium-of-exchange", "defi", "payments", "wallet", "binance-labs-portfolio", "alameda-research-portfolio", "bnb-chain"] tags, 272636965.2242056 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Solar inserted successfully.
Processing data for Qtum
Query:
            MERGE INTO coins1 c
            USING (SELECT Qtum name, ["platform", "smart-contracts", "kenetic-capital-portfolio", "btc-ecosystem"] tags, 272433667.33648616 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Qtum inserted successfully.
Processing data for Ankr
Query:
            MERGE INTO coins1 c
            USING (SELECT Ankr name, ["platform", "cosmos-ecosystem", "enterprise-solutions", "defi", "filesharing", "staking", "substrate", "polkadot-ecosystem", "pantera-capital-portfolio", "polygon-ecosystem", "celo-ecosystem", "injective-ecosystem", "bnb-chain", "liquid-staking-derivatives"] tags, 272343733.78147817 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ankr inserted successfully.
Processing data for EthereumPoW
Query:
            MERGE INTO coins1 c
            USING (SELECT EthereumPoW name, ["pow"] tags, 269804081.8860282 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EthereumPoW inserted successfully.
Processing data for Celo
Query:
            MERGE INTO coins1 c
            USING (SELECT Celo name, ["pos", "zero-knowledge-proofs", "mobile", "payments", "smart-contracts", "coinbase-ventures-portfolio", "polychain-capital-portfolio", "dragonfly-capital-portfolio", "electric-capital-portfolio", "a16z-portfolio", "celo-ecosystem"] tags, 267265946.66006425 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Celo inserted successfully.
Processing data for Ravencoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Ravencoin name, ["mineable", "pow", "platform", "crowdfunding"] tags, 265255402.701522 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ravencoin inserted successfully.
Processing data for Astar
Query:
            MERGE INTO coins1 c
            USING (SELECT Astar name, ["polkadot-ecosystem", "okex-blockdream-ventures-portfolio"] tags, 256980809.230647 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Astar inserted successfully.
Processing data for Decred
Query:
            MERGE INTO coins1 c
            USING (SELECT Decred name, ["mineable", "hybrid-pow-pos", "blake256", "medium-of-exchange", "store-of-value", "privacy", "dao", "placeholder-ventures-portfolio"] tags, 252805169.55318618 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decred inserted successfully.
Processing data for Chia
Query:
            MERGE INTO coins1 c
            USING (SELECT Chia name, [] tags, 251289552.8456511 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chia inserted successfully.
Processing data for ICON
Query:
            MERGE INTO coins1 c
            USING (SELECT ICON name, ["platform", "enterprise-solutions", "interoperability", "smart-contracts", "kenetic-capital-portfolio", "pantera-capital-portfolio"] tags, 249860325.16058123 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ICON inserted successfully.
Processing data for Blur
Query:
            MERGE INTO coins1 c
            USING (SELECT Blur name, ["collectibles-nfts"] tags, 247868014.60191616 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blur inserted successfully.
Processing data for Threshold
Query:
            MERGE INTO coins1 c
            USING (SELECT Threshold name, ["btc-ecosystem"] tags, 245704265.26003647 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Threshold inserted successfully.
Processing data for yearn.finance
Query:
            MERGE INTO coins1 c
            USING (SELECT yearn.finance name, ["defi", "dao", "yield-farming", "yield-aggregator", "yearn-partnerships", "three-arrows-capital-portfolio", "polychain-capital-portfolio", "governance", "blockchain-capital-portfolio", "framework-ventures-portfolio", "alameda-research-portfolio", "parafi-capital", "fantom-ecosystem", "arbitrum-ecosytem", "bnb-chain"] tags, 243830372.5600887 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for yearn.finance inserted successfully.
Processing data for Arweave
Query:
            MERGE INTO coins1 c
            USING (SELECT Arweave name, ["distributed-computing", "filesharing", "storage", "coinbase-ventures-portfolio", "solana-ecosystem", "arrington-xrp-capital-portfolio", "blockchain-capital-portfolio", "a16z-portfolio", "multicoin-capital-portfolio", "web3"] tags, 240590847.91716993 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Arweave inserted successfully.
Processing data for Harmony
Query:
            MERGE INTO coins1 c
            USING (SELECT Harmony name, ["platform", "enterprise-solutions", "scaling", "smart-contracts", "binance-launchpad", "binance-labs-portfolio", "hashkey-capital-portfolio", "harmony-ecosystem", "injective-ecosystem", "bnb-chain"] tags, 234934268.99325746 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Harmony inserted successfully.
Processing data for Fetch.ai
Query:
            MERGE INTO coins1 c
            USING (SELECT Fetch.ai name, ["cosmos-ecosystem", "ai-big-data", "collectibles-nfts", "iot", "binance-launchpad", "web3", "injective-ecosystem"] tags, 233274096.57392833 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fetch.ai inserted successfully.
Processing data for MX TOKEN
Query:
            MERGE INTO coins1 c
            USING (SELECT MX TOKEN name, ["marketplace", "centralized-exchange", "discount-token"] tags, 231949702.43628198 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MX TOKEN inserted successfully.
Processing data for ssv.network
Query:
            MERGE INTO coins1 c
            USING (SELECT ssv.network name, [] tags, 226172810.35684916 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ssv.network inserted successfully.
Processing data for Kusama
Query:
            MERGE INTO coins1 c
            USING (SELECT Kusama name, ["substrate", "polkadot-ecosystem", "cms-holdings-portfolio", "kenetic-capital-portfolio", "1confirmation-portfolio", "vbc-ventures-portfolio"] tags, 223913913.94573528 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kusama inserted successfully.
Processing data for Bitcoin Gold
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin Gold name, ["mineable", "medium-of-exchange", "payments", "btc-ecosystem"] tags, 221436069.0220727 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin Gold inserted successfully.
Processing data for MAGIC
Query:
            MERGE INTO coins1 c
            USING (SELECT MAGIC name, ["gaming", "metaverse", "arbitrum-ecosytem"] tags, 220726881.51959687 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MAGIC inserted successfully.
Processing data for IoTeX
Query:
            MERGE INTO coins1 c
            USING (SELECT IoTeX name, ["platform", "iot", "hashkey-capital-portfolio", "kenetic-capital-portfolio", "iotex-ecosystem", "bnb-chain"] tags, 219829319.9597318 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IoTeX inserted successfully.
Processing data for SushiSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT SushiSwap name, ["collectibles-nfts", "decentralized-exchange-dex-token", "defi", "dao", "yield-farming", "amm", "yearn-partnerships", "governance", "avalanche-ecosystem", "metaverse", "blockchain-capital-portfolio", "defiance-capital-portfolio", "alameda-research-portfolio", "pantera-capital-portfolio", "polygon-ecosystem", "fantom-ecosystem", "arbitrum-ecosytem", "harmony-ecosystem", "injective-ecosystem", "bnb-chain"] tags, 219564783.71461052 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SushiSwap inserted successfully.
Processing data for Gala
Query:
            MERGE INTO coins1 c
            USING (SELECT Gala name, ["collectibles-nfts", "gaming", "binance-smart-chain", "polygon-ecosystem", "play-to-earn"] tags, 218737156.6597799 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gala inserted successfully.
Processing data for STEPN
Query:
            MERGE INTO coins1 c
            USING (SELECT STEPN name, ["collectibles-nfts", "gaming", "binance-smart-chain", "binance-launchpad", "solana-ecosystem", "bnb-chain", "move-to-earn"] tags, 215955080.11688125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for STEPN inserted successfully.
Processing data for Golem
Query:
            MERGE INTO coins1 c
            USING (SELECT Golem name, ["platform", "distributed-computing", "payments", "polygon-ecosystem", "web3"] tags, 215620816.77553895 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Golem inserted successfully.
Processing data for Helium
Query:
            MERGE INTO coins1 c
            USING (SELECT Helium name, ["mineable", "enterprise-solutions", "distributed-computing", "iot", "usv-portfolio", "multicoin-capital-portfolio", "web3"] tags, 204978120.07982007 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Helium inserted successfully.
Processing data for DAO Maker
Query:
            MERGE INTO coins1 c
            USING (SELECT DAO Maker name, ["defi", "governance", "launchpad", "dao-maker", "vbc-ventures-portfolio", "injective-ecosystem"] tags, 204928873.48085323 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DAO Maker inserted successfully.
Processing data for Ocean Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Ocean Protocol name, ["platform", "ai-big-data", "defi", "filesharing", "dao", "substrate", "storage", "polkadot-ecosystem", "dcg-portfolio", "fabric-ventures-portfolio", "polygon-ecosystem", "web3", "injective-ecosystem"] tags, 201767841.54804003 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ocean Protocol inserted successfully.
Processing data for JUST
Query:
            MERGE INTO coins1 c
            USING (SELECT JUST name, ["defi", "tron-ecosystem"] tags, 201047279.5202143 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for JUST inserted successfully.
Processing data for 0x Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT 0x Protocol name, ["platform", "decentralized-exchange-dex-token", "defi", "scaling", "dao", "substrate", "polkadot", "polkadot-ecosystem", "polychain-capital-portfolio", "governance", "blockchain-capital-portfolio", "boostvc-portfolio", "fabric-ventures-portfolio", "kenetic-capital-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio"] tags, 193915577.34557837 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 0x Protocol inserted successfully.
Processing data for Band Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Band Protocol name, ["cosmos-ecosystem", "defi", "oracles", "binance-chain", "binance-launchpad", "binance-labs-portfolio", "solana-ecosystem", "polygon-ecosystem", "fantom-ecosystem", "web3", "near-protocol-ecosystem", "spartan-group", "injective-ecosystem", "bnb-chain"] tags, 193602656.58153734 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Band Protocol inserted successfully.
Processing data for Moonbeam
Query:
            MERGE INTO coins1 c
            USING (SELECT Moonbeam name, ["smart-contracts", "substrate", "polkadot", "polkadot-ecosystem", "binance-labs-portfolio", "arrington-xrp-capital-portfolio", "injective-ecosystem"] tags, 192390991.4311167 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Moonbeam inserted successfully.
Processing data for Waves
Query:
            MERGE INTO coins1 c
            USING (SELECT Waves name, ["lpos", "platform", "smart-contracts"] tags, 191566558.1289025 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Waves inserted successfully.
Processing data for Kadena
Query:
            MERGE INTO coins1 c
            USING (SELECT Kadena name, ["mineable", "pow", "blake2s", "platform", "cosmos-ecosystem", "smart-contracts", "coinfund-portfolio", "multicoin-capital-portfolio", "web3", "injective-ecosystem"] tags, 190895684.1080569 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kadena inserted successfully.
Processing data for Siacoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Siacoin name, ["mineable", "pow", "blake2b", "platform", "distributed-computing", "filesharing", "storage", "dragonfly-capital-portfolio", "fenbushi-capital-portfolio", "paradigm-portfolio", "web3", "near-protocol-ecosystem"] tags, 189329483.34635466 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Siacoin inserted successfully.
Processing data for Ontology
Query:
            MERGE INTO coins1 c
            USING (SELECT Ontology name, ["enterprise-solutions", "identity", "polkadot-ecosystem", "metaverse", "huobi-capital-portfolio", "fantom-ecosystem", "web3", "near-protocol-ecosystem", "bnb-chain"] tags, 187714767.13674903 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ontology inserted successfully.
Processing data for IOST
Query:
            MERGE INTO coins1 c
            USING (SELECT IOST name, ["hardware", "iot", "huobi-capital-portfolio"] tags, 179067912.66082582 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IOST inserted successfully.
Processing data for UMA
Query:
            MERGE INTO coins1 c
            USING (SELECT UMA name, ["defi", "derivatives", "oracles", "dao", "coinbase-ventures-portfolio", "governance", "synthetics", "blockchain-capital-portfolio", "dragonfly-capital-portfolio", "placeholder-ventures-portfolio", "polygon-ecosystem", "injective-ecosystem"] tags, 177590374.8749464 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UMA inserted successfully.
Processing data for Hive
Query:
            MERGE INTO coins1 c
            USING (SELECT Hive name, ["dpos", "media", "content-creation", "scaling", "web3"] tags, 177194978.48802015 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hive inserted successfully.
Processing data for Bone ShibaSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT Bone ShibaSwap name, ["memes", "doggone-doggerel"] tags, 176029192.24678957 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bone ShibaSwap inserted successfully.
Processing data for WAX
Query:
            MERGE INTO coins1 c
            USING (SELECT WAX name, ["media", "collectibles-nfts", "gaming", "entertainment", "payments", "metaverse", "galaxy-digital-portfolio", "kenetic-capital-portfolio", "play-to-earn", "okex-blockdream-ventures-portfolio"] tags, 173020051.85993892 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WAX inserted successfully.
Processing data for TerraClassicUSD
Query:
            MERGE INTO coins1 c
            USING (SELECT TerraClassicUSD name, ["cosmos-ecosystem", "stablecoin", "algorithmic-stablecoin", "seigniorage", "terra-ecosystem", "injective-ecosystem", "bnb-chain", "usd-stablecoin"] tags, 172138892.05683473 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TerraClassicUSD inserted successfully.
Processing data for Reserve Rights
Query:
            MERGE INTO coins1 c
            USING (SELECT Reserve Rights name, ["store-of-value", "defi", "coinbase-ventures-portfolio", "dcg-portfolio", "real-world-assets"] tags, 171956885.29776943 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Reserve Rights inserted successfully.
Processing data for Radicle
Query:
            MERGE INTO coins1 c
            USING (SELECT Radicle name, ["dao", "coinbase-ventures-portfolio", "fabric-ventures-portfolio", "placeholder-ventures-portfolio", "web3"] tags, 171382989.58688918 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Radicle inserted successfully.
Processing data for MobileCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT MobileCoin name, ["privacy", "payments", "arrington-xrp-capital-portfolio"] tags, 171114293.43281797 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MobileCoin inserted successfully.
Processing data for Biconomy
Query:
            MERGE INTO coins1 c
            USING (SELECT Biconomy name, ["platform", "interoperability", "coinbase-ventures-portfolio", "binance-labs-portfolio", "fenbushi-capital-portfolio", "mvb"] tags, 169770307.94876838 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Biconomy inserted successfully.
Processing data for aelf
Query:
            MERGE INTO coins1 c
            USING (SELECT aelf name, ["marketplace", "enterprise-solutions", "arrington-xrp-capital-portfolio", "huobi-capital-portfolio", "bnb-chain"] tags, 169467909.09431723 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for aelf inserted successfully.
Processing data for Alchemy Pay
Query:
            MERGE INTO coins1 c
            USING (SELECT Alchemy Pay name, [] tags, 168359742.84841517 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alchemy Pay inserted successfully.
Processing data for BinaryX
Query:
            MERGE INTO coins1 c
            USING (SELECT BinaryX name, ["binance-chain"] tags, 164122705.92234576 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BinaryX inserted successfully.
Processing data for Open Campus
Query:
            MERGE INTO coins1 c
            USING (SELECT Open Campus name, ["education", "binance-launchpad", "animoca-brands-portfolio"] tags, 159856939.04666266 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Open Campus inserted successfully.
Processing data for SPACE ID
Query:
            MERGE INTO coins1 c
            USING (SELECT SPACE ID name, ["binance-launchpad", "mvb"] tags, 158540978.52121645 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SPACE ID inserted successfully.
Processing data for BORA
Query:
            MERGE INTO coins1 c
            USING (SELECT BORA name, ["marketplace", "gaming"] tags, 156614008.63076407 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BORA inserted successfully.
Processing data for SKALE
Query:
            MERGE INTO coins1 c
            USING (SELECT SKALE name, ["platform", "scaling", "smart-contracts", "staking", "layer-2", "arrington-xrp-capital-portfolio", "boostvc-portfolio", "galaxy-digital-portfolio", "hashkey-capital-portfolio"] tags, 156184794.12570477 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SKALE inserted successfully.
Processing data for Flux
Query:
            MERGE INTO coins1 c
            USING (SELECT Flux name, ["mineable", "pow", "distributed-computing", "filesharing", "interoperability", "masternodes", "smart-contracts", "dao", "dapp", "storage", "governance", "web3", "cross-chain"] tags, 154611272.52707693 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Flux inserted successfully.
Processing data for Celer Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Celer Network name, ["platform", "enterprise-solutions", "zero-knowledge-proofs", "scaling", "state-channel", "ethereum-ecosystem", "substrate", "polkadot-ecosystem", "binance-launchpad", "arrington-xrp-capital-portfolio", "pantera-capital-portfolio", "arbitrum-ecosytem", "bnb-chain"] tags, 151831194.27317354 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Celer Network inserted successfully.
Processing data for SafePal
Query:
            MERGE INTO coins1 c
            USING (SELECT SafePal name, ["wallet", "binance-launchpad", "injective-ecosystem", "bnb-chain"] tags, 146720432.40250775 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SafePal inserted successfully.
Processing data for Cartesi
Query:
            MERGE INTO coins1 c
            USING (SELECT Cartesi name, ["pos", "platform", "cosmos-ecosystem", "scaling", "smart-contracts", "staking", "dapp", "ethereum-ecosystem", "binance-smart-chain", "rollups", "sidechain", "binance-launchpad", "binance-labs-portfolio", "arbitrum-ecosytem", "injective-ecosystem", "bnb-chain", "optimism-ecosystem"] tags, 142772792.7811779 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cartesi inserted successfully.
Processing data for Liquity
Query:
            MERGE INTO coins1 c
            USING (SELECT Liquity name, ["defi"] tags, 141732092.0633319 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Liquity inserted successfully.
Processing data for Livepeer
Query:
            MERGE INTO coins1 c
            USING (SELECT Livepeer name, ["coinfund-portfolio", "dcg-portfolio", "pantera-capital-portfolio", "multicoin-capital-portfolio", "web3", "arbitrum-ecosytem"] tags, 140447335.48751727 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Livepeer inserted successfully.
Processing data for Nervos Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Nervos Network name, ["mineable", "pow", "platform", "collectibles-nfts", "defi", "interoperability", "research", "scaling", "smart-contracts", "dao", "polychain-capital-portfolio", "rollups", "blockchain-capital-portfolio", "cms-holdings-portfolio", "dragonfly-capital-portfolio", "electric-capital-portfolio", "hashkey-capital-portfolio", "huobi-capital-portfolio", "1confirmation-portfolio", "multicoin-capital-portfolio", "web3"] tags, 137167504.9332566 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nervos Network inserted successfully.
Processing data for OMG Network
Query:
            MERGE INTO coins1 c
            USING (SELECT OMG Network name, ["medium-of-exchange", "payments", "scaling", "state-channel", "pantera-capital-portfolio"] tags, 134784750.7200225 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OMG Network inserted successfully.
Processing data for DigiByte
Query:
            MERGE INTO coins1 c
            USING (SELECT DigiByte name, ["mineable", "pow", "multiple-algorithms", "medium-of-exchange", "collectibles-nfts", "iot", "payments"] tags, 134547119.32966787 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DigiByte inserted successfully.
Processing data for Axelar
Query:
            MERGE INTO coins1 c
            USING (SELECT Axelar name, ["interoperability", "ethereum-ecosystem", "coinbase-ventures-portfolio", "polychain-capital-portfolio", "binance-labs-portfolio", "galaxy-digital-portfolio"] tags, 132360526.60740423 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Axelar inserted successfully.
Processing data for Stargate Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Stargate Finance name, ["ethereum-ecosystem", "avalanche-ecosystem", "polygon-ecosystem", "fantom-ecosystem", "arbitrum-ecosytem", "cross-chain", "optimism-ecosystem"] tags, 131464815.6297375 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stargate Finance inserted successfully.
Processing data for Storj
Query:
            MERGE INTO coins1 c
            USING (SELECT Storj name, ["platform", "distributed-computing", "filesharing", "storage", "web3"] tags, 130573969.54221173 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Storj inserted successfully.
Processing data for Amp
Query:
            MERGE INTO coins1 c
            USING (SELECT Amp name, [] tags, 128516645.4929149 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Amp inserted successfully.
Processing data for Dogelon Mars
Query:
            MERGE INTO coins1 c
            USING (SELECT Dogelon Mars name, ["memes", "payments", "polygon-ecosystem", "doggone-doggerel"] tags, 128516603.10258034 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dogelon Mars inserted successfully.
Processing data for iExec RLC
Query:
            MERGE INTO coins1 c
            USING (SELECT iExec RLC name, ["marketplace", "ai-big-data", "distributed-computing", "collectibles-nfts", "defi", "privacy", "oracles", "scaling", "ethereum-ecosystem", "substrate", "polkadot", "polygon-ecosystem", "web3"] tags, 128000016.39872064 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for iExec RLC inserted successfully.
Processing data for Bitgert
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitgert name, ["bnb-chain"] tags, 127340773.00158875 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitgert inserted successfully.
Processing data for Illuvium
Query:
            MERGE INTO coins1 c
            USING (SELECT Illuvium name, ["collectibles-nfts", "gaming", "dao", "metaverse", "play-to-earn"] tags, 127199432.16394766 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Illuvium inserted successfully.
Processing data for Core
Query:
            MERGE INTO coins1 c
            USING (SELECT Core name, [] tags, 127167384.06536625 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Core inserted successfully.
Processing data for ABBC Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT ABBC Coin name, ["dpos", "platform", "payments"] tags, 126063506.49549897 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ABBC Coin inserted successfully.
Processing data for JOE
Query:
            MERGE INTO coins1 c
            USING (SELECT JOE name, ["decentralized-exchange-dex-token", "defi", "staking", "yield-farming", "amm", "dex", "lp-tokens", "avalanche-ecosystem", "arbitrum-ecosytem"] tags, 125643266.65537621 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for JOE inserted successfully.
Processing data for Multichain
Query:
            MERGE INTO coins1 c
            USING (SELECT Multichain name, ["three-arrows-capital-portfolio", "arbitrum-ecosytem", "moonriver-ecosystem", "circle-ventures-portfolio"] tags, 122381797.7490653 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Multichain inserted successfully.
Processing data for Horizen
Query:
            MERGE INTO coins1 c
            USING (SELECT Horizen name, ["mineable", "pow", "medium-of-exchange", "platform", "enterprise-solutions", "content-creation", "privacy", "zero-knowledge-proofs", "masternodes", "scaling", "smart-contracts", "staking", "sidechain", "dcg-portfolio", "web3"] tags, 118420205.23014894 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Horizen inserted successfully.
Processing data for Galxe
Query:
            MERGE INTO coins1 c
            USING (SELECT Galxe name, ["mvb", "spartan-group"] tags, 116401277.79301341 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Galxe inserted successfully.
Processing data for RSK Infrastructure Framework
Query:
            MERGE INTO coins1 c
            USING (SELECT RSK Infrastructure Framework name, ["services", "filesharing", "payments", "btc-ecosystem"] tags, 114371123.3920035 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RSK Infrastructure Framework inserted successfully.
Processing data for Lisk
Query:
            MERGE INTO coins1 c
            USING (SELECT Lisk name, ["dpos", "platform", "enterprise-solutions", "smart-contracts"] tags, 113933045.5324266 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lisk inserted successfully.
Processing data for MetisDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT MetisDAO name, ["zero-knowledge-proofs", "scaling", "layer-2", "rollups", "okex-blockdream-ventures-portfolio", "metisdao-ecosystem"] tags, 113697683.43486619 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MetisDAO inserted successfully.
Processing data for Cocos-BCX
Query:
            MERGE INTO coins1 c
            USING (SELECT Cocos-BCX name, ["media", "collectibles-nfts", "gaming"] tags, 112576946.46846971 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cocos-BCX inserted successfully.
Processing data for API3
Query:
            MERGE INTO coins1 c
            USING (SELECT API3 name, ["defi", "oracles", "coinfund-portfolio", "dcg-portfolio", "placeholder-ventures-portfolio", "pantera-capital-portfolio", "polygon-ecosystem", "fantom-ecosystem", "cardano-ecosystem", "web3", "cardano", "injective-ecosystem"] tags, 109635698.16753817 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for API3 inserted successfully.
Processing data for Aragon
Query:
            MERGE INTO coins1 c
            USING (SELECT Aragon name, ["platform", "enterprise-solutions", "dao", "ethereum-ecosystem", "governance", "boostvc-portfolio", "placeholder-ventures-portfolio", "web3"] tags, 109490112.73853035 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aragon inserted successfully.
Processing data for Pundi X (New)
Query:
            MERGE INTO coins1 c
            USING (SELECT Pundi X (New) name, [] tags, 106566400.95094672 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pundi X (New) inserted successfully.
Processing data for Lido Staked ETH
Query:
            MERGE INTO coins1 c
            USING (SELECT Lido Staked ETH name, ["eth-2-staking", "liquid-staking-derivatives"] tags, 11264089138.368826 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lido Staked ETH inserted successfully.
Processing data for HEX
Query:
            MERGE INTO coins1 c
            USING (SELECT HEX name, [] tags, 10217558657.119164 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HEX inserted successfully.
Processing data for Wrapped TRON
Query:
            MERGE INTO coins1 c
            USING (SELECT Wrapped TRON name, [] tags, 6555608468.757283 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wrapped TRON inserted successfully.
Processing data for Cryptonex
Query:
            MERGE INTO coins1 c
            USING (SELECT Cryptonex name, ["mineable", "medium-of-exchange", "centralized-exchange", "smart-contracts"] tags, 2107056383.4724061 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cryptonex inserted successfully.
Processing data for Wrapped HBAR
Query:
            MERGE INTO coins1 c
            USING (SELECT Wrapped HBAR name, [] tags, 1658816368.483969 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wrapped HBAR inserted successfully.
Processing data for Bitcoin BEP2
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin BEP2 name, ["bnb-chain", "btc-ecosystem"] tags, 1427532373.6271946 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin BEP2 inserted successfully.
Processing data for Frax
Query:
            MERGE INTO coins1 c
            USING (SELECT Frax name, ["defi", "stablecoin", "algorithmic-stablecoin", "seigniorage", "avalanche-ecosystem", "polygon-ecosystem", "fantom-ecosystem", "arbitrum-ecosytem", "moonriver-ecosystem", "usd-stablecoin", "optimism-ecosystem"] tags, 914195133.9198791 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Frax inserted successfully.
Processing data for Wrapped BNB
Query:
            MERGE INTO coins1 c
            USING (SELECT Wrapped BNB name, ["wrapped-tokens", "bnb-chain"] tags, 886365216.9035051 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wrapped BNB inserted successfully.
Processing data for Radix
Query:
            MERGE INTO coins1 c
            USING (SELECT Radix name, [] tags, 755257126.0963322 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Radix inserted successfully.
Processing data for TNC Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT TNC Coin name, [] tags, 568621570.111439 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TNC Coin inserted successfully.
Processing data for BitTorrent
Query:
            MERGE INTO coins1 c
            USING (SELECT BitTorrent name, ["binance-launchpad"] tags, 557856912.1748925 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitTorrent inserted successfully.
Processing data for Bitget Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitget Token name, ["centralized-exchange"] tags, 510242875.33356595 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitget Token inserted successfully.
Processing data for Tether Gold
Query:
            MERGE INTO coins1 c
            USING (SELECT Tether Gold name, ["tokenized-gold"] tags, 450410233.2325126 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tether Gold inserted successfully.
Processing data for FTX Token
Query:
            MERGE INTO coins1 c
            USING (SELECT FTX Token name, ["marketplace", "centralized-exchange", "derivatives", "cms-holdings-portfolio", "kenetic-capital-portfolio", "alameda-research-portfolio", "pantera-capital-portfolio", "exnetwork-capital-portfolio"] tags, 438525539.01411355 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FTX Token inserted successfully.
Processing data for Kaspa
Query:
            MERGE INTO coins1 c
            USING (SELECT Kaspa name, ["mineable", "pow", "store-of-value", "polychain-capital-portfolio", "layer-1"] tags, 430111879.40901834 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kaspa inserted successfully.
Processing data for Wrapped Kava
Query:
            MERGE INTO coins1 c
            USING (SELECT Wrapped Kava name, [] tags, 361991304.70808345 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wrapped Kava inserted successfully.
Processing data for DeFiChain
Query:
            MERGE INTO coins1 c
            USING (SELECT DeFiChain name, ["defi", "staking"] tags, 294980204.3642648 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeFiChain inserted successfully.
Processing data for USDJ
Query:
            MERGE INTO coins1 c
            USING (SELECT USDJ name, ["stablecoin"] tags, 277831146.2896085 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for USDJ inserted successfully.
Processing data for Baby Doge Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Baby Doge Coin name, ["memes", "doggone-doggerel", "bnb-chain"] tags, 261708720.51009142 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Baby Doge Coin inserted successfully.
Processing data for Liquity USD
Query:
            MERGE INTO coins1 c
            USING (SELECT Liquity USD name, ["defi", "stablecoin", "asset-backed-stablecoin", "usd-stablecoin", "optimism-ecosystem"] tags, 254874250.40895298 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Liquity USD inserted successfully.
Processing data for LINK
Query:
            MERGE INTO coins1 c
            USING (SELECT LINK name, ["centralized-exchange"] tags, 249658159.04880077 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LINK inserted successfully.
Processing data for Huobi BTC
Query:
            MERGE INTO coins1 c
            USING (SELECT Huobi BTC name, ["heco-ecosystem", "btc-ecosystem"] tags, 240483501.95635393 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Huobi BTC inserted successfully.
Processing data for WEMIX
Query:
            MERGE INTO coins1 c
            USING (SELECT WEMIX name, ["platform", "collectibles-nfts", "gaming", "metaverse", "play-to-earn"] tags, 234468753.88490057 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WEMIX inserted successfully.
Processing data for LUKSO
Query:
            MERGE INTO coins1 c
            USING (SELECT LUKSO name, ["collectibles-nfts", "metaverse"] tags, 211715956.94782248 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LUKSO inserted successfully.
Processing data for Ronin
Query:
            MERGE INTO coins1 c
            USING (SELECT Ronin name, ["platform", "gaming", "staking"] tags, 204920191.01852033 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ronin inserted successfully.
Processing data for Edgecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Edgecoin name, [] tags, 190729921.31763184 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Edgecoin inserted successfully.
Processing data for GensoKishi Metaverse
Query:
            MERGE INTO coins1 c
            USING (SELECT GensoKishi Metaverse name, [] tags, 189132090.95580256 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GensoKishi Metaverse inserted successfully.
Processing data for Astrafer
Query:
            MERGE INTO coins1 c
            USING (SELECT Astrafer name, ["gaming", "animoca-brands-portfolio"] tags, 182271060.6311298 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Astrafer inserted successfully.
Processing data for Beldex
Query:
            MERGE INTO coins1 c
            USING (SELECT Beldex name, ["privacy", "masternodes"] tags, 178257441.10626882 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Beldex inserted successfully.
Processing data for SwissBorg
Query:
            MERGE INTO coins1 c
            USING (SELECT SwissBorg name, ["asset-management", "staking"] tags, 164383366.9843946 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SwissBorg inserted successfully.
Processing data for Polymath
Query:
            MERGE INTO coins1 c
            USING (SELECT Polymath name, ["marketplace", "crowdfunding", "real-world-assets"] tags, 163484801.64441335 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polymath inserted successfully.
Processing data for Gains Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Gains Network name, ["polygon-ecosystem", "arbitrum-ecosytem"] tags, 161692009.73488554 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gains Network inserted successfully.
Processing data for AVINOC
Query:
            MERGE INTO coins1 c
            USING (SELECT AVINOC name, [] tags, 155712330.81623456 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AVINOC inserted successfully.
Processing data for Symbol
Query:
            MERGE INTO coins1 c
            USING (SELECT Symbol name, ["posplus"] tags, 154363675.74170363 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Symbol inserted successfully.
Processing data for inSure DeFi
Query:
            MERGE INTO coins1 c
            USING (SELECT inSure DeFi name, ["ai-big-data", "collectibles-nfts", "defi", "dao", "insurance", "avalanche-ecosystem", "metaverse", "bnb-chain"] tags, 138825485.27489188 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for inSure DeFi inserted successfully.
Processing data for Tribe
Query:
            MERGE INTO coins1 c
            USING (SELECT Tribe name, ["defi", "stablecoin", "algorithmic-stablecoin", "governance"] tags, 137137006.36519516 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tribe inserted successfully.
Processing data for Keep Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Keep Network name, ["defi", "privacy", "coinbase-ventures-portfolio", "polychain-capital-portfolio", "boostvc-portfolio", "fabric-ventures-portfolio", "a16z-portfolio", "multicoin-capital-portfolio", "parafi-capital", "paradigm-portfolio"] tags, 131912529.26045994 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Keep Network inserted successfully.
Processing data for OriginTrail
Query:
            MERGE INTO coins1 c
            USING (SELECT OriginTrail name, ["logistics", "ai-big-data", "enterprise-solutions", "interoperability", "smart-contracts", "ethereum-ecosystem", "polkadot-ecosystem", "polygon-ecosystem", "web3", "open-source", "layer-1"] tags, 124227703.85973409 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OriginTrail inserted successfully.
Processing data for STASIS EURO
Query:
            MERGE INTO coins1 c
            USING (SELECT STASIS EURO name, ["marketplace", "stablecoin", "asset-backed-stablecoin", "eur-stablecoin", "xdc-ecosystem"] tags, 123666119.51075086 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for STASIS EURO inserted successfully.
Processing data for Telcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Telcoin name, ["medium-of-exchange", "polygon-ecosystem"] tags, 122572693.37357081 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Telcoin inserted successfully.
Processing data for tomiNet
Query:
            MERGE INTO coins1 c
            USING (SELECT tomiNet name, [] tags, 121011843.20663822 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for tomiNet inserted successfully.
Processing data for VVS Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT VVS Finance name, ["defi", "dex"] tags, 110845989.53592175 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VVS Finance inserted successfully.
Processing data for Secret
Query:
            MERGE INTO coins1 c
            USING (SELECT Secret name, ["cosmos-ecosystem", "defi", "privacy", "injective-ecosystem"] tags, 110241660.78220347 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Secret inserted successfully.
Processing data for PlayDapp
Query:
            MERGE INTO coins1 c
            USING (SELECT PlayDapp name, ["gaming", "ethereum-ecosystem", "metaverse", "polygon-ecosystem"] tags, 106227009.61100619 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PlayDapp inserted successfully.
Processing data for Decentralized Social
Query:
            MERGE INTO coins1 c
            USING (SELECT Decentralized Social name, ["communications-social-media", "arrington-xrp-capital-portfolio"] tags, 105765713.23977987 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decentralized Social inserted successfully.
Processing data for Radiant Capital
Query:
            MERGE INTO coins1 c
            USING (SELECT Radiant Capital name, ["defi", "lending-borowing", "arbitrum-ecosytem"] tags, 105622718.23048422 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Radiant Capital inserted successfully.
Processing data for Gitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Gitcoin name, ["dao", "paradigm-portfolio", "web3"] tags, 103883310.36101967 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gitcoin inserted successfully.
Processing data for Kyber Network Crystal v2
Query:
            MERGE INTO coins1 c
            USING (SELECT Kyber Network Crystal v2 name, ["marketplace", "decentralized-exchange-dex-token", "defi", "dao", "amm", "three-arrows-capital-portfolio", "governance", "kenetic-capital-portfolio", "pantera-capital-portfolio", "parafi-capital", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 103343689.48285887 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kyber Network Crystal v2 inserted successfully.
Processing data for Braintrust
Query:
            MERGE INTO coins1 c
            USING (SELECT Braintrust name, ["coinbase-ventures-portfolio", "web3"] tags, 102118585.02348976 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Braintrust inserted successfully.
Processing data for Decimal
Query:
            MERGE INTO coins1 c
            USING (SELECT Decimal name, ["staking"] tags, 101833364.8052872 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decimal inserted successfully.
Processing data for DeXe
Query:
            MERGE INTO coins1 c
            USING (SELECT DeXe name, ["asset-management", "defi", "dao", "bnb-chain"] tags, 100124007.27448574 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeXe inserted successfully.
Processing data for Coin98
Query:
            MERGE INTO coins1 c
            USING (SELECT Coin98 name, ["wallet", "binance-launchpad", "solana-ecosystem", "celo-ecosystem", "spartan-group", "injective-ecosystem", "bnb-chain"] tags, 99553668.01566982 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Coin98 inserted successfully.
Processing data for MediBloc
Query:
            MERGE INTO coins1 c
            USING (SELECT MediBloc name, ["health", "cosmos-ecosystem", "injective-ecosystem"] tags, 99050764.76578602 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MediBloc inserted successfully.
Processing data for ConstitutionDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT ConstitutionDAO name, [] tags, 98750179.74282135 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ConstitutionDAO inserted successfully.
Processing data for Polymesh
Query:
            MERGE INTO coins1 c
            USING (SELECT Polymesh name, [] tags, 98595914.16104989 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polymesh inserted successfully.
Processing data for Smooth Love Potion
Query:
            MERGE INTO coins1 c
            USING (SELECT Smooth Love Potion name, ["collectibles-nfts", "play-to-earn"] tags, 98033902.79340677 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Smooth Love Potion inserted successfully.
Processing data for Syscoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Syscoin name, ["mineable", "pow", "platform", "enterprise-solutions", "collectibles-nfts", "zero-knowledge-proofs", "masternodes", "scaling"] tags, 97846757.20275298 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Syscoin inserted successfully.
Processing data for Synapse
Query:
            MERGE INTO coins1 c
            USING (SELECT Synapse name, ["interoperability", "three-arrows-capital-portfolio", "olympus-pro-ecosystem", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 96721010.27970882 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Synapse inserted successfully.
Processing data for Nano
Query:
            MERGE INTO coins1 c
            USING (SELECT Nano name, ["dag", "blake2b", "medium-of-exchange", "store-of-value", "payments"] tags, 96527345.79366449 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nano inserted successfully.
Processing data for Hashflow
Query:
            MERGE INTO coins1 c
            USING (SELECT Hashflow name, ["decentralized-exchange-dex-token", "defi", "interoperability", "dao", "dex", "binance-launchpool", "coinbase-ventures-portfolio", "dcg-portfolio", "dragonfly-capital-portfolio", "electric-capital-portfolio", "galaxy-digital-portfolio", "cross-chain"] tags, 96264052.76202184 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hashflow inserted successfully.
Processing data for Merit Circle
Query:
            MERGE INTO coins1 c
            USING (SELECT Merit Circle name, ["gaming", "governance", "play-to-earn", "token", "gaming-guild", "spartan-group"] tags, 95868613.11599281 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Merit Circle inserted successfully.
Processing data for Venus USDC
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus USDC name, ["stablecoin", "bnb-chain"] tags, 95690001.29963745 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus USDC inserted successfully.
Processing data for Chromia
Query:
            MERGE INTO coins1 c
            USING (SELECT Chromia name, ["platform", "enterprise-solutions", "collectibles-nfts", "defi", "gaming", "ethereum-ecosystem", "metaverse", "chromia-ecosystem", "web3", "bnb-chain"] tags, 95468349.85497823 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chromia inserted successfully.
Processing data for Rootstock Smart Bitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Rootstock Smart Bitcoin name, ["mineable", "btc-ecosystem"] tags, 95148183.25215486 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rootstock Smart Bitcoin inserted successfully.
Processing data for APENFT
Query:
            MERGE INTO coins1 c
            USING (SELECT APENFT name, ["art", "collectibles-nfts", "tron-ecosystem"] tags, 93533867.25467859 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for APENFT inserted successfully.
Processing data for Numeraire
Query:
            MERGE INTO coins1 c
            USING (SELECT Numeraire name, ["asset-management", "ai-big-data", "defi", "payments", "research", "coinfund-portfolio", "usv-portfolio", "placeholder-ventures-portfolio", "paradigm-portfolio", "generative-ai"] tags, 93208369.80415383 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Numeraire inserted successfully.
Processing data for LooksRare
Query:
            MERGE INTO coins1 c
            USING (SELECT LooksRare name, ["collectibles-nfts"] tags, 93030883.41402754 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LooksRare inserted successfully.
Processing data for Status
Query:
            MERGE INTO coins1 c
            USING (SELECT Status name, ["media", "content-creation", "privacy", "fabric-ventures-portfolio", "kenetic-capital-portfolio"] tags, 92593120.69399653 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Status inserted successfully.
Processing data for Civic
Query:
            MERGE INTO coins1 c
            USING (SELECT Civic name, ["enterprise-solutions", "identity", "solana-ecosystem", "dcg-portfolio", "pantera-capital-portfolio", "web3"] tags, 91953060.09237349 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Civic inserted successfully.
Processing data for Artificial Liquid Intelligence
Query:
            MERGE INTO coins1 c
            USING (SELECT Artificial Liquid Intelligence name, ["media", "communications-social-media", "ai-big-data", "collectibles-nfts", "ethereum-ecosystem", "galaxy-digital-portfolio", "huobi-capital-portfolio", "alameda-research-portfolio"] tags, 91715229.08622026 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Artificial Liquid Intelligence inserted successfully.
Processing data for MiL.k
Query:
            MERGE INTO coins1 c
            USING (SELECT MiL.k name, ["bnb-chain"] tags, 89487382.01436976 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MiL.k inserted successfully.
Processing data for Alpha Venture DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Alpha Venture DAO name, ["defi", "yield-farming", "yield-aggregator", "binance-launchpool", "binance-launchpad", "defiance-capital-portfolio", "alameda-research-portfolio", "multicoin-capital-portfolio", "spartan-group", "injective-ecosystem", "bnb-chain", "optimism-ecosystem"] tags, 88138738.82618526 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alpha Venture DAO inserted successfully.
Processing data for COTI
Query:
            MERGE INTO coins1 c
            USING (SELECT COTI name, ["defi", "fantom-ecosystem", "cardano-ecosystem", "arbitrum-ecosytem", "cardano", "bnb-chain"] tags, 87294778.5669925 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for COTI inserted successfully.
Processing data for Ontology Gas
Query:
            MERGE INTO coins1 c
            USING (SELECT Ontology Gas name, ["ontology-ecosystem"] tags, 87248898.93007664 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ontology Gas inserted successfully.
Processing data for Locus Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT Locus Chain name, ["platform", "payments", "scaling"] tags, 87202680.7284821 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Locus Chain inserted successfully.
Processing data for Request
Query:
            MERGE INTO coins1 c
            USING (SELECT Request name, ["medium-of-exchange", "defi", "payments", "smart-contracts"] tags, 87006667.48565294 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Request inserted successfully.
Processing data for Dero
Query:
            MERGE INTO coins1 c
            USING (SELECT Dero name, ["mineable", "privacy", "smart-contracts"] tags, 86712541.98659693 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dero inserted successfully.
Processing data for Humanscape
Query:
            MERGE INTO coins1 c
            USING (SELECT Humanscape name, [] tags, 86482907.91418272 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Humanscape inserted successfully.
Processing data for Dent
Query:
            MERGE INTO coins1 c
            USING (SELECT Dent name, ["services"] tags, 85985600.31104435 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dent inserted successfully.
Processing data for Metars Genesis
Query:
            MERGE INTO coins1 c
            USING (SELECT Metars Genesis name, [] tags, 85918566.13154522 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metars Genesis inserted successfully.
Processing data for Wrapped Everscale
Query:
            MERGE INTO coins1 c
            USING (SELECT Wrapped Everscale name, ["everscale-ecosystem"] tags, 85371666.48945673 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wrapped Everscale inserted successfully.
Processing data for Orbs
Query:
            MERGE INTO coins1 c
            USING (SELECT Orbs name, ["services", "enterprise-solutions"] tags, 84511421.36764552 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Orbs inserted successfully.
Processing data for Everscale
Query:
            MERGE INTO coins1 c
            USING (SELECT Everscale name, ["everscale-ecosystem"] tags, 84170158.01885803 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Everscale inserted successfully.
Processing data for MOBOX
Query:
            MERGE INTO coins1 c
            USING (SELECT MOBOX name, ["collectibles-nfts", "defi", "gaming", "yield-farming", "metaverse", "play-to-earn", "bnb-chain"] tags, 84093059.93734717 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MOBOX inserted successfully.
Processing data for STP
Query:
            MERGE INTO coins1 c
            USING (SELECT STP name, ["defi", "payments"] tags, 83782464.02719198 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for STP inserted successfully.
Processing data for TomoChain
Query:
            MERGE INTO coins1 c
            USING (SELECT TomoChain name, ["platform", "alameda-research-portfolio", "injective-ecosystem"] tags, 83771832.73769513 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TomoChain inserted successfully.
Processing data for Vulcan Forged PYR
Query:
            MERGE INTO coins1 c
            USING (SELECT Vulcan Forged PYR name, ["collectibles-nfts", "gaming", "entertainment", "metaverse"] tags, 83427803.58755304 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vulcan Forged PYR inserted successfully.
Processing data for Venus
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus name, ["defi", "yield-farming", "binance-launchpool", "lending-borowing", "bnb-chain"] tags, 83340335.23896489 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus inserted successfully.
Processing data for Steem
Query:
            MERGE INTO coins1 c
            USING (SELECT Steem name, ["media", "content-creation", "web3"] tags, 83262322.16047391 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Steem inserted successfully.
Processing data for Ergo
Query:
            MERGE INTO coins1 c
            USING (SELECT Ergo name, ["mineable", "pow", "platform", "dapp", "cardano-ecosystem", "cardano"] tags, 83107104.98718187 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ergo inserted successfully.
Processing data for Ribbon Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Ribbon Finance name, ["derivatives", "coinbase-ventures-portfolio", "real-world-assets"] tags, 82919006.22994694 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ribbon Finance inserted successfully.
Processing data for Prom
Query:
            MERGE INTO coins1 c
            USING (SELECT Prom name, ["bnb-chain"] tags, 82427127.31005695 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Prom inserted successfully.
Processing data for Hooked Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Hooked Protocol name, ["binance-launchpad"] tags, 82131080.44778605 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hooked Protocol inserted successfully.
Processing data for MVL
Query:
            MERGE INTO coins1 c
            USING (SELECT MVL name, ["ethereum-ecosystem", "binance-chain"] tags, 81019273.02320811 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MVL inserted successfully.
Processing data for dKargo
Query:
            MERGE INTO coins1 c
            USING (SELECT dKargo name, ["ai-big-data"] tags, 80479115.14344837 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for dKargo inserted successfully.
Processing data for Ardor
Query:
            MERGE INTO coins1 c
            USING (SELECT Ardor name, ["platform", "enterprise-solutions", "state-channel"] tags, 79943659.69127226 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ardor inserted successfully.
Processing data for Ren
Query:
            MERGE INTO coins1 c
            USING (SELECT Ren name, ["marketplace", "defi", "polkadot-ecosystem", "avalanche-ecosystem", "solana-ecosystem", "kenetic-capital-portfolio", "huobi-capital-portfolio", "alameda-research-portfolio", "fantom-ecosystem", "btc-ecosystem"] tags, 79757618.6344642 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ren inserted successfully.
Processing data for Ultra
Query:
            MERGE INTO coins1 c
            USING (SELECT Ultra name, ["platform", "collectibles-nfts", "gaming", "payments", "metaverse"] tags, 78675665.31874733 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ultra inserted successfully.
Processing data for Beta Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Beta Finance name, ["binance-launchpad", "defiance-capital-portfolio", "multicoin-capital-portfolio", "parafi-capital", "spartan-group"] tags, 77872392.76711905 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Beta Finance inserted successfully.
Processing data for Metal DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Metal DAO name, ["medium-of-exchange", "payments"] tags, 77835645.84348197 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metal DAO inserted successfully.
Processing data for Covalent
Query:
            MERGE INTO coins1 c
            USING (SELECT Covalent name, ["ai-big-data", "enterprise-solutions", "defi", "polkadot-ecosystem", "avalanche-ecosystem", "fantom-ecosystem", "near-protocol-ecosystem", "injective-ecosystem"] tags, 77818835.07503317 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Covalent inserted successfully.
Processing data for VeThor Token
Query:
            MERGE INTO coins1 c
            USING (SELECT VeThor Token name, [] tags, 76948019.29942009 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VeThor Token inserted successfully.
Processing data for IDEX
Query:
            MERGE INTO coins1 c
            USING (SELECT IDEX name, ["decentralized-exchange-dex-token", "defi"] tags, 76891383.07800373 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IDEX inserted successfully.
Processing data for USDX [Kava]
Query:
            MERGE INTO coins1 c
            USING (SELECT USDX [Kava] name, ["stablecoin", "algorithmic-stablecoin", "usd-stablecoin"] tags, 76659860.97649755 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for USDX [Kava] inserted successfully.
Processing data for Powerledger
Query:
            MERGE INTO coins1 c
            USING (SELECT Powerledger name, ["energy", "sharing-economy"] tags, 76631396.0229384 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Powerledger inserted successfully.
Processing data for NKN
Query:
            MERGE INTO coins1 c
            USING (SELECT NKN name, ["mineable", "platform", "enterprise-solutions", "distributed-computing", "iot", "web3"] tags, 75721879.5764344 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NKN inserted successfully.
Processing data for NYM
Query:
            MERGE INTO coins1 c
            USING (SELECT NYM name, ["privacy"] tags, 75473289.5266072 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NYM inserted successfully.
Processing data for Pendle
Query:
            MERGE INTO coins1 c
            USING (SELECT Pendle name, ["olympus-pro-ecosystem", "spartan-group"] tags, 75433598.47166216 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pendle inserted successfully.
Processing data for Creditcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Creditcoin name, [] tags, 74419270.38347967 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Creditcoin inserted successfully.
Processing data for WINkLink
Query:
            MERGE INTO coins1 c
            USING (SELECT WINkLink name, ["oracles", "tron-ecosystem", "binance-launchpad", "binance-labs-portfolio", "bnb-chain"] tags, 74181629.46496208 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WINkLink inserted successfully.
Processing data for Wrapped NXM
Query:
            MERGE INTO coins1 c
            USING (SELECT Wrapped NXM name, ["insurance", "wrapped-tokens"] tags, 72870294.08247733 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wrapped NXM inserted successfully.
Processing data for Morpheus.Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Morpheus.Network name, ["logistics", "payments"] tags, 72628805.6395651 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Morpheus.Network inserted successfully.
Processing data for Marlin
Query:
            MERGE INTO coins1 c
            USING (SELECT Marlin name, ["distributed-computing", "defi", "zero-knowledge-proofs", "scaling", "ethereum-ecosystem", "binance-labs-portfolio", "arrington-xrp-capital-portfolio", "electric-capital-portfolio", "polygon-ecosystem", "web3", "arbitrum-ecosytem", "injective-ecosystem"] tags, 72313615.66092965 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Marlin inserted successfully.
Processing data for Centrifuge
Query:
            MERGE INTO coins1 c
            USING (SELECT Centrifuge name, ["ethereum-ecosystem", "substrate", "polkadot", "polkadot-ecosystem", "real-world-assets"] tags, 72150184.04655953 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Centrifuge inserted successfully.
Processing data for Augur
Query:
            MERGE INTO coins1 c
            USING (SELECT Augur name, ["platform", "defi", "oracles", "prediction-markets", "reputation", "storage", "1confirmation-portfolio", "pantera-capital-portfolio", "multicoin-capital-portfolio", "polygon-ecosystem"] tags, 72088849.950298 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Augur inserted successfully.
Processing data for Stratis
Query:
            MERGE INTO coins1 c
            USING (SELECT Stratis name, ["hybrid-pow-pos", "poa", "platform", "enterprise-solutions", "masternodes", "smart-contracts", "staking", "dao", "sidechain"] tags, 71908321.9333738 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stratis inserted successfully.
Processing data for Phala Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Phala Network name, ["ai-big-data", "privacy", "interoperability", "oracles", "smart-contracts", "ethereum-ecosystem", "substrate", "polkadot", "polkadot-ecosystem", "rollups", "web3"] tags, 71537052.16088693 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Phala Network inserted successfully.
Processing data for Bancor
Query:
            MERGE INTO coins1 c
            USING (SELECT Bancor name, ["marketplace", "decentralized-exchange-dex-token", "defi", "payments", "scaling", "amm", "kenetic-capital-portfolio", "arbitrum-ecosytem"] tags, 71447741.69276653 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bancor inserted successfully.
Processing data for Orchid
Query:
            MERGE INTO coins1 c
            USING (SELECT Orchid name, ["polychain-capital-portfolio", "blockchain-capital-portfolio", "fabric-ventures-portfolio", "kenetic-capital-portfolio", "a16z-portfolio", "web3"] tags, 71066782.83245946 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Orchid inserted successfully.
Processing data for Energy Web Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Energy Web Token name, ["energy", "enterprise-solutions", "identity", "substrate", "polkadot-ecosystem"] tags, 70762595.83929452 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Energy Web Token inserted successfully.
Processing data for Wilder World
Query:
            MERGE INTO coins1 c
            USING (SELECT Wilder World name, ["vr-ar", "collectibles-nfts", "gaming", "metaverse", "polkastarter", "animoca-brands-portfolio", "skyvision-capital-portfolio"] tags, 70740586.02594802 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wilder World inserted successfully.
Processing data for Vibing
Query:
            MERGE INTO coins1 c
            USING (SELECT Vibing name, [] tags, 68934991.12259442 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vibing inserted successfully.
Processing data for NuCypher
Query:
            MERGE INTO coins1 c
            USING (SELECT NuCypher name, ["polychain-capital-portfolio", "arrington-xrp-capital-portfolio", "coinfund-portfolio", "kenetic-capital-portfolio", "web3"] tags, 67457614.65640418 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NuCypher inserted successfully.
Processing data for Mdex
Query:
            MERGE INTO coins1 c
            USING (SELECT Mdex name, ["decentralized-exchange-dex-token", "defi", "yield-farming", "amm", "heco-ecosystem", "bnb-chain"] tags, 66556979.37357584 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mdex inserted successfully.
Processing data for MyNeighborAlice
Query:
            MERGE INTO coins1 c
            USING (SELECT MyNeighborAlice name, ["collectibles-nfts", "gaming", "entertainment", "metaverse", "dao-maker", "exnetwork-capital-portfolio", "chromia-ecosystem", "play-to-earn"] tags, 66235480.15511172 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MyNeighborAlice inserted successfully.
Processing data for Spell Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Spell Token name, ["olympus-pro-ecosystem", "arbitrum-ecosytem", "defi-2", "protocol-owned-liquidity"] tags, 66235257.64848825 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Spell Token inserted successfully.
Processing data for GameFi.org
Query:
            MERGE INTO coins1 c
            USING (SELECT GameFi.org name, ["gaming", "launchpad", "metaverse", "polkafoundry-red-kite", "play-to-earn", "icetea-labs", "animoca-brands-portfolio"] tags, 66205593.07927751 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GameFi.org inserted successfully.
Processing data for Function X
Query:
            MERGE INTO coins1 c
            USING (SELECT Function X name, ["hardware"] tags, 65273198.89073515 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Function X inserted successfully.
Processing data for IQ
Query:
            MERGE INTO coins1 c
            USING (SELECT IQ name, ["media", "ai-big-data", "content-creation", "ethereum-ecosystem", "yield-farming"] tags, 64349734.32924529 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IQ inserted successfully.
Processing data for Dusk Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Dusk Network name, ["marketplace", "privacy", "zero-knowledge-proofs", "smart-contracts"] tags, 64130198.67316473 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dusk Network inserted successfully.
Processing data for Oasys
Query:
            MERGE INTO coins1 c
            USING (SELECT Oasys name, [] tags, 64097240.52859005 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oasys inserted successfully.
Processing data for Shentu
Query:
            MERGE INTO coins1 c
            USING (SELECT Shentu name, ["cybersecurity", "cosmos-ecosystem", "enterprise-solutions", "interoperability", "scaling", "smart-contracts", "binance-launchpool", "binance-labs-portfolio", "arrington-xrp-capital-portfolio", "kenetic-capital-portfolio", "injective-ecosystem", "bnb-chain"] tags, 63942664.21551083 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shentu inserted successfully.
Processing data for Highstreet
Query:
            MERGE INTO coins1 c
            USING (SELECT Highstreet name, ["vr-ar", "ethereum-ecosystem", "solana-ecosystem", "metaverse", "bullperks-launchpad", "animoca-brands-portfolio", "skyvision-capital-portfolio"] tags, 63779629.3072617 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Highstreet inserted successfully.
Processing data for Seedify.fund
Query:
            MERGE INTO coins1 c
            USING (SELECT Seedify.fund name, ["gaming", "launchpad", "polygon-ecosystem", "play-to-earn", "bnb-chain"] tags, 63071048.641108006 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Seedify.fund inserted successfully.
Processing data for QuarkChain
Query:
            MERGE INTO coins1 c
            USING (SELECT QuarkChain name, ["marketplace", "payments"] tags, 62144152.51118198 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for QuarkChain inserted successfully.
Processing data for Celsius
Query:
            MERGE INTO coins1 c
            USING (SELECT Celsius name, ["lending-borowing", "exnetwork-capital-portfolio"] tags, 62046675.59035391 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Celsius inserted successfully.
Processing data for MARBLEX
Query:
            MERGE INTO coins1 c
            USING (SELECT MARBLEX name, ["gaming"] tags, 61367258.00264296 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MARBLEX inserted successfully.
Processing data for XPLA
Query:
            MERGE INTO coins1 c
            USING (SELECT XPLA name, [] tags, 60934070.490783975 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XPLA inserted successfully.
Processing data for Alien Worlds
Query:
            MERGE INTO coins1 c
            USING (SELECT Alien Worlds name, ["collectibles-nfts", "gaming", "entertainment", "dao", "metaverse", "play-to-earn", "animoca-brands-portfolio", "bnb-chain"] tags, 60463248.887370124 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alien Worlds inserted successfully.
Processing data for DODO
Query:
            MERGE INTO coins1 c
            USING (SELECT DODO name, ["decentralized-exchange-dex-token", "defi", "coinbase-ventures-portfolio", "three-arrows-capital-portfolio", "cms-holdings-portfolio", "defiance-capital-portfolio", "framework-ventures-portfolio", "alameda-research-portfolio", "pantera-capital-portfolio", "exnetwork-capital-portfolio", "arbitrum-ecosytem", "bnb-chain"] tags, 60186648.626084566 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DODO inserted successfully.
Processing data for XSGD
Query:
            MERGE INTO coins1 c
            USING (SELECT XSGD name, ["stablecoin", "asset-backed-stablecoin", "zilliqa-ecosystem"] tags, 59993652.70838392 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XSGD inserted successfully.
Processing data for Mines of Dalarnia
Query:
            MERGE INTO coins1 c
            USING (SELECT Mines of Dalarnia name, ["collectibles-nfts", "gaming", "metaverse", "chromia-ecosystem", "play-to-earn", "animoca-brands-portfolio"] tags, 59385466.33546714 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mines of Dalarnia inserted successfully.
Processing data for Loom Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Loom Network name, ["platform", "cosmos-ecosystem", "enterprise-solutions", "scaling", "injective-ecosystem", "bnb-chain"] tags, 59291040.57112236 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Loom Network inserted successfully.
Processing data for Aura Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Aura Finance name, [] tags, 58848910.677555926 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aura Finance inserted successfully.
Processing data for Ankr Staked ETH
Query:
            MERGE INTO coins1 c
            USING (SELECT Ankr Staked ETH name, ["eth-2-staking", "liquid-staking-derivatives"] tags, 58545571.05740673 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ankr Staked ETH inserted successfully.
Processing data for Bifrost
Query:
            MERGE INTO coins1 c
            USING (SELECT Bifrost name, ["platform", "interoperability", "avalanche-ecosystem", "exnetwork-capital-portfolio", "vbc-ventures-portfolio"] tags, 58245561.202665776 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bifrost inserted successfully.
Processing data for cVault.finance
Query:
            MERGE INTO coins1 c
            USING (SELECT cVault.finance name, ["defi", "dao", "governance"] tags, 57294377.42766683 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for cVault.finance inserted successfully.
Processing data for Linear Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Linear Finance name, ["decentralized-exchange-dex-token", "defi", "yield-farming", "polkadot-ecosystem", "binance-launchpad", "cms-holdings-portfolio", "kenetic-capital-portfolio", "alameda-research-portfolio", "bnb-chain"] tags, 56907624.34149617 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Linear Finance inserted successfully.
Processing data for CEEK VR
Query:
            MERGE INTO coins1 c
            USING (SELECT CEEK VR name, ["vr-ar", "collectibles-nfts", "music", "metaverse", "bnb-chain"] tags, 56352372.92139073 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CEEK VR inserted successfully.
Processing data for WazirX
Query:
            MERGE INTO coins1 c
            USING (SELECT WazirX name, ["centralized-exchange", "algorand-ecosystem", "binance-launchpad", "injective-ecosystem"] tags, 56168509.288252175 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WazirX inserted successfully.
Processing data for TrueFi
Query:
            MERGE INTO coins1 c
            USING (SELECT TrueFi name, ["defi", "ethereum-ecosystem", "yield-farming", "avalanche-ecosystem", "lending-borowing", "real-world-assets"] tags, 56049642.47588693 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TrueFi inserted successfully.
Processing data for Hifi Finance (Old)
Query:
            MERGE INTO coins1 c
            USING (SELECT Hifi Finance (Old) name, ["platform", "content-creation", "smart-contracts", "kenetic-capital-portfolio"] tags, 55864602.909890875 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hifi Finance (Old) inserted successfully.
Processing data for World Mobile Token
Query:
            MERGE INTO coins1 c
            USING (SELECT World Mobile Token name, ["cardano-ecosystem", "cardano"] tags, 55683567.953144155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for World Mobile Token inserted successfully.
Processing data for FLEX
Query:
            MERGE INTO coins1 c
            USING (SELECT FLEX name, [] tags, 55478795.512407266 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FLEX inserted successfully.
Processing data for Pirate Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT Pirate Chain name, ["mineable", "hybrid-dpow-pow", "medium-of-exchange", "privacy", "zero-knowledge-proofs"] tags, 55326564.813807055 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pirate Chain inserted successfully.
Processing data for FUNToken
Query:
            MERGE INTO coins1 c
            USING (SELECT FUNToken name, ["gambling", "marketplace", "payments", "pantera-capital-portfolio"] tags, 55266684.26690131 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FUNToken inserted successfully.
Processing data for Biswap
Query:
            MERGE INTO coins1 c
            USING (SELECT Biswap name, ["collectibles-nfts", "decentralized-exchange-dex-token", "defi", "gaming", "staking", "yield-farming", "amm", "dex", "metaverse", "play-to-earn", "bnb-chain"] tags, 55163639.959621295 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Biswap inserted successfully.
Processing data for SuperVerse
Query:
            MERGE INTO coins1 c
            USING (SELECT SuperVerse name, ["collectibles-nfts", "launchpad", "polkastarter", "exnetwork-capital-portfolio", "superstarter", "polygon-ecosystem", "animoca-brands-portfolio", "injective-ecosystem", "bnb-chain"] tags, 54953921.105765246 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SuperVerse inserted successfully.
Processing data for Reef
Query:
            MERGE INTO coins1 c
            USING (SELECT Reef name, ["hybrid-pow-npos", "media", "enterprise-solutions", "gaming", "entertainment", "payments", "wallet", "binance-launchpool", "metaverse", "web3", "reef-chain"] tags, 54771668.73485056 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Reef inserted successfully.
Processing data for RACA
Query:
            MERGE INTO coins1 c
            USING (SELECT RACA name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "mvb", "bnb-chain"] tags, 54529961.83546648 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RACA inserted successfully.
Processing data for ASD
Query:
            MERGE INTO coins1 c
            USING (SELECT ASD name, ["centralized-exchange"] tags, 54369273.61113376 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ASD inserted successfully.
Processing data for Venus BUSD
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus BUSD name, ["stablecoin", "bnb-chain"] tags, 53993086.33180531 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus BUSD inserted successfully.
Processing data for e-Radix
Query:
            MERGE INTO coins1 c
            USING (SELECT e-Radix name, ["ethereum-ecosystem"] tags, 53976047.72380098 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for e-Radix inserted successfully.
Processing data for TABOO TOKEN
Query:
            MERGE INTO coins1 c
            USING (SELECT TABOO TOKEN name, ["bnb-chain"] tags, 52920959.5047955 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TABOO TOKEN inserted successfully.
Processing data for XYO
Query:
            MERGE INTO coins1 c
            USING (SELECT XYO name, ["logistics", "oracles", "ethereum-ecosystem", "metaverse", "play-to-earn", "web3"] tags, 52920056.72413264 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XYO inserted successfully.
Processing data for Clash of Lilliput
Query:
            MERGE INTO coins1 c
            USING (SELECT Clash of Lilliput name, [] tags, 52842528.19010845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Clash of Lilliput inserted successfully.
Processing data for Voyager Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Voyager Token name, ["asset-management", "wallet", "algorand-ecosystem"] tags, 52031457.448775515 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Voyager Token inserted successfully.
Processing data for Aergo
Query:
            MERGE INTO coins1 c
            USING (SELECT Aergo name, ["platform", "enterprise-solutions", "smart-contracts"] tags, 51831934.0654642 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aergo inserted successfully.
Processing data for Automata Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Automata Network name, ["binance-launchpool", "bnb-chain"] tags, 51537313.29926452 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Automata Network inserted successfully.
Processing data for Vai
Query:
            MERGE INTO coins1 c
            USING (SELECT Vai name, ["defi", "stablecoin", "asset-backed-stablecoin", "bnb-chain", "usd-stablecoin"] tags, 51463783.57915341 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vai inserted successfully.
Processing data for Origin Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Origin Protocol name, ["collectibles-nfts", "defi", "kenetic-capital-portfolio", "pantera-capital-portfolio"] tags, 51253586.732514456 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Origin Protocol inserted successfully.
Processing data for Orbit Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT Orbit Chain name, [] tags, 50862234.80552109 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Orbit Chain inserted successfully.
Processing data for Badger DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Badger DAO name, ["defi", "dao", "yield-farming", "yield-aggregator", "governance", "blockchain-capital-portfolio", "arbitrum-ecosytem", "btc-ecosystem"] tags, 50829059.07631197 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Badger DAO inserted successfully.
Processing data for Sun (New)
Query:
            MERGE INTO coins1 c
            USING (SELECT Sun (New) name, ["tron-ecosystem"] tags, 50630032.59477412 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sun (New) inserted successfully.
Processing data for Verasity
Query:
            MERGE INTO coins1 c
            USING (SELECT Verasity name, ["ai-big-data", "collectibles-nfts", "gaming", "entertainment", "payments", "staking", "video", "metaverse"] tags, 50372747.56764833 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Verasity inserted successfully.
Processing data for Revain
Query:
            MERGE INTO coins1 c
            USING (SELECT Revain name, ["platform", "reputation", "smart-contracts"] tags, 50240678.835131966 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Revain inserted successfully.
Processing data for Onyxcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Onyxcoin name, [] tags, 50171221.59390897 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Onyxcoin inserted successfully.
Processing data for VerusCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT VerusCoin name, ["mineable", "hybrid-pow-pos", "defi", "privacy", "zero-knowledge-proofs", "identity", "interoperability", "scaling", "staking", "amm"] tags, 49806281.91765464 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VerusCoin inserted successfully.
Processing data for Concordium
Query:
            MERGE INTO coins1 c
            USING (SELECT Concordium name, ["layer-1"] tags, 49006032.42606662 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Concordium inserted successfully.
Processing data for Toko Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Toko Token name, ["centralized-exchange", "binance-launchpad", "bnb-chain"] tags, 48902399.49410315 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Toko Token inserted successfully.
Processing data for Vega Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Vega Protocol name, ["pos", "defi", "derivatives", "coinbase-ventures-portfolio"] tags, 48835695.71013195 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vega Protocol inserted successfully.
Processing data for StormX
Query:
            MERGE INTO coins1 c
            USING (SELECT StormX name, ["media", "loyalty"] tags, 48561805.13910641 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for StormX inserted successfully.
Processing data for MUX Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT MUX Protocol name, ["decentralized-exchange-dex-token", "defi", "derivatives", "arbitrum-ecosytem", "mvb", "okex-blockdream-ventures-portfolio"] tags, 48531152.55446851 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MUX Protocol inserted successfully.
Processing data for AXEL
Query:
            MERGE INTO coins1 c
            USING (SELECT AXEL name, ["filesharing"] tags, 48475333.16600399 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AXEL inserted successfully.
Processing data for SOMESING
Query:
            MERGE INTO coins1 c
            USING (SELECT SOMESING name, [] tags, 48451364.52918085 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SOMESING inserted successfully.
Processing data for Ark
Query:
            MERGE INTO coins1 c
            USING (SELECT Ark name, ["dpos", "marketplace", "payments", "state-channel", "polygon-ecosystem"] tags, 48330122.007500075 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ark inserted successfully.
Processing data for Euro Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Euro Coin name, ["stablecoin", "ethereum-ecosystem", "eur-stablecoin"] tags, 48017279.423294 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Euro Coin inserted successfully.
Processing data for Acala Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Acala Token name, ["defi", "substrate", "polkadot", "polkadot-ecosystem", "arrington-xrp-capital-portfolio", "spartan-group", "injective-ecosystem"] tags, 47841170.613326445 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Acala Token inserted successfully.
Processing data for RSS3
Query:
            MERGE INTO coins1 c
            USING (SELECT RSS3 name, ["coinbase-ventures-portfolio", "dragonfly-capital-portfolio", "fabric-ventures-portfolio", "hashkey-capital-portfolio", "huobi-capital-portfolio"] tags, 47785505.03183634 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RSS3 inserted successfully.
Processing data for Yield Guild Games
Query:
            MERGE INTO coins1 c
            USING (SELECT Yield Guild Games name, ["collectibles-nfts", "gaming", "entertainment", "dao", "metaverse", "a16z-portfolio", "play-to-earn", "animoca-brands-portfolio", "gaming-guild", "okex-blockdream-ventures-portfolio"] tags, 47772126.90684691 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Yield Guild Games inserted successfully.
Processing data for Sologenic
Query:
            MERGE INTO coins1 c
            USING (SELECT Sologenic name, [] tags, 47661610.58879586 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sologenic inserted successfully.
Processing data for Telos
Query:
            MERGE INTO coins1 c
            USING (SELECT Telos name, ["medium-of-exchange", "services", "enterprise-solutions", "collectibles-nfts", "defi", "zero-knowledge-proofs", "smart-contracts", "bnb-chain"] tags, 47031049.41217201 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Telos inserted successfully.
Processing data for Ampleforth Governance Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Ampleforth Governance Token name, ["dao", "governance", "near-protocol-ecosystem"] tags, 46787843.94571648 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ampleforth Governance Token inserted successfully.
Processing data for Utrust
Query:
            MERGE INTO coins1 c
            USING (SELECT Utrust name, ["cybersecurity", "payments", "smart-contracts", "elrond-ecosystem"] tags, 46668900.673238985 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Utrust inserted successfully.
Processing data for Veritaseum
Query:
            MERGE INTO coins1 c
            USING (SELECT Veritaseum name, ["services"] tags, 46589746.93175171 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Veritaseum inserted successfully.
Processing data for Metadium
Query:
            MERGE INTO coins1 c
            USING (SELECT Metadium name, ["platform", "identity", "kenetic-capital-portfolio"] tags, 46417611.779162414 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metadium inserted successfully.
Processing data for Moonriver
Query:
            MERGE INTO coins1 c
            USING (SELECT Moonriver name, ["interoperability", "smart-contracts", "polkadot-ecosystem", "moonriver-ecosystem"] tags, 46384356.189318545 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Moonriver inserted successfully.
Processing data for Dawn Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Dawn Protocol name, ["cosmos-ecosystem", "gaming", "injective-ecosystem"] tags, 46058296.59088155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dawn Protocol inserted successfully.
Processing data for MovieBloc
Query:
            MERGE INTO coins1 c
            USING (SELECT MovieBloc name, ["media", "content-creation", "video"] tags, 45825973.50160355 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MovieBloc inserted successfully.
Processing data for Meter Governance
Query:
            MERGE INTO coins1 c
            USING (SELECT Meter Governance name, ["defi", "interoperability", "bnb-chain"] tags, 45780364.592485316 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Meter Governance inserted successfully.
Processing data for ARPA
Query:
            MERGE INTO coins1 c
            USING (SELECT ARPA name, ["scaling", "arrington-xrp-capital-portfolio"] tags, 45386624.11126264 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ARPA inserted successfully.
Processing data for Rakon
Query:
            MERGE INTO coins1 c
            USING (SELECT Rakon name, [] tags, 44959055.446535975 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rakon inserted successfully.
Processing data for Cobak Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Cobak Token name, [] tags, 44818564.67728677 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cobak Token inserted successfully.
Processing data for AllianceBlock Nexera
Query:
            MERGE INTO coins1 c
            USING (SELECT AllianceBlock Nexera name, [] tags, 44675717.6835829 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AllianceBlock Nexera inserted successfully.
Processing data for Aavegotchi
Query:
            MERGE INTO coins1 c
            USING (SELECT Aavegotchi name, ["collectibles-nfts", "gaming", "dao", "governance", "metaverse", "polygon-ecosystem", "play-to-earn"] tags, 44556198.88461757 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aavegotchi inserted successfully.
Processing data for RichQUACK.com
Query:
            MERGE INTO coins1 c
            USING (SELECT RichQUACK.com name, ["defi", "memes", "metaverse", "bnb-chain"] tags, 44489046.68557701 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RichQUACK.com inserted successfully.
Processing data for Strike
Query:
            MERGE INTO coins1 c
            USING (SELECT Strike name, ["defi"] tags, 44234103.80239963 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Strike inserted successfully.
Processing data for Ampleforth
Query:
            MERGE INTO coins1 c
            USING (SELECT Ampleforth name, ["defi", "algorithmic-stablecoin", "rebase", "avalanche-ecosystem", "arrington-xrp-capital-portfolio", "alameda-research-portfolio", "pantera-capital-portfolio", "spartan-group"] tags, 44062276.96499598 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ampleforth inserted successfully.
Processing data for DEXTools
Query:
            MERGE INTO coins1 c
            USING (SELECT DEXTools name, ["analytics"] tags, 43903300.72874618 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DEXTools inserted successfully.
Processing data for Cannation
Query:
            MERGE INTO coins1 c
            USING (SELECT Cannation name, ["mineable"] tags, 43880181.327429324 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cannation inserted successfully.
Processing data for Rally
Query:
            MERGE INTO coins1 c
            USING (SELECT Rally name, ["yield-farming", "social-token", "social-money", "coinbase-ventures-portfolio", "kenetic-capital-portfolio", "ledgerprime-portfolio", "a16z-portfolio"] tags, 43729813.512363106 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rally inserted successfully.
Processing data for MXC
Query:
            MERGE INTO coins1 c
            USING (SELECT MXC name, ["iot", "substrate", "polkadot-ecosystem"] tags, 43608986.28592347 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MXC inserted successfully.
Processing data for Wanchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Wanchain name, ["marketplace", "enterprise-solutions", "defi", "interoperability"] tags, 43461084.113867514 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wanchain inserted successfully.
Processing data for Constellation
Query:
            MERGE INTO coins1 c
            USING (SELECT Constellation name, ["dag", "platform", "payments", "smart-contracts"] tags, 43205469.67279281 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Constellation inserted successfully.
Processing data for smARTOFGIVING
Query:
            MERGE INTO coins1 c
            USING (SELECT smARTOFGIVING name, [] tags, 42872111.58349894 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for smARTOFGIVING inserted successfully.
Processing data for Volt Inu V2
Query:
            MERGE INTO coins1 c
            USING (SELECT Volt Inu V2 name, ["medium-of-exchange", "collectibles-nfts", "gaming", "memes", "payments", "ethereum-ecosystem", "binance-smart-chain", "polygon-ecosystem", "doggone-doggerel"] tags, 42514560.20332246 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Volt Inu V2 inserted successfully.
Processing data for Gods Unchained
Query:
            MERGE INTO coins1 c
            USING (SELECT Gods Unchained name, ["collectibles-nfts", "gaming", "entertainment", "ethereum-ecosystem", "metaverse", "play-to-earn", "okex-blockdream-ventures-portfolio"] tags, 42277817.25481297 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gods Unchained inserted successfully.
Processing data for Raydium
Query:
            MERGE INTO coins1 c
            USING (SELECT Raydium name, ["decentralized-exchange-dex-token", "defi", "amm", "dex", "solana-ecosystem", "petrock-capital-portfolio"] tags, 42174085.067909196 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Raydium inserted successfully.
Processing data for NvirWorld
Query:
            MERGE INTO coins1 c
            USING (SELECT NvirWorld name, [] tags, 42103955.105134234 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NvirWorld inserted successfully.
Processing data for Chainge
Query:
            MERGE INTO coins1 c
            USING (SELECT Chainge name, [] tags, 42060886.40504578 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chainge inserted successfully.
Processing data for LCX
Query:
            MERGE INTO coins1 c
            USING (SELECT LCX name, [] tags, 41598127.98414814 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LCX inserted successfully.
Processing data for DeGate
Query:
            MERGE INTO coins1 c
            USING (SELECT DeGate name, ["zero-knowledge-proofs"] tags, 41542540.78145351 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeGate inserted successfully.
Processing data for Forta
Query:
            MERGE INTO coins1 c
            USING (SELECT Forta name, ["cybersecurity", "ai-big-data", "ethereum-ecosystem", "coinbase-ventures-portfolio", "blockchain-capital-portfolio", "a16z-portfolio", "placeholder-ventures-portfolio"] tags, 41277793.404207535 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Forta inserted successfully.
Processing data for XCAD Network
Query:
            MERGE INTO coins1 c
            USING (SELECT XCAD Network name, ["communications-social-media", "collectibles-nfts", "content-creation"] tags, 41147618.35971576 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XCAD Network inserted successfully.
Processing data for sUSD
Query:
            MERGE INTO coins1 c
            USING (SELECT sUSD name, ["store-of-value", "defi", "stablecoin", "algorithmic-stablecoin", "synthetics", "fantom-ecosystem", "usd-stablecoin"] tags, 41067169.507234365 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for sUSD inserted successfully.
Processing data for Zebec Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Zebec Protocol name, ["binance-smart-chain", "coinbase-ventures-portfolio", "solana-ecosystem", "circle-ventures-portfolio"] tags, 41036138.89573844 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zebec Protocol inserted successfully.
Processing data for SuperRare
Query:
            MERGE INTO coins1 c
            USING (SELECT SuperRare name, ["marketplace", "collectibles-nfts", "dao"] tags, 40791313.10015891 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SuperRare inserted successfully.
Processing data for Klever
Query:
            MERGE INTO coins1 c
            USING (SELECT Klever name, ["wallet"] tags, 40488415.74206794 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Klever inserted successfully.
Processing data for NEST Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT NEST Protocol name, ["defi", "oracles"] tags, 40424081.52767459 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NEST Protocol inserted successfully.
Processing data for Flamingo
Query:
            MERGE INTO coins1 c
            USING (SELECT Flamingo name, ["defi", "dao", "yield-farming", "binance-chain", "binance-launchpool"] tags, 40361939.178103015 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Flamingo inserted successfully.
Processing data for Chainbing
Query:
            MERGE INTO coins1 c
            USING (SELECT Chainbing name, [] tags, 40194265.882413596 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chainbing inserted successfully.
Processing data for Marinade Staked SOL
Query:
            MERGE INTO coins1 c
            USING (SELECT Marinade Staked SOL name, ["solana-ecosystem", "liquid-staking-derivatives", "ftx-bankruptcy-estate"] tags, 40145710.83178856 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Marinade Staked SOL inserted successfully.
Processing data for Polkastarter
Query:
            MERGE INTO coins1 c
            USING (SELECT Polkastarter name, ["defi", "polkadot", "polkadot-ecosystem", "launchpad", "bnb-chain"] tags, 40120589.611777805 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polkastarter inserted successfully.
Processing data for Komodo
Query:
            MERGE INTO coins1 c
            USING (SELECT Komodo name, ["mineable", "hybrid-dpow-pow", "equihash", "platform", "atomic-swaps", "enterprise-solutions"] tags, 40009171.58858073 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Komodo inserted successfully.
Processing data for Perpetual Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Perpetual Protocol name, ["decentralized-exchange-dex-token", "defi", "derivatives", "scaling", "amm", "three-arrows-capital-portfolio", "cms-holdings-portfolio", "alameda-research-portfolio", "multicoin-capital-portfolio", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 39975093.049073614 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Perpetual Protocol inserted successfully.
Processing data for ThunderCore
Query:
            MERGE INTO coins1 c
            USING (SELECT ThunderCore name, ["platform", "kenetic-capital-portfolio", "huobi-capital-portfolio", "pantera-capital-portfolio"] tags, 39691276.59925756 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ThunderCore inserted successfully.
Processing data for Metacraft
Query:
            MERGE INTO coins1 c
            USING (SELECT Metacraft name, [] tags, 39443128.26409579 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metacraft inserted successfully.
Processing data for Virtua
Query:
            MERGE INTO coins1 c
            USING (SELECT Virtua name, ["collectibles-nfts", "metaverse", "exnetwork-capital-portfolio", "polygon-ecosystem"] tags, 39194495.673148565 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Virtua inserted successfully.
Processing data for Electroneum
Query:
            MERGE INTO coins1 c
            USING (SELECT Electroneum name, ["mineable", "medium-of-exchange", "wallet"] tags, 39151970.853062384 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Electroneum inserted successfully.
Processing data for Adshares
Query:
            MERGE INTO coins1 c
            USING (SELECT Adshares name, ["marketing", "gaming", "metaverse", "bnb-chain"] tags, 38938395.99792873 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Adshares inserted successfully.
Processing data for Bella Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Bella Protocol name, ["defi", "ethereum-ecosystem", "yield-aggregator", "binance-launchpool", "chromia-ecosystem", "polygon-ecosystem", "bnb-chain"] tags, 38889086.212275796 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bella Protocol inserted successfully.
Processing data for DeFi Pulse Index
Query:
            MERGE INTO coins1 c
            USING (SELECT DeFi Pulse Index name, ["defi", "defi-index"] tags, 38708878.31571243 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeFi Pulse Index inserted successfully.
Processing data for HELLO
Query:
            MERGE INTO coins1 c
            USING (SELECT HELLO name, [] tags, 38694658.570889615 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HELLO inserted successfully.
Processing data for Saitama
Query:
            MERGE INTO coins1 c
            USING (SELECT Saitama name, [] tags, 38684347.11012056 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Saitama inserted successfully.
Processing data for Enzyme
Query:
            MERGE INTO coins1 c
            USING (SELECT Enzyme name, ["asset-management", "defi", "kenetic-capital-portfolio", "placeholder-ventures-portfolio"] tags, 38382695.258305155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Enzyme inserted successfully.
Processing data for ONUS
Query:
            MERGE INTO coins1 c
            USING (SELECT ONUS name, [] tags, 38162872.42304685 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ONUS inserted successfully.
Processing data for LTO Network
Query:
            MERGE INTO coins1 c
            USING (SELECT LTO Network name, ["pos", "platform", "enterprise-solutions", "collectibles-nfts", "dao-maker", "bnb-chain"] tags, 37937094.35384891 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LTO Network inserted successfully.
Processing data for HUNT
Query:
            MERGE INTO coins1 c
            USING (SELECT HUNT name, [] tags, 37854304.285503305 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HUNT inserted successfully.
Processing data for Cortex
Query:
            MERGE INTO coins1 c
            USING (SELECT Cortex name, ["mineable", "platform", "ai-big-data", "iot", "smart-contracts", "kenetic-capital-portfolio"] tags, 37667320.60450953 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cortex inserted successfully.
Processing data for Celo Dollar
Query:
            MERGE INTO coins1 c
            USING (SELECT Celo Dollar name, ["defi", "stablecoin", "algorithmic-stablecoin", "celo-ecosystem", "usd-stablecoin"] tags, 37656243.79253425 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Celo Dollar inserted successfully.
Processing data for ZEON
Query:
            MERGE INTO coins1 c
            USING (SELECT ZEON name, [] tags, 37654977.766123936 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZEON inserted successfully.
Processing data for Bytom
Query:
            MERGE INTO coins1 c
            USING (SELECT Bytom name, ["mineable", "platform", "cosmos-ecosystem", "payments", "smart-contracts", "polygon-ecosystem", "injective-ecosystem", "real-world-assets"] tags, 37210167.65396918 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bytom inserted successfully.
Processing data for FirmaChain
Query:
            MERGE INTO coins1 c
            USING (SELECT FirmaChain name, ["cosmos-ecosystem", "injective-ecosystem"] tags, 36964604.537120335 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FirmaChain inserted successfully.
Processing data for Velas
Query:
            MERGE INTO coins1 c
            USING (SELECT Velas name, [] tags, 36760377.43090512 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Velas inserted successfully.
Processing data for IRISnet
Query:
            MERGE INTO coins1 c
            USING (SELECT IRISnet name, ["cosmos-ecosystem", "injective-ecosystem"] tags, 36305681.66079844 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IRISnet inserted successfully.
Processing data for DFI.Money
Query:
            MERGE INTO coins1 c
            USING (SELECT DFI.Money name, ["defi", "dao", "yield-farming", "binance-chain", "yield-aggregator", "governance", "bnb-chain"] tags, 36156771.17807882 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DFI.Money inserted successfully.
Processing data for Sweat Economy
Query:
            MERGE INTO coins1 c
            USING (SELECT Sweat Economy name, ["sports", "collectibles-nfts", "gaming", "staking", "near-protocol-ecosystem", "move-to-earn"] tags, 35888692.628081575 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sweat Economy inserted successfully.
Processing data for PlatON
Query:
            MERGE INTO coins1 c
            USING (SELECT PlatON name, ["ai-big-data"] tags, 35818555.678335324 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PlatON inserted successfully.
Processing data for FC Barcelona Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT FC Barcelona Fan Token name, ["sports", "fan-token", "binance-launchpad", "soccer"] tags, 35788385.62887564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FC Barcelona Fan Token inserted successfully.
Processing data for Manchester City Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Manchester City Fan Token name, ["sports", "fan-token", "soccer"] tags, 35759259.068252124 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Manchester City Fan Token inserted successfully.
Processing data for Litentry
Query:
            MERGE INTO coins1 c
            USING (SELECT Litentry name, ["defi", "dapp", "ethereum-ecosystem", "substrate", "polkadot", "polkadot-ecosystem", "web3", "injective-ecosystem"] tags, 35505463.53716222 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Litentry inserted successfully.
Processing data for Origin Dollar
Query:
            MERGE INTO coins1 c
            USING (SELECT Origin Dollar name, ["defi", "stablecoin", "usd-stablecoin"] tags, 35121695.63051933 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Origin Dollar inserted successfully.
Processing data for KLAYswap Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT KLAYswap Protocol name, ["defi"] tags, 34794835.20379835 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KLAYswap Protocol inserted successfully.
Processing data for QuickSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT QuickSwap name, ["decentralized-exchange-dex-token", "defi", "yield-farming", "amm", "polygon-ecosystem"] tags, 34299074.660448514 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for QuickSwap inserted successfully.
Processing data for Hifi Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Hifi Finance name, [] tags, 34122802.4499781 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hifi Finance inserted successfully.
Processing data for Orion Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Orion Protocol name, ["defi", "dex", "algorand-ecosystem", "avalanche-ecosystem", "dao-maker", "exnetwork-capital-portfolio", "fantom-ecosystem", "injective-ecosystem"] tags, 33898430.449672 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Orion Protocol inserted successfully.
Processing data for DXdao
Query:
            MERGE INTO coins1 c
            USING (SELECT DXdao name, ["defi", "dao", "governance", "polygon-ecosystem", "arbitrum-ecosytem"] tags, 33884515.67173507 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DXdao inserted successfully.
Processing data for Alpaca Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Alpaca Finance name, ["defi", "staking", "yield-farming", "yield-aggregator", "governance", "lending-borowing", "polygon-ecosystem", "fantom-ecosystem", "bnb-chain"] tags, 33835763.67977435 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alpaca Finance inserted successfully.
Processing data for Bloktopia
Query:
            MERGE INTO coins1 c
            USING (SELECT Bloktopia name, ["metaverse", "polkafoundry-red-kite", "bullperks-launchpad", "animoca-brands-portfolio", "oxbull"] tags, 33804251.436497845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bloktopia inserted successfully.
Processing data for Efinity Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Efinity Token name, ["collectibles-nfts", "gaming", "polkadot-ecosystem", "metaverse", "okex-blockdream-ventures-portfolio"] tags, 33781688.146669745 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Efinity Token inserted successfully.
Processing data for Uquid Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Uquid Coin name, ["asset-management", "commodities", "marketplace", "defi", "e-commerce", "payments", "token", "defi-2"] tags, 33485457.61657468 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Uquid Coin inserted successfully.
Processing data for Verge
Query:
            MERGE INTO coins1 c
            USING (SELECT Verge name, ["mineable", "multiple-algorithms", "medium-of-exchange", "privacy"] tags, 33372814.619870894 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Verge inserted successfully.
Processing data for Bounce Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Bounce Token name, ["defi", "polkadot-ecosystem", "bounce-launchpad", "bnb-chain"] tags, 33246898.84342128 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bounce Token inserted successfully.
Processing data for OG Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT OG Fan Token name, ["sports", "fan-token", "soccer"] tags, 33197964.279245403 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OG Fan Token inserted successfully.
Processing data for Moss Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Moss Coin name, [] tags, 33173186.5824494 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Moss Coin inserted successfully.
Processing data for RAI Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT RAI Finance name, [] tags, 32966790.37768166 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RAI Finance inserted successfully.
Processing data for Ethernity
Query:
            MERGE INTO coins1 c
            USING (SELECT Ethernity name, ["collectibles-nfts", "gaming", "metaverse", "polkastarter"] tags, 32747985.430770695 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ethernity inserted successfully.
Processing data for Qredo
Query:
            MERGE INTO coins1 c
            USING (SELECT Qredo name, ["spartan-group"] tags, 32636803.784960102 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Qredo inserted successfully.
Processing data for Beefy Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Beefy Finance name, ["defi", "yield-farming", "yield-aggregator", "governance", "heco-ecosystem", "avalanche-ecosystem", "polygon-ecosystem", "fantom-ecosystem", "arbitrum-ecosytem", "moonriver-ecosystem", "bnb-chain", "optimism-ecosystem"] tags, 32490541.492572818 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Beefy Finance inserted successfully.
Processing data for Quickswap [New]
Query:
            MERGE INTO coins1 c
            USING (SELECT Quickswap [New] name, [] tags, 32354175.44761699 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Quickswap [New] inserted successfully.
Processing data for FNCY
Query:
            MERGE INTO coins1 c
            USING (SELECT FNCY name, [] tags, 32321254.78248459 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FNCY inserted successfully.
Processing data for Carry
Query:
            MERGE INTO coins1 c
            USING (SELECT Carry name, ["retail", "loyalty"] tags, 32301381.33585991 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Carry inserted successfully.
Processing data for Rook
Query:
            MERGE INTO coins1 c
            USING (SELECT Rook name, ["defi", "yield-farming", "three-arrows-capital-portfolio", "alameda-research-portfolio", "olympus-pro-ecosystem"] tags, 31993969.01510295 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rook inserted successfully.
Processing data for BarnBridge
Query:
            MERGE INTO coins1 c
            USING (SELECT BarnBridge name, ["defi", "dao", "yield-farming", "governance", "parafi-capital", "olympus-pro-ecosystem", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 31922894.901793662 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BarnBridge inserted successfully.
Processing data for Alchemix
Query:
            MERGE INTO coins1 c
            USING (SELECT Alchemix name, ["defi", "yield-farming", "governance", "lending-borowing", "olympus-pro-ecosystem", "defi-2", "protocol-owned-liquidity", "spartan-group"] tags, 31591793.31214178 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alchemix inserted successfully.
Processing data for Propy
Query:
            MERGE INTO coins1 c
            USING (SELECT Propy name, ["real-estate", "escrow", "smart-contracts", "arrington-xrp-capital-portfolio"] tags, 31551438.94789395 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Propy inserted successfully.
Processing data for Phoenix
Query:
            MERGE INTO coins1 c
            USING (SELECT Phoenix name, ["retail", "ai-big-data", "enterprise-solutions", "web3"] tags, 31054974.343211994 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Phoenix inserted successfully.
Processing data for Fei USD
Query:
            MERGE INTO coins1 c
            USING (SELECT Fei USD name, ["defi", "stablecoin", "algorithmic-stablecoin"] tags, 31040751.82127409 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fei USD inserted successfully.
Processing data for Lyra
Query:
            MERGE INTO coins1 c
            USING (SELECT Lyra name, ["options", "optimism-ecosystem"] tags, 30979662.165733952 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lyra inserted successfully.
Processing data for Opulous
Query:
            MERGE INTO coins1 c
            USING (SELECT Opulous name, ["music", "algorand-ecosystem", "trustswap-launchpad", "spartan-group", "real-world-assets"] tags, 30908751.55294769 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Opulous inserted successfully.
Processing data for League of Kingdoms Arena
Query:
            MERGE INTO coins1 c
            USING (SELECT League of Kingdoms Arena name, ["collectibles-nfts", "gaming", "entertainment", "ethereum-ecosystem", "binance-launchpad", "a16z-portfolio", "polygon-ecosystem", "skyvision-capital-portfolio"] tags, 30751489.15227296 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for League of Kingdoms Arena inserted successfully.
Processing data for BakeryToken
Query:
            MERGE INTO coins1 c
            USING (SELECT BakeryToken name, ["collectibles-nfts", "defi", "gaming", "binance-chain", "amm", "dex", "bnb-chain"] tags, 30739672.580828715 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BakeryToken inserted successfully.
Processing data for Persistence
Query:
            MERGE INTO coins1 c
            USING (SELECT Persistence name, ["dpos", "cosmos-ecosystem", "defi", "liquid-staking-derivatives"] tags, 30690498.87600053 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Persistence inserted successfully.
Processing data for Dejitaru Tsuka
Query:
            MERGE INTO coins1 c
            USING (SELECT Dejitaru Tsuka name, ["memes"] tags, 30478371.0425932 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dejitaru Tsuka inserted successfully.
Processing data for BENQI
Query:
            MERGE INTO coins1 c
            USING (SELECT BENQI name, ["defi", "avalanche-ecosystem", "lending-borowing", "arrington-xrp-capital-portfolio", "spartan-group", "liquid-staking-derivatives"] tags, 30341581.291438147 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BENQI inserted successfully.
Processing data for Boba Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Boba Network name, ["scaling", "layer-2", "rollups"] tags, 30303540.641876623 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Boba Network inserted successfully.
Processing data for SelfKey
Query:
            MERGE INTO coins1 c
            USING (SELECT SelfKey name, ["platform", "ai-big-data", "enterprise-solutions", "identity"] tags, 30275576.487391382 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SelfKey inserted successfully.
Processing data for CLV
Query:
            MERGE INTO coins1 c
            USING (SELECT CLV name, ["ethereum-ecosystem", "substrate", "polkadot-ecosystem", "fantom-ecosystem", "okex-blockdream-ventures-portfolio", "bnb-chain"] tags, 30247495.13318567 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CLV inserted successfully.
Processing data for Groestlcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Groestlcoin name, ["mineable", "pow", "groestl", "medium-of-exchange"] tags, 30182850.37050822 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Groestlcoin inserted successfully.
Processing data for TokenPocket
Query:
            MERGE INTO coins1 c
            USING (SELECT TokenPocket name, ["wallet", "bnb-chain"] tags, 30178740.814369116 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TokenPocket inserted successfully.
Processing data for Defigram
Query:
            MERGE INTO coins1 c
            USING (SELECT Defigram name, [] tags, 30114768.4746796 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Defigram inserted successfully.
Processing data for Venus USDT
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus USDT name, ["stablecoin", "bnb-chain"] tags, 30022535.410178848 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus USDT inserted successfully.
Processing data for Wirex Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Wirex Token name, ["asset-management", "centralized-exchange", "payments", "mobile-payment"] tags, 29961274.93666417 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wirex Token inserted successfully.
Processing data for Dione Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Dione Protocol name, [] tags, 29859445.67037072 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dione Protocol inserted successfully.
Processing data for Sapphire
Query:
            MERGE INTO coins1 c
            USING (SELECT Sapphire name, ["masternodes"] tags, 29840826.245743506 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sapphire inserted successfully.
Processing data for UFO Gaming
Query:
            MERGE INTO coins1 c
            USING (SELECT UFO Gaming name, ["platform", "collectibles-nfts", "gaming", "metaverse", "play-to-earn"] tags, 29510884.471754376 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UFO Gaming inserted successfully.
Processing data for DIA
Query:
            MERGE INTO coins1 c
            USING (SELECT DIA name, ["platform", "ai-big-data", "defi", "oracles", "smart-contracts", "ethereum-ecosystem", "substrate", "polkadot-ecosystem", "avalanche-ecosystem", "solana-ecosystem", "exnetwork-capital-portfolio", "polygon-ecosystem", "fantom-ecosystem", "web3", "near-protocol-ecosystem", "arbitrum-ecosytem", "injective-ecosystem", "bnb-chain"] tags, 29304618.583938494 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DIA inserted successfully.
Processing data for Ultiledger
Query:
            MERGE INTO coins1 c
            USING (SELECT Ultiledger name, ["services"] tags, 29115540.013528667 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ultiledger inserted successfully.
Processing data for Gelato
Query:
            MERGE INTO coins1 c
            USING (SELECT Gelato name, ["defi", "olympus-pro-ecosystem", "mvb"] tags, 29081079.016498193 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gelato inserted successfully.
Processing data for Hourglass
Query:
            MERGE INTO coins1 c
            USING (SELECT Hourglass name, [] tags, 28945505.61102863 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hourglass inserted successfully.
Processing data for NEOPIN
Query:
            MERGE INTO coins1 c
            USING (SELECT NEOPIN name, [] tags, 28862996.73829163 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NEOPIN inserted successfully.
Processing data for Grove Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Grove Coin name, [] tags, 28821823.258385163 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Grove Coin inserted successfully.
Processing data for Alpine F1 Team Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Alpine F1 Team Fan Token name, ["fan-token", "binance-launchpad", "bnb-chain"] tags, 28783951.447511405 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alpine F1 Team Fan Token inserted successfully.
Processing data for Refereum
Query:
            MERGE INTO coins1 c
            USING (SELECT Refereum name, ["media", "content-creation", "gaming", "kenetic-capital-portfolio"] tags, 28756515.183905445 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Refereum inserted successfully.
Processing data for Syntropy
Query:
            MERGE INTO coins1 c
            USING (SELECT Syntropy name, ["iot", "scaling", "staking", "substrate", "governance", "web3"] tags, 28726346.719917223 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Syntropy inserted successfully.
Processing data for RAMP
Query:
            MERGE INTO coins1 c
            USING (SELECT RAMP name, ["defi", "solana-ecosystem", "lending-borowing", "arrington-xrp-capital-portfolio", "alameda-research-portfolio", "parafi-capital", "exnetwork-capital-portfolio", "injective-ecosystem", "bnb-chain"] tags, 28680573.07133172 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RAMP inserted successfully.
Processing data for Travala.com
Query:
            MERGE INTO coins1 c
            USING (SELECT Travala.com name, ["hospitality", "marketplace", "medium-of-exchange", "payments", "tourism", "fantom-ecosystem", "bnb-chain"] tags, 28612878.677484713 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Travala.com inserted successfully.
Processing data for Shiba Predator
Query:
            MERGE INTO coins1 c
            USING (SELECT Shiba Predator name, ["memes"] tags, 28601416.84159185 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shiba Predator inserted successfully.
Processing data for Adventure Gold
Query:
            MERGE INTO coins1 c
            USING (SELECT Adventure Gold name, [] tags, 28545755.5480953 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Adventure Gold inserted successfully.
Processing data for Steem Dollars
Query:
            MERGE INTO coins1 c
            USING (SELECT Steem Dollars name, ["media", "content-creation", "stablecoin"] tags, 28501097.5287721 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Steem Dollars inserted successfully.
Processing data for WhiteCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT WhiteCoin name, ["platform", "interoperability", "staking", "rpos"] tags, 28363087.515176784 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WhiteCoin inserted successfully.
Processing data for Sentinel Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Sentinel Protocol name, ["ai-big-data"] tags, 28276607.267085776 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sentinel Protocol inserted successfully.
Processing data for Altura
Query:
            MERGE INTO coins1 c
            USING (SELECT Altura name, ["marketplace", "collectibles-nfts", "gaming", "metaverse", "oxbull", "bnb-chain"] tags, 28258322.139200747 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Altura inserted successfully.
Processing data for MAP Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT MAP Protocol name, ["cross-chain"] tags, 28239873.595656175 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MAP Protocol inserted successfully.
Processing data for Keep3rV1
Query:
            MERGE INTO coins1 c
            USING (SELECT Keep3rV1 name, ["defi", "yearn-partnerships", "fantom-ecosystem", "olympus-pro-ecosystem"] tags, 28211774.5201413 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Keep3rV1 inserted successfully.
Processing data for Gas
Query:
            MERGE INTO coins1 c
            USING (SELECT Gas name, ["medium-of-exchange", "payments", "smart-contracts"] tags, 28144206.0304092 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gas inserted successfully.
Processing data for Aurora
Query:
            MERGE INTO coins1 c
            USING (SELECT Aurora name, ["okex-blockdream-ventures-portfolio", "injective-ecosystem"] tags, 28096195.67305533 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aurora inserted successfully.
Processing data for Akash Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Akash Network name, ["cosmos-ecosystem", "ai-big-data", "distributed-computing", "web3", "injective-ecosystem"] tags, 28071858.80369778 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Akash Network inserted successfully.
Processing data for Alpha Quark Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Alpha Quark Token name, ["bnb-chain"] tags, 28057319.20714279 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alpha Quark Token inserted successfully.
Processing data for Gifto
Query:
            MERGE INTO coins1 c
            USING (SELECT Gifto name, ["media", "loyalty", "content-creation", "binance-launchpad", "pantera-capital-portfolio"] tags, 27974050.558343764 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gifto inserted successfully.
Processing data for NFT Worlds
Query:
            MERGE INTO coins1 c
            USING (SELECT NFT Worlds name, ["collectibles-nfts", "gaming", "metaverse"] tags, 27965421.465972524 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFT Worlds inserted successfully.
Processing data for Bitcicoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcicoin name, ["centralized-exchange"] tags, 27792351.730547328 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcicoin inserted successfully.
Processing data for Dego Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Dego Finance name, ["collectibles-nfts", "defi", "dao", "polkadot-ecosystem", "governance", "binance-launchpad", "bnb-chain"] tags, 27510904.867720213 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dego Finance inserted successfully.
Processing data for Nexa
Query:
            MERGE INTO coins1 c
            USING (SELECT Nexa name, ["mineable", "pow", "store-of-value", "defi", "scaling", "smart-contracts"] tags, 27267957.98930713 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nexa inserted successfully.
Processing data for BitShares
Query:
            MERGE INTO coins1 c
            USING (SELECT BitShares name, ["pos", "sha-512", "marketplace", "decentralized-exchange-dex-token", "defi", "synthetics"] tags, 27210999.83434053 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitShares inserted successfully.
Processing data for AhaToken
Query:
            MERGE INTO coins1 c
            USING (SELECT AhaToken name, [] tags, 27194675.65492612 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AhaToken inserted successfully.
Processing data for Measurable Data Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Measurable Data Token name, ["marketplace", "ai-big-data"] tags, 26965666.36911564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Measurable Data Token inserted successfully.
Processing data for Serum
Query:
            MERGE INTO coins1 c
            USING (SELECT Serum name, ["decentralized-exchange-dex-token", "defi", "derivatives", "smart-contracts", "staking", "solana-ecosystem", "cms-holdings-portfolio", "coinfund-portfolio", "kenetic-capital-portfolio", "alameda-research-portfolio", "exnetwork-capital-portfolio", "ftx-bankruptcy-estate"] tags, 26945619.49454737 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Serum inserted successfully.
Processing data for MonaCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT MonaCoin name, ["mineable", "pow", "lyra2rev2", "medium-of-exchange", "memes", "payments"] tags, 26888080.692381483 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MonaCoin inserted successfully.
Processing data for USDK
Query:
            MERGE INTO coins1 c
            USING (SELECT USDK name, ["medium-of-exchange", "stablecoin", "asset-backed-stablecoin", "usd-stablecoin"] tags, 26679935.97811497 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for USDK inserted successfully.
Processing data for YooShi
Query:
            MERGE INTO coins1 c
            USING (SELECT YooShi name, ["collectibles-nfts", "gaming", "bnb-chain"] tags, 26612304.967896458 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for YooShi inserted successfully.
Processing data for Cream Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Cream Finance name, ["defi", "dao", "amm", "yearn-partnerships", "governance", "lending-borowing", "alameda-research-portfolio", "fantom-ecosystem", "arbitrum-ecosytem", "bnb-chain"] tags, 26498858.975636538 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cream Finance inserted successfully.
Processing data for LeverFi
Query:
            MERGE INTO coins1 c
            USING (SELECT LeverFi name, ["iostoken", "arrington-xrp-capital-portfolio", "alameda-research-portfolio", "parafi-capital"] tags, 26383169.766883142 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LeverFi inserted successfully.
Processing data for Reserve
Query:
            MERGE INTO coins1 c
            USING (SELECT Reserve name, ["defi", "stablecoin", "asset-backed-stablecoin", "coinbase-ventures-portfolio"] tags, 26084464.261594098 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Reserve inserted successfully.
Processing data for Fusion
Query:
            MERGE INTO coins1 c
            USING (SELECT Fusion name, ["platform", "defi", "payments"] tags, 25547291.0500338 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fusion inserted successfully.
Processing data for Angola
Query:
            MERGE INTO coins1 c
            USING (SELECT Angola name, [] tags, 25529100.122252174 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Angola inserted successfully.
Processing data for Venus XVS
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus XVS name, ["bnb-chain"] tags, 25256039.682750255 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus XVS inserted successfully.
Processing data for Bitcoin Diamond
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin Diamond name, ["mineable", "medium-of-exchange", "payments", "btc-ecosystem"] tags, 25061676.77723656 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin Diamond inserted successfully.
Processing data for Contentos
Query:
            MERGE INTO coins1 c
            USING (SELECT Contentos name, ["media", "content-creation", "video"] tags, 25031841.49104744 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Contentos inserted successfully.
Processing data for SONM (BEP-20)
Query:
            MERGE INTO coins1 c
            USING (SELECT SONM (BEP-20) name, ["bnb-chain"] tags, 24787389.21328623 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SONM (BEP-20) inserted successfully.
Processing data for Tokenlon Network Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Tokenlon Network Token name, ["decentralized-exchange-dex-token", "defi", "arbitrum-ecosytem"] tags, 24467149.34984901 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tokenlon Network Token inserted successfully.
Processing data for Tranchess
Query:
            MERGE INTO coins1 c
            USING (SELECT Tranchess name, ["defi", "derivatives", "staking", "yield-farming", "binance-smart-chain", "three-arrows-capital-portfolio", "governance", "binance-labs-portfolio", "mvb", "bnb-chain", "liquid-staking-derivatives"] tags, 24338583.962268937 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tranchess inserted successfully.
Processing data for TROY
Query:
            MERGE INTO coins1 c
            USING (SELECT TROY name, ["binance-launchpad"] tags, 24264963.76310435 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TROY inserted successfully.
Processing data for ONBUFF
Query:
            MERGE INTO coins1 c
            USING (SELECT ONBUFF name, ["ethereum-ecosystem"] tags, 24214054.7904012 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ONBUFF inserted successfully.
Processing data for Voxies
Query:
            MERGE INTO coins1 c
            USING (SELECT Voxies name, ["collectibles-nfts", "gaming", "binance-launchpad", "play-to-earn"] tags, 24202830.001758993 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Voxies inserted successfully.
Processing data for Gomining
Query:
            MERGE INTO coins1 c
            USING (SELECT Gomining name, ["collectibles-nfts", "gaming", "ethereum-ecosystem", "bnb-chain"] tags, 24201987.396794792 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gomining inserted successfully.
Processing data for H2O DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT H2O DAO name, [] tags, 24192152.831312466 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for H2O DAO inserted successfully.
Processing data for GuildFi
Query:
            MERGE INTO coins1 c
            USING (SELECT GuildFi name, ["gaming", "coinbase-ventures-portfolio", "alameda-research-portfolio", "pantera-capital-portfolio", "play-to-earn", "animoca-brands-portfolio", "gaming-guild", "skyvision-capital-portfolio"] tags, 24169315.35343885 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GuildFi inserted successfully.
Processing data for KardiaChain
Query:
            MERGE INTO coins1 c
            USING (SELECT KardiaChain name, ["dpos", "platform", "enterprise-solutions", "interoperability", "scaling", "sharding", "smart-contracts", "staking", "injective-ecosystem"] tags, 24062086.861691736 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KardiaChain inserted successfully.
Processing data for Paris Saint-Germain Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Paris Saint-Germain Fan Token name, ["sports", "fan-token", "soccer"] tags, 24031670.19388073 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Paris Saint-Germain Fan Token inserted successfully.
Processing data for TrustSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT TrustSwap name, ["defi", "launchpad", "avalanche-ecosystem"] tags, 24009142.30218317 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TrustSwap inserted successfully.
Processing data for Star Atlas DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Star Atlas DAO name, ["collectibles-nfts", "gaming", "solana-ecosystem", "metaverse", "petrock-capital-portfolio", "play-to-earn"] tags, 23922416.04888646 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Star Atlas DAO inserted successfully.
Processing data for Ellipsis
Query:
            MERGE INTO coins1 c
            USING (SELECT Ellipsis name, ["decentralized-exchange-dex-token", "defi", "dex", "bnb-chain"] tags, 23916990.318111602 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ellipsis inserted successfully.
Processing data for Unifi Protocol DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Unifi Protocol DAO name, ["defi", "binance-launchpool", "bnb-chain"] tags, 23882422.882910654 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unifi Protocol DAO inserted successfully.
Processing data for VIDT DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT VIDT DAO name, ["cybersecurity", "platform", "services", "ai-big-data", "enterprise-solutions", "collectibles-nfts", "gaming", "interoperability", "iot", "smart-contracts", "binance-smart-chain", "play-to-earn", "web3"] tags, 23838656.836337373 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VIDT DAO inserted successfully.
Processing data for Elastos
Query:
            MERGE INTO coins1 c
            USING (SELECT Elastos name, ["mineable", "platform", "distributed-computing", "filesharing", "state-channel", "web3"] tags, 23802200.91542969 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Elastos inserted successfully.
Processing data for CoinEx Token
Query:
            MERGE INTO coins1 c
            USING (SELECT CoinEx Token name, ["cosmos-ecosystem", "decentralized-exchange-dex-token", "algorand-ecosystem", "injective-ecosystem"] tags, 23684571.972273838 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CoinEx Token inserted successfully.
Processing data for REI Network
Query:
            MERGE INTO coins1 c
            USING (SELECT REI Network name, [] tags, 23500900.764239166 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for REI Network inserted successfully.
Processing data for Minswap
Query:
            MERGE INTO coins1 c
            USING (SELECT Minswap name, [] tags, 23120587.905781973 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Minswap inserted successfully.
Processing data for Maple
Query:
            MERGE INTO coins1 c
            USING (SELECT Maple name, ["defi", "spartan-group", "real-world-assets", "circle-ventures-portfolio"] tags, 23080166.07231557 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Maple inserted successfully.
Processing data for Star Atlas
Query:
            MERGE INTO coins1 c
            USING (SELECT Star Atlas name, ["collectibles-nfts", "gaming", "solana-ecosystem", "metaverse", "petrock-capital-portfolio", "play-to-earn"] tags, 22988950.97424235 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Star Atlas inserted successfully.
Processing data for StaFi
Query:
            MERGE INTO coins1 c
            USING (SELECT StaFi name, ["defi", "substrate", "polkadot", "polkadot-ecosystem", "exnetwork-capital-portfolio", "injective-ecosystem", "liquid-staking-derivatives"] tags, 22951967.197563298 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for StaFi inserted successfully.
Processing data for Ambire AdEx
Query:
            MERGE INTO coins1 c
            USING (SELECT Ambire AdEx name, ["marketing", "smart-contracts", "substrate", "polkadot", "polkadot-ecosystem", "web3", "bnb-chain", "generative-ai"] tags, 22948121.580484033 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ambire AdEx inserted successfully.
Processing data for dForce
Query:
            MERGE INTO coins1 c
            USING (SELECT dForce name, ["defi", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 22946062.21192129 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for dForce inserted successfully.
Processing data for Firo
Query:
            MERGE INTO coins1 c
            USING (SELECT Firo name, ["mineable", "pow", "medium-of-exchange", "privacy", "zero-knowledge-proofs", "masternodes"] tags, 22901337.196476117 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Firo inserted successfully.
Processing data for ApolloX
Query:
            MERGE INTO coins1 c
            USING (SELECT ApolloX name, [] tags, 22890271.43039372 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ApolloX inserted successfully.
Processing data for NULS
Query:
            MERGE INTO coins1 c
            USING (SELECT NULS name, ["mineable", "platform", "enterprise-solutions"] tags, 22816399.71241005 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NULS inserted successfully.
Processing data for Æternity
Query:
            MERGE INTO coins1 c
            USING (SELECT Æternity name, ["mineable", "medium-of-exchange", "smart-contracts"] tags, 22796269.391056985 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Æternity inserted successfully.
Processing data for OAX
Query:
            MERGE INTO coins1 c
            USING (SELECT OAX name, ["marketplace", "substrate", "polkadot", "polkadot-ecosystem", "kenetic-capital-portfolio"] tags, 22780401.768956613 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OAX inserted successfully.
Processing data for Streamr
Query:
            MERGE INTO coins1 c
            USING (SELECT Streamr name, ["platform", "ai-big-data", "distributed-computing", "filesharing", "iot", "fabric-ventures-portfolio", "web3"] tags, 22757526.515037935 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Streamr inserted successfully.
Processing data for NuNet
Query:
            MERGE INTO coins1 c
            USING (SELECT NuNet name, ["ai-big-data"] tags, 22494543.34410496 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NuNet inserted successfully.
Processing data for Bluzelle
Query:
            MERGE INTO coins1 c
            USING (SELECT Bluzelle name, ["platform", "cosmos-ecosystem", "distributed-computing", "filesharing", "smart-contracts", "storage", "polkadot-ecosystem", "kenetic-capital-portfolio", "injective-ecosystem"] tags, 22437982.614991017 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bluzelle inserted successfully.
Processing data for S.S. Lazio Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT S.S. Lazio Fan Token name, ["fan-token", "binance-launchpad", "bnb-chain"] tags, 22200756.251328766 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for S.S. Lazio Fan Token inserted successfully.
Processing data for GameZone
Query:
            MERGE INTO coins1 c
            USING (SELECT GameZone name, ["gaming", "launchpad", "bluezilla"] tags, 22133827.983399 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GameZone inserted successfully.
Processing data for FIO Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT FIO Protocol name, ["collectibles-nfts", "wallet"] tags, 21794388.01278212 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FIO Protocol inserted successfully.
Processing data for Pip
Query:
            MERGE INTO coins1 c
            USING (SELECT Pip name, [] tags, 21690010.83343972 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pip inserted successfully.
Processing data for Alpha Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Alpha Coin name, [] tags, 21659623.52444438 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alpha Coin inserted successfully.
Processing data for Alitas
Query:
            MERGE INTO coins1 c
            USING (SELECT Alitas name, ["bnb-chain"] tags, 21583951.09155355 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alitas inserted successfully.
Processing data for MILC Platform
Query:
            MERGE INTO coins1 c
            USING (SELECT MILC Platform name, ["media", "metaverse", "bnb-chain"] tags, 21563077.66479345 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MILC Platform inserted successfully.
Processing data for Hermez Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Hermez Network name, ["zero-knowledge-proofs", "scaling", "rollups"] tags, 21389424.234040994 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hermez Network inserted successfully.
Processing data for Guild of Guardians
Query:
            MERGE INTO coins1 c
            USING (SELECT Guild of Guardians name, ["gaming", "entertainment", "play-to-earn"] tags, 21191403.643300805 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Guild of Guardians inserted successfully.
Processing data for BurgerCities
Query:
            MERGE INTO coins1 c
            USING (SELECT BurgerCities name, ["decentralized-exchange-dex-token", "defi", "gaming", "yield-farming", "amm", "arbitrum-ecosytem", "bnb-chain"] tags, 21076785.30259366 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BurgerCities inserted successfully.
Processing data for Boson Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Boson Protocol name, ["marketplace", "collectibles-nfts", "e-commerce", "payments", "metaverse", "exnetwork-capital-portfolio", "play-to-earn", "real-world-assets"] tags, 21071498.6780856 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Boson Protocol inserted successfully.
Processing data for Tellor
Query:
            MERGE INTO coins1 c
            USING (SELECT Tellor name, ["mineable", "defi", "oracles", "framework-ventures-portfolio", "polygon-ecosystem", "web3"] tags, 20843034.82016162 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tellor inserted successfully.
Processing data for Splintershards
Query:
            MERGE INTO coins1 c
            USING (SELECT Splintershards name, ["collectibles-nfts", "gaming", "play-to-earn", "animoca-brands-portfolio", "bnb-chain"] tags, 20740085.788557835 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Splintershards inserted successfully.
Processing data for TerraKRW
Query:
            MERGE INTO coins1 c
            USING (SELECT TerraKRW name, ["stablecoin", "terra-ecosystem"] tags, 20732320.728287287 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TerraKRW inserted successfully.
Processing data for BABB
Query:
            MERGE INTO coins1 c
            USING (SELECT BABB name, ["platform", "payments"] tags, 20514009.57324889 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BABB inserted successfully.
Processing data for Metronome
Query:
            MERGE INTO coins1 c
            USING (SELECT Metronome name, ["platform", "defi", "payments"] tags, 20367645.608902257 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metronome inserted successfully.
Processing data for Presearch
Query:
            MERGE INTO coins1 c
            USING (SELECT Presearch name, ["platform", "ai-big-data", "crowdsourcing", "search-engine"] tags, 20346469.754367724 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Presearch inserted successfully.
Processing data for Optimus AI
Query:
            MERGE INTO coins1 c
            USING (SELECT Optimus AI name, [] tags, 20307309.195193816 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Optimus AI inserted successfully.
Processing data for Router Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Router Protocol name, ["interoperability", "coinbase-ventures-portfolio", "avalanche-ecosystem", "alameda-research-portfolio", "polygon-ecosystem", "cross-chain"] tags, 20269926.073224247 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Router Protocol inserted successfully.
Processing data for Nine Chronicles
Query:
            MERGE INTO coins1 c
            USING (SELECT Nine Chronicles name, ["binance-labs-portfolio", "animoca-brands-portfolio", "skyvision-capital-portfolio"] tags, 20250386.74258001 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nine Chronicles inserted successfully.
Processing data for Yield App
Query:
            MERGE INTO coins1 c
            USING (SELECT Yield App name, ["exnetwork-capital-portfolio", "trustswap-launchpad"] tags, 20200221.272704434 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Yield App inserted successfully.
Processing data for Ferro
Query:
            MERGE INTO coins1 c
            USING (SELECT Ferro name, ["cronos-ecosystem"] tags, 20097407.974516418 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ferro inserted successfully.
Processing data for Freeway Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Freeway Token name, ["trustswap-launchpad", "bnb-chain"] tags, 20071469.633099776 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Freeway Token inserted successfully.
Processing data for Rarible
Query:
            MERGE INTO coins1 c
            USING (SELECT Rarible name, ["collectibles-nfts", "dao", "coinbase-ventures-portfolio", "governance", "coinfund-portfolio"] tags, 19982601.90039041 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rarible inserted successfully.
Processing data for Maro
Query:
            MERGE INTO coins1 c
            USING (SELECT Maro name, ["media", "content-creation"] tags, 19958533.96796037 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Maro inserted successfully.
Processing data for Chrono.tech
Query:
            MERGE INTO coins1 c
            USING (SELECT Chrono.tech name, ["defi", "bnb-chain"] tags, 19920504.97193357 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chrono.tech inserted successfully.
Processing data for Kava Lend
Query:
            MERGE INTO coins1 c
            USING (SELECT Kava Lend name, ["cosmos-ecosystem", "defi", "binance-launchpool", "lending-borowing", "injective-ecosystem"] tags, 19918369.1093142 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kava Lend inserted successfully.
Processing data for Radiant
Query:
            MERGE INTO coins1 c
            USING (SELECT Radiant name, [] tags, 19876277.19064583 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Radiant inserted successfully.
Processing data for Nimiq
Query:
            MERGE INTO coins1 c
            USING (SELECT Nimiq name, ["mineable"] tags, 19841660.163394187 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nimiq inserted successfully.
Processing data for Aleph.im
Query:
            MERGE INTO coins1 c
            USING (SELECT Aleph.im name, ["mineable", "cosmos-ecosystem", "distributed-computing", "filesharing", "storage", "polkadot-ecosystem", "avalanche-ecosystem", "solana-ecosystem", "injective-ecosystem", "bnb-chain", "ftx-bankruptcy-estate"] tags, 19734802.109110855 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aleph.im inserted successfully.
Processing data for MANTRA
Query:
            MERGE INTO coins1 c
            USING (SELECT MANTRA name, ["defi", "dao", "substrate", "polkadot-ecosystem", "kenetic-capital-portfolio", "exnetwork-capital-portfolio", "polygon-ecosystem", "bnb-chain"] tags, 19721423.320971094 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MANTRA inserted successfully.
Processing data for FC Porto Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT FC Porto Fan Token name, ["sports", "fan-token", "binance-launchpad"] tags, 19704073.028388187 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FC Porto Fan Token inserted successfully.
Processing data for Epic Cash
Query:
            MERGE INTO coins1 c
            USING (SELECT Epic Cash name, ["mineable", "privacy", "bnb-chain"] tags, 19674057.085149158 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Epic Cash inserted successfully.
Processing data for SingularityDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT SingularityDAO name, ["ai-big-data", "defi", "poolz-finance-portfolio", "exnetwork-capital-portfolio", "cross-chain-dex-aggregator"] tags, 19608540.915825855 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SingularityDAO inserted successfully.
Processing data for Santos FC Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Santos FC Fan Token name, ["fan-token"] tags, 19464842.303044736 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Santos FC Fan Token inserted successfully.
Processing data for Namecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Namecoin name, ["mineable", "pow", "sha-256", "platform"] tags, 19418123.438527986 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Namecoin inserted successfully.
Processing data for Wing Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Wing Finance name, ["defi", "ontology-ecosystem", "binance-launchpool"] tags, 19280816.80382624 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wing Finance inserted successfully.
Processing data for Harvest Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Harvest Finance name, ["defi", "dao", "yield-farming", "yield-aggregator", "governance"] tags, 19208579.995823566 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Harvest Finance inserted successfully.
Processing data for VITE
Query:
            MERGE INTO coins1 c
            USING (SELECT VITE name, ["dag", "multiple-algorithms", "platform", "enterprise-solutions", "decentralized-exchange-dex-token", "scaling", "bnb-chain"] tags, 19165839.77775495 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VITE inserted successfully.
Processing data for CONUN
Query:
            MERGE INTO coins1 c
            USING (SELECT CONUN name, [] tags, 18967309.90596648 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CONUN inserted successfully.
Processing data for AIOZ Network
Query:
            MERGE INTO coins1 c
            USING (SELECT AIOZ Network name, ["media", "platform", "smart-contracts", "video", "web3", "bnb-chain"] tags, 18869923.031386696 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AIOZ Network inserted successfully.
Processing data for Gamium
Query:
            MERGE INTO coins1 c
            USING (SELECT Gamium name, ["collectibles-nfts", "defi", "interoperability", "staking", "dao", "governance", "metaverse", "dao-maker"] tags, 18612919.768995635 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gamium inserted successfully.
Processing data for Dogechain
Query:
            MERGE INTO coins1 c
            USING (SELECT Dogechain name, ["memes", "doggone-doggerel", "doge-chain-ecosystem"] tags, 18609061.817339145 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dogechain inserted successfully.
Processing data for GYEN
Query:
            MERGE INTO coins1 c
            USING (SELECT GYEN name, ["stablecoin", "arbitrum-ecosytem"] tags, 18528684.69983623 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GYEN inserted successfully.
Processing data for MarsDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT MarsDAO name, [] tags, 18460204.34381768 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MarsDAO inserted successfully.
Processing data for Phantasma
Query:
            MERGE INTO coins1 c
            USING (SELECT Phantasma name, ["platform", "enterprise-solutions", "distributed-computing", "collectibles-nfts", "content-creation", "filesharing", "gaming", "smart-contracts", "storage", "metaverse", "layer-1"] tags, 18455091.637330804 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Phantasma inserted successfully.
Processing data for Ellipsis
Query:
            MERGE INTO coins1 c
            USING (SELECT Ellipsis name, ["decentralized-exchange-dex-token", "defi", "dex", "bnb-chain"] tags, 18454592.862739094 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ellipsis inserted successfully.
Processing data for PARSIQ
Query:
            MERGE INTO coins1 c
            USING (SELECT PARSIQ name, ["services", "ai-big-data", "defi", "smart-contracts", "polkadot-ecosystem", "algorand-ecosystem", "solana-ecosystem", "analytics", "web3", "bnb-chain"] tags, 18332292.621785972 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PARSIQ inserted successfully.
Processing data for Proton
Query:
            MERGE INTO coins1 c
            USING (SELECT Proton name, ["collectibles-nfts", "decentralized-exchange-dex-token", "defi", "wallet", "amm", "dex", "governance", "bnb-chain"] tags, 18300382.045058798 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Proton inserted successfully.
Processing data for Vectorspace AI
Query:
            MERGE INTO coins1 c
            USING (SELECT Vectorspace AI name, ["ai-big-data", "ethereum-ecosystem"] tags, 18299084.740898844 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vectorspace AI inserted successfully.
Processing data for RMRK
Query:
            MERGE INTO coins1 c
            USING (SELECT RMRK name, ["collectibles-nfts", "polkadot-ecosystem", "metaverse"] tags, 18284536.498326134 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RMRK inserted successfully.
Processing data for ICHI
Query:
            MERGE INTO coins1 c
            USING (SELECT ICHI name, ["yield-farming", "polkadot-ecosystem", "olympus-pro-ecosystem"] tags, 18192324.439811368 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ICHI inserted successfully.
Processing data for Red Kite
Query:
            MERGE INTO coins1 c
            USING (SELECT Red Kite name, ["polkadot-ecosystem", "launchpad", "duckstarter", "polkafoundry-red-kite", "icetea-labs", "vbc-ventures-portfolio"] tags, 18182449.550876215 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Red Kite inserted successfully.
Processing data for KILT Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT KILT Protocol name, ["lpos", "identity", "substrate", "polkadot", "polkadot-ecosystem", "web3", "vbc-ventures-portfolio"] tags, 18066474.578023747 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KILT Protocol inserted successfully.
Processing data for Nakamoto Games
Query:
            MERGE INTO coins1 c
            USING (SELECT Nakamoto Games name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "vbc-ventures-portfolio"] tags, 18047991.3381393 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nakamoto Games inserted successfully.
Processing data for TemDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT TemDAO name, [] tags, 18012823.565971475 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TemDAO inserted successfully.
Processing data for HOPR
Query:
            MERGE INTO coins1 c
            USING (SELECT HOPR name, ["privacy", "dao", "substrate", "polkadot", "polkadot-ecosystem", "governance", "binance-labs-portfolio", "vbc-ventures-portfolio"] tags, 18005836.144815017 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HOPR inserted successfully.
Processing data for Elitium
Query:
            MERGE INTO coins1 c
            USING (SELECT Elitium name, [] tags, 17999884.802890602 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Elitium inserted successfully.
Processing data for Cult DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Cult DAO name, [] tags, 17861929.732023176 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cult DAO inserted successfully.
Processing data for Drep [new]
Query:
            MERGE INTO coins1 c
            USING (SELECT Drep [new] name, ["defi", "oracles", "smart-contracts", "bnb-chain"] tags, 17821378.157183897 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Drep [new] inserted successfully.
Processing data for Swarm
Query:
            MERGE INTO coins1 c
            USING (SELECT Swarm name, ["storage"] tags, 17816495.48589047 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swarm inserted successfully.
Processing data for Delysium
Query:
            MERGE INTO coins1 c
            USING (SELECT Delysium name, ["gaming", "metaverse", "generative-ai"] tags, 17743301.48587885 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Delysium inserted successfully.
Processing data for AirSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT AirSwap name, ["marketplace", "decentralized-exchange-dex-token", "defi", "oracles", "payments", "smart-contracts", "kenetic-capital-portfolio"] tags, 17725152.717551447 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AirSwap inserted successfully.
Processing data for HI
Query:
            MERGE INTO coins1 c
            USING (SELECT HI name, [] tags, 17701718.81258938 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HI inserted successfully.
Processing data for Pitbull
Query:
            MERGE INTO coins1 c
            USING (SELECT Pitbull name, ["memes", "bnb-chain"] tags, 17694735.030737925 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pitbull inserted successfully.
Processing data for Everdome
Query:
            MERGE INTO coins1 c
            USING (SELECT Everdome name, ["metaverse"] tags, 17552702.209173933 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Everdome inserted successfully.
Processing data for Tamadoge
Query:
            MERGE INTO coins1 c
            USING (SELECT Tamadoge name, ["memes"] tags, 17536398.98720356 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tamadoge inserted successfully.
Processing data for Kleros
Query:
            MERGE INTO coins1 c
            USING (SELECT Kleros name, ["prediction-markets", "polygon-ecosystem"] tags, 17524819.05674654 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kleros inserted successfully.
Processing data for StreamCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT StreamCoin name, ["platform", "collectibles-nfts", "content-creation", "entertainment", "staking"] tags, 17498023.84007961 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for StreamCoin inserted successfully.
Processing data for Decentral Games
Query:
            MERGE INTO coins1 c
            USING (SELECT Decentral Games name, ["gaming", "metaverse", "dcg-portfolio"] tags, 17073734.533906855 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decentral Games inserted successfully.
Processing data for Circuits of Value
Query:
            MERGE INTO coins1 c
            USING (SELECT Circuits of Value name, ["collectibles-nfts", "defi", "btc-ecosystem"] tags, 17021824.327065647 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Circuits of Value inserted successfully.
Processing data for Akropolis
Query:
            MERGE INTO coins1 c
            USING (SELECT Akropolis name, ["defi", "dao", "substrate", "polkadot-ecosystem", "yield-aggregator", "yearn-partnerships", "kenetic-capital-portfolio", "ledgerprime-portfolio", "alameda-research-portfolio", "spartan-group"] tags, 17002618.074399155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Akropolis inserted successfully.
Processing data for Frontier
Query:
            MERGE INTO coins1 c
            USING (SELECT Frontier name, ["platform", "defi", "staking", "avalanche-ecosystem", "solana-ecosystem", "alameda-research-portfolio", "exnetwork-capital-portfolio", "injective-ecosystem", "bnb-chain"] tags, 16962811.360327717 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Frontier inserted successfully.
Processing data for PIVX
Query:
            MERGE INTO coins1 c
            USING (SELECT PIVX name, ["pos", "medium-of-exchange", "store-of-value", "privacy", "zero-knowledge-proofs", "masternodes", "staking", "dao"] tags, 16880500.63142971 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PIVX inserted successfully.
Processing data for VAIOT
Query:
            MERGE INTO coins1 c
            USING (SELECT VAIOT name, ["services", "ai-big-data", "dao-maker"] tags, 16849342.68145044 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VAIOT inserted successfully.
Processing data for Metahero
Query:
            MERGE INTO coins1 c
            USING (SELECT Metahero name, ["hardware", "marketplace", "vr-ar", "metaverse", "bnb-chain"] tags, 16737883.09441225 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metahero inserted successfully.
Processing data for AirDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT AirDAO name, ["platform", "defi", "governance"] tags, 16613969.511638442 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AirDAO inserted successfully.
Processing data for DeRace
Query:
            MERGE INTO coins1 c
            USING (SELECT DeRace name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "animoca-brands-portfolio", "bnb-chain"] tags, 16596698.112726664 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeRace inserted successfully.
Processing data for Dacxi
Query:
            MERGE INTO coins1 c
            USING (SELECT Dacxi name, [] tags, 16523570.826767528 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dacxi inserted successfully.
Processing data for Newscrypto
Query:
            MERGE INTO coins1 c
            USING (SELECT Newscrypto name, ["education", "ethereum-ecosystem", "stellar", "metaverse", "bnb-chain"] tags, 16459804.209182825 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Newscrypto inserted successfully.
Processing data for rhino.fi
Query:
            MERGE INTO coins1 c
            USING (SELECT rhino.fi name, ["defi", "arbitrum-ecosytem", "spartan-group", "okex-blockdream-ventures-portfolio"] tags, 16381279.101772342 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for rhino.fi inserted successfully.
Processing data for Hillstone Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Hillstone Finance name, [] tags, 16264633.760583282 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hillstone Finance inserted successfully.
Processing data for Unibright
Query:
            MERGE INTO coins1 c
            USING (SELECT Unibright name, [] tags, 16225221.90373467 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unibright inserted successfully.
Processing data for Celo Euro
Query:
            MERGE INTO coins1 c
            USING (SELECT Celo Euro name, ["stablecoin", "algorithmic-stablecoin", "eur-stablecoin"] tags, 16117863.20008992 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Celo Euro inserted successfully.
Processing data for Mango
Query:
            MERGE INTO coins1 c
            USING (SELECT Mango name, ["decentralized-exchange-dex-token", "defi", "derivatives", "dao", "dex", "governance", "solana-ecosystem"] tags, 16103017.689313993 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mango inserted successfully.
Processing data for Mint Marble
Query:
            MERGE INTO coins1 c
            USING (SELECT Mint Marble name, [] tags, 15968129.673533533 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mint Marble inserted successfully.
Processing data for Onomy Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Onomy Protocol name, [] tags, 15959837.549027648 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Onomy Protocol inserted successfully.
Processing data for district0x
Query:
            MERGE INTO coins1 c
            USING (SELECT district0x name, ["platform", "payments", "reputation", "boostvc-portfolio", "web3"] tags, 15925621.525430014 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for district0x inserted successfully.
Processing data for Hacken Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Hacken Token name, ["cybersecurity", "ai-big-data", "enterprise-solutions", "smart-contracts", "hacken-foundation", "bnb-chain"] tags, 15916690.85564328 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hacken Token inserted successfully.
Processing data for ForTube
Query:
            MERGE INTO coins1 c
            USING (SELECT ForTube name, ["defi", "governance", "lending-borowing", "bnb-chain"] tags, 15843107.06002146 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ForTube inserted successfully.
Processing data for Bonfida
Query:
            MERGE INTO coins1 c
            USING (SELECT Bonfida name, ["defi", "three-arrows-capital-portfolio", "solana-ecosystem", "cms-holdings-portfolio", "kenetic-capital-portfolio", "ftx-bankruptcy-estate"] tags, 15839331.566403914 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bonfida inserted successfully.
Processing data for Shiden Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Shiden Network name, ["interoperability", "smart-contracts", "polkadot-ecosystem"] tags, 15653612.19701045 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shiden Network inserted successfully.
Processing data for Pluton
Query:
            MERGE INTO coins1 c
            USING (SELECT Pluton name, ["services", "payments"] tags, 15639993.77349097 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pluton inserted successfully.
Processing data for Dora Factory
Query:
            MERGE INTO coins1 c
            USING (SELECT Dora Factory name, ["dao", "substrate", "duckstarter", "bounce-launchpad", "okex-blockdream-ventures-portfolio"] tags, 15624767.065592855 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dora Factory inserted successfully.
Processing data for Dock
Query:
            MERGE INTO coins1 c
            USING (SELECT Dock name, ["ai-big-data", "polkadot-ecosystem", "governance"] tags, 15613574.497619579 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dock inserted successfully.
Processing data for Galatasaray Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Galatasaray Fan Token name, ["sports", "fan-token", "soccer"] tags, 15549557.42242 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Galatasaray Fan Token inserted successfully.
Processing data for Hathor
Query:
            MERGE INTO coins1 c
            USING (SELECT Hathor name, ["mineable", "pow", "platform", "defi", "smart-contracts", "exnetwork-capital-portfolio"] tags, 15462523.556574376 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hathor inserted successfully.
Processing data for Walken
Query:
            MERGE INTO coins1 c
            USING (SELECT Walken name, ["solana-ecosystem", "move-to-earn"] tags, 15354074.863515515 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Walken inserted successfully.
Processing data for DIMO
Query:
            MERGE INTO coins1 c
            USING (SELECT DIMO name, [] tags, 15280728.435383096 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DIMO inserted successfully.
Processing data for AC Milan Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT AC Milan Fan Token name, ["sports", "fan-token", "binance-launchpad", "soccer"] tags, 15252879.31833724 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AC Milan Fan Token inserted successfully.
Processing data for Era Swap
Query:
            MERGE INTO coins1 c
            USING (SELECT Era Swap name, [] tags, 15215424.880729439 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Era Swap inserted successfully.
Processing data for GALAXIA
Query:
            MERGE INTO coins1 c
            USING (SELECT GALAXIA name, [] tags, 15135585.087096436 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GALAXIA inserted successfully.
Processing data for Somnium Space Cubes
Query:
            MERGE INTO coins1 c
            USING (SELECT Somnium Space Cubes name, ["vr-ar", "collectibles-nfts", "ethereum-ecosystem", "solana-ecosystem", "metaverse", "polygon-ecosystem", "web3", "near-protocol-ecosystem"] tags, 15102636.277465593 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Somnium Space Cubes inserted successfully.
Processing data for Ooki Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Ooki Protocol name, ["optimism-ecosystem"] tags, 15060474.498263493 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ooki Protocol inserted successfully.
Processing data for Fuse
Query:
            MERGE INTO coins1 c
            USING (SELECT Fuse name, ["bnb-chain", "layer-1"] tags, 14963164.15300933 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fuse inserted successfully.
Processing data for Ternoa
Query:
            MERGE INTO coins1 c
            USING (SELECT Ternoa name, ["collectibles-nfts", "ethereum-ecosystem", "polkadot-ecosystem"] tags, 14924833.357640015 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ternoa inserted successfully.
Processing data for DEAPcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT DEAPcoin name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "bnb-chain"] tags, 14909918.738163631 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DEAPcoin inserted successfully.
Processing data for Velo
Query:
            MERGE INTO coins1 c
            USING (SELECT Velo name, [] tags, 14716660.943369303 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Velo inserted successfully.
Processing data for Goldfinch
Query:
            MERGE INTO coins1 c
            USING (SELECT Goldfinch name, ["real-world-assets"] tags, 14662973.136426514 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Goldfinch inserted successfully.
Processing data for Findora
Query:
            MERGE INTO coins1 c
            USING (SELECT Findora name, ["privacy", "bulletproofs", "zero-knowledge-proofs", "staking"] tags, 14633443.565112505 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Findora inserted successfully.
Processing data for Divi
Query:
            MERGE INTO coins1 c
            USING (SELECT Divi name, ["mineable", "asset-management", "masternodes", "wallet"] tags, 14475450.819799308 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Divi inserted successfully.
Processing data for Waltonchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Waltonchain name, ["logistics", "iot"] tags, 14434994.444252381 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Waltonchain inserted successfully.
Processing data for Poolz Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Poolz Finance name, ["polkadot-ecosystem", "launchpad", "avalanche-ecosystem", "ferrum-network", "bnb-chain"] tags, 14374090.612627462 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Poolz Finance inserted successfully.
Processing data for PolySwarm
Query:
            MERGE INTO coins1 c
            USING (SELECT PolySwarm name, ["cybersecurity", "smart-contracts", "dapp"] tags, 14279025.33559862 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PolySwarm inserted successfully.
Processing data for LATOKEN
Query:
            MERGE INTO coins1 c
            USING (SELECT LATOKEN name, ["marketplace", "centralized-exchange", "payments"] tags, 14164945.63105574 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LATOKEN inserted successfully.
Processing data for Dimitra
Query:
            MERGE INTO coins1 c
            USING (SELECT Dimitra name, [] tags, 14012010.751117243 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dimitra inserted successfully.
Processing data for ETHAX
Query:
            MERGE INTO coins1 c
            USING (SELECT ETHAX name, [] tags, 13970703.345920155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ETHAX inserted successfully.
Processing data for Handshake
Query:
            MERGE INTO coins1 c
            USING (SELECT Handshake name, ["distributed-computing", "collectibles-nfts", "storage", "boostvc-portfolio", "dcg-portfolio", "kenetic-capital-portfolio", "a16z-portfolio", "pantera-capital-portfolio", "web3"] tags, 13961267.460945042 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Handshake inserted successfully.
Processing data for BIDR
Query:
            MERGE INTO coins1 c
            USING (SELECT BIDR name, ["stablecoin", "bnb-chain"] tags, 13947392.100959053 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BIDR inserted successfully.
Processing data for ChainGPT
Query:
            MERGE INTO coins1 c
            USING (SELECT ChainGPT name, ["ai-big-data", "binance-smart-chain", "generative-ai"] tags, 13861977.986589724 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ChainGPT inserted successfully.
Processing data for Sperax
Query:
            MERGE INTO coins1 c
            USING (SELECT Sperax name, ["alameda-research-portfolio", "arbitrum-ecosytem"] tags, 13589221.943526322 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sperax inserted successfully.
Processing data for Diamond
Query:
            MERGE INTO coins1 c
            USING (SELECT Diamond name, ["masternodes", "staking"] tags, 13578379.771757465 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Diamond inserted successfully.
Processing data for SOLVE
Query:
            MERGE INTO coins1 c
            USING (SELECT SOLVE name, ["health", "enterprise-solutions"] tags, 13573828.174737297 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SOLVE inserted successfully.
Processing data for Starlink
Query:
            MERGE INTO coins1 c
            USING (SELECT Starlink name, ["metaverse"] tags, 13497669.484538315 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Starlink inserted successfully.
Processing data for Kin
Query:
            MERGE INTO coins1 c
            USING (SELECT Kin name, ["media", "content-creation", "smart-contracts", "polychain-capital-portfolio", "solana-ecosystem", "galaxy-digital-portfolio", "pantera-capital-portfolio", "web3"] tags, 13486943.32160174 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kin inserted successfully.
Processing data for Nestree
Query:
            MERGE INTO coins1 c
            USING (SELECT Nestree name, [] tags, 13482362.886377558 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nestree inserted successfully.
Processing data for The Transfer Token
Query:
            MERGE INTO coins1 c
            USING (SELECT The Transfer Token name, [] tags, 13439307.540652987 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for The Transfer Token inserted successfully.
Processing data for Hydra
Query:
            MERGE INTO coins1 c
            USING (SELECT Hydra name, [] tags, 13411695.369877797 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hydra inserted successfully.
Processing data for RFOX
Query:
            MERGE INTO coins1 c
            USING (SELECT RFOX name, ["collectibles-nfts", "ethereum-ecosystem", "metaverse", "bnb-chain"] tags, 13195604.655306065 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RFOX inserted successfully.
Processing data for Viberate
Query:
            MERGE INTO coins1 c
            USING (SELECT Viberate name, ["media", "music"] tags, 13193893.389722906 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Viberate inserted successfully.
Processing data for Student Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Student Coin name, [] tags, 12951856.560467014 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Student Coin inserted successfully.
Processing data for UniCrypt
Query:
            MERGE INTO coins1 c
            USING (SELECT UniCrypt name, ["ethereum-ecosystem", "yield-farming", "launchpad", "polygon-ecosystem", "bnb-chain"] tags, 12876494.222193193 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UniCrypt inserted successfully.
Processing data for Clearpool
Query:
            MERGE INTO coins1 c
            USING (SELECT Clearpool name, ["defi", "real-world-assets"] tags, 12831811.142704638 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Clearpool inserted successfully.
Processing data for Efforce
Query:
            MERGE INTO coins1 c
            USING (SELECT Efforce name, ["energy"] tags, 12765774.142765496 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Efforce inserted successfully.
Processing data for apM Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT apM Coin name, ["ethereum-ecosystem"] tags, 12729695.266262716 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for apM Coin inserted successfully.
Processing data for CENNZnet
Query:
            MERGE INTO coins1 c
            USING (SELECT CENNZnet name, ["marketplace", "enterprise-solutions"] tags, 12631637.760942265 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CENNZnet inserted successfully.
Processing data for MATH
Query:
            MERGE INTO coins1 c
            USING (SELECT MATH name, ["cosmos-ecosystem", "wallet", "polkadot-ecosystem", "polygon-ecosystem", "arbitrum-ecosytem", "injective-ecosystem", "bnb-chain"] tags, 12380611.208992984 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MATH inserted successfully.
Processing data for Throne
Query:
            MERGE INTO coins1 c
            USING (SELECT Throne name, [] tags, 12367323.32239573 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Throne inserted successfully.
Processing data for Juventus Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Juventus Fan Token name, ["sports", "fan-token", "soccer"] tags, 12329669.76836379 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Juventus Fan Token inserted successfully.
Processing data for Prosper
Query:
            MERGE INTO coins1 c
            USING (SELECT Prosper name, ["dao", "avalanche-ecosystem", "polygon-ecosystem", "animoca-brands-portfolio", "bnb-chain"] tags, 12318255.64445837 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Prosper inserted successfully.
Processing data for Zano
Query:
            MERGE INTO coins1 c
            USING (SELECT Zano name, ["mineable", "hybrid-pow-pos", "medium-of-exchange", "atomic-swaps", "defi", "privacy"] tags, 12288365.522446932 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zano inserted successfully.
Processing data for Solend
Query:
            MERGE INTO coins1 c
            USING (SELECT Solend name, ["defi", "solana-ecosystem", "lending-borowing"] tags, 12287129.084250348 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Solend inserted successfully.
Processing data for Affyn
Query:
            MERGE INTO coins1 c
            USING (SELECT Affyn name, ["kommunitas-launchpad"] tags, 12252266.671693763 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Affyn inserted successfully.
Processing data for Sovryn
Query:
            MERGE INTO coins1 c
            USING (SELECT Sovryn name, ["btc-ecosystem"] tags, 12157585.8156934 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sovryn inserted successfully.
Processing data for Kunci Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Kunci Coin name, ["bnb-chain"] tags, 12108059.49102382 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kunci Coin inserted successfully.
Processing data for SpookySwap
Query:
            MERGE INTO coins1 c
            USING (SELECT SpookySwap name, ["fantom-ecosystem", "olympus-pro-ecosystem"] tags, 12063025.183719218 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SpookySwap inserted successfully.
Processing data for pNetwork
Query:
            MERGE INTO coins1 c
            USING (SELECT pNetwork name, ["collectibles-nfts", "defi", "dao", "governance", "polygon-ecosystem", "arbitrum-ecosytem", "bnb-chain", "btc-ecosystem"] tags, 12045602.987123497 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for pNetwork inserted successfully.
Processing data for Assemble Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Assemble Protocol name, [] tags, 11956816.39753155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Assemble Protocol inserted successfully.
Processing data for Peercoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Peercoin name, ["mineable", "hybrid-pow-pos", "sha-256", "medium-of-exchange", "store-of-value", "payments", "staking"] tags, 11953374.637504784 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Peercoin inserted successfully.
Processing data for Samoyedcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Samoyedcoin name, ["memes", "solana-ecosystem", "doggone-doggerel"] tags, 11916658.21813036 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Samoyedcoin inserted successfully.
Processing data for PERL.eco
Query:
            MERGE INTO coins1 c
            USING (SELECT PERL.eco name, ["binance-launchpad", "bnb-chain"] tags, 11904971.83294183 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PERL.eco inserted successfully.
Processing data for VIMworld
Query:
            MERGE INTO coins1 c
            USING (SELECT VIMworld name, ["collectibles-nfts"] tags, 11889984.367120374 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VIMworld inserted successfully.
Processing data for PowerPool
Query:
            MERGE INTO coins1 c
            USING (SELECT PowerPool name, ["defi", "dao", "yearn-partnerships", "governance", "ledgerprime-portfolio", "polygon-ecosystem", "mvb"] tags, 11876441.414649494 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PowerPool inserted successfully.
Processing data for Tokemak
Query:
            MERGE INTO coins1 c
            USING (SELECT Tokemak name, ["defi-2", "protocol-owned-liquidity", "spartan-group"] tags, 11841569.687367165 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tokemak inserted successfully.
Processing data for MEVerse
Query:
            MERGE INTO coins1 c
            USING (SELECT MEVerse name, [] tags, 11783329.40042061 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MEVerse inserted successfully.
Processing data for ATOR Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT ATOR Protocol name, [] tags, 11744638.570665855 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ATOR Protocol inserted successfully.
Processing data for Push Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Push Protocol name, ["platform", "services", "defi", "interoperability", "dao", "ethereum-ecosystem", "governance", "binance-labs-portfolio", "polkastarter", "polygon-ecosystem", "web3"] tags, 11668803.85568486 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Push Protocol inserted successfully.
Processing data for BitMart Token
Query:
            MERGE INTO coins1 c
            USING (SELECT BitMart Token name, ["marketplace"] tags, 11612655.784574505 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitMart Token inserted successfully.
Processing data for Saito
Query:
            MERGE INTO coins1 c
            USING (SELECT Saito name, ["gaming", "polkadot-ecosystem", "okex-blockdream-ventures-portfolio"] tags, 11591826.46968561 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Saito inserted successfully.
Processing data for Green Satoshi Token (SOL)
Query:
            MERGE INTO coins1 c
            USING (SELECT Green Satoshi Token (SOL) name, ["solana-ecosystem", "move-to-earn"] tags, 11553784.917690044 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Green Satoshi Token (SOL) inserted successfully.
Processing data for Scallop
Query:
            MERGE INTO coins1 c
            USING (SELECT Scallop name, ["defi", "mobile", "payments", "yield-farming", "bnb-chain"] tags, 11541647.582037758 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Scallop inserted successfully.
Processing data for DSLA Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT DSLA Protocol name, ["collectibles-nfts", "dapp", "insurance", "ethereum-ecosystem", "avalanche-ecosystem", "polygon-ecosystem", "arbitrum-ecosytem", "harmony-ecosystem"] tags, 11448667.43052745 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DSLA Protocol inserted successfully.
Processing data for Diamond Launch
Query:
            MERGE INTO coins1 c
            USING (SELECT Diamond Launch name, [] tags, 11390694.67261123 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Diamond Launch inserted successfully.
Processing data for HUSD
Query:
            MERGE INTO coins1 c
            USING (SELECT HUSD name, ["pow", "medium-of-exchange", "stablecoin", "asset-backed-stablecoin", "usd-stablecoin"] tags, 11322918.734944012 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HUSD inserted successfully.
Processing data for BitKan
Query:
            MERGE INTO coins1 c
            USING (SELECT BitKan name, ["services", "content-creation"] tags, 11284879.35040767 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitKan inserted successfully.
Processing data for Inter Milan Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Inter Milan Fan Token name, ["sports", "fan-token"] tags, 11207898.502438065 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Inter Milan Fan Token inserted successfully.
Processing data for Petals
Query:
            MERGE INTO coins1 c
            USING (SELECT Petals name, ["binance-chain"] tags, 11191040.376846185 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Petals inserted successfully.
Processing data for AMO Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT AMO Coin name, [] tags, 11181370.476260036 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AMO Coin inserted successfully.
Processing data for Deeper Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Deeper Network name, ["hardware", "distributed-computing", "polkadot", "polkadot-ecosystem"] tags, 11165177.016053535 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Deeper Network inserted successfully.
Processing data for Battle World
Query:
            MERGE INTO coins1 c
            USING (SELECT Battle World name, ["collectibles-nfts", "gaming", "play-to-earn"] tags, 11131682.74012794 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Battle World inserted successfully.
Processing data for BEPRO Network
Query:
            MERGE INTO coins1 c
            USING (SELECT BEPRO Network name, ["enterprise-solutions", "distributed-computing", "defi", "dapp", "web3"] tags, 11089703.020461896 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BEPRO Network inserted successfully.
Processing data for ERC20
Query:
            MERGE INTO coins1 c
            USING (SELECT ERC20 name, ["medium-of-exchange", "collectibles-nfts", "defi", "memes", "payments", "ethereum-ecosystem", "yield-farming", "bnb-chain"] tags, 11026729.46429787 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ERC20 inserted successfully.
Processing data for GET Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT GET Protocol name, ["events", "collectibles-nfts"] tags, 10970827.112023838 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GET Protocol inserted successfully.
Processing data for Carbon Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Carbon Protocol name, ["cosmos-ecosystem", "decentralized-exchange-dex-token", "defi", "derivatives", "three-arrows-capital-portfolio", "defiance-capital-portfolio", "arbitrum-ecosytem", "injective-ecosystem", "bnb-chain"] tags, 10938157.295407038 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Carbon Protocol inserted successfully.
Processing data for BSCPAD
Query:
            MERGE INTO coins1 c
            USING (SELECT BSCPAD name, ["launchpad", "exnetwork-capital-portfolio", "bluezilla", "bnb-chain"] tags, 10878338.906774957 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BSCPAD inserted successfully.
Processing data for QASH
Query:
            MERGE INTO coins1 c
            USING (SELECT QASH name, ["marketplace", "discount-token", "payments"] tags, 10848106.667578693 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for QASH inserted successfully.
Processing data for DAD
Query:
            MERGE INTO coins1 c
            USING (SELECT DAD name, [] tags, 10835429.794958485 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DAD inserted successfully.
Processing data for UniLend
Query:
            MERGE INTO coins1 c
            USING (SELECT UniLend name, ["defi", "lending-borowing", "exnetwork-capital-portfolio", "fantom-ecosystem", "injective-ecosystem"] tags, 10799589.122468628 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UniLend inserted successfully.
Processing data for DeFi Kingdoms
Query:
            MERGE INTO coins1 c
            USING (SELECT DeFi Kingdoms name, ["collectibles-nfts", "gaming", "harmony-ecosystem"] tags, 10749536.55574584 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeFi Kingdoms inserted successfully.
Processing data for Zenon
Query:
            MERGE INTO coins1 c
            USING (SELECT Zenon name, ["mineable"] tags, 10743237.39525634 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zenon inserted successfully.
Processing data for Rari Governance Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Rari Governance Token name, ["defi", "dao", "yield-farming", "yield-aggregator", "governance", "ledgerprime-portfolio", "arbitrum-ecosytem"] tags, 10496469.619144378 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rari Governance Token inserted successfully.
Processing data for Haven Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Haven Protocol name, ["defi", "privacy"] tags, 10475682.80681183 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Haven Protocol inserted successfully.
Processing data for Polkadex
Query:
            MERGE INTO coins1 c
            USING (SELECT Polkadex name, ["decentralized-exchange-dex-token", "dex", "polkadot-ecosystem", "polkastarter", "okex-blockdream-ventures-portfolio"] tags, 10430623.523461659 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polkadex inserted successfully.
Processing data for Numbers Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Numbers Protocol name, ["dao-maker", "web3", "bnb-chain"] tags, 10399088.782746613 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Numbers Protocol inserted successfully.
Processing data for OpenOcean
Query:
            MERGE INTO coins1 c
            USING (SELECT OpenOcean name, ["centralized-exchange", "decentralized-exchange-dex-token", "defi", "derivatives", "ethereum-ecosystem", "ontology-ecosystem", "tron-ecosystem", "heco-ecosystem", "binance-labs-portfolio", "avalanche-ecosystem", "solana-ecosystem", "cross-chain-dex-aggregator", "polygon-ecosystem", "fantom-ecosystem", "mvb", "okexchain-ecosystem", "okex-blockdream-ventures-portfolio", "bnb-chain"] tags, 10384161.766098898 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OpenOcean inserted successfully.
Processing data for Orbcity
Query:
            MERGE INTO coins1 c
            USING (SELECT Orbcity name, [] tags, 10374957.511615276 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Orbcity inserted successfully.
Processing data for Valobit
Query:
            MERGE INTO coins1 c
            USING (SELECT Valobit name, [] tags, 10321477.24361924 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Valobit inserted successfully.
Processing data for WeWay
Query:
            MERGE INTO coins1 c
            USING (SELECT WeWay name, ["marketplace", "collectibles-nfts", "content-creation", "entertainment", "metaverse", "play-to-earn"] tags, 10295826.386354996 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WeWay inserted successfully.
Processing data for Quantstamp
Query:
            MERGE INTO coins1 c
            USING (SELECT Quantstamp name, ["cybersecurity", "smart-contracts", "kenetic-capital-portfolio"] tags, 10264431.373740854 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Quantstamp inserted successfully.
Processing data for Stratos
Query:
            MERGE INTO coins1 c
            USING (SELECT Stratos name, ["filesharing", "ethereum-ecosystem", "storage", "polkastarter", "web3"] tags, 10210784.496265396 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stratos inserted successfully.
Processing data for Arcblock
Query:
            MERGE INTO coins1 c
            USING (SELECT Arcblock name, ["marketplace", "ai-big-data", "interoperability"] tags, 10092620.71119237 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Arcblock inserted successfully.
Processing data for HAVAH
Query:
            MERGE INTO coins1 c
            USING (SELECT HAVAH name, [] tags, 9760859.163525898 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HAVAH inserted successfully.
Processing data for MixMarvel
Query:
            MERGE INTO coins1 c
            USING (SELECT MixMarvel name, ["mvb"] tags, 9736706.665165216 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MixMarvel inserted successfully.
Processing data for King DAG
Query:
            MERGE INTO coins1 c
            USING (SELECT King DAG name, [] tags, 9692862.545332149 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for King DAG inserted successfully.
Processing data for Choise.com
Query:
            MERGE INTO coins1 c
            USING (SELECT Choise.com name, ["defi", "dao", "solana-ecosystem"] tags, 9677696.304705506 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Choise.com inserted successfully.
Processing data for Shapeshift FOX Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Shapeshift FOX Token name, ["marketplace", "platform", "decentralized-exchange-dex-token", "defi", "privacy", "smart-contracts", "staking", "dao", "dapp", "ethereum-ecosystem", "coinbase-ventures-portfolio", "governance", "avalanche-ecosystem", "analytics", "polygon-ecosystem", "olympus-pro-ecosystem", "cross-chain", "bnb-chain", "open-source"] tags, 9645978.030838454 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shapeshift FOX Token inserted successfully.
Processing data for DxChain Token
Query:
            MERGE INTO coins1 c
            USING (SELECT DxChain Token name, ["ai-big-data", "payments"] tags, 9533736.351691935 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DxChain Token inserted successfully.
Processing data for Victoria VR
Query:
            MERGE INTO coins1 c
            USING (SELECT Victoria VR name, ["collectibles-nfts", "gaming", "ethereum-ecosystem", "metaverse", "play-to-earn"] tags, 9531372.510867007 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Victoria VR inserted successfully.
Processing data for Suku
Query:
            MERGE INTO coins1 c
            USING (SELECT Suku name, ["defi"] tags, 9526295.80165477 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Suku inserted successfully.
Processing data for Kryll
Query:
            MERGE INTO coins1 c
            USING (SELECT Kryll name, [] tags, 9503915.790600881 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kryll inserted successfully.
Processing data for Cratos
Query:
            MERGE INTO coins1 c
            USING (SELECT Cratos name, [] tags, 9353335.652997011 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cratos inserted successfully.
Processing data for Unisocks
Query:
            MERGE INTO coins1 c
            USING (SELECT Unisocks name, ["collectibles-nfts", "defi"] tags, 9352102.4301494 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unisocks inserted successfully.
Processing data for NFTX
Query:
            MERGE INTO coins1 c
            USING (SELECT NFTX name, ["collectibles-nfts", "defi", "coinfund-portfolio"] tags, 9333029.135715801 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFTX inserted successfully.
Processing data for Stader
Query:
            MERGE INTO coins1 c
            USING (SELECT Stader name, ["liquid-staking-derivatives"] tags, 9271883.149830354 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stader inserted successfully.
Processing data for Obyte
Query:
            MERGE INTO coins1 c
            USING (SELECT Obyte name, ["dag", "platform", "iot"] tags, 9260970.708409652 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Obyte inserted successfully.
Processing data for BLOCKv
Query:
            MERGE INTO coins1 c
            USING (SELECT BLOCKv name, ["media", "enterprise-solutions", "collectibles-nfts", "content-creation"] tags, 9223117.359789722 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BLOCKv inserted successfully.
Processing data for SAFE DEAL
Query:
            MERGE INTO coins1 c
            USING (SELECT SAFE DEAL name, ["masternodes"] tags, 9184118.277569303 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SAFE DEAL inserted successfully.
Processing data for Atletico De Madrid Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Atletico De Madrid Fan Token name, ["sports", "fan-token", "soccer"] tags, 9157387.359425487 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Atletico De Madrid Fan Token inserted successfully.
Processing data for Gari Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Gari Network name, ["collectibles-nfts", "solana-ecosystem", "galaxy-digital-portfolio", "alameda-research-portfolio", "web3", "solrazr-launchpad"] tags, 9043418.380025927 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gari Network inserted successfully.
Processing data for Step App
Query:
            MERGE INTO coins1 c
            USING (SELECT Step App name, ["health", "marketplace", "platform", "sports", "ai-big-data", "collectibles-nfts", "defi", "gaming", "dao", "wallet", "dapp", "yield-farming", "launchpad", "avalanche-ecosystem", "dao-maker", "token", "move-to-earn"] tags, 9023217.885849232 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Step App inserted successfully.
Processing data for Dvision Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Dvision Network name, ["collectibles-nfts", "gaming", "ethereum-ecosystem", "metaverse", "mvb", "injective-ecosystem", "bnb-chain"] tags, 9020058.266806208 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dvision Network inserted successfully.
Processing data for K21
Query:
            MERGE INTO coins1 c
            USING (SELECT K21 name, ["collectibles-nfts"] tags, 9002849.963264383 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for K21 inserted successfully.
Processing data for EverRise
Query:
            MERGE INTO coins1 c
            USING (SELECT EverRise name, ["amm", "dex", "bnb-chain"] tags, 8982416.87068845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EverRise inserted successfully.
Processing data for Rainicorn
Query:
            MERGE INTO coins1 c
            USING (SELECT Rainicorn name, ["bnb-chain"] tags, 8959921.376323167 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rainicorn inserted successfully.
Processing data for Aurory
Query:
            MERGE INTO coins1 c
            USING (SELECT Aurory name, ["collectibles-nfts", "gaming", "solana-ecosystem", "metaverse", "play-to-earn", "skyvision-capital-portfolio"] tags, 8894783.101868017 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aurory inserted successfully.
Processing data for Aurox
Query:
            MERGE INTO coins1 c
            USING (SELECT Aurox name, ["bnb-chain"] tags, 8859025.780091906 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aurox inserted successfully.
Processing data for Cypherium
Query:
            MERGE INTO coins1 c
            USING (SELECT Cypherium name, [] tags, 8858127.46670707 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cypherium inserted successfully.
Processing data for Arsenal Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Arsenal Fan Token name, ["sports", "fan-token", "chiliz"] tags, 8855264.148424916 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Arsenal Fan Token inserted successfully.
Processing data for Quantum Resistant Ledger
Query:
            MERGE INTO coins1 c
            USING (SELECT Quantum Resistant Ledger name, ["mineable", "pow", "platform", "distributed-computing", "quantum-resistant"] tags, 8727292.532385763 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Quantum Resistant Ledger inserted successfully.
Processing data for ZKSpace
Query:
            MERGE INTO coins1 c
            USING (SELECT ZKSpace name, ["decentralized-exchange-dex-token", "zero-knowledge-proofs", "scaling", "amm", "layer-2", "rollups"] tags, 8720010.5889701 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZKSpace inserted successfully.
Processing data for Dimecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Dimecoin name, ["mineable", "pow", "quark"] tags, 8639192.949269544 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dimecoin inserted successfully.
Processing data for Counterparty
Query:
            MERGE INTO coins1 c
            USING (SELECT Counterparty name, ["pow"] tags, 8613997.50472421 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Counterparty inserted successfully.
Processing data for renBTC
Query:
            MERGE INTO coins1 c
            USING (SELECT renBTC name, ["defi", "wrapped-tokens", "fantom-ecosystem", "bnb-chain", "btc-ecosystem"] tags, 8594052.338675758 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for renBTC inserted successfully.
Processing data for Verse
Query:
            MERGE INTO coins1 c
            USING (SELECT Verse name, [] tags, 8551644.943185749 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Verse inserted successfully.
Processing data for SIDUS
Query:
            MERGE INTO coins1 c
            USING (SELECT SIDUS name, ["ai-big-data", "collectibles-nfts", "gaming", "metaverse", "play-to-earn", "animoca-brands-portfolio", "okex-blockdream-ventures-portfolio"] tags, 8501891.081734423 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SIDUS inserted successfully.
Processing data for Image Generation AI
Query:
            MERGE INTO coins1 c
            USING (SELECT Image Generation AI name, ["ai-big-data", "generative-ai"] tags, 8473292.931445502 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Image Generation AI inserted successfully.
Processing data for Quiztok
Query:
            MERGE INTO coins1 c
            USING (SELECT Quiztok name, [] tags, 8463452.110512681 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Quiztok inserted successfully.
Processing data for Hegic
Query:
            MERGE INTO coins1 c
            USING (SELECT Hegic name, ["decentralized-exchange-dex-token", "defi", "derivatives", "options", "fantom-ecosystem", "arbitrum-ecosytem"] tags, 8423111.36524771 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hegic inserted successfully.
Processing data for Crust Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Crust Network name, ["distributed-computing", "filesharing", "substrate", "polkadot", "storage", "polkadot-ecosystem", "web3", "elrond-ecosystem"] tags, 8393754.033322567 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crust Network inserted successfully.
Processing data for DerivaDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT DerivaDAO name, ["decentralized-exchange-dex-token", "defi", "derivatives"] tags, 8388625.122623406 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DerivaDAO inserted successfully.
Processing data for SIX
Query:
            MERGE INTO coins1 c
            USING (SELECT SIX name, ["payments"] tags, 8306491.986750768 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SIX inserted successfully.
Processing data for BTSE
Query:
            MERGE INTO coins1 c
            USING (SELECT BTSE name, ["centralized-exchange"] tags, 8296696.951673352 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BTSE inserted successfully.
Processing data for RIZON
Query:
            MERGE INTO coins1 c
            USING (SELECT RIZON name, [] tags, 8281964.043666835 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RIZON inserted successfully.
Processing data for Civilization
Query:
            MERGE INTO coins1 c
            USING (SELECT Civilization name, [] tags, 8260027.576233308 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Civilization inserted successfully.
Processing data for Plastiks
Query:
            MERGE INTO coins1 c
            USING (SELECT Plastiks name, ["collectibles-nfts", "celo-ecosystem", "bnb-chain"] tags, 8239520.658213594 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Plastiks inserted successfully.
Processing data for GoChain
Query:
            MERGE INTO coins1 c
            USING (SELECT GoChain name, ["platform", "enterprise-solutions", "smart-contracts"] tags, 8232542.855986564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GoChain inserted successfully.
Processing data for Vita Inu
Query:
            MERGE INTO coins1 c
            USING (SELECT Vita Inu name, ["dag", "memes", "doggone-doggerel"] tags, 8214287.266763623 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vita Inu inserted successfully.
Processing data for Bytecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Bytecoin name, ["mineable", "pow", "cryptonight", "medium-of-exchange", "privacy", "payments"] tags, 8194922.059825866 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bytecoin inserted successfully.
Processing data for Bridge Oracle
Query:
            MERGE INTO coins1 c
            USING (SELECT Bridge Oracle name, ["ai-big-data", "defi", "e-commerce", "oracles", "payments", "smart-contracts", "staking", "token", "cross-chain", "bnb-chain"] tags, 8158920.883801331 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bridge Oracle inserted successfully.
Processing data for Lossless
Query:
            MERGE INTO coins1 c
            USING (SELECT Lossless name, ["cybersecurity", "bnb-chain"] tags, 8138704.544315967 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lossless inserted successfully.
Processing data for DAFI Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT DAFI Protocol name, ["defi", "dao-maker", "polygon-ecosystem"] tags, 8120027.807997591 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DAFI Protocol inserted successfully.
Processing data for Swash
Query:
            MERGE INTO coins1 c
            USING (SELECT Swash name, ["ai-big-data"] tags, 8104332.979093899 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swash inserted successfully.
Processing data for Validity
Query:
            MERGE INTO coins1 c
            USING (SELECT Validity name, ["pos"] tags, 8091670.991499191 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Validity inserted successfully.
Processing data for Hoge Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Hoge Finance name, ["gaming", "memes", "bnb-chain"] tags, 8067391.170941406 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hoge Finance inserted successfully.
Processing data for Katana Inu
Query:
            MERGE INTO coins1 c
            USING (SELECT Katana Inu name, [] tags, 7992687.453660037 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Katana Inu inserted successfully.
Processing data for XDEFI Wallet
Query:
            MERGE INTO coins1 c
            USING (SELECT XDEFI Wallet name, ["wallet", "animoca-brands-portfolio"] tags, 7936222.896208216 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XDEFI Wallet inserted successfully.
Processing data for PRIZM
Query:
            MERGE INTO coins1 c
            USING (SELECT PRIZM name, ["pos", "marketplace", "iot"] tags, 7930320.146412394 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PRIZM inserted successfully.
Processing data for OpenDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT OpenDAO name, [] tags, 7897230.917081059 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OpenDAO inserted successfully.
Processing data for Thetan Arena
Query:
            MERGE INTO coins1 c
            USING (SELECT Thetan Arena name, ["gaming", "polkastarter", "mvb", "animoca-brands-portfolio"] tags, 7833598.873736354 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Thetan Arena inserted successfully.
Processing data for Monero Classic
Query:
            MERGE INTO coins1 c
            USING (SELECT Monero Classic name, [] tags, 7804960.081678064 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Monero Classic inserted successfully.
Processing data for HAPI Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT HAPI Protocol name, ["cybersecurity", "oracles", "dao-maker", "poolz-finance-portfolio", "hacken-foundation", "bnb-chain"] tags, 7802736.523800576 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HAPI Protocol inserted successfully.
Processing data for Arianee
Query:
            MERGE INTO coins1 c
            USING (SELECT Arianee name, [] tags, 7789581.498109162 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Arianee inserted successfully.
Processing data for NewYork Exchange
Query:
            MERGE INTO coins1 c
            USING (SELECT NewYork Exchange name, ["services"] tags, 7785322.542843007 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NewYork Exchange inserted successfully.
Processing data for Napoli Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Napoli Fan Token name, ["sports", "fan-token"] tags, 7776960.929540921 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Napoli Fan Token inserted successfully.
Processing data for WaykiChain
Query:
            MERGE INTO coins1 c
            USING (SELECT WaykiChain name, ["platform"] tags, 7762484.0736891385 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WaykiChain inserted successfully.
Processing data for TopGoal
Query:
            MERGE INTO coins1 c
            USING (SELECT TopGoal name, ["sports", "collectibles-nfts", "bnb-chain", "soccer"] tags, 7728442.94146084 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TopGoal inserted successfully.
Processing data for Venus Reward Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus Reward Token name, ["bnb-chain"] tags, 7712379.320896491 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus Reward Token inserted successfully.
Processing data for Zynecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Zynecoin name, ["mineable"] tags, 7692405.2326344615 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zynecoin inserted successfully.
Processing data for Pallapay
Query:
            MERGE INTO coins1 c
            USING (SELECT Pallapay name, [] tags, 7633074.23035571 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pallapay inserted successfully.
Processing data for XeniosCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT XeniosCoin name, [] tags, 7620279.1416825345 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XeniosCoin inserted successfully.
Processing data for Wombat Exchange
Query:
            MERGE INTO coins1 c
            USING (SELECT Wombat Exchange name, ["decentralized-exchange-dex-token", "defi", "binance-smart-chain", "dex"] tags, 7597084.8417861955 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wombat Exchange inserted successfully.
Processing data for Dovu
Query:
            MERGE INTO coins1 c
            USING (SELECT Dovu name, ["bnb-chain"] tags, 7582013.977027339 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dovu inserted successfully.
Processing data for Bitcoin 2
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin 2 name, ["medium-of-exchange", "payments", "btc-ecosystem"] tags, 7581024.411511197 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin 2 inserted successfully.
Processing data for Rupiah Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Rupiah Token name, ["stablecoin", "asset-backed-stablecoin", "harmony-ecosystem"] tags, 7512483.148653434 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rupiah Token inserted successfully.
Processing data for Karura
Query:
            MERGE INTO coins1 c
            USING (SELECT Karura name, ["polkadot-ecosystem", "spartan-group"] tags, 7503145.052286538 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Karura inserted successfully.
Processing data for Banano
Query:
            MERGE INTO coins1 c
            USING (SELECT Banano name, ["dag", "memes", "bnb-chain"] tags, 7489054.261847934 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Banano inserted successfully.
Processing data for DeepBrain Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT DeepBrain Chain name, ["platform", "ai-big-data", "distributed-computing", "substrate", "polkadot", "polkadot-ecosystem", "metaverse"] tags, 7485669.387264989 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeepBrain Chain inserted successfully.
Processing data for RocketX exchange
Query:
            MERGE INTO coins1 c
            USING (SELECT RocketX exchange name, ["duckstarter", "ferrum-network"] tags, 7459799.512994998 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RocketX exchange inserted successfully.
Processing data for Gulf Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Gulf Coin name, [] tags, 7457324.434183677 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gulf Coin inserted successfully.
Processing data for Kambria
Query:
            MERGE INTO coins1 c
            USING (SELECT Kambria name, ["ai-big-data", "polygon-ecosystem"] tags, 7432504.8986700615 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kambria inserted successfully.
Processing data for Grid+
Query:
            MERGE INTO coins1 c
            USING (SELECT Grid+ name, ["energy"] tags, 7410624.201638503 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Grid+ inserted successfully.
Processing data for BabySwap
Query:
            MERGE INTO coins1 c
            USING (SELECT BabySwap name, ["collectibles-nfts", "decentralized-exchange-dex-token", "defi", "gaming", "yield-farming", "amm", "mvb", "bnb-chain"] tags, 7391101.962031396 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BabySwap inserted successfully.
Processing data for Town Star
Query:
            MERGE INTO coins1 c
            USING (SELECT Town Star name, [] tags, 7362127.319450963 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Town Star inserted successfully.
Processing data for DeFine
Query:
            MERGE INTO coins1 c
            USING (SELECT DeFine name, ["collectibles-nfts", "entertainment"] tags, 7361844.032479468 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeFine inserted successfully.
Processing data for Comtech Gold
Query:
            MERGE INTO coins1 c
            USING (SELECT Comtech Gold name, ["xdc-ecosystem"] tags, 7329218.0485355165 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Comtech Gold inserted successfully.
Processing data for Mancium
Query:
            MERGE INTO coins1 c
            USING (SELECT Mancium name, ["ethereum-ecosystem"] tags, 7323869.036639719 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mancium inserted successfully.
Processing data for MileVerse
Query:
            MERGE INTO coins1 c
            USING (SELECT MileVerse name, [] tags, 7311463.009669329 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MileVerse inserted successfully.
Processing data for Tornado Cash
Query:
            MERGE INTO coins1 c
            USING (SELECT Tornado Cash name, ["dao", "optimism-ecosystem"] tags, 7269825.644792272 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tornado Cash inserted successfully.
Processing data for Unicly CryptoPunks Collection
Query:
            MERGE INTO coins1 c
            USING (SELECT Unicly CryptoPunks Collection name, [] tags, 7264244.99014203 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unicly CryptoPunks Collection inserted successfully.
Processing data for Pintu Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Pintu Token name, ["ethereum-ecosystem"] tags, 7232800.350730719 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pintu Token inserted successfully.
Processing data for Govi
Query:
            MERGE INTO coins1 c
            USING (SELECT Govi name, ["defi", "derivatives"] tags, 7215913.994817025 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Govi inserted successfully.
Processing data for SpaceN
Query:
            MERGE INTO coins1 c
            USING (SELECT SpaceN name, [] tags, 7206020.580066534 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SpaceN inserted successfully.
Processing data for Netvrk
Query:
            MERGE INTO coins1 c
            USING (SELECT Netvrk name, ["platform", "collectibles-nfts", "gaming", "entertainment", "dapp", "metaverse", "play-to-earn", "ferrum-network", "skyvision-capital-portfolio"] tags, 7129163.595814626 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Netvrk inserted successfully.
Processing data for Meta Apes
Query:
            MERGE INTO coins1 c
            USING (SELECT Meta Apes name, [] tags, 7111549.731680227 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Meta Apes inserted successfully.
Processing data for Across Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Across Protocol name, ["optimism-ecosystem"] tags, 7107508.737485571 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Across Protocol inserted successfully.
Processing data for Glitch
Query:
            MERGE INTO coins1 c
            USING (SELECT Glitch name, ["trustswap-launchpad", "polygon-ecosystem"] tags, 7100675.953143932 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Glitch inserted successfully.
Processing data for Oxen
Query:
            MERGE INTO coins1 c
            USING (SELECT Oxen name, ["pos", "defi", "privacy", "masternodes"] tags, 7082498.6668983735 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oxen inserted successfully.
Processing data for Receive Access Ecosystem
Query:
            MERGE INTO coins1 c
            USING (SELECT Receive Access Ecosystem name, [] tags, 7038935.879489066 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Receive Access Ecosystem inserted successfully.
Processing data for Cellframe
Query:
            MERGE INTO coins1 c
            USING (SELECT Cellframe name, ["zero-knowledge-proofs", "quantum-resistant", "scaling", "sharding", "exnetwork-capital-portfolio", "trustswap-launchpad"] tags, 7027869.025034269 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cellframe inserted successfully.
Processing data for TEMCO
Query:
            MERGE INTO coins1 c
            USING (SELECT TEMCO name, [] tags, 6993192.110575666 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TEMCO inserted successfully.
Processing data for Dfyn Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Dfyn Network name, ["amm", "algorand-ecosystem", "arbitrum-ecosytem"] tags, 6926169.714574059 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dfyn Network inserted successfully.
Processing data for ELYSIA
Query:
            MERGE INTO coins1 c
            USING (SELECT ELYSIA name, ["real-world-assets"] tags, 6894360.455714301 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ELYSIA inserted successfully.
Processing data for Rai Reflex Index
Query:
            MERGE INTO coins1 c
            USING (SELECT Rai Reflex Index name, ["defi"] tags, 6867519.159010735 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rai Reflex Index inserted successfully.
Processing data for DeHub
Query:
            MERGE INTO coins1 c
            USING (SELECT DeHub name, [] tags, 6849207.522849125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeHub inserted successfully.
Processing data for Omax Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Omax Coin name, ["pos", "ai-big-data", "defi", "e-commerce", "web3"] tags, 6811070.859555326 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Omax Coin inserted successfully.
Processing data for GoCrypto Token
Query:
            MERGE INTO coins1 c
            USING (SELECT GoCrypto Token name, ["ai-big-data"] tags, 6806986.328933048 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GoCrypto Token inserted successfully.
Processing data for LBRY Credits
Query:
            MERGE INTO coins1 c
            USING (SELECT LBRY Credits name, ["mineable", "marketplace", "ai-big-data", "content-creation"] tags, 6805464.358973918 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LBRY Credits inserted successfully.
Processing data for Venus LTC
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus LTC name, [] tags, 6791228.86204829 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus LTC inserted successfully.
Processing data for MurAll
Query:
            MERGE INTO coins1 c
            USING (SELECT MurAll name, ["collectibles-nfts", "polygon-ecosystem", "generative-ai"] tags, 6749516.009843185 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MurAll inserted successfully.
Processing data for Factom
Query:
            MERGE INTO coins1 c
            USING (SELECT Factom name, ["services", "enterprise-solutions", "data-provenance", "fenbushi-capital-portfolio", "hashkey-capital-portfolio"] tags, 6744571.717122789 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Factom inserted successfully.
Processing data for Shib Original Vision
Query:
            MERGE INTO coins1 c
            USING (SELECT Shib Original Vision name, ["memes", "doggone-doggerel"] tags, 6739213.300773161 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shib Original Vision inserted successfully.
Processing data for SHPING
Query:
            MERGE INTO coins1 c
            USING (SELECT SHPING name, [] tags, 6714791.967612919 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SHPING inserted successfully.
Processing data for Observer
Query:
            MERGE INTO coins1 c
            USING (SELECT Observer name, ["mineable"] tags, 6709449.969685622 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Observer inserted successfully.
Processing data for Crypterium
Query:
            MERGE INTO coins1 c
            USING (SELECT Crypterium name, ["services", "smart-contracts"] tags, 6681896.075164053 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crypterium inserted successfully.
Processing data for Origin Dollar Governance
Query:
            MERGE INTO coins1 c
            USING (SELECT Origin Dollar Governance name, ["ethereum-ecosystem"] tags, 6648380.870754987 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Origin Dollar Governance inserted successfully.
Processing data for Buying.com
Query:
            MERGE INTO coins1 c
            USING (SELECT Buying.com name, ["trustswap-launchpad"] tags, 6621604.765054515 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Buying.com inserted successfully.
Processing data for Particl
Query:
            MERGE INTO coins1 c
            USING (SELECT Particl name, ["pos", "retail", "marketplace", "e-commerce", "privacy", "ringct", "staking"] tags, 6609156.179353299 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Particl inserted successfully.
Processing data for MagicCraft
Query:
            MERGE INTO coins1 c
            USING (SELECT MagicCraft name, ["collectibles-nfts", "gaming", "mobile", "metaverse", "fantom-ecosystem", "play-to-earn", "bnb-chain"] tags, 6603172.143140362 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MagicCraft inserted successfully.
Processing data for Cere Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Cere Network name, ["substrate", "binance-labs-portfolio", "polkastarter", "dao-maker", "arrington-xrp-capital-portfolio", "okex-blockdream-ventures-portfolio"] tags, 6589371.830999454 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cere Network inserted successfully.
Processing data for BOSagora
Query:
            MERGE INTO coins1 c
            USING (SELECT BOSagora name, ["dao"] tags, 6570473.922184663 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BOSagora inserted successfully.
Processing data for Exeedme
Query:
            MERGE INTO coins1 c
            USING (SELECT Exeedme name, ["gambling", "collectibles-nfts", "gaming", "dao", "ethereum-ecosystem", "polkadot-ecosystem", "launchpad", "metaverse", "polkastarter", "polygon-ecosystem", "play-to-earn", "web3", "bnb-chain"] tags, 6547687.521041466 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Exeedme inserted successfully.
Processing data for QuadrantProtocol
Query:
            MERGE INTO coins1 c
            USING (SELECT QuadrantProtocol name, ["bnb-chain"] tags, 6463231.869796173 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for QuadrantProtocol inserted successfully.
Processing data for Gridcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Gridcoin name, ["pos", "sha-256"] tags, 6416939.573725151 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gridcoin inserted successfully.
Processing data for Vertcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Vertcoin name, ["mineable", "pow", "medium-of-exchange", "privacy", "payments"] tags, 6395893.499893632 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vertcoin inserted successfully.
Processing data for MonkeyLeague
Query:
            MERGE INTO coins1 c
            USING (SELECT MonkeyLeague name, ["gaming", "solana-ecosystem", "play-to-earn"] tags, 6363635.502855569 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MonkeyLeague inserted successfully.
Processing data for Myria
Query:
            MERGE INTO coins1 c
            USING (SELECT Myria name, ["collectibles-nfts", "zero-knowledge-proofs", "gaming", "layer-2", "gaming-guild"] tags, 6333031.910613876 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Myria inserted successfully.
Processing data for Agoras: Currency of Tau
Query:
            MERGE INTO coins1 c
            USING (SELECT Agoras: Currency of Tau name, ["ai-big-data", "ethereum-ecosystem"] tags, 6311502.508529744 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Agoras: Currency of Tau inserted successfully.
Processing data for TE-FOOD
Query:
            MERGE INTO coins1 c
            USING (SELECT TE-FOOD name, ["logistics", "data-provenance"] tags, 6270795.72017928 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TE-FOOD inserted successfully.
Processing data for GNY
Query:
            MERGE INTO coins1 c
            USING (SELECT GNY name, ["platform", "ai-big-data", "enterprise-solutions", "bnb-chain"] tags, 6248918.568509808 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GNY inserted successfully.
Processing data for ASTA
Query:
            MERGE INTO coins1 c
            USING (SELECT ASTA name, ["ethereum-ecosystem"] tags, 6241798.7615211755 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ASTA inserted successfully.
Processing data for CUDOS
Query:
            MERGE INTO coins1 c
            USING (SELECT CUDOS name, ["algorand-ecosystem", "exnetwork-capital-portfolio"] tags, 6211892.333925971 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CUDOS inserted successfully.
Processing data for SuperWalk
Query:
            MERGE INTO coins1 c
            USING (SELECT SuperWalk name, [] tags, 6201235.816321812 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SuperWalk inserted successfully.
Processing data for dHedge DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT dHedge DAO name, ["decentralized-exchange-dex-token", "defi", "dao", "three-arrows-capital-portfolio", "governance", "framework-ventures-portfolio", "alameda-research-portfolio", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 6125366.2649332285 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for dHedge DAO inserted successfully.
Processing data for AS Roma Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT AS Roma Fan Token name, ["sports", "fan-token", "soccer"] tags, 6114979.987522674 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AS Roma Fan Token inserted successfully.
Processing data for PUBLISH
Query:
            MERGE INTO coins1 c
            USING (SELECT PUBLISH name, [] tags, 6114846.092371827 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PUBLISH inserted successfully.
Processing data for Adappter Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Adappter Token name, ["ethereum-ecosystem"] tags, 6102902.719715975 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Adappter Token inserted successfully.
Processing data for SORA
Query:
            MERGE INTO coins1 c
            USING (SELECT SORA name, ["substrate", "polkadot", "polkadot-ecosystem"] tags, 6100797.297417815 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SORA inserted successfully.
Processing data for IMPT
Query:
            MERGE INTO coins1 c
            USING (SELECT IMPT name, [] tags, 6081583.829188066 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IMPT inserted successfully.
Processing data for PIBBLE
Query:
            MERGE INTO coins1 c
            USING (SELECT PIBBLE name, [] tags, 6076358.351533351 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PIBBLE inserted successfully.
Processing data for Symbiosis
Query:
            MERGE INTO coins1 c
            USING (SELECT Symbiosis name, ["arbitrum-ecosytem"] tags, 6067480.522770038 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Symbiosis inserted successfully.
Processing data for Blocto Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Blocto Token name, ["collectibles-nfts", "animoca-brands-portfolio"] tags, 6066669.440889946 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blocto Token inserted successfully.
Processing data for Invictus Hyperion Fund
Query:
            MERGE INTO coins1 c
            USING (SELECT Invictus Hyperion Fund name, [] tags, 6062620.667953091 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Invictus Hyperion Fund inserted successfully.
Processing data for RealFevr
Query:
            MERGE INTO coins1 c
            USING (SELECT RealFevr name, ["sports", "collectibles-nfts", "gaming", "entertainment", "binance-smart-chain", "polkastarter", "play-to-earn", "bnb-chain"] tags, 6051774.487818217 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RealFevr inserted successfully.
Processing data for Zus
Query:
            MERGE INTO coins1 c
            USING (SELECT Zus name, ["platform", "ai-big-data", "distributed-computing", "filesharing", "iot", "storage"] tags, 5990235.95631856 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zus inserted successfully.
Processing data for Project WITH
Query:
            MERGE INTO coins1 c
            USING (SELECT Project WITH name, [] tags, 5979902.48194844 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Project WITH inserted successfully.
Processing data for Retreeb
Query:
            MERGE INTO coins1 c
            USING (SELECT Retreeb name, ["fantom-ecosystem"] tags, 5952029.771173709 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Retreeb inserted successfully.
Processing data for Cryptex Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Cryptex Finance name, ["optimism-ecosystem"] tags, 5947538.934279688 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cryptex Finance inserted successfully.
Processing data for Tap
Query:
            MERGE INTO coins1 c
            USING (SELECT Tap name, [] tags, 5938106.5812409725 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tap inserted successfully.
Processing data for MASQ
Query:
            MERGE INTO coins1 c
            USING (SELECT MASQ name, [] tags, 5882916.003394534 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MASQ inserted successfully.
Processing data for OVR
Query:
            MERGE INTO coins1 c
            USING (SELECT OVR name, ["vr-ar", "collectibles-nfts", "metaverse", "bnb-chain"] tags, 5860683.4185700845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OVR inserted successfully.
Processing data for Apollo Currency
Query:
            MERGE INTO coins1 c
            USING (SELECT Apollo Currency name, ["medium-of-exchange", "privacy", "payments"] tags, 5858401.685763636 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Apollo Currency inserted successfully.
Processing data for Emirex Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Emirex Token name, [] tags, 5816928.030383496 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Emirex Token inserted successfully.
Processing data for Oraichain
Query:
            MERGE INTO coins1 c
            USING (SELECT Oraichain name, ["cosmos-ecosystem", "ai-big-data", "defi", "oracles", "injective-ecosystem", "bnb-chain"] tags, 5753435.112654225 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oraichain inserted successfully.
Processing data for DigixDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT DigixDAO name, ["platform", "stablecoin", "asset-backed-stablecoin"] tags, 5740919.910929722 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DigixDAO inserted successfully.
Processing data for Shiryo
Query:
            MERGE INTO coins1 c
            USING (SELECT Shiryo name, [] tags, 5727055.401324117 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shiryo inserted successfully.
Processing data for BullPerks
Query:
            MERGE INTO coins1 c
            USING (SELECT BullPerks name, ["launchpad", "bullperks-launchpad", "bnb-chain"] tags, 5723079.459597258 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BullPerks inserted successfully.
Processing data for WHALE
Query:
            MERGE INTO coins1 c
            USING (SELECT WHALE name, ["collectibles-nfts", "dao", "social-money"] tags, 5711421.3229460595 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WHALE inserted successfully.
Processing data for Polytrade
Query:
            MERGE INTO coins1 c
            USING (SELECT Polytrade name, ["defi", "lending-borowing", "real-world-assets"] tags, 5706758.215200939 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polytrade inserted successfully.
Processing data for Aventus
Query:
            MERGE INTO coins1 c
            USING (SELECT Aventus name, ["events", "enterprise-solutions", "loyalty", "ethereum-ecosystem"] tags, 5683199.021054642 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aventus inserted successfully.
Processing data for Inflation Hedging Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Inflation Hedging Coin name, [] tags, 5680823.424336054 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Inflation Hedging Coin inserted successfully.
Processing data for BigONE Token
Query:
            MERGE INTO coins1 c
            USING (SELECT BigONE Token name, ["marketplace", "centralized-exchange", "bnb-chain"] tags, 5664916.012120546 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BigONE Token inserted successfully.
Processing data for ApeSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT ApeSwap name, ["decentralized-exchange-dex-token", "defi", "yield-farming", "amm", "dex", "bnb-chain"] tags, 5649078.781776415 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ApeSwap inserted successfully.
Processing data for Gameswap
Query:
            MERGE INTO coins1 c
            USING (SELECT Gameswap name, ["collectibles-nfts", "decentralized-exchange-dex-token", "gaming", "yield-farming", "avalanche-ecosystem"] tags, 5638269.439016963 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gameswap inserted successfully.
Processing data for Pillar
Query:
            MERGE INTO coins1 c
            USING (SELECT Pillar name, ["defi", "dao", "wallet", "governance"] tags, 5629649.836452723 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pillar inserted successfully.
Processing data for RigoBlock
Query:
            MERGE INTO coins1 c
            USING (SELECT RigoBlock name, ["asset-management", "defi", "dao", "yield-farming", "governance"] tags, 5557470.177897361 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RigoBlock inserted successfully.
Processing data for Beam
Query:
            MERGE INTO coins1 c
            USING (SELECT Beam name, ["mineable", "pow", "medium-of-exchange", "defi", "privacy", "mimblewimble", "lelantusmw"] tags, 5556409.611086496 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Beam inserted successfully.
Processing data for Hamster
Query:
            MERGE INTO coins1 c
            USING (SELECT Hamster name, ["bnb-chain"] tags, 5541950.5803727135 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hamster inserted successfully.
Processing data for Pangolin
Query:
            MERGE INTO coins1 c
            USING (SELECT Pangolin name, ["decentralized-exchange-dex-token", "avalanche-ecosystem", "olympus-pro-ecosystem"] tags, 5524802.913759626 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pangolin inserted successfully.
Processing data for Cashaa
Query:
            MERGE INTO coins1 c
            USING (SELECT Cashaa name, ["platform", "bnb-chain"] tags, 5501621.944062865 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cashaa inserted successfully.
Processing data for Nexus
Query:
            MERGE INTO coins1 c
            USING (SELECT Nexus name, ["mineable", "hybrid-pow-npos", "platform", "quantum-resistant", "staking"] tags, 5492321.899959874 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nexus inserted successfully.
Processing data for Unification
Query:
            MERGE INTO coins1 c
            USING (SELECT Unification name, ["platform", "cosmos-ecosystem", "enterprise-solutions", "interoperability", "oracles", "web3", "injective-ecosystem"] tags, 5465530.376910187 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unification inserted successfully.
Processing data for Venus DAI
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus DAI name, ["stablecoin", "bnb-chain"] tags, 5439195.031201597 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus DAI inserted successfully.
Processing data for Darwinia Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Darwinia Network name, ["gaming", "interoperability", "substrate", "polkadot-ecosystem", "metaverse"] tags, 5416889.148377716 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Darwinia Network inserted successfully.
Processing data for Super Zero Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Super Zero Protocol name, ["privacy"] tags, 5381660.908047937 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Super Zero Protocol inserted successfully.
Processing data for Morpheus Labs
Query:
            MERGE INTO coins1 c
            USING (SELECT Morpheus Labs name, ["platform", "enterprise-solutions"] tags, 5359657.287156936 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Morpheus Labs inserted successfully.
Processing data for Etherisc DIP Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Etherisc DIP Token name, ["insurance"] tags, 5355131.506243934 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Etherisc DIP Token inserted successfully.
Processing data for Energi
Query:
            MERGE INTO coins1 c
            USING (SELECT Energi name, ["mineable", "marketplace", "masternodes", "research"] tags, 5293799.26270077 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Energi inserted successfully.
Processing data for Grin
Query:
            MERGE INTO coins1 c
            USING (SELECT Grin name, ["mineable", "pow", "medium-of-exchange", "privacy", "mimblewimble"] tags, 5245733.547821828 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Grin inserted successfully.
Processing data for Mysterium
Query:
            MERGE INTO coins1 c
            USING (SELECT Mysterium name, ["platform", "distributed-computing"] tags, 5241329.3239142755 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mysterium inserted successfully.
Processing data for TomTomCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT TomTomCoin name, [] tags, 5181867.190814534 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TomTomCoin inserted successfully.
Processing data for SpaceChain
Query:
            MERGE INTO coins1 c
            USING (SELECT SpaceChain name, [] tags, 5167434.416722383 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SpaceChain inserted successfully.
Processing data for Bitcoin Standard Hashrate Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin Standard Hashrate Token name, ["binance-launchpool", "bnb-chain", "btc-ecosystem"] tags, 5132880.855777013 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin Standard Hashrate Token inserted successfully.
Processing data for MimbleWimbleCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT MimbleWimbleCoin name, ["pow", "privacy"] tags, 5106790.795192202 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MimbleWimbleCoin inserted successfully.
Processing data for ChainGuardians
Query:
            MERGE INTO coins1 c
            USING (SELECT ChainGuardians name, ["collectibles-nfts", "gaming", "polkastarter", "polygon-ecosystem", "play-to-earn", "skyvision-capital-portfolio"] tags, 5073406.681720835 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ChainGuardians inserted successfully.
Processing data for BUX Token
Query:
            MERGE INTO coins1 c
            USING (SELECT BUX Token name, ["bnb-chain"] tags, 5061303.785470227 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BUX Token inserted successfully.
Processing data for Calamari Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Calamari Network name, [] tags, 5038712.921647651 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Calamari Network inserted successfully.
Processing data for ScPrime
Query:
            MERGE INTO coins1 c
            USING (SELECT ScPrime name, ["mineable", "pow", "blake2b", "platform", "distributed-computing", "filesharing", "storage"] tags, 5027680.862512993 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ScPrime inserted successfully.
Processing data for Mirror Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Mirror Protocol name, ["cosmos-ecosystem", "defi", "derivatives", "synthetics", "arrington-xrp-capital-portfolio", "pantera-capital-portfolio", "terra-ecosystem", "injective-ecosystem"] tags, 5024263.289832815 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mirror Protocol inserted successfully.
Processing data for Sentinel
Query:
            MERGE INTO coins1 c
            USING (SELECT Sentinel name, ["cosmos-ecosystem", "injective-ecosystem"] tags, 4925572.085490641 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sentinel inserted successfully.
Processing data for BioPassport Token
Query:
            MERGE INTO coins1 c
            USING (SELECT BioPassport Token name, [] tags, 4911279.673324425 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BioPassport Token inserted successfully.
Processing data for Memetic / PepeCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Memetic / PepeCoin name, ["mineable", "hybrid-pow-pos", "x11", "masternodes", "memes"] tags, 4863368.430356441 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Memetic / PepeCoin inserted successfully.
Processing data for ChangeNOW Token
Query:
            MERGE INTO coins1 c
            USING (SELECT ChangeNOW Token name, ["ethereum-ecosystem", "binance-chain"] tags, 4859472.06606838 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ChangeNOW Token inserted successfully.
Processing data for Linker Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Linker Coin name, [] tags, 4801370.437533422 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Linker Coin inserted successfully.
Processing data for ShareToken
Query:
            MERGE INTO coins1 c
            USING (SELECT ShareToken name, [] tags, 4781862.337057529 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ShareToken inserted successfully.
Processing data for Dypius
Query:
            MERGE INTO coins1 c
            USING (SELECT Dypius name, ["collectibles-nfts", "defi", "avalanche-ecosystem", "metaverse", "bnb-chain"] tags, 4729461.428516263 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dypius inserted successfully.
Processing data for KOK
Query:
            MERGE INTO coins1 c
            USING (SELECT KOK name, [] tags, 4714714.0982198 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KOK inserted successfully.
Processing data for GAMEE
Query:
            MERGE INTO coins1 c
            USING (SELECT GAMEE name, ["collectibles-nfts", "gaming", "polygon-ecosystem", "play-to-earn", "animoca-brands-portfolio"] tags, 4697217.009367002 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GAMEE inserted successfully.
Processing data for Flashstake
Query:
            MERGE INTO coins1 c
            USING (SELECT Flashstake name, [] tags, 4696847.0141987 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Flashstake inserted successfully.
Processing data for BitForex Token
Query:
            MERGE INTO coins1 c
            USING (SELECT BitForex Token name, ["marketplace", "centralized-exchange", "payments"] tags, 4695913.593194744 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitForex Token inserted successfully.
Processing data for Lattice Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Lattice Token name, ["defi", "interoperability", "yield-farming", "amm", "governance", "exnetwork-capital-portfolio"] tags, 4694033.599765728 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lattice Token inserted successfully.
Processing data for Callisto Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Callisto Network name, ["mineable", "services"] tags, 4677058.7304640785 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Callisto Network inserted successfully.
Processing data for TRVL
Query:
            MERGE INTO coins1 c
            USING (SELECT TRVL name, ["hospitality"] tags, 4664455.188871493 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TRVL inserted successfully.
Processing data for Atari Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Atari Token name, ["gambling", "collectibles-nfts", "gaming", "ethereum-ecosystem", "metaverse", "polygon-ecosystem", "fantom-ecosystem", "bnb-chain"] tags, 4642789.212064261 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Atari Token inserted successfully.
Processing data for KARMA
Query:
            MERGE INTO coins1 c
            USING (SELECT KARMA name, [] tags, 4626416.091875012 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KARMA inserted successfully.
Processing data for Tarot
Query:
            MERGE INTO coins1 c
            USING (SELECT Tarot name, ["defi", "yield-farming", "yield-aggregator", "lending-borowing", "fantom-ecosystem", "optimism-ecosystem"] tags, 4609335.43028009 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tarot inserted successfully.
Processing data for PKT
Query:
            MERGE INTO coins1 c
            USING (SELECT PKT name, ["marketplace", "sharing-economy"] tags, 4551931.806190166 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PKT inserted successfully.
Processing data for CropBytes
Query:
            MERGE INTO coins1 c
            USING (SELECT CropBytes name, ["play-to-earn"] tags, 4537541.223945075 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CropBytes inserted successfully.
Processing data for Electra Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Electra Protocol name, ["pos", "medium-of-exchange", "logistics", "atomic-swaps"] tags, 4516290.4748221645 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Electra Protocol inserted successfully.
Processing data for KALM
Query:
            MERGE INTO coins1 c
            USING (SELECT KALM name, ["collectibles-nfts", "defi", "yield-farming", "lending-borowing", "bnb-chain"] tags, 4511524.995232174 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KALM inserted successfully.
Processing data for Matrix AI Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Matrix AI Network name, ["mineable", "platform", "ai-big-data", "collectibles-nfts", "gaming", "metaverse", "bnb-chain"] tags, 4505981.350710539 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Matrix AI Network inserted successfully.
Processing data for Permission Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Permission Coin name, [] tags, 4477915.477044212 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Permission Coin inserted successfully.
Processing data for THENA
Query:
            MERGE INTO coins1 c
            USING (SELECT THENA name, ["platform", "services", "store-of-value", "decentralized-exchange-dex-token", "defi", "smart-contracts", "staking", "dapp", "yield-farming", "binance-chain", "amm", "dex", "yield-aggregator", "lp-tokens", "software", "defi-index", "analytics", "web3", "token"] tags, 4408040.324557771 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for THENA inserted successfully.
Processing data for STAKE
Query:
            MERGE INTO coins1 c
            USING (SELECT STAKE name, ["defi", "exnetwork-capital-portfolio"] tags, 4395201.82243789 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for STAKE inserted successfully.
Processing data for Fruits
Query:
            MERGE INTO coins1 c
            USING (SELECT Fruits name, [] tags, 4377529.831471661 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fruits inserted successfully.
Processing data for Botto
Query:
            MERGE INTO coins1 c
            USING (SELECT Botto name, ["ai-big-data", "collectibles-nfts", "olympus-pro-ecosystem"] tags, 4376381.06931872 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Botto inserted successfully.
Processing data for Big Data Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Big Data Protocol name, ["ai-big-data", "solana-ecosystem", "polygon-ecosystem", "web3", "injective-ecosystem"] tags, 4368959.98007415 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Big Data Protocol inserted successfully.
Processing data for Trias Token (new)
Query:
            MERGE INTO coins1 c
            USING (SELECT Trias Token (new) name, ["metaverse", "bnb-chain"] tags, 4336627.084596896 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Trias Token (new) inserted successfully.
Processing data for Xaya
Query:
            MERGE INTO coins1 c
            USING (SELECT Xaya name, ["collectibles-nfts", "gaming", "polkadot-ecosystem", "metaverse", "play-to-earn"] tags, 4325418.51368128 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Xaya inserted successfully.
Processing data for Carbon Credit
Query:
            MERGE INTO coins1 c
            USING (SELECT Carbon Credit name, ["algorand-ecosystem"] tags, 4316289.821881721 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Carbon Credit inserted successfully.
Processing data for POA Network
Query:
            MERGE INTO coins1 c
            USING (SELECT POA Network name, ["platform", "scaling"] tags, 4307064.550835857 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for POA Network inserted successfully.
Processing data for ProximaX
Query:
            MERGE INTO coins1 c
            USING (SELECT ProximaX name, ["platform", "enterprise-solutions", "distributed-computing", "filesharing", "storage"] tags, 4290643.858260883 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ProximaX inserted successfully.
Processing data for Kasta
Query:
            MERGE INTO coins1 c
            USING (SELECT Kasta name, [] tags, 4274611.464366376 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kasta inserted successfully.
Processing data for Modefi
Query:
            MERGE INTO coins1 c
            USING (SELECT Modefi name, ["oracles", "trustswap-launchpad", "polygon-ecosystem", "fantom-ecosystem", "web3", "bnb-chain"] tags, 4272722.919125049 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Modefi inserted successfully.
Processing data for Anchor Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Anchor Protocol name, ["cosmos-ecosystem", "arrington-xrp-capital-portfolio", "terra-ecosystem", "injective-ecosystem"] tags, 4234186.113696688 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Anchor Protocol inserted successfully.
Processing data for Nash
Query:
            MERGE INTO coins1 c
            USING (SELECT Nash name, ["asset-management", "marketplace", "decentralized-exchange-dex-token", "defi", "discount-token", "interoperability", "mobile", "staking", "wallet", "ethereum-ecosystem", "yield-farming", "amm", "dex", "avalanche-ecosystem", "polygon-ecosystem"] tags, 4225919.297489544 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nash inserted successfully.
Processing data for Electric Vehicle Zone
Query:
            MERGE INTO coins1 c
            USING (SELECT Electric Vehicle Zone name, [] tags, 4224415.702550465 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Electric Vehicle Zone inserted successfully.
Processing data for Tokamak Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Tokamak Network name, [] tags, 4211240.362497278 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tokamak Network inserted successfully.
Processing data for Uno Re
Query:
            MERGE INTO coins1 c
            USING (SELECT Uno Re name, ["defi", "insurance"] tags, 4206797.159295533 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Uno Re inserted successfully.
Processing data for Aimedis (new)
Query:
            MERGE INTO coins1 c
            USING (SELECT Aimedis (new) name, ["health", "vr-ar", "ai-big-data", "enterprise-solutions", "content-creation", "metaverse", "polygon-ecosystem", "web3", "desci"] tags, 4205835.647441839 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aimedis (new) inserted successfully.
Processing data for ADreward
Query:
            MERGE INTO coins1 c
            USING (SELECT ADreward name, [] tags, 4200405.896986247 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ADreward inserted successfully.
Processing data for Polaris Share
Query:
            MERGE INTO coins1 c
            USING (SELECT Polaris Share name, [] tags, 4161992.899858773 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polaris Share inserted successfully.
Processing data for Forj(Bondly)
Query:
            MERGE INTO coins1 c
            USING (SELECT Forj(Bondly) name, ["collectibles-nfts", "defi", "music", "polkadot-ecosystem", "polygon-ecosystem", "cardano-ecosystem", "animoca-brands-portfolio", "ferrum-network", "okex-blockdream-ventures-portfolio", "bnb-chain"] tags, 4161516.1530779265 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Forj(Bondly) inserted successfully.
Processing data for SHILL Token
Query:
            MERGE INTO coins1 c
            USING (SELECT SHILL Token name, ["collectibles-nfts", "gaming", "entertainment", "play-to-earn"] tags, 4148430.403031744 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SHILL Token inserted successfully.
Processing data for Pokemon Play
Query:
            MERGE INTO coins1 c
            USING (SELECT Pokemon Play name, [] tags, 4145120.9705971875 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pokemon Play inserted successfully.
Processing data for DOC.COM
Query:
            MERGE INTO coins1 c
            USING (SELECT DOC.COM name, ["health", "marketplace", "ai-big-data", "payments"] tags, 4136304.992257034 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DOC.COM inserted successfully.
Processing data for Carboncoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Carboncoin name, ["mineable", "pow", "scrypt"] tags, 4134417.9163954253 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Carboncoin inserted successfully.
Processing data for Venus LINK
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus LINK name, ["bnb-chain"] tags, 4116308.4746805965 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus LINK inserted successfully.
Processing data for SENSO
Query:
            MERGE INTO coins1 c
            USING (SELECT SENSO name, ["vr-ar", "metaverse"] tags, 4098880.7304666387 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SENSO inserted successfully.
Processing data for Sylo
Query:
            MERGE INTO coins1 c
            USING (SELECT Sylo name, ["communications-social-media", "payments", "wallet", "polygon-ecosystem"] tags, 4079534.5216606455 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sylo inserted successfully.
Processing data for Cardstack
Query:
            MERGE INTO coins1 c
            USING (SELECT Cardstack name, [] tags, 4036166.2586025586 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cardstack inserted successfully.
Processing data for Solanium
Query:
            MERGE INTO coins1 c
            USING (SELECT Solanium name, ["solana-ecosystem", "petrock-capital-portfolio", "skyvision-capital-portfolio"] tags, 4029703.2916368796 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Solanium inserted successfully.
Processing data for LABEL Foundation
Query:
            MERGE INTO coins1 c
            USING (SELECT LABEL Foundation name, ["collectibles-nfts"] tags, 4019158.1831240244 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LABEL Foundation inserted successfully.
Processing data for Bitgesell
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitgesell name, [] tags, 4005104.870120867 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitgesell inserted successfully.
Processing data for EPIK Prime
Query:
            MERGE INTO coins1 c
            USING (SELECT EPIK Prime name, ["collectibles-nfts", "gaming", "metaverse", "animoca-brands-portfolio"] tags, 3966188.5465949746 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EPIK Prime inserted successfully.
Processing data for Crypton
Query:
            MERGE INTO coins1 c
            USING (SELECT Crypton name, ["mineable", "medium-of-exchange", "platform", "store-of-value", "collectibles-nfts", "e-commerce", "privacy", "gaming", "staking"] tags, 3903609.0925757145 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crypton inserted successfully.
Processing data for Bitrue Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitrue Coin name, ["marketplace", "centralized-exchange"] tags, 3872224.4330344643 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitrue Coin inserted successfully.
Processing data for Venus SXP
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus SXP name, ["bnb-chain"] tags, 3871919.748979853 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus SXP inserted successfully.
Processing data for GamerCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT GamerCoin name, ["marketplace", "gaming"] tags, 3871125.046533899 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GamerCoin inserted successfully.
Processing data for Robonomics.network
Query:
            MERGE INTO coins1 c
            USING (SELECT Robonomics.network name, ["ai-big-data", "iot", "polkadot-ecosystem"] tags, 3857802.0228350977 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Robonomics.network inserted successfully.
Processing data for STFX
Query:
            MERGE INTO coins1 c
            USING (SELECT STFX name, ["asset-management", "defi", "arbitrum-ecosytem"] tags, 3844711.914573247 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for STFX inserted successfully.
Processing data for Ignis
Query:
            MERGE INTO coins1 c
            USING (SELECT Ignis name, ["platform", "payments", "state-channel"] tags, 3839450.888332996 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ignis inserted successfully.
Processing data for BaaSid
Query:
            MERGE INTO coins1 c
            USING (SELECT BaaSid name, [] tags, 3838323.2319375738 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BaaSid inserted successfully.
Processing data for ChainX
Query:
            MERGE INTO coins1 c
            USING (SELECT ChainX name, ["substrate", "polkadot", "polkadot-ecosystem"] tags, 3835256.983240547 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ChainX inserted successfully.
Processing data for Oxbull.tech
Query:
            MERGE INTO coins1 c
            USING (SELECT Oxbull.tech name, ["launchpad", "oxbull", "bnb-chain"] tags, 3833002.407748527 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oxbull.tech inserted successfully.
Processing data for Neutrino Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Neutrino Token name, [] tags, 3828297.8064521537 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Neutrino Token inserted successfully.
Processing data for Games for a living
Query:
            MERGE INTO coins1 c
            USING (SELECT Games for a living name, [] tags, 3793476.050170414 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Games for a living inserted successfully.
Processing data for Trabzonspor Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Trabzonspor Fan Token name, ["sports", "fan-token", "soccer"] tags, 3770116.851926364 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Trabzonspor Fan Token inserted successfully.
Processing data for Valor Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Valor Token name, ["asset-management"] tags, 3763618.1920665214 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Valor Token inserted successfully.
Processing data for OneLedger
Query:
            MERGE INTO coins1 c
            USING (SELECT OneLedger name, ["interoperability", "staking"] tags, 3752437.6589874197 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OneLedger inserted successfully.
Processing data for MultiVAC
Query:
            MERGE INTO coins1 c
            USING (SELECT MultiVAC name, ["bnb-chain"] tags, 3735950.598734488 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MultiVAC inserted successfully.
Processing data for Plian
Query:
            MERGE INTO coins1 c
            USING (SELECT Plian name, ["platform", "interoperability", "smart-contracts"] tags, 3723129.00059584 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Plian inserted successfully.
Processing data for Vidya
Query:
            MERGE INTO coins1 c
            USING (SELECT Vidya name, ["collectibles-nfts", "gaming"] tags, 3721478.5630770153 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vidya inserted successfully.
Processing data for UniMex Network
Query:
            MERGE INTO coins1 c
            USING (SELECT UniMex Network name, [] tags, 3714760.3152800887 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UniMex Network inserted successfully.
Processing data for DogeBonk
Query:
            MERGE INTO coins1 c
            USING (SELECT DogeBonk name, ["memes", "analytics", "doggone-doggerel", "bnb-chain"] tags, 3704468.002508089 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DogeBonk inserted successfully.
Processing data for SunContract
Query:
            MERGE INTO coins1 c
            USING (SELECT SunContract name, ["energy"] tags, 3703449.5723067373 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SunContract inserted successfully.
Processing data for bitCNY
Query:
            MERGE INTO coins1 c
            USING (SELECT bitCNY name, ["store-of-value", "defi", "stablecoin"] tags, 3699642.456735713 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for bitCNY inserted successfully.
Processing data for Monavale
Query:
            MERGE INTO coins1 c
            USING (SELECT Monavale name, ["collectibles-nfts", "metaverse"] tags, 3690981.633057669 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Monavale inserted successfully.
Processing data for Santiment Network Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Santiment Network Token name, ["asset-management", "ai-big-data", "crowdsourcing"] tags, 3677954.284573687 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Santiment Network Token inserted successfully.
Processing data for SwftCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT SwftCoin name, ["marketplace", "collectibles-nfts", "defi", "interoperability", "payments", "bnb-chain"] tags, 3667120.188399797 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SwftCoin inserted successfully.
Processing data for XMON
Query:
            MERGE INTO coins1 c
            USING (SELECT XMON name, ["ai-big-data", "collectibles-nfts"] tags, 3666471.2792268423 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XMON inserted successfully.
Processing data for Everest
Query:
            MERGE INTO coins1 c
            USING (SELECT Everest name, [] tags, 3663588.0960119492 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Everest inserted successfully.
Processing data for Deri Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Deri Protocol name, ["ai-big-data", "collectibles-nfts", "decentralized-exchange-dex-token", "defi", "derivatives", "options", "arbitrum-ecosytem", "mvb", "bnb-chain"] tags, 3657112.126138714 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Deri Protocol inserted successfully.
Processing data for Ariva
Query:
            MERGE INTO coins1 c
            USING (SELECT Ariva name, ["tourism"] tags, 3649890.5343905133 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ariva inserted successfully.
Processing data for Polkamarkets
Query:
            MERGE INTO coins1 c
            USING (SELECT Polkamarkets name, ["defi", "prediction-markets", "polkadot", "polkastarter", "polygon-ecosystem"] tags, 3636455.6316988813 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polkamarkets inserted successfully.
Processing data for v.systems
Query:
            MERGE INTO coins1 c
            USING (SELECT v.systems name, ["platform", "discount-token", "smart-contracts"] tags, 3632822.8217984834 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for v.systems inserted successfully.
Processing data for saffron.finance
Query:
            MERGE INTO coins1 c
            USING (SELECT saffron.finance name, ["defi", "yield-farming", "yield-aggregator", "coinbase-ventures-portfolio", "ledgerprime-portfolio", "multicoin-capital-portfolio", "fantom-ecosystem", "bnb-chain"] tags, 3564979.3152990923 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for saffron.finance inserted successfully.
Processing data for TOKPIE
Query:
            MERGE INTO coins1 c
            USING (SELECT TOKPIE name, ["bnb-chain"] tags, 3561295.3984056297 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TOKPIE inserted successfully.
Processing data for ROOBEE
Query:
            MERGE INTO coins1 c
            USING (SELECT ROOBEE name, ["ai-big-data", "arbitrum-ecosytem", "bnb-chain"] tags, 3545308.2118810387 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ROOBEE inserted successfully.
Processing data for Dotmoovs
Query:
            MERGE INTO coins1 c
            USING (SELECT Dotmoovs name, ["gambling", "ai-big-data", "gaming", "metaverse", "polkastarter", "play-to-earn", "bnb-chain", "move-to-earn"] tags, 3534145.1717566308 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dotmoovs inserted successfully.
Processing data for Decubate
Query:
            MERGE INTO coins1 c
            USING (SELECT Decubate name, ["crowdfunding", "defi", "binance-chain", "launchpad", "bnb-chain"] tags, 3522308.5851798663 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decubate inserted successfully.
Processing data for TitanSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT TitanSwap name, [] tags, 3511232.090706102 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TitanSwap inserted successfully.
Processing data for Vivid Labs
Query:
            MERGE INTO coins1 c
            USING (SELECT Vivid Labs name, ["media", "collectibles-nfts", "content-creation", "video"] tags, 3462242.16708984 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vivid Labs inserted successfully.
Processing data for ProBit Token
Query:
            MERGE INTO coins1 c
            USING (SELECT ProBit Token name, ["centralized-exchange"] tags, 3461757.097344264 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ProBit Token inserted successfully.
Processing data for Terran Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Terran Coin name, [] tags, 3455780.841533673 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Terran Coin inserted successfully.
Processing data for BOLT
Query:
            MERGE INTO coins1 c
            USING (SELECT BOLT name, [] tags, 3454473.04566621 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BOLT inserted successfully.
Processing data for SafeMoon
Query:
            MERGE INTO coins1 c
            USING (SELECT SafeMoon name, ["bnb-chain"] tags, 3453441.2372081825 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SafeMoon inserted successfully.
Processing data for ColossusXT
Query:
            MERGE INTO coins1 c
            USING (SELECT ColossusXT name, ["privacy", "masternodes", "bnb-chain"] tags, 3420010.8868790376 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ColossusXT inserted successfully.
Processing data for PointPay
Query:
            MERGE INTO coins1 c
            USING (SELECT PointPay name, [] tags, 3416832.2755134148 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PointPay inserted successfully.
Processing data for Klaydice
Query:
            MERGE INTO coins1 c
            USING (SELECT Klaydice name, [] tags, 3411998.961431136 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Klaydice inserted successfully.
Processing data for 1World
Query:
            MERGE INTO coins1 c
            USING (SELECT 1World name, ["algorand-ecosystem"] tags, 3386882.3864979385 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 1World inserted successfully.
Processing data for Landshare
Query:
            MERGE INTO coins1 c
            USING (SELECT Landshare name, ["real-world-assets"] tags, 3365437.581024195 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Landshare inserted successfully.
Processing data for Reflexer Ungovernance Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Reflexer Ungovernance Token name, ["defi", "derivatives", "smart-contracts", "asset-backed-stablecoin", "dao", "dapp", "pantera-capital-portfolio"] tags, 3350789.604446845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Reflexer Ungovernance Token inserted successfully.
Processing data for ARAW
Query:
            MERGE INTO coins1 c
            USING (SELECT ARAW name, [] tags, 3282011.685175156 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ARAW inserted successfully.
Processing data for Navcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Navcoin name, ["pos", "medium-of-exchange"] tags, 3276539.671413262 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Navcoin inserted successfully.
Processing data for Kromatika
Query:
            MERGE INTO coins1 c
            USING (SELECT Kromatika name, ["derivatives", "dao", "ethereum-ecosystem", "governance", "polygon-ecosystem", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 3268199.461411582 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kromatika inserted successfully.
Processing data for HyperCash
Query:
            MERGE INTO coins1 c
            USING (SELECT HyperCash name, ["mineable", "marketplace", "payments", "state-channel"] tags, 3266492.0421605264 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HyperCash inserted successfully.
Processing data for Vesper
Query:
            MERGE INTO coins1 c
            USING (SELECT Vesper name, ["defi", "yield-farming", "yield-aggregator"] tags, 3264767.637119747 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vesper inserted successfully.
Processing data for GMCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT GMCoin name, ["tron-ecosystem"] tags, 3260021.4177087825 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GMCoin inserted successfully.
Processing data for AnimalGo
Query:
            MERGE INTO coins1 c
            USING (SELECT AnimalGo name, [] tags, 3259161.3324150206 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AnimalGo inserted successfully.
Processing data for ClinTex CTi
Query:
            MERGE INTO coins1 c
            USING (SELECT ClinTex CTi name, ["ai-big-data", "ethereum-ecosystem", "binance-smart-chain", "polygon-ecosystem"] tags, 3246192.6185544515 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ClinTex CTi inserted successfully.
Processing data for HyperDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT HyperDAO name, ["dao"] tags, 3242165.788134203 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HyperDAO inserted successfully.
Processing data for Inverse Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Inverse Finance name, ["defi", "dao", "yield-aggregator", "lending-borowing", "olympus-pro-ecosystem"] tags, 3234829.8671970163 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Inverse Finance inserted successfully.
Processing data for Fenerbahçe Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Fenerbahçe Token name, ["sports", "fan-token"] tags, 3230099.828886286 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fenerbahçe Token inserted successfully.
Processing data for Xend Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Xend Finance name, ["defi", "smart-contracts", "dao-maker", "exnetwork-capital-portfolio", "polygon-ecosystem", "bnb-chain"] tags, 3224892.1211778666 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Xend Finance inserted successfully.
Processing data for UFC Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT UFC Fan Token name, ["sports", "fan-token"] tags, 3219617.458208929 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UFC Fan Token inserted successfully.
Processing data for Sentivate
Query:
            MERGE INTO coins1 c
            USING (SELECT Sentivate name, ["iot"] tags, 3217372.9561614445 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sentivate inserted successfully.
Processing data for InsurAce
Query:
            MERGE INTO coins1 c
            USING (SELECT InsurAce name, ["insurance", "ethereum-ecosystem", "solana-ecosystem", "defiance-capital-portfolio", "alameda-research-portfolio", "polygon-ecosystem"] tags, 3213952.2680501067 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for InsurAce inserted successfully.
Processing data for OpenLeverage
Query:
            MERGE INTO coins1 c
            USING (SELECT OpenLeverage name, ["binance-labs-portfolio"] tags, 3213830.7112516277 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OpenLeverage inserted successfully.
Processing data for CryptoFranc
Query:
            MERGE INTO coins1 c
            USING (SELECT CryptoFranc name, ["store-of-value", "stablecoin"] tags, 3202824.256558947 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CryptoFranc inserted successfully.
Processing data for Alvey Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT Alvey Chain name, [] tags, 3201932.1285341214 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alvey Chain inserted successfully.
Processing data for BendDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT BendDAO name, ["collectibles-nfts", "defi", "dao", "governance", "lending-borowing"] tags, 3186254.8383768904 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BendDAO inserted successfully.
Processing data for Signum
Query:
            MERGE INTO coins1 c
            USING (SELECT Signum name, [] tags, 3177809.748099841 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Signum inserted successfully.
Processing data for PolkaBridge
Query:
            MERGE INTO coins1 c
            USING (SELECT PolkaBridge name, ["ai-big-data", "decentralized-exchange-dex-token", "defi", "ethereum-ecosystem", "yield-farming", "amm", "binance-smart-chain", "dex", "polkadot-ecosystem", "launchpad", "polygon-ecosystem", "web3"] tags, 3172972.177754963 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PolkaBridge inserted successfully.
Processing data for BnkToTheFuture
Query:
            MERGE INTO coins1 c
            USING (SELECT BnkToTheFuture name, ["services", "crowdfunding"] tags, 3167382.582477384 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BnkToTheFuture inserted successfully.
Processing data for Infinity PAD
Query:
            MERGE INTO coins1 c
            USING (SELECT Infinity PAD name, ["crowdfunding", "launchpad", "cross-chain"] tags, 3157014.1366461203 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Infinity PAD inserted successfully.
Processing data for Tokenomy
Query:
            MERGE INTO coins1 c
            USING (SELECT Tokenomy name, ["marketplace"] tags, 3153378.8978722095 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tokenomy inserted successfully.
Processing data for Lithium
Query:
            MERGE INTO coins1 c
            USING (SELECT Lithium name, ["ai-big-data", "collectibles-nfts", "petrock-capital-portfolio", "web3", "okex-blockdream-ventures-portfolio", "injective-ecosystem"] tags, 3136532.537982302 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lithium inserted successfully.
Processing data for Lovely Inu Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Lovely Inu Finance name, [] tags, 3121245.694696472 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lovely Inu Finance inserted successfully.
Processing data for Decimated
Query:
            MERGE INTO coins1 c
            USING (SELECT Decimated name, ["collectibles-nfts", "gaming", "solana-ecosystem", "metaverse", "play-to-earn"] tags, 3117084.6301619792 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decimated inserted successfully.
Processing data for Chimpion
Query:
            MERGE INTO coins1 c
            USING (SELECT Chimpion name, [] tags, 3115879.243419124 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chimpion inserted successfully.
Processing data for Juggernaut
Query:
            MERGE INTO coins1 c
            USING (SELECT Juggernaut name, ["collectibles-nfts", "metaverse", "bnb-chain"] tags, 3115458.164302639 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Juggernaut inserted successfully.
Processing data for Swarm Markets
Query:
            MERGE INTO coins1 c
            USING (SELECT Swarm Markets name, ["real-world-assets"] tags, 3103465.8543652697 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swarm Markets inserted successfully.
Processing data for Bifrost
Query:
            MERGE INTO coins1 c
            USING (SELECT Bifrost name, ["defi", "derivatives", "substrate", "polkadot", "yield-farming", "polkadot-ecosystem", "lending-borowing", "liquid-staking-derivatives"] tags, 3098491.5000248128 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bifrost inserted successfully.
Processing data for Argentine Football Association Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Argentine Football Association Fan Token name, ["sports", "fan-token", "soccer"] tags, 3086927.997883195 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Argentine Football Association Fan Token inserted successfully.
Processing data for Sinverse
Query:
            MERGE INTO coins1 c
            USING (SELECT Sinverse name, ["gaming", "metaverse", "polkafoundry-red-kite", "bullperks-launchpad"] tags, 3085457.1008690307 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sinverse inserted successfully.
Processing data for TrustVerse
Query:
            MERGE INTO coins1 c
            USING (SELECT TrustVerse name, ["ai-big-data"] tags, 3081213.607406614 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TrustVerse inserted successfully.
Processing data for 1irstcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT 1irstcoin name, ["services"] tags, 3077989.3391869175 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 1irstcoin inserted successfully.
Processing data for azit
Query:
            MERGE INTO coins1 c
            USING (SELECT azit name, [] tags, 3072459.5324701187 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for azit inserted successfully.
Processing data for Djed
Query:
            MERGE INTO coins1 c
            USING (SELECT Djed name, ["stablecoin", "asset-backed-stablecoin", "cardano-ecosystem"] tags, 3070092.763264125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Djed inserted successfully.
Processing data for PumaPay
Query:
            MERGE INTO coins1 c
            USING (SELECT PumaPay name, [] tags, 3067439.858846645 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PumaPay inserted successfully.
Processing data for Abyss
Query:
            MERGE INTO coins1 c
            USING (SELECT Abyss name, ["marketplace", "collectibles-nfts"] tags, 3061949.574764862 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Abyss inserted successfully.
Processing data for Gravity Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Gravity Finance name, [] tags, 3030116.9704485238 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gravity Finance inserted successfully.
Processing data for Rotharium
Query:
            MERGE INTO coins1 c
            USING (SELECT Rotharium name, [] tags, 3025820.514009284 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rotharium inserted successfully.
Processing data for Taraxa
Query:
            MERGE INTO coins1 c
            USING (SELECT Taraxa name, ["services"] tags, 3007658.4264684194 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Taraxa inserted successfully.
Processing data for PearDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT PearDAO name, ["decentralized-exchange-dex-token", "dex"] tags, 2990281.1172916037 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PearDAO inserted successfully.
Processing data for PEAKDEFI
Query:
            MERGE INTO coins1 c
            USING (SELECT PEAKDEFI name, ["defi", "launchpad", "bnb-chain"] tags, 2978674.1819009343 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PEAKDEFI inserted successfully.
Processing data for Geeq
Query:
            MERGE INTO coins1 c
            USING (SELECT Geeq name, ["logistics", "collectibles-nfts", "iot"] tags, 2956122.853670696 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Geeq inserted successfully.
Processing data for Horizon Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Horizon Protocol name, ["services", "defi", "derivatives", "dao", "yield-farming", "governance", "synthetics", "bnb-chain", "real-world-assets"] tags, 2952757.218886177 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Horizon Protocol inserted successfully.
Processing data for DigitalBits
Query:
            MERGE INTO coins1 c
            USING (SELECT DigitalBits name, [] tags, 2937305.2645788467 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DigitalBits inserted successfully.
Processing data for XCarnival
Query:
            MERGE INTO coins1 c
            USING (SELECT XCarnival name, ["collectibles-nfts", "defi", "gaming", "play-to-earn", "bnb-chain"] tags, 2931299.8400736703 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XCarnival inserted successfully.
Processing data for CONTRACOIN
Query:
            MERGE INTO coins1 c
            USING (SELECT CONTRACOIN name, [] tags, 2931021.243007306 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CONTRACOIN inserted successfully.
Processing data for Mobius
Query:
            MERGE INTO coins1 c
            USING (SELECT Mobius name, ["platform", "iot", "payments"] tags, 2886842.3720453246 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mobius inserted successfully.
Processing data for Nxt
Query:
            MERGE INTO coins1 c
            USING (SELECT Nxt name, ["hybrid-pos-lpos", "pos", "platform", "enterprise-solutions", "state-channel"] tags, 2867906.011368475 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nxt inserted successfully.
Processing data for Ferrum Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Ferrum Network name, ["defi", "ferrum-network"] tags, 2856091.5971948253 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ferrum Network inserted successfully.
Processing data for Mint Club
Query:
            MERGE INTO coins1 c
            USING (SELECT Mint Club name, ["social-token", "bnb-chain"] tags, 2846031.613546135 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mint Club inserted successfully.
Processing data for Metaverse.Network Pioneer
Query:
            MERGE INTO coins1 c
            USING (SELECT Metaverse.Network Pioneer name, ["polkadot-ecosystem", "metaverse"] tags, 2843294.996122217 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metaverse.Network Pioneer inserted successfully.
Processing data for STAT
Query:
            MERGE INTO coins1 c
            USING (SELECT STAT name, [] tags, 2831414.496626387 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for STAT inserted successfully.
Processing data for Muse
Query:
            MERGE INTO coins1 c
            USING (SELECT Muse name, ["collectibles-nfts"] tags, 2820529.3328410424 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Muse inserted successfully.
Processing data for Shopping.io
Query:
            MERGE INTO coins1 c
            USING (SELECT Shopping.io name, [] tags, 2813873.172545353 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shopping.io inserted successfully.
Processing data for SALT
Query:
            MERGE INTO coins1 c
            USING (SELECT SALT name, ["platform", "smart-contracts"] tags, 2807763.0211371123 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SALT inserted successfully.
Processing data for Footballcoin (XFC)
Query:
            MERGE INTO coins1 c
            USING (SELECT Footballcoin (XFC) name, ["sports", "soccer"] tags, 2806762.950992051 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Footballcoin (XFC) inserted successfully.
Processing data for SynchroBitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT SynchroBitcoin name, [] tags, 2802740.615221174 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SynchroBitcoin inserted successfully.
Processing data for Strips Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Strips Finance name, ["arbitrum-ecosytem", "mvb", "okex-blockdream-ventures-portfolio"] tags, 2800527.052911645 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Strips Finance inserted successfully.
Processing data for NerveNetwork
Query:
            MERGE INTO coins1 c
            USING (SELECT NerveNetwork name, ["decentralized-exchange-dex-token"] tags, 2789289.0078694876 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NerveNetwork inserted successfully.
Processing data for Kylin
Query:
            MERGE INTO coins1 c
            USING (SELECT Kylin name, ["oracles", "polkadot", "polkadot-ecosystem", "polkastarter", "cms-holdings-portfolio", "exnetwork-capital-portfolio", "vbc-ventures-portfolio", "injective-ecosystem"] tags, 2783156.6316623343 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kylin inserted successfully.
Processing data for REVV
Query:
            MERGE INTO coins1 c
            USING (SELECT REVV name, ["collectibles-nfts", "gaming", "entertainment", "play-to-earn", "animoca-brands-portfolio", "bnb-chain"] tags, 2781055.6259004516 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for REVV inserted successfully.
Processing data for Shyft Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Shyft Network name, ["identity", "algorand-ecosystem", "polkastarter", "polygon-ecosystem", "spartan-group"] tags, 2774902.741463888 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shyft Network inserted successfully.
Processing data for Adora Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Adora Token name, [] tags, 2748484.7455110513 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Adora Token inserted successfully.
Processing data for Onooks
Query:
            MERGE INTO coins1 c
            USING (SELECT Onooks name, ["real-estate", "e-commerce", "social-money", "metaverse"] tags, 2741729.748868503 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Onooks inserted successfully.
Processing data for Torum
Query:
            MERGE INTO coins1 c
            USING (SELECT Torum name, ["platform", "communications-social-media", "collectibles-nfts", "defi", "ethereum-ecosystem", "yield-farming", "social-token", "launchpad", "wrapped-tokens", "metaverse", "huobi-capital-portfolio", "web3", "bnb-chain"] tags, 2739226.7027857695 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Torum inserted successfully.
Processing data for Neutrino Index
Query:
            MERGE INTO coins1 c
            USING (SELECT Neutrino Index name, ["defi", "waves", "bnb-chain"] tags, 2726462.7750489446 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Neutrino Index inserted successfully.
Processing data for Cirus Foundation
Query:
            MERGE INTO coins1 c
            USING (SELECT Cirus Foundation name, ["ai-big-data"] tags, 2720836.0143771013 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cirus Foundation inserted successfully.
Processing data for CumRocket
Query:
            MERGE INTO coins1 c
            USING (SELECT CumRocket name, ["collectibles-nfts", "memes", "bnb-chain"] tags, 2708490.8526057047 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CumRocket inserted successfully.
Processing data for Hydro Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Hydro Protocol name, ["marketplace", "decentralized-exchange-dex-token", "defi"] tags, 2694411.782842916 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hydro Protocol inserted successfully.
Processing data for StackOs
Query:
            MERGE INTO coins1 c
            USING (SELECT StackOs name, ["collectibles-nfts", "polygon-ecosystem", "web3", "bnb-chain"] tags, 2689661.2899375553 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for StackOs inserted successfully.
Processing data for SIBCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT SIBCoin name, ["mineable", "pow", "x11gost", "privacy", "masternodes"] tags, 2679240.6308236406 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SIBCoin inserted successfully.
Processing data for OTOCASH
Query:
            MERGE INTO coins1 c
            USING (SELECT OTOCASH name, ["mineable", "pos", "medium-of-exchange"] tags, 2675149.1598568032 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OTOCASH inserted successfully.
Processing data for Stronghold Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Stronghold Token name, [] tags, 2672990.623614765 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stronghold Token inserted successfully.
Processing data for LGCY Network
Query:
            MERGE INTO coins1 c
            USING (SELECT LGCY Network name, [] tags, 2672383.9945905716 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LGCY Network inserted successfully.
Processing data for FortKnoxster
Query:
            MERGE INTO coins1 c
            USING (SELECT FortKnoxster name, ["ethereum-ecosystem"] tags, 2671754.2852078313 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FortKnoxster inserted successfully.
Processing data for ROCO FINANCE
Query:
            MERGE INTO coins1 c
            USING (SELECT ROCO FINANCE name, ["collectibles-nfts", "launchpad", "avalanche-ecosystem", "huobi-capital-portfolio", "alameda-research-portfolio"] tags, 2662154.23529197 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ROCO FINANCE inserted successfully.
Processing data for Ispolink
Query:
            MERGE INTO coins1 c
            USING (SELECT Ispolink name, ["ai-big-data", "metaverse", "polygon-ecosystem", "bnb-chain"] tags, 2659994.5698232525 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ispolink inserted successfully.
Processing data for Supreme Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Supreme Finance name, [] tags, 2635962.5210962943 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Supreme Finance inserted successfully.
Processing data for Litecoin Cash
Query:
            MERGE INTO coins1 c
            USING (SELECT Litecoin Cash name, ["mineable", "pow", "sha-256", "medium-of-exchange", "payments"] tags, 2632713.669215844 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Litecoin Cash inserted successfully.
Processing data for FOAM
Query:
            MERGE INTO coins1 c
            USING (SELECT FOAM name, ["platform", "cosmos-ecosystem", "ai-big-data", "placeholder-ventures-portfolio", "web3", "injective-ecosystem"] tags, 2627541.557864682 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FOAM inserted successfully.
Processing data for StrikeX
Query:
            MERGE INTO coins1 c
            USING (SELECT StrikeX name, ["bnb-chain"] tags, 2626673.5661373734 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for StrikeX inserted successfully.
Processing data for ParaSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT ParaSwap name, ["defi", "spartan-group"] tags, 2615968.7048519654 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ParaSwap inserted successfully.
Processing data for WiFi Map
Query:
            MERGE INTO coins1 c
            USING (SELECT WiFi Map name, ["distributed-computing"] tags, 2613415.5398094985 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WiFi Map inserted successfully.
Processing data for AurusX
Query:
            MERGE INTO coins1 c
            USING (SELECT AurusX name, ["commodities", "ethereum-ecosystem"] tags, 2576162.0379247917 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AurusX inserted successfully.
Processing data for Ziktalk
Query:
            MERGE INTO coins1 c
            USING (SELECT Ziktalk name, [] tags, 2574141.3956887075 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ziktalk inserted successfully.
Processing data for DuckDaoDime
Query:
            MERGE INTO coins1 c
            USING (SELECT DuckDaoDime name, ["dao", "launchpad"] tags, 2557432.20147556 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DuckDaoDime inserted successfully.
Processing data for SENATE
Query:
            MERGE INTO coins1 c
            USING (SELECT SENATE name, ["ai-big-data", "collectibles-nfts", "gaming", "dao", "metaverse", "play-to-earn", "animoca-brands-portfolio", "vbc-ventures-portfolio"] tags, 2556687.7842394644 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SENATE inserted successfully.
Processing data for Decentral Games ICE
Query:
            MERGE INTO coins1 c
            USING (SELECT Decentral Games ICE name, ["dao", "metaverse", "polygon-ecosystem", "play-to-earn", "gaming-guild"] tags, 2556522.0972056603 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decentral Games ICE inserted successfully.
Processing data for O3 Swap
Query:
            MERGE INTO coins1 c
            USING (SELECT O3 Swap name, ["bounce-launchpad", "arbitrum-ecosytem", "mvb", "okex-blockdream-ventures-portfolio", "bnb-chain", "optimism-ecosystem"] tags, 2553052.7689023158 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for O3 Swap inserted successfully.
Processing data for Portugal National Team Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Portugal National Team Fan Token name, ["sports", "fan-token"] tags, 2524554.9267443246 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Portugal National Team Fan Token inserted successfully.
Processing data for VEMP
Query:
            MERGE INTO coins1 c
            USING (SELECT VEMP name, ["real-estate", "vr-ar", "collectibles-nfts", "defi", "entertainment", "sharing-economy", "staking", "dao", "yield-aggregator", "governance", "metaverse"] tags, 2518443.7732227356 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VEMP inserted successfully.
Processing data for Edgeware
Query:
            MERGE INTO coins1 c
            USING (SELECT Edgeware name, ["smart-contracts", "dao", "substrate", "polkadot", "polkadot-ecosystem", "coinbase-ventures-portfolio", "framework-ventures-portfolio", "hashkey-capital-portfolio", "ledgerprime-portfolio"] tags, 2509558.311446128 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Edgeware inserted successfully.
Processing data for Atomic Wallet Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Atomic Wallet Coin name, ["cosmos-ecosystem", "wallet", "injective-ecosystem"] tags, 2505053.5182628077 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Atomic Wallet Coin inserted successfully.
Processing data for ReddCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT ReddCoin name, ["hybrid-pow-pos", "scrypt", "media", "content-creation"] tags, 2484529.535653924 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ReddCoin inserted successfully.
Processing data for Enecuum
Query:
            MERGE INTO coins1 c
            USING (SELECT Enecuum name, ["mineable", "pos", "pow", "masternodes", "smart-contracts"] tags, 2482782.496376608 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Enecuum inserted successfully.
Processing data for pSTAKE Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT pSTAKE Finance name, ["spartan-group", "liquid-staking-derivatives"] tags, 2452006.4315977255 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for pSTAKE Finance inserted successfully.
Processing data for MetaBeat
Query:
            MERGE INTO coins1 c
            USING (SELECT MetaBeat name, ["music"] tags, 2447457.8105594344 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MetaBeat inserted successfully.
Processing data for Razor Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Razor Network name, ["oracles", "insurance", "algorand-ecosystem", "exnetwork-capital-portfolio", "polygon-ecosystem", "injective-ecosystem"] tags, 2444631.7255690433 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Razor Network inserted successfully.
Processing data for Zigcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Zigcoin name, ["asset-management", "marketplace", "platform", "launchpad", "okex-blockdream-ventures-portfolio"] tags, 2441741.9653675924 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zigcoin inserted successfully.
Processing data for RChain
Query:
            MERGE INTO coins1 c
            USING (SELECT RChain name, ["platform", "distributed-computing", "smart-contracts"] tags, 2435954.4219496646 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RChain inserted successfully.
Processing data for Pleasure Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Pleasure Coin name, ["adult", "collectibles-nfts"] tags, 2429935.035012808 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pleasure Coin inserted successfully.
Processing data for Aston Villa Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Aston Villa Fan Token name, ["fan-token"] tags, 2406855.2202932755 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aston Villa Fan Token inserted successfully.
Processing data for Woonkly Power
Query:
            MERGE INTO coins1 c
            USING (SELECT Woonkly Power name, ["bnb-chain"] tags, 2402058.5600631693 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Woonkly Power inserted successfully.
Processing data for Revolt 2 Earn
Query:
            MERGE INTO coins1 c
            USING (SELECT Revolt 2 Earn name, [] tags, 2379745.6704919343 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Revolt 2 Earn inserted successfully.
Processing data for Minter Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Minter Network name, ["platform", "defi", "payments", "yield-farming", "amm"] tags, 2361785.2233098745 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Minter Network inserted successfully.
Processing data for Dragonchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Dragonchain name, ["platform", "enterprise-solutions"] tags, 2357481.1649557627 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dragonchain inserted successfully.
Processing data for Monolith
Query:
            MERGE INTO coins1 c
            USING (SELECT Monolith name, ["services", "defi"] tags, 2355012.4282585997 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Monolith inserted successfully.
Processing data for Niftyx Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Niftyx Protocol name, ["collectibles-nfts", "defi", "gaming", "dao", "yield-farming", "governance", "avalanche-ecosystem"] tags, 2352654.372668438 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Niftyx Protocol inserted successfully.
Processing data for Blocery
Query:
            MERGE INTO coins1 c
            USING (SELECT Blocery name, ["services", "logistics", "enterprise-solutions"] tags, 2346246.8931512246 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blocery inserted successfully.
Processing data for ArdCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT ArdCoin name, [] tags, 2343154.0923087043 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ArdCoin inserted successfully.
Processing data for SafeCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT SafeCoin name, [] tags, 2328161.319581371 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SafeCoin inserted successfully.
Processing data for Pickle Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Pickle Finance name, ["defi", "dao", "yield-farming", "yield-aggregator", "yearn-partnerships", "alameda-research-portfolio", "arbitrum-ecosytem", "optimism-ecosystem"] tags, 2324849.540823775 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pickle Finance inserted successfully.
Processing data for Cindicator
Query:
            MERGE INTO coins1 c
            USING (SELECT Cindicator name, ["services", "ai-big-data"] tags, 2322271.4322360842 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cindicator inserted successfully.
Processing data for TenX
Query:
            MERGE INTO coins1 c
            USING (SELECT TenX name, ["medium-of-exchange", "fenbushi-capital-portfolio", "kenetic-capital-portfolio"] tags, 2321229.0411149203 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TenX inserted successfully.
Processing data for Digix Gold Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Digix Gold Token name, ["store-of-value", "stablecoin", "asset-backed-stablecoin", "dao", "substrate", "polkadot", "tokenized-gold"] tags, 2320280.236437464 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Digix Gold Token inserted successfully.
Processing data for TiFi Token
Query:
            MERGE INTO coins1 c
            USING (SELECT TiFi Token name, [] tags, 2319894.5799981314 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TiFi Token inserted successfully.
Processing data for TOWER
Query:
            MERGE INTO coins1 c
            USING (SELECT TOWER name, ["collectibles-nfts", "gaming", "entertainment", "governance", "metaverse", "animoca-brands-portfolio"] tags, 2317808.726636214 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TOWER inserted successfully.
Processing data for AXIS Token
Query:
            MERGE INTO coins1 c
            USING (SELECT AXIS Token name, ["ai-big-data", "ethereum-ecosystem"] tags, 2301471.602061699 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AXIS Token inserted successfully.
Processing data for BiFi
Query:
            MERGE INTO coins1 c
            USING (SELECT BiFi name, ["defi"] tags, 2294027.8245414323 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BiFi inserted successfully.
Processing data for Auto
Query:
            MERGE INTO coins1 c
            USING (SELECT Auto name, ["defi", "yield-farming", "amm", "dex", "yield-aggregator", "heco-ecosystem", "polygon-ecosystem", "bnb-chain"] tags, 2281962.2698546806 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Auto inserted successfully.
Processing data for NFTb
Query:
            MERGE INTO coins1 c
            USING (SELECT NFTb name, ["collectibles-nfts", "gaming", "bounce-launchpad", "bnb-chain"] tags, 2278390.4611270525 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFTb inserted successfully.
Processing data for LABS Group
Query:
            MERGE INTO coins1 c
            USING (SELECT LABS Group name, ["real-estate", "collectibles-nfts", "duckstarter", "poolz-finance-portfolio", "exnetwork-capital-portfolio"] tags, 2273548.1664183107 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LABS Group inserted successfully.
Processing data for Genopets
Query:
            MERGE INTO coins1 c
            USING (SELECT Genopets name, ["animoca-brands-portfolio", "move-to-earn"] tags, 2261722.8204377275 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Genopets inserted successfully.
Processing data for Graphlinq Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT Graphlinq Chain name, ["platform", "ai-big-data", "enterprise-solutions", "analytics", "polygon-ecosystem"] tags, 2261079.4271748834 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Graphlinq Chain inserted successfully.
Processing data for Wownero
Query:
            MERGE INTO coins1 c
            USING (SELECT Wownero name, ["mineable", "pow", "events", "gambling", "store-of-value", "vr-ar", "privacy", "ringct", "gaming", "memes", "scaling", "metaverse", "doggone-doggerel"] tags, 2238462.046230441 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wownero inserted successfully.
Processing data for Skey Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Skey Network name, [] tags, 2235289.4877946894 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Skey Network inserted successfully.
Processing data for Prism
Query:
            MERGE INTO coins1 c
            USING (SELECT Prism name, ["dao", "governance", "solana-ecosystem", "alameda-research-portfolio"] tags, 2219744.1372500253 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Prism inserted successfully.
Processing data for Integral
Query:
            MERGE INTO coins1 c
            USING (SELECT Integral name, ["decentralized-exchange-dex-token", "defi", "amm", "dex"] tags, 2190927.171825971 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Integral inserted successfully.
Processing data for MahaDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT MahaDAO name, ["polkastarter", "polygon-ecosystem"] tags, 2188186.733589259 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MahaDAO inserted successfully.
Processing data for CheckDot
Query:
            MERGE INTO coins1 c
            USING (SELECT CheckDot name, ["cybersecurity", "smart-contracts", "insurance"] tags, 2140679.677376448 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CheckDot inserted successfully.
Processing data for RUSH COIN
Query:
            MERGE INTO coins1 c
            USING (SELECT RUSH COIN name, ["art", "platform", "gaming", "music", "dapp"] tags, 2127570.9418856595 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RUSH COIN inserted successfully.
Processing data for Platypus Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Platypus Finance name, ["avalanche-ecosystem"] tags, 2126431.131020758 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Platypus Finance inserted successfully.
Processing data for WOM Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT WOM Protocol name, [] tags, 2125615.368554666 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WOM Protocol inserted successfully.
Processing data for MAPS
Query:
            MERGE INTO coins1 c
            USING (SELECT MAPS name, ["solana-ecosystem", "cms-holdings-portfolio", "alameda-research-portfolio", "web3", "ftx-bankruptcy-estate"] tags, 2124167.701312289 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MAPS inserted successfully.
Processing data for Rhythm
Query:
            MERGE INTO coins1 c
            USING (SELECT Rhythm name, ["music"] tags, 2121184.1323468797 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rhythm inserted successfully.
Processing data for VestChain
Query:
            MERGE INTO coins1 c
            USING (SELECT VestChain name, ["platform", "smart-contracts"] tags, 2119826.9479968813 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VestChain inserted successfully.
Processing data for EOS Force
Query:
            MERGE INTO coins1 c
            USING (SELECT EOS Force name, [] tags, 2119229.8711286187 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EOS Force inserted successfully.
Processing data for NanoByte Token
Query:
            MERGE INTO coins1 c
            USING (SELECT NanoByte Token name, [] tags, 2111878.8332522167 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NanoByte Token inserted successfully.
Processing data for Position Exchange
Query:
            MERGE INTO coins1 c
            USING (SELECT Position Exchange name, [] tags, 2106281.882063471 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Position Exchange inserted successfully.
Processing data for Swingby
Query:
            MERGE INTO coins1 c
            USING (SELECT Swingby name, ["defi", "polygon-ecosystem"] tags, 2106187.574682911 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swingby inserted successfully.
Processing data for EvidenZ
Query:
            MERGE INTO coins1 c
            USING (SELECT EvidenZ name, ["bnb-chain"] tags, 2094581.5962535343 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EvidenZ inserted successfully.
Processing data for Covesting
Query:
            MERGE INTO coins1 c
            USING (SELECT Covesting name, ["asset-management", "bnb-chain"] tags, 2093604.2670008324 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Covesting inserted successfully.
Processing data for VeriDocGlobal
Query:
            MERGE INTO coins1 c
            USING (SELECT VeriDocGlobal name, [] tags, 2065916.063162758 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VeriDocGlobal inserted successfully.
Processing data for TransferCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT TransferCoin name, ["hybrid-pow-pos", "x11", "masternodes"] tags, 2061350.4205833292 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TransferCoin inserted successfully.
Processing data for Konomi Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Konomi Network name, ["asset-management", "polkastarter", "exnetwork-capital-portfolio", "okex-blockdream-ventures-portfolio"] tags, 2050707.2812115476 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Konomi Network inserted successfully.
Processing data for GPEX
Query:
            MERGE INTO coins1 c
            USING (SELECT GPEX name, [] tags, 2050541.573000079 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GPEX inserted successfully.
Processing data for Neighbourhoods
Query:
            MERGE INTO coins1 c
            USING (SELECT Neighbourhoods name, ["ethereum-ecosystem", "polygon-ecosystem"] tags, 2047004.7595865743 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Neighbourhoods inserted successfully.
Processing data for TENT
Query:
            MERGE INTO coins1 c
            USING (SELECT TENT name, ["mineable", "pow", "masternodes", "mobile", "payments", "staking"] tags, 2034415.8237975028 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TENT inserted successfully.
Processing data for Heroes Chained
Query:
            MERGE INTO coins1 c
            USING (SELECT Heroes Chained name, ["collectibles-nfts", "avalanche-ecosystem", "metaverse", "play-to-earn", "okex-blockdream-ventures-portfolio"] tags, 2029115.571182024 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Heroes Chained inserted successfully.
Processing data for Flamengo Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Flamengo Fan Token name, ["sports", "fan-token", "chiliz"] tags, 2013159.294991376 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Flamengo Fan Token inserted successfully.
Processing data for YAM V3
Query:
            MERGE INTO coins1 c
            USING (SELECT YAM V3 name, ["dao", "insurance", "yield-farming", "governance", "synthetics"] tags, 2010396.2115527492 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for YAM V3 inserted successfully.
Processing data for Green Satoshi Token (BSC)
Query:
            MERGE INTO coins1 c
            USING (SELECT Green Satoshi Token (BSC) name, ["binance-chain"] tags, 1996519.3828381943 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Green Satoshi Token (BSC) inserted successfully.
Processing data for DeFi Land
Query:
            MERGE INTO coins1 c
            USING (SELECT DeFi Land name, ["defi", "gaming", "solana-ecosystem", "animoca-brands-portfolio"] tags, 1994692.709643116 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeFi Land inserted successfully.
Processing data for Nuco.cloud
Query:
            MERGE INTO coins1 c
            USING (SELECT Nuco.cloud name, ["distributed-computing", "filesharing", "ethereum-ecosystem"] tags, 1990737.3038539155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nuco.cloud inserted successfully.
Processing data for Safex Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Safex Token name, ["privacy"] tags, 1986782.9597699638 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Safex Token inserted successfully.
Processing data for FEAR
Query:
            MERGE INTO coins1 c
            USING (SELECT FEAR name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn"] tags, 1976042.3743818335 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FEAR inserted successfully.
Processing data for Digital Fitness
Query:
            MERGE INTO coins1 c
            USING (SELECT Digital Fitness name, ["ferrum-network", "move-to-earn"] tags, 1975889.4900538481 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Digital Fitness inserted successfully.
Processing data for Göztepe S.K. Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Göztepe S.K. Fan Token name, ["fan-token", "soccer"] tags, 1969781.4530872388 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Göztepe S.K. Fan Token inserted successfully.
Processing data for Venus DOT
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus DOT name, [] tags, 1956823.2345205664 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus DOT inserted successfully.
Processing data for Hyve
Query:
            MERGE INTO coins1 c
            USING (SELECT Hyve name, ["ethereum-ecosystem", "exnetwork-capital-portfolio", "bnb-chain"] tags, 1953224.0472534236 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hyve inserted successfully.
Processing data for UniLayer
Query:
            MERGE INTO coins1 c
            USING (SELECT UniLayer name, ["collectibles-nfts", "decentralized-exchange-dex-token", "defi"] tags, 1950437.121048899 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UniLayer inserted successfully.
Processing data for ZIMBOCASH
Query:
            MERGE INTO coins1 c
            USING (SELECT ZIMBOCASH name, [] tags, 1950141.4823489515 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZIMBOCASH inserted successfully.
Processing data for Scala
Query:
            MERGE INTO coins1 c
            USING (SELECT Scala name, ["mineable", "privacy"] tags, 1948592.9808368369 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Scala inserted successfully.
Processing data for Lambda
Query:
            MERGE INTO coins1 c
            USING (SELECT Lambda name, ["platform", "cosmos-ecosystem", "ai-big-data", "distributed-computing", "filesharing", "storage", "injective-ecosystem"] tags, 1946361.2561183544 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lambda inserted successfully.
Processing data for Stobox Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Stobox Token name, ["real-world-assets"] tags, 1938614.8279434314 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stobox Token inserted successfully.
Processing data for LikeCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT LikeCoin name, ["cosmos-ecosystem", "injective-ecosystem", "ftx-bankruptcy-estate"] tags, 1935216.1826505987 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LikeCoin inserted successfully.
Processing data for Aeon
Query:
            MERGE INTO coins1 c
            USING (SELECT Aeon name, ["mineable", "pow", "cryptonight-lite", "privacy"] tags, 1934866.604997106 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aeon inserted successfully.
Processing data for MetagamZ
Query:
            MERGE INTO coins1 c
            USING (SELECT MetagamZ name, ["bullperks-launchpad", "kommunitas-launchpad"] tags, 1928397.0946036375 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MetagamZ inserted successfully.
Processing data for hiBAYC
Query:
            MERGE INTO coins1 c
            USING (SELECT hiBAYC name, [] tags, 1926052.6327230555 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for hiBAYC inserted successfully.
Processing data for Unbound
Query:
            MERGE INTO coins1 c
            USING (SELECT Unbound name, ["defi", "dao", "amm", "arrington-xrp-capital-portfolio"] tags, 1922330.3862113776 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unbound inserted successfully.
Processing data for SparkPoint
Query:
            MERGE INTO coins1 c
            USING (SELECT SparkPoint name, ["bnb-chain"] tags, 1919426.7728720498 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SparkPoint inserted successfully.
Processing data for PegNet
Query:
            MERGE INTO coins1 c
            USING (SELECT PegNet name, [] tags, 1915490.4603263251 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PegNet inserted successfully.
Processing data for X World Games
Query:
            MERGE INTO coins1 c
            USING (SELECT X World Games name, ["collectibles-nfts", "gaming", "play-to-earn", "bnb-chain"] tags, 1915411.664886448 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for X World Games inserted successfully.
Processing data for MandoX V2
Query:
            MERGE INTO coins1 c
            USING (SELECT MandoX V2 name, [] tags, 1911342.9736115527 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MandoX V2 inserted successfully.
Processing data for Valencia CF Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Valencia CF Fan Token name, ["fan-token"] tags, 1902418.2138363991 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Valencia CF Fan Token inserted successfully.
Processing data for Mithril
Query:
            MERGE INTO coins1 c
            USING (SELECT Mithril name, ["media", "content-creation", "smart-contracts"] tags, 1894688.7441639956 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mithril inserted successfully.
Processing data for GameCredits
Query:
            MERGE INTO coins1 c
            USING (SELECT GameCredits name, ["collectibles-nfts", "gaming", "metaverse"] tags, 1881289.347030464 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GameCredits inserted successfully.
Processing data for Sonar
Query:
            MERGE INTO coins1 c
            USING (SELECT Sonar name, ["bnb-chain"] tags, 1874201.0734528636 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sonar inserted successfully.
Processing data for iMe Lab
Query:
            MERGE INTO coins1 c
            USING (SELECT iMe Lab name, ["communications-social-media", "ai-big-data", "collectibles-nfts", "defi", "payments", "wallet", "dapp", "ethereum-ecosystem", "polygon-ecosystem", "bnb-chain"] tags, 1870893.3453583692 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for iMe Lab inserted successfully.
Processing data for ILCOIN
Query:
            MERGE INTO coins1 c
            USING (SELECT ILCOIN name, ["mineable", "medium-of-exchange", "filesharing", "quantum-resistant"] tags, 1864646.7253529804 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ILCOIN inserted successfully.
Processing data for BSCStation
Query:
            MERGE INTO coins1 c
            USING (SELECT BSCStation name, ["bounce-launchpad", "bnb-chain"] tags, 1864579.6616656564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BSCStation inserted successfully.
Processing data for Blockchain Brawlers
Query:
            MERGE INTO coins1 c
            USING (SELECT Blockchain Brawlers name, [] tags, 1864074.1442734366 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blockchain Brawlers inserted successfully.
Processing data for Aurora
Query:
            MERGE INTO coins1 c
            USING (SELECT Aurora name, ["platform", "smart-contracts"] tags, 1843871.9644433598 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aurora inserted successfully.
Processing data for Moneytoken
Query:
            MERGE INTO coins1 c
            USING (SELECT Moneytoken name, [] tags, 1834973.2787304567 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Moneytoken inserted successfully.
Processing data for Green Satoshi Token (ETH)
Query:
            MERGE INTO coins1 c
            USING (SELECT Green Satoshi Token (ETH) name, ["ethereum-ecosystem"] tags, 1826827.849063905 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Green Satoshi Token (ETH) inserted successfully.
Processing data for Fringe Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Fringe Finance name, ["defi", "zero-knowledge-proofs", "staking", "dapp", "ethereum-ecosystem", "governance", "lending-borowing"] tags, 1826437.4721421332 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fringe Finance inserted successfully.
Processing data for ZooKeeper
Query:
            MERGE INTO coins1 c
            USING (SELECT ZooKeeper name, ["collectibles-nfts", "gaming", "interoperability", "yield-farming", "avalanche-ecosystem", "metaverse", "play-to-earn"] tags, 1814181.9652289122 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZooKeeper inserted successfully.
Processing data for DOGAMÍ
Query:
            MERGE INTO coins1 c
            USING (SELECT DOGAMÍ name, ["gaming", "play-to-earn", "animoca-brands-portfolio"] tags, 1812960.8385916983 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DOGAMÍ inserted successfully.
Processing data for GAMB
Query:
            MERGE INTO coins1 c
            USING (SELECT GAMB name, [] tags, 1801471.8245063906 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GAMB inserted successfully.
Processing data for Impossible Finance Launchpad
Query:
            MERGE INTO coins1 c
            USING (SELECT Impossible Finance Launchpad name, ["defi", "launchpad", "mvb", "moonriver-ecosystem", "bnb-chain"] tags, 1795323.8215228857 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Impossible Finance Launchpad inserted successfully.
Processing data for AntiMatter Token
Query:
            MERGE INTO coins1 c
            USING (SELECT AntiMatter Token name, ["decentralized-exchange-dex-token", "defi", "derivatives", "dapp", "heco-ecosystem", "options", "polkastarter", "bounce-launchpad", "arbitrum-ecosytem", "bnb-chain"] tags, 1784502.7905468983 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AntiMatter Token inserted successfully.
Processing data for mStable Governance Token: Meta (MTA)
Query:
            MERGE INTO coins1 c
            USING (SELECT mStable Governance Token: Meta (MTA) name, ["defi", "dao", "yield-aggregator", "three-arrows-capital-portfolio", "governance", "defiance-capital-portfolio", "alameda-research-portfolio", "parafi-capital", "olympus-pro-ecosystem"] tags, 1778617.67554184 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for mStable Governance Token: Meta (MTA) inserted successfully.
Processing data for Metaverse ETP
Query:
            MERGE INTO coins1 c
            USING (SELECT Metaverse ETP name, ["mineable", "asset-management", "smart-contracts"] tags, 1774908.4153196674 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metaverse ETP inserted successfully.
Processing data for Kryptomon
Query:
            MERGE INTO coins1 c
            USING (SELECT Kryptomon name, ["collectibles-nfts", "gaming", "poolz-finance-portfolio", "exnetwork-capital-portfolio", "polkafoundry-red-kite", "play-to-earn", "icetea-labs"] tags, 1774588.5847386043 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kryptomon inserted successfully.
Processing data for Construct
Query:
            MERGE INTO coins1 c
            USING (SELECT Construct name, [] tags, 1772169.744032453 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Construct inserted successfully.
Processing data for Raven Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Raven Protocol name, ["ai-big-data", "bnb-chain"] tags, 1769440.8990298503 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Raven Protocol inserted successfully.
Processing data for Isiklar Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Isiklar Coin name, [] tags, 1762511.5081013273 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Isiklar Coin inserted successfully.
Processing data for UBIX.Network
Query:
            MERGE INTO coins1 c
            USING (SELECT UBIX.Network name, ["dag", "ethereum-ecosystem"] tags, 1762167.7959769513 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UBIX.Network inserted successfully.
Processing data for ReapChain
Query:
            MERGE INTO coins1 c
            USING (SELECT ReapChain name, [] tags, 1751957.8454108813 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ReapChain inserted successfully.
Processing data for LanaCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT LanaCoin name, ["mineable", "hybrid-pow-pos"] tags, 1749896.294150165 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LanaCoin inserted successfully.
Processing data for KamPay
Query:
            MERGE INTO coins1 c
            USING (SELECT KamPay name, [] tags, 1749013.999509554 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KamPay inserted successfully.
Processing data for Hord
Query:
            MERGE INTO coins1 c
            USING (SELECT Hord name, ["collectibles-nfts", "defi", "governance", "dao-maker", "liquid-staking-derivatives"] tags, 1747515.0085263602 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hord inserted successfully.
Processing data for yAxis
Query:
            MERGE INTO coins1 c
            USING (SELECT yAxis name, ["defi", "yield-farming", "yield-aggregator"] tags, 1744273.931050763 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for yAxis inserted successfully.
Processing data for SHOPX
Query:
            MERGE INTO coins1 c
            USING (SELECT SHOPX name, ["collectibles-nfts", "polkadot-ecosystem", "exnetwork-capital-portfolio"] tags, 1742857.8751849849 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SHOPX inserted successfully.
Processing data for MintMe.com Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT MintMe.com Coin name, ["mineable"] tags, 1727968.7257912955 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MintMe.com Coin inserted successfully.
Processing data for TOP
Query:
            MERGE INTO coins1 c
            USING (SELECT TOP name, [] tags, 1717116.5913839855 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TOP inserted successfully.
Processing data for RioDeFi
Query:
            MERGE INTO coins1 c
            USING (SELECT RioDeFi name, ["substrate", "polkadot", "polkadot-ecosystem", "exnetwork-capital-portfolio"] tags, 1706613.7653583623 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RioDeFi inserted successfully.
Processing data for Jobchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Jobchain name, [] tags, 1694093.7070603566 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Jobchain inserted successfully.
Processing data for B-cube.ai
Query:
            MERGE INTO coins1 c
            USING (SELECT B-cube.ai name, ["ai-big-data"] tags, 1692316.36397538 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for B-cube.ai inserted successfully.
Processing data for Monetha
Query:
            MERGE INTO coins1 c
            USING (SELECT Monetha name, ["marketplace", "reputation", "smart-contracts"] tags, 1678950.025302596 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Monetha inserted successfully.
Processing data for Bitball Treasure
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitball Treasure name, [] tags, 1672867.6879107137 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitball Treasure inserted successfully.
Processing data for DIGG
Query:
            MERGE INTO coins1 c
            USING (SELECT DIGG name, ["defi", "rebase"] tags, 1672749.4083624517 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DIGG inserted successfully.
Processing data for EXRNchain
Query:
            MERGE INTO coins1 c
            USING (SELECT EXRNchain name, ["platform", "interoperability", "smart-contracts"] tags, 1670644.9575040422 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EXRNchain inserted successfully.
Processing data for SpiritSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT SpiritSwap name, ["fantom-ecosystem", "olympus-pro-ecosystem"] tags, 1668766.4538376047 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SpiritSwap inserted successfully.
Processing data for DAEX
Query:
            MERGE INTO coins1 c
            USING (SELECT DAEX name, ["decentralized-exchange-dex-token"] tags, 1666633.047595292 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DAEX inserted successfully.
Processing data for Defina Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Defina Finance name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "bnb-chain"] tags, 1662879.143623978 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Defina Finance inserted successfully.
Processing data for Birake
Query:
            MERGE INTO coins1 c
            USING (SELECT Birake name, ["mineable", "centralized-exchange", "masternodes"] tags, 1660794.3715561382 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Birake inserted successfully.
Processing data for Skycoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Skycoin name, ["platform", "distributed-computing", "filesharing", "storage"] tags, 1646184.4700625564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Skycoin inserted successfully.
Processing data for Zelwin
Query:
            MERGE INTO coins1 c
            USING (SELECT Zelwin name, ["marketplace", "bnb-chain"] tags, 1644802.2480774352 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zelwin inserted successfully.
Processing data for Safe Haven
Query:
            MERGE INTO coins1 c
            USING (SELECT Safe Haven name, ["polygon-ecosystem"] tags, 1644434.7161118966 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Safe Haven inserted successfully.
Processing data for NFT Art Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT NFT Art Finance name, ["collectibles-nfts", "music", "bnb-chain"] tags, 1640799.1652396466 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFT Art Finance inserted successfully.
Processing data for Omchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Omchain name, [] tags, 1636085.6418938248 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Omchain inserted successfully.
Processing data for Populous
Query:
            MERGE INTO coins1 c
            USING (SELECT Populous name, ["logistics"] tags, 1634205.5586265172 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Populous inserted successfully.
Processing data for Solrise Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Solrise Finance name, ["asset-management", "defi", "solana-ecosystem", "alameda-research-portfolio", "skyvision-capital-portfolio"] tags, 1630168.8473755792 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Solrise Finance inserted successfully.
Processing data for Emercoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Emercoin name, ["mineable", "hybrid-pow-pos", "sha-256"] tags, 1621997.3167833125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Emercoin inserted successfully.
Processing data for Idle
Query:
            MERGE INTO coins1 c
            USING (SELECT Idle name, ["asset-management", "defi", "dao", "yield-farming", "yield-aggregator", "governance"] tags, 1620560.0314789983 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Idle inserted successfully.
Processing data for VelasPad
Query:
            MERGE INTO coins1 c
            USING (SELECT VelasPad name, ["launchpad", "bluezilla", "velas-ecosystem"] tags, 1604289.9790967386 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VelasPad inserted successfully.
Processing data for Voxel X Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Voxel X Network name, ["ethereum-ecosystem"] tags, 1598610.9699313396 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Voxel X Network inserted successfully.
Processing data for PornRocket
Query:
            MERGE INTO coins1 c
            USING (SELECT PornRocket name, ["bnb-chain"] tags, 1592427.2028565467 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PornRocket inserted successfully.
Processing data for Seascape Crowns
Query:
            MERGE INTO coins1 c
            USING (SELECT Seascape Crowns name, ["collectibles-nfts", "gaming", "dao-maker", "play-to-earn", "bnb-chain"] tags, 1591921.35122085 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Seascape Crowns inserted successfully.
Processing data for DOGGY
Query:
            MERGE INTO coins1 c
            USING (SELECT DOGGY name, ["collectibles-nfts", "memes", "doggone-doggerel", "bnb-chain"] tags, 1588439.2614698093 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DOGGY inserted successfully.
Processing data for GHOSTPRISM
Query:
            MERGE INTO coins1 c
            USING (SELECT GHOSTPRISM name, [] tags, 1587497.8464163537 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GHOSTPRISM inserted successfully.
Processing data for Loser Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Loser Coin name, ["memes", "bnb-chain"] tags, 1579632.6646657928 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Loser Coin inserted successfully.
Processing data for Swerve
Query:
            MERGE INTO coins1 c
            USING (SELECT Swerve name, ["defi", "dao", "yield-farming", "amm", "governance"] tags, 1576334.027447197 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swerve inserted successfully.
Processing data for EpiK Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT EpiK Protocol name, ["ai-big-data", "storage"] tags, 1566401.6963462555 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EpiK Protocol inserted successfully.
Processing data for Levolution
Query:
            MERGE INTO coins1 c
            USING (SELECT Levolution name, [] tags, 1563990.9030708147 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Levolution inserted successfully.
Processing data for CloakCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT CloakCoin name, ["hybrid-pow-pos", "x13", "privacy"] tags, 1559563.1997115978 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CloakCoin inserted successfully.
Processing data for PAID Network
Query:
            MERGE INTO coins1 c
            USING (SELECT PAID Network name, ["polkadot", "polkadot-ecosystem", "launchpad", "polkastarter", "exnetwork-capital-portfolio"] tags, 1543752.6933679674 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PAID Network inserted successfully.
Processing data for Lympo
Query:
            MERGE INTO coins1 c
            USING (SELECT Lympo name, ["collectibles-nfts", "animoca-brands-portfolio"] tags, 1542835.7530380476 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lympo inserted successfully.
Processing data for Brazil National Football Team Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Brazil National Football Team Fan Token name, ["fan-token"] tags, 1539396.4186700215 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Brazil National Football Team Fan Token inserted successfully.
Processing data for Primecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Primecoin name, ["mineable", "pow", "multiple-algorithms"] tags, 1536103.7379264468 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Primecoin inserted successfully.
Processing data for Idena
Query:
            MERGE INTO coins1 c
            USING (SELECT Idena name, ["ai-big-data", "identity", "oracles", "sharding", "smart-contracts", "bnb-chain"] tags, 1534565.9263132326 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Idena inserted successfully.
Processing data for Kommunitas
Query:
            MERGE INTO coins1 c
            USING (SELECT Kommunitas name, ["launchpad", "polygon-ecosystem"] tags, 1530739.9281453073 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kommunitas inserted successfully.
Processing data for OneArt
Query:
            MERGE INTO coins1 c
            USING (SELECT OneArt name, ["collectibles-nfts", "wallet", "hacken-foundation", "fantom-ecosystem", "nftb-launchpad", "bnb-chain"] tags, 1527021.5587734366 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OneArt inserted successfully.
Processing data for Ojamu
Query:
            MERGE INTO coins1 c
            USING (SELECT Ojamu name, ["ai-big-data"] tags, 1525266.5555990662 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ojamu inserted successfully.
Processing data for Ghost
Query:
            MERGE INTO coins1 c
            USING (SELECT Ghost name, ["pos", "privacy", "ringct"] tags, 1522904.8139295287 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ghost inserted successfully.
Processing data for carVertical
Query:
            MERGE INTO coins1 c
            USING (SELECT carVertical name, ["transport", "data-provenance"] tags, 1515499.927055297 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for carVertical inserted successfully.
Processing data for ALLY
Query:
            MERGE INTO coins1 c
            USING (SELECT ALLY name, [] tags, 1496618.2382913486 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ALLY inserted successfully.
Processing data for Cryptocean
Query:
            MERGE INTO coins1 c
            USING (SELECT Cryptocean name, [] tags, 1485570.0162323744 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cryptocean inserted successfully.
Processing data for MetamonkeyAi
Query:
            MERGE INTO coins1 c
            USING (SELECT MetamonkeyAi name, ["ai-big-data"] tags, 1481930.5882681876 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MetamonkeyAi inserted successfully.
Processing data for BlockWallet
Query:
            MERGE INTO coins1 c
            USING (SELECT BlockWallet name, ["privacy", "wallet", "polkastarter"] tags, 1480481.6262423475 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BlockWallet inserted successfully.
Processing data for CBC.network
Query:
            MERGE INTO coins1 c
            USING (SELECT CBC.network name, ["gambling", "ethereum-ecosystem", "bnb-chain"] tags, 1480316.5334536321 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CBC.network inserted successfully.
Processing data for EOSDT
Query:
            MERGE INTO coins1 c
            USING (SELECT EOSDT name, ["defi", "stablecoin", "asset-backed-stablecoin", "usd-stablecoin"] tags, 1478127.0489474991 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EOSDT inserted successfully.
Processing data for Football World Community
Query:
            MERGE INTO coins1 c
            USING (SELECT Football World Community name, [] tags, 1471909.3162212735 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Football World Community inserted successfully.
Processing data for MIR COIN
Query:
            MERGE INTO coins1 c
            USING (SELECT MIR COIN name, ["mineable", "pantera-capital-portfolio"] tags, 1467645.910028902 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MIR COIN inserted successfully.
Processing data for ZeroSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT ZeroSwap name, ["defi", "launchpad", "exnetwork-capital-portfolio", "polygon-ecosystem", "bnb-chain"] tags, 1464510.852281394 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZeroSwap inserted successfully.
Processing data for Xaurum
Query:
            MERGE INTO coins1 c
            USING (SELECT Xaurum name, ["asset-management", "asset-backed-stablecoin"] tags, 1453206.0123061624 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Xaurum inserted successfully.
Processing data for 0xBitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT 0xBitcoin name, ["mineable", "arbitrum-ecosytem"] tags, 1447296.4825794797 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 0xBitcoin inserted successfully.
Processing data for Escroco Emerald
Query:
            MERGE INTO coins1 c
            USING (SELECT Escroco Emerald name, [] tags, 1446575.5779516376 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Escroco Emerald inserted successfully.
Processing data for Einsteinium
Query:
            MERGE INTO coins1 c
            USING (SELECT Einsteinium name, ["mineable", "pow", "scrypt", "crowdfunding", "research"] tags, 1439307.9398765005 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Einsteinium inserted successfully.
Processing data for Perth Mint Gold Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Perth Mint Gold Token name, ["tokenized-gold"] tags, 1437910.205621617 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Perth Mint Gold Token inserted successfully.
Processing data for SmartMesh
Query:
            MERGE INTO coins1 c
            USING (SELECT SmartMesh name, ["iot"] tags, 1435447.4881855005 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SmartMesh inserted successfully.
Processing data for PureFi Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT PureFi Protocol name, ["cybersecurity", "cosmos-ecosystem", "ai-big-data", "privacy", "zero-knowledge-proofs", "identity", "oracles", "ethereum-ecosystem", "binance-smart-chain", "analytics", "polygon-ecosystem", "near-protocol-ecosystem"] tags, 1420253.7853846357 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PureFi Protocol inserted successfully.
Processing data for Cajutel
Query:
            MERGE INTO coins1 c
            USING (SELECT Cajutel name, ["platform"] tags, 1415075.3885211288 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cajutel inserted successfully.
Processing data for EXMO Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT EXMO Coin name, ["marketplace", "centralized-exchange", "discount-token", "payments"] tags, 1411532.9972783658 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EXMO Coin inserted successfully.
Processing data for NewYorkCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT NewYorkCoin name, ["mineable", "pow", "scrypt", "payments"] tags, 1407906.499773779 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NewYorkCoin inserted successfully.
Processing data for HoDooi.com
Query:
            MERGE INTO coins1 c
            USING (SELECT HoDooi.com name, ["bnb-chain"] tags, 1407121.7536793274 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HoDooi.com inserted successfully.
Processing data for Interlay
Query:
            MERGE INTO coins1 c
            USING (SELECT Interlay name, [] tags, 1405004.7246269614 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Interlay inserted successfully.
Processing data for Primate
Query:
            MERGE INTO coins1 c
            USING (SELECT Primate name, ["ethereum-ecosystem", "binance-chain"] tags, 1402842.8009202203 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Primate inserted successfully.
Processing data for CUTcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT CUTcoin name, [] tags, 1401622.3686836888 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CUTcoin inserted successfully.
Processing data for Neblio
Query:
            MERGE INTO coins1 c
            USING (SELECT Neblio name, ["platform", "enterprise-solutions"] tags, 1397887.4543304953 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Neblio inserted successfully.
Processing data for Bird.Money
Query:
            MERGE INTO coins1 c
            USING (SELECT Bird.Money name, ["ai-big-data", "oracles", "analytics"] tags, 1387409.6746892778 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bird.Money inserted successfully.
Processing data for FREEdom Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT FREEdom Coin name, ["payments", "staking", "bnb-chain"] tags, 1383115.559992744 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FREEdom Coin inserted successfully.
Processing data for Offshift (old)
Query:
            MERGE INTO coins1 c
            USING (SELECT Offshift (old) name, ["privacy", "zero-knowledge-proofs", "ethereum-ecosystem", "polkadot-ecosystem", "bnb-chain"] tags, 1379230.9434485266 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Offshift (old) inserted successfully.
Processing data for Corite
Query:
            MERGE INTO coins1 c
            USING (SELECT Corite name, ["entertainment", "music", "social-token", "chromia-ecosystem"] tags, 1377576.4791824734 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Corite inserted successfully.
Processing data for suterusu
Query:
            MERGE INTO coins1 c
            USING (SELECT suterusu name, ["mineable", "pos", "defi", "privacy", "fantom-ecosystem", "web3", "mvb", "bnb-chain"] tags, 1374902.7771371105 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for suterusu inserted successfully.
Processing data for Kripto koin
Query:
            MERGE INTO coins1 c
            USING (SELECT Kripto koin name, [] tags, 1373189.8800838948 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kripto koin inserted successfully.
Processing data for Cheems Inu (new)
Query:
            MERGE INTO coins1 c
            USING (SELECT Cheems Inu (new) name, [] tags, 1367542.053605166 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cheems Inu (new) inserted successfully.
Processing data for Furucombo
Query:
            MERGE INTO coins1 c
            USING (SELECT Furucombo name, ["defi", "defiance-capital-portfolio"] tags, 1358743.1098050564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Furucombo inserted successfully.
Processing data for WebDollar
Query:
            MERGE INTO coins1 c
            USING (SELECT WebDollar name, ["mineable"] tags, 1355890.5469612598 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WebDollar inserted successfully.
Processing data for Genaro Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Genaro Network name, ["mineable", "platform", "distributed-computing"] tags, 1355200.820246457 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Genaro Network inserted successfully.
Processing data for Blockchain Monster Hunt
Query:
            MERGE INTO coins1 c
            USING (SELECT Blockchain Monster Hunt name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "bullperks-launchpad", "animoca-brands-portfolio", "skyvision-capital-portfolio"] tags, 1350108.3105587612 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blockchain Monster Hunt inserted successfully.
Processing data for LuaSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT LuaSwap name, ["decentralized-exchange-dex-token", "defi", "yield-farming", "amm"] tags, 1347755.423367423 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LuaSwap inserted successfully.
Processing data for Dentacoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Dentacoin name, ["health"] tags, 1347723.9111205381 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dentacoin inserted successfully.
Processing data for Polychain Monsters
Query:
            MERGE INTO coins1 c
            USING (SELECT Polychain Monsters name, ["collectibles-nfts", "gaming", "ethereum-ecosystem", "metaverse", "polygon-ecosystem", "play-to-earn", "bnb-chain"] tags, 1345982.3363352201 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polychain Monsters inserted successfully.
Processing data for ZUSD
Query:
            MERGE INTO coins1 c
            USING (SELECT ZUSD name, ["stablecoin", "usd-stablecoin"] tags, 1342448.1141822336 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZUSD inserted successfully.
Processing data for Effect Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Effect Network name, ["ai-big-data"] tags, 1335074.3866603686 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Effect Network inserted successfully.
Processing data for Spain National Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Spain National Fan Token name, ["fan-token"] tags, 1327227.4556522262 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Spain National Fan Token inserted successfully.
Processing data for King Shiba
Query:
            MERGE INTO coins1 c
            USING (SELECT King Shiba name, ["marketplace", "memes", "bnb-chain"] tags, 1320455.0918385664 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for King Shiba inserted successfully.
Processing data for Oddz
Query:
            MERGE INTO coins1 c
            USING (SELECT Oddz name, ["defi", "derivatives", "options"] tags, 1313106.2551833754 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oddz inserted successfully.
Processing data for Hiblocks
Query:
            MERGE INTO coins1 c
            USING (SELECT Hiblocks name, [] tags, 1308693.730580166 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hiblocks inserted successfully.
Processing data for Equalizer
Query:
            MERGE INTO coins1 c
            USING (SELECT Equalizer name, ["defi", "ethereum-ecosystem", "lending-borowing", "exnetwork-capital-portfolio", "bnb-chain"] tags, 1307823.3720781526 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Equalizer inserted successfully.
Processing data for Misbloc
Query:
            MERGE INTO coins1 c
            USING (SELECT Misbloc name, [] tags, 1305310.1553697055 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Misbloc inserted successfully.
Processing data for Lunar
Query:
            MERGE INTO coins1 c
            USING (SELECT Lunar name, [] tags, 1303035.0634092109 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lunar inserted successfully.
Processing data for GamesPad
Query:
            MERGE INTO coins1 c
            USING (SELECT GamesPad name, [] tags, 1289784.0303798004 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GamesPad inserted successfully.
Processing data for ZMINE
Query:
            MERGE INTO coins1 c
            USING (SELECT ZMINE name, ["bnb-chain"] tags, 1287473.169499267 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZMINE inserted successfully.
Processing data for Belt Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Belt Finance name, ["defi", "yield-farming", "bnb-chain"] tags, 1284322.727765471 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Belt Finance inserted successfully.
Processing data for JulSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT JulSwap name, ["decentralized-exchange-dex-token", "amm", "dex", "bnb-chain"] tags, 1271867.8636769745 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for JulSwap inserted successfully.
Processing data for Dreams Quest
Query:
            MERGE INTO coins1 c
            USING (SELECT Dreams Quest name, ["collectibles-nfts", "gaming", "entertainment", "mobile", "polkafoundry-red-kite"] tags, 1270830.4288107709 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dreams Quest inserted successfully.
Processing data for Wall Street Games
Query:
            MERGE INTO coins1 c
            USING (SELECT Wall Street Games name, ["collectibles-nfts", "gaming", "play-to-earn", "bnb-chain"] tags, 1269793.1389903615 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wall Street Games inserted successfully.
Processing data for AgeOfGods
Query:
            MERGE INTO coins1 c
            USING (SELECT AgeOfGods name, ["kommunitas-launchpad"] tags, 1268265.0619081396 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AgeOfGods inserted successfully.
Processing data for Green Ben
Query:
            MERGE INTO coins1 c
            USING (SELECT Green Ben name, [] tags, 1264192.892694053 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Green Ben inserted successfully.
Processing data for Revolve Games
Query:
            MERGE INTO coins1 c
            USING (SELECT Revolve Games name, ["collectibles-nfts", "gaming", "metaverse", "polkafoundry-red-kite", "play-to-earn", "ferrum-network"] tags, 1261195.9961834485 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Revolve Games inserted successfully.
Processing data for VINchain
Query:
            MERGE INTO coins1 c
            USING (SELECT VINchain name, [] tags, 1260236.787011559 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VINchain inserted successfully.
Processing data for xHashtag
Query:
            MERGE INTO coins1 c
            USING (SELECT xHashtag name, ["solana-ecosystem", "vbc-ventures-portfolio", "solrazr-launchpad"] tags, 1260115.0236575 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for xHashtag inserted successfully.
Processing data for Traxx
Query:
            MERGE INTO coins1 c
            USING (SELECT Traxx name, ["collectibles-nfts", "music"] tags, 1257423.5564702952 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Traxx inserted successfully.
Processing data for SafeMoon Inu
Query:
            MERGE INTO coins1 c
            USING (SELECT SafeMoon Inu name, ["collectibles-nfts", "gaming", "memes", "ethereum-ecosystem", "metaverse", "doggone-doggerel", "play-to-earn"] tags, 1246319.2021809248 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SafeMoon Inu inserted successfully.
Processing data for Credits
Query:
            MERGE INTO coins1 c
            USING (SELECT Credits name, ["services", "iot"] tags, 1236102.5673785168 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Credits inserted successfully.
Processing data for AMLT
Query:
            MERGE INTO coins1 c
            USING (SELECT AMLT name, [] tags, 1235492.5427279067 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AMLT inserted successfully.
Processing data for TrueChain
Query:
            MERGE INTO coins1 c
            USING (SELECT TrueChain name, ["platform", "smart-contracts"] tags, 1234339.080847784 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TrueChain inserted successfully.
Processing data for FantasyGold
Query:
            MERGE INTO coins1 c
            USING (SELECT FantasyGold name, ["sports", "staking"] tags, 1233424.8571035666 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FantasyGold inserted successfully.
Processing data for Idavoll DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Idavoll DAO name, ["polkadot-ecosystem"] tags, 1224487.833095335 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Idavoll DAO inserted successfully.
Processing data for Attila
Query:
            MERGE INTO coins1 c
            USING (SELECT Attila name, [] tags, 1223603.6228198654 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Attila inserted successfully.
Processing data for Spheroid Universe
Query:
            MERGE INTO coins1 c
            USING (SELECT Spheroid Universe name, ["vr-ar", "collectibles-nfts", "metaverse"] tags, 1212648.82760428 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Spheroid Universe inserted successfully.
Processing data for Achain
Query:
            MERGE INTO coins1 c
            USING (SELECT Achain name, ["dpos", "platform", "smart-contracts"] tags, 1211611.9560187815 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Achain inserted successfully.
Processing data for Pundi X NEM
Query:
            MERGE INTO coins1 c
            USING (SELECT Pundi X NEM name, [] tags, 1211213.9751728661 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pundi X NEM inserted successfully.
Processing data for Gamestarter
Query:
            MERGE INTO coins1 c
            USING (SELECT Gamestarter name, ["launchpad", "metaverse", "exnetwork-capital-portfolio"] tags, 1210585.6333633845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gamestarter inserted successfully.
Processing data for Dingocoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Dingocoin name, ["mineable", "pow", "medium-of-exchange", "memes", "payments"] tags, 1202350.1653166516 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dingocoin inserted successfully.
Processing data for Nabox
Query:
            MERGE INTO coins1 c
            USING (SELECT Nabox name, ["okex-blockdream-ventures-portfolio", "bnb-chain"] tags, 1201946.280029438 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nabox inserted successfully.
Processing data for Egretia
Query:
            MERGE INTO coins1 c
            USING (SELECT Egretia name, [] tags, 1195364.6333635664 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Egretia inserted successfully.
Processing data for Crust Shadow
Query:
            MERGE INTO coins1 c
            USING (SELECT Crust Shadow name, [] tags, 1194386.5592806896 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crust Shadow inserted successfully.
Processing data for HiCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT HiCoin name, ["mineable", "pos", "scrypt"] tags, 1191169.0832902554 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HiCoin inserted successfully.
Processing data for Fabwelt
Query:
            MERGE INTO coins1 c
            USING (SELECT Fabwelt name, ["polygon-ecosystem", "play-to-earn", "bnb-chain"] tags, 1186920.1682893562 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fabwelt inserted successfully.
Processing data for Monsta Infinite
Query:
            MERGE INTO coins1 c
            USING (SELECT Monsta Infinite name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "bullperks-launchpad", "oxbull", "bnb-chain"] tags, 1184924.5167860705 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Monsta Infinite inserted successfully.
Processing data for CyberMiles
Query:
            MERGE INTO coins1 c
            USING (SELECT CyberMiles name, ["platform", "cosmos-ecosystem", "e-commerce", "injective-ecosystem"] tags, 1183526.7381542432 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CyberMiles inserted successfully.
Processing data for Time New Bank
Query:
            MERGE INTO coins1 c
            USING (SELECT Time New Bank name, ["platform", "smart-contracts"] tags, 1181370.6947422093 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Time New Bank inserted successfully.
Processing data for BitcoinZ
Query:
            MERGE INTO coins1 c
            USING (SELECT BitcoinZ name, ["mineable", "pow", "medium-of-exchange", "privacy", "payments"] tags, 1179647.914518464 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitcoinZ inserted successfully.
Processing data for KickToken
Query:
            MERGE INTO coins1 c
            USING (SELECT KickToken name, ["asset-management"] tags, 1178934.393985183 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KickToken inserted successfully.
Processing data for Patron
Query:
            MERGE INTO coins1 c
            USING (SELECT Patron name, [] tags, 1178326.4064476972 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Patron inserted successfully.
Processing data for Olyverse
Query:
            MERGE INTO coins1 c
            USING (SELECT Olyverse name, ["events", "collectibles-nfts", "loyalty", "entertainment", "reputation", "social-token"] tags, 1178099.4599596215 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Olyverse inserted successfully.
Processing data for unFederalReserve
Query:
            MERGE INTO coins1 c
            USING (SELECT unFederalReserve name, ["defi", "dao", "yield-farming", "governance", "lending-borowing"] tags, 1173496.8692183574 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for unFederalReserve inserted successfully.
Processing data for IBStoken
Query:
            MERGE INTO coins1 c
            USING (SELECT IBStoken name, [] tags, 1171677.6181444668 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IBStoken inserted successfully.
Processing data for Newton
Query:
            MERGE INTO coins1 c
            USING (SELECT Newton name, ["mineable", "marketplace", "enterprise-solutions"] tags, 1166557.2214572115 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Newton inserted successfully.
Processing data for Vabble
Query:
            MERGE INTO coins1 c
            USING (SELECT Vabble name, [] tags, 1165815.0319950823 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vabble inserted successfully.
Processing data for DoDreamChain
Query:
            MERGE INTO coins1 c
            USING (SELECT DoDreamChain name, ["ethereum-ecosystem"] tags, 1164140.884605021 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DoDreamChain inserted successfully.
Processing data for Caduceus
Query:
            MERGE INTO coins1 c
            USING (SELECT Caduceus name, [] tags, 1160511.9899977783 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Caduceus inserted successfully.
Processing data for Realio Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Realio Network name, ["real-estate", "metaverse", "real-world-assets"] tags, 1157753.703873354 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Realio Network inserted successfully.
Processing data for ADAMANT Messenger
Query:
            MERGE INTO coins1 c
            USING (SELECT ADAMANT Messenger name, ["mineable"] tags, 1155754.7169754072 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ADAMANT Messenger inserted successfully.
Processing data for Xeno Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Xeno Token name, ["collectibles-nfts"] tags, 1155484.8833189383 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Xeno Token inserted successfully.
Processing data for IQeon
Query:
            MERGE INTO coins1 c
            USING (SELECT IQeon name, ["gaming", "entertainment"] tags, 1151113.6201725455 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IQeon inserted successfully.
Processing data for PulsePad
Query:
            MERGE INTO coins1 c
            USING (SELECT PulsePad name, ["launchpad", "bluezilla"] tags, 1150893.2797567965 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PulsePad inserted successfully.
Processing data for Degenerator Meme
Query:
            MERGE INTO coins1 c
            USING (SELECT Degenerator Meme name, ["collectibles-nfts", "yield-farming"] tags, 1144039.520094892 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Degenerator Meme inserted successfully.
Processing data for Zyberswap
Query:
            MERGE INTO coins1 c
            USING (SELECT Zyberswap name, ["arbitrum-ecosytem"] tags, 1136726.7846666896 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zyberswap inserted successfully.
Processing data for KubeCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT KubeCoin name, ["cardano-ecosystem"] tags, 1127299.1776867444 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KubeCoin inserted successfully.
Processing data for Triall
Query:
            MERGE INTO coins1 c
            USING (SELECT Triall name, ["health", "ai-big-data"] tags, 1122569.071810871 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Triall inserted successfully.
Processing data for BBS Network
Query:
            MERGE INTO coins1 c
            USING (SELECT BBS Network name, ["ethereum-ecosystem", "bnb-chain"] tags, 1120247.6079319438 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BBS Network inserted successfully.
Processing data for ShowHand
Query:
            MERGE INTO coins1 c
            USING (SELECT ShowHand name, [] tags, 1118202.1228889881 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ShowHand inserted successfully.
Processing data for 42-coin
Query:
            MERGE INTO coins1 c
            USING (SELECT 42-coin name, ["mineable", "hybrid-pow-pos", "scrypt", "store-of-value"] tags, 1116870.0801716538 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 42-coin inserted successfully.
Processing data for PUTinCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT PUTinCoin name, ["mineable", "hybrid-pow-pos", "scrypt"] tags, 1115315.979268582 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PUTinCoin inserted successfully.
Processing data for Oduwacoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Oduwacoin name, ["mineable", "marketplace"] tags, 1109414.6193431593 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oduwacoin inserted successfully.
Processing data for PieDAO DOUGH v2
Query:
            MERGE INTO coins1 c
            USING (SELECT PieDAO DOUGH v2 name, ["defi", "dao", "yield-farming", "governance"] tags, 1108031.5410580963 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PieDAO DOUGH v2 inserted successfully.
Processing data for Bitcoin Private
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin Private name, ["mineable", "privacy"] tags, 1105523.9121652627 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin Private inserted successfully.
Processing data for TokenClub
Query:
            MERGE INTO coins1 c
            USING (SELECT TokenClub name, ["asset-management", "bnb-chain"] tags, 1100674.8159173897 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TokenClub inserted successfully.
Processing data for Shattered Legion
Query:
            MERGE INTO coins1 c
            USING (SELECT Shattered Legion name, [] tags, 1087477.4942734707 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shattered Legion inserted successfully.
Processing data for DEEPSPACE
Query:
            MERGE INTO coins1 c
            USING (SELECT DEEPSPACE name, ["dapp"] tags, 1081835.0966281996 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DEEPSPACE inserted successfully.
Processing data for My DeFi Pet
Query:
            MERGE INTO coins1 c
            USING (SELECT My DeFi Pet name, ["collectibles-nfts", "gaming", "animoca-brands-portfolio", "okex-blockdream-ventures-portfolio", "bnb-chain"] tags, 1080372.7341658026 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for My DeFi Pet inserted successfully.
Processing data for Ertha
Query:
            MERGE INTO coins1 c
            USING (SELECT Ertha name, ["play-to-earn", "bullperks-launchpad", "okex-blockdream-ventures-portfolio"] tags, 1079739.2080661564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ertha inserted successfully.
Processing data for Aurigami
Query:
            MERGE INTO coins1 c
            USING (SELECT Aurigami name, [] tags, 1075184.5760817574 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aurigami inserted successfully.
Processing data for DAV Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT DAV Coin name, [] tags, 1072681.1276331886 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DAV Coin inserted successfully.
Processing data for Nord Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Nord Finance name, ["polkastarter", "exnetwork-capital-portfolio", "polygon-ecosystem"] tags, 1056840.5518545255 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nord Finance inserted successfully.
Processing data for Ubiq
Query:
            MERGE INTO coins1 c
            USING (SELECT Ubiq name, ["mineable", "pow", "ethash", "platform", "dapp"] tags, 1046537.1808809986 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ubiq inserted successfully.
Processing data for FreshCut Diamond
Query:
            MERGE INTO coins1 c
            USING (SELECT FreshCut Diamond name, [] tags, 1044934.6757406523 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FreshCut Diamond inserted successfully.
Processing data for Public Mint
Query:
            MERGE INTO coins1 c
            USING (SELECT Public Mint name, ["polkastarter"] tags, 1043781.4481197222 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Public Mint inserted successfully.
Processing data for Tokoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Tokoin name, [] tags, 1038476.6479324019 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tokoin inserted successfully.
Processing data for INT
Query:
            MERGE INTO coins1 c
            USING (SELECT INT name, ["platform", "iot"] tags, 1038412.0540648006 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for INT inserted successfully.
Processing data for Tranche Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Tranche Finance name, ["defi", "spartan-group"] tags, 1035079.5418502729 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tranche Finance inserted successfully.
Processing data for Strong
Query:
            MERGE INTO coins1 c
            USING (SELECT Strong name, ["defi", "yield-farming"] tags, 1034348.9121057589 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Strong inserted successfully.
Processing data for Umbrella Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Umbrella Network name, ["defi", "oracles", "polkastarter", "polygon-ecosystem", "bounce-launchpad", "bnb-chain"] tags, 1032442.654503318 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Umbrella Network inserted successfully.
Processing data for TriumphX
Query:
            MERGE INTO coins1 c
            USING (SELECT TriumphX name, ["marketplace", "platform", "collectibles-nfts"] tags, 1029789.929633044 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TriumphX inserted successfully.
Processing data for XTRABYTES
Query:
            MERGE INTO coins1 c
            USING (SELECT XTRABYTES name, ["posign"] tags, 1027962.200606219 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XTRABYTES inserted successfully.
Processing data for Avocado DAO Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Avocado DAO Token name, ["dao", "governance", "gaming-guild"] tags, 1024341.5348465386 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Avocado DAO Token inserted successfully.
Processing data for Edgeless
Query:
            MERGE INTO coins1 c
            USING (SELECT Edgeless name, ["gambling", "coinbase-ventures-portfolio", "framework-ventures-portfolio", "hashkey-capital-portfolio", "ledgerprime-portfolio"] tags, 1023660.5455538256 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Edgeless inserted successfully.
Processing data for DRIFE
Query:
            MERGE INTO coins1 c
            USING (SELECT DRIFE name, ["vbc-ventures-portfolio", "bnb-chain"] tags, 1021970.8380980178 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DRIFE inserted successfully.
Processing data for Empty Set Dollar
Query:
            MERGE INTO coins1 c
            USING (SELECT Empty Set Dollar name, ["defi", "stablecoin", "rebase", "seigniorage"] tags, 1014592.603551842 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Empty Set Dollar inserted successfully.
Processing data for Eminer
Query:
            MERGE INTO coins1 c
            USING (SELECT Eminer name, [] tags, 1013157.1880577897 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Eminer inserted successfully.
Processing data for OpenWorld
Query:
            MERGE INTO coins1 c
            USING (SELECT OpenWorld name, ["collectibles-nfts", "binance-smart-chain"] tags, 1012139.7007145758 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OpenWorld inserted successfully.
Processing data for Convergence
Query:
            MERGE INTO coins1 c
            USING (SELECT Convergence name, ["decentralized-exchange-dex-token", "yield-farming", "dex", "polkadot-ecosystem", "polkastarter", "cms-holdings-portfolio", "alameda-research-portfolio", "pantera-capital-portfolio", "okex-blockdream-ventures-portfolio"] tags, 1008739.8546805966 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Convergence inserted successfully.
Processing data for Ripio Credit Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Ripio Credit Network name, ["services", "defi", "lending-borowing", "boostvc-portfolio", "fenbushi-capital-portfolio", "hashkey-capital-portfolio"] tags, 1004629.6648206046 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ripio Credit Network inserted successfully.
Processing data for Okratech Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Okratech Token name, ["kommunitas-launchpad"] tags, 1003075.1456775527 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Okratech Token inserted successfully.
Processing data for Brother Music Platform
Query:
            MERGE INTO coins1 c
            USING (SELECT Brother Music Platform name, [] tags, 992371.341720845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Brother Music Platform inserted successfully.
Processing data for Gleec Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Gleec Coin name, [] tags, 992090.0872561574 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gleec Coin inserted successfully.
Processing data for CPChain
Query:
            MERGE INTO coins1 c
            USING (SELECT CPChain name, ["platform", "ai-big-data", "iot"] tags, 991538.354214125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CPChain inserted successfully.
Processing data for RED TOKEN
Query:
            MERGE INTO coins1 c
            USING (SELECT RED TOKEN name, [] tags, 989656.2942664793 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RED TOKEN inserted successfully.
Processing data for Wombat Web 3 Gaming Platform
Query:
            MERGE INTO coins1 c
            USING (SELECT Wombat Web 3 Gaming Platform name, [] tags, 982043.7845071845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wombat Web 3 Gaming Platform inserted successfully.
Processing data for CRYPTO20
Query:
            MERGE INTO coins1 c
            USING (SELECT CRYPTO20 name, ["services"] tags, 980116.8627670358 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CRYPTO20 inserted successfully.
Processing data for Ycash
Query:
            MERGE INTO coins1 c
            USING (SELECT Ycash name, [] tags, 972070.3485781052 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ycash inserted successfully.
Processing data for Unifty
Query:
            MERGE INTO coins1 c
            USING (SELECT Unifty name, ["collectibles-nfts", "polygon-ecosystem"] tags, 971064.2671196748 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unifty inserted successfully.
Processing data for Handy
Query:
            MERGE INTO coins1 c
            USING (SELECT Handy name, [] tags, 970166.9056552484 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Handy inserted successfully.
Processing data for ThreeFold
Query:
            MERGE INTO coins1 c
            USING (SELECT ThreeFold name, ["distributed-computing", "filesharing", "smart-contracts", "storage", "bnb-chain"] tags, 969161.9410850843 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ThreeFold inserted successfully.
Processing data for Conceal
Query:
            MERGE INTO coins1 c
            USING (SELECT Conceal name, ["mineable", "privacy"] tags, 967462.2258413528 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Conceal inserted successfully.
Processing data for City Tycoon Games
Query:
            MERGE INTO coins1 c
            USING (SELECT City Tycoon Games name, [] tags, 966474.1825842124 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for City Tycoon Games inserted successfully.
Processing data for AICHAIN
Query:
            MERGE INTO coins1 c
            USING (SELECT AICHAIN name, ["ai-big-data"] tags, 966386.0587602445 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AICHAIN inserted successfully.
Processing data for MAX Exchange Token
Query:
            MERGE INTO coins1 c
            USING (SELECT MAX Exchange Token name, ["centralized-exchange"] tags, 965514.2578739304 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MAX Exchange Token inserted successfully.
Processing data for ADAPad
Query:
            MERGE INTO coins1 c
            USING (SELECT ADAPad name, ["launchpad", "bluezilla"] tags, 964545.1853051719 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ADAPad inserted successfully.
Processing data for 88mph
Query:
            MERGE INTO coins1 c
            USING (SELECT 88mph name, ["defi", "yield-farming", "yield-aggregator"] tags, 961483.699723137 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 88mph inserted successfully.
Processing data for IOI Token
Query:
            MERGE INTO coins1 c
            USING (SELECT IOI Token name, ["collectibles-nfts", "dao-maker", "bnb-chain"] tags, 955267.5973213743 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IOI Token inserted successfully.
Processing data for Lightning Bitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Lightning Bitcoin name, ["mineable", "btc-ecosystem"] tags, 947713.8490155092 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lightning Bitcoin inserted successfully.
Processing data for OctoFi
Query:
            MERGE INTO coins1 c
            USING (SELECT OctoFi name, ["decentralized-exchange-dex-token", "defi", "dao", "yield-farming", "yield-aggregator", "governance"] tags, 944670.4296620248 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OctoFi inserted successfully.
Processing data for SuperLauncher
Query:
            MERGE INTO coins1 c
            USING (SELECT SuperLauncher name, ["launchpad", "bnb-chain"] tags, 941525.2012982243 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SuperLauncher inserted successfully.
Processing data for Patientory
Query:
            MERGE INTO coins1 c
            USING (SELECT Patientory name, ["health", "data-provenance"] tags, 941055.6779225436 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Patientory inserted successfully.
Processing data for ETHPad
Query:
            MERGE INTO coins1 c
            USING (SELECT ETHPad name, ["launchpad", "bluezilla", "bnb-chain"] tags, 938873.0004540494 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ETHPad inserted successfully.
Processing data for Revomon
Query:
            MERGE INTO coins1 c
            USING (SELECT Revomon name, ["vr-ar", "collectibles-nfts", "gaming", "metaverse", "play-to-earn", "bnb-chain"] tags, 936060.6608541158 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Revomon inserted successfully.
Processing data for Geojam Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Geojam Token name, [] tags, 931099.9267767101 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Geojam Token inserted successfully.
Processing data for FIBOS
Query:
            MERGE INTO coins1 c
            USING (SELECT FIBOS name, ["mineable"] tags, 929102.9631435928 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FIBOS inserted successfully.
Processing data for Project TXA
Query:
            MERGE INTO coins1 c
            USING (SELECT Project TXA name, [] tags, 927947.7429025732 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Project TXA inserted successfully.
Processing data for Bitcoin Plus
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin Plus name, ["pos", "medium-of-exchange", "store-of-value", "payments", "scaling", "staking"] tags, 925659.3261328902 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin Plus inserted successfully.
Processing data for AcknoLedger
Query:
            MERGE INTO coins1 c
            USING (SELECT AcknoLedger name, ["collectibles-nfts", "metaverse", "genpad"] tags, 924105.7442842792 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AcknoLedger inserted successfully.
Processing data for Arcona
Query:
            MERGE INTO coins1 c
            USING (SELECT Arcona name, ["ai-big-data", "metaverse"] tags, 923394.4222467243 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Arcona inserted successfully.
Processing data for COVER Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT COVER Protocol name, ["defi", "insurance", "yearn-partnerships", "fantom-ecosystem"] tags, 918135.3008592619 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for COVER Protocol inserted successfully.
Processing data for TrueFeedBack
Query:
            MERGE INTO coins1 c
            USING (SELECT TrueFeedBack name, [] tags, 912450.5901939789 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TrueFeedBack inserted successfully.
Processing data for Duck DAO (DLP Duck Token)
Query:
            MERGE INTO coins1 c
            USING (SELECT Duck DAO (DLP Duck Token) name, ["dao"] tags, 911654.704567961 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Duck DAO (DLP Duck Token) inserted successfully.
Processing data for Graviocoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Graviocoin name, ["mineable"] tags, 911436.6096031521 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Graviocoin inserted successfully.
Processing data for Signata
Query:
            MERGE INTO coins1 c
            USING (SELECT Signata name, [] tags, 910800.5892918317 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Signata inserted successfully.
Processing data for MOVEZ
Query:
            MERGE INTO coins1 c
            USING (SELECT MOVEZ name, ["binance-chain", "bluezilla", "move-to-earn"] tags, 910316.470397911 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MOVEZ inserted successfully.
Processing data for Florin
Query:
            MERGE INTO coins1 c
            USING (SELECT Florin name, [] tags, 909076.3093377572 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Florin inserted successfully.
Processing data for S.C. Corinthians Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT S.C. Corinthians Fan Token name, ["sports", "fan-token"] tags, 907881.7843036712 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for S.C. Corinthians Fan Token inserted successfully.
Processing data for PlayFuel
Query:
            MERGE INTO coins1 c
            USING (SELECT PlayFuel name, [] tags, 903051.3283805632 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PlayFuel inserted successfully.
Processing data for BitNautic Token
Query:
            MERGE INTO coins1 c
            USING (SELECT BitNautic Token name, [] tags, 902288.4574052643 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitNautic Token inserted successfully.
Processing data for BRN Metaverse
Query:
            MERGE INTO coins1 c
            USING (SELECT BRN Metaverse name, [] tags, 901955.5567829033 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BRN Metaverse inserted successfully.
Processing data for Bistroo
Query:
            MERGE INTO coins1 c
            USING (SELECT Bistroo name, ["food-beverage", "marketplace", "loyalty", "e-commerce", "dapp"] tags, 897631.3222379982 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bistroo inserted successfully.
Processing data for Vexanium
Query:
            MERGE INTO coins1 c
            USING (SELECT Vexanium name, ["medium-of-exchange", "enterprise-solutions", "smart-contracts"] tags, 886593.6836095925 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vexanium inserted successfully.
Processing data for Molecular Future
Query:
            MERGE INTO coins1 c
            USING (SELECT Molecular Future name, [] tags, 885465.4463630962 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Molecular Future inserted successfully.
Processing data for Virtue Poker
Query:
            MERGE INTO coins1 c
            USING (SELECT Virtue Poker name, ["superstarter", "bnb-chain"] tags, 884191.8344936103 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Virtue Poker inserted successfully.
Processing data for Integritee Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Integritee Network name, ["okex-blockdream-ventures-portfolio"] tags, 881463.9469838734 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Integritee Network inserted successfully.
Processing data for UnMarshal
Query:
            MERGE INTO coins1 c
            USING (SELECT UnMarshal name, ["ai-big-data", "defi", "ethereum-ecosystem", "polkastarter", "polygon-ecosystem", "bnb-chain"] tags, 881010.5285871214 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UnMarshal inserted successfully.
Processing data for Phoenixcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Phoenixcoin name, ["mineable", "neoscrypt"] tags, 879216.3451321985 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Phoenixcoin inserted successfully.
Processing data for Education Ecosystem
Query:
            MERGE INTO coins1 c
            USING (SELECT Education Ecosystem name, ["education"] tags, 877872.3402371154 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Education Ecosystem inserted successfully.
Processing data for Whiteheart
Query:
            MERGE INTO coins1 c
            USING (SELECT Whiteheart name, ["defi", "derivatives"] tags, 877536.8062985743 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Whiteheart inserted successfully.
Processing data for Jigstack
Query:
            MERGE INTO coins1 c
            USING (SELECT Jigstack name, ["dao"] tags, 877106.1003814525 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Jigstack inserted successfully.
Processing data for Tulip Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Tulip Protocol name, ["solana-ecosystem"] tags, 870927.4467795918 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tulip Protocol inserted successfully.
Processing data for Don-key
Query:
            MERGE INTO coins1 c
            USING (SELECT Don-key name, ["ethereum-ecosystem", "superstarter", "vbc-ventures-portfolio", "bnb-chain"] tags, 865562.3640689828 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Don-key inserted successfully.
Processing data for Spores Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Spores Network name, ["launchpad", "metaverse", "exnetwork-capital-portfolio"] tags, 865367.7338983454 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Spores Network inserted successfully.
Processing data for STARSHIP
Query:
            MERGE INTO coins1 c
            USING (SELECT STARSHIP name, ["collectibles-nfts", "gaming", "bnb-chain"] tags, 864214.7138232595 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for STARSHIP inserted successfully.
Processing data for LinkEye
Query:
            MERGE INTO coins1 c
            USING (SELECT LinkEye name, [] tags, 847564.2191147398 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LinkEye inserted successfully.
Processing data for LaunchZone
Query:
            MERGE INTO coins1 c
            USING (SELECT LaunchZone name, ["launchzone"] tags, 845455.3443225663 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LaunchZone inserted successfully.
Processing data for İstanbul Başakşehir Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT İstanbul Başakşehir Fan Token name, ["sports", "fan-token", "soccer"] tags, 836813.439237137 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for İstanbul Başakşehir Fan Token inserted successfully.
Processing data for QChi
Query:
            MERGE INTO coins1 c
            USING (SELECT QChi name, [] tags, 830928.2609423297 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for QChi inserted successfully.
Processing data for Crowny
Query:
            MERGE INTO coins1 c
            USING (SELECT Crowny name, ["marketplace", "solana-ecosystem", "exnetwork-capital-portfolio"] tags, 828960.7880685034 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crowny inserted successfully.
Processing data for Brokoli Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Brokoli Network name, [] tags, 828678.7247158291 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Brokoli Network inserted successfully.
Processing data for Chronicle
Query:
            MERGE INTO coins1 c
            USING (SELECT Chronicle name, ["platform", "collectibles-nfts", "metaverse", "dao-maker"] tags, 826013.4672720025 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chronicle inserted successfully.
Processing data for Unistake
Query:
            MERGE INTO coins1 c
            USING (SELECT Unistake name, ["defi", "ethereum-ecosystem"] tags, 824447.2057968692 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unistake inserted successfully.
Processing data for OceanEx Token
Query:
            MERGE INTO coins1 c
            USING (SELECT OceanEx Token name, ["ai-big-data"] tags, 818113.841509026 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OceanEx Token inserted successfully.
Processing data for Eden
Query:
            MERGE INTO coins1 c
            USING (SELECT Eden name, ["exnetwork-capital-portfolio"] tags, 816747.4771682093 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Eden inserted successfully.
Processing data for Wagerr
Query:
            MERGE INTO coins1 c
            USING (SELECT Wagerr name, ["gambling", "masternodes", "bnb-chain"] tags, 816176.3033995082 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wagerr inserted successfully.
Processing data for Blocknet
Query:
            MERGE INTO coins1 c
            USING (SELECT Blocknet name, ["hybrid-pow-pos", "marketplace", "masternodes"] tags, 812785.8182352692 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blocknet inserted successfully.
Processing data for Peony
Query:
            MERGE INTO coins1 c
            USING (SELECT Peony name, ["mineable", "masternodes"] tags, 806634.9493267401 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Peony inserted successfully.
Processing data for blockbank
Query:
            MERGE INTO coins1 c
            USING (SELECT blockbank name, [] tags, 803422.3381321382 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for blockbank inserted successfully.
Processing data for AME Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT AME Chain name, ["quantum-resistant", "smart-contracts"] tags, 800397.3406352615 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AME Chain inserted successfully.
Processing data for PAC Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT PAC Protocol name, ["mineable", "pos", "pos-30", "decentralized-exchange-dex-token", "filesharing", "masternodes", "storage"] tags, 798253.3005077458 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PAC Protocol inserted successfully.
Processing data for Acquire.Fi
Query:
            MERGE INTO coins1 c
            USING (SELECT Acquire.Fi name, [] tags, 798235.4225761188 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Acquire.Fi inserted successfully.
Processing data for Wicrypt
Query:
            MERGE INTO coins1 c
            USING (SELECT Wicrypt name, [] tags, 795502.8594046339 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wicrypt inserted successfully.
Processing data for Bridge Mutual
Query:
            MERGE INTO coins1 c
            USING (SELECT Bridge Mutual name, ["insurance", "polkadot-ecosystem", "polkastarter", "exnetwork-capital-portfolio"] tags, 793165.0270666037 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bridge Mutual inserted successfully.
Processing data for CyberFi Token
Query:
            MERGE INTO coins1 c
            USING (SELECT CyberFi Token name, ["defi", "launchpad", "polygon-ecosystem"] tags, 792478.8269759804 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CyberFi Token inserted successfully.
Processing data for FYDcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT FYDcoin name, ["mineable", "pos", "medium-of-exchange", "store-of-value", "masternodes", "staking", "dao"] tags, 791871.6938876808 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FYDcoin inserted successfully.
Processing data for Aston Martin Cognizant Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Aston Martin Cognizant Fan Token name, ["sports", "fan-token"] tags, 790157.175434748 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aston Martin Cognizant Fan Token inserted successfully.
Processing data for Okcash
Query:
            MERGE INTO coins1 c
            USING (SELECT Okcash name, ["hybrid-pow-pos"] tags, 789960.8766728302 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Okcash inserted successfully.
Processing data for Databroker
Query:
            MERGE INTO coins1 c
            USING (SELECT Databroker name, [] tags, 785131.6077674121 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Databroker inserted successfully.
Processing data for Gather
Query:
            MERGE INTO coins1 c
            USING (SELECT Gather name, ["platform", "collectibles-nfts", "masternodes", "smart-contracts", "staking", "governance", "web3"] tags, 780559.0554227025 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gather inserted successfully.
Processing data for TenUp
Query:
            MERGE INTO coins1 c
            USING (SELECT TenUp name, ["masternodes", "play-to-earn", "web3", "bnb-chain"] tags, 779393.8816400401 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TenUp inserted successfully.
Processing data for Moeda Loyalty Points
Query:
            MERGE INTO coins1 c
            USING (SELECT Moeda Loyalty Points name, ["services"] tags, 779135.0609291325 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Moeda Loyalty Points inserted successfully.
Processing data for Crypt2 Esports
Query:
            MERGE INTO coins1 c
            USING (SELECT Crypt2 Esports name, ["gambling", "marketplace", "platform", "services", "sports", "collectibles-nfts", "payments", "staking", "dapp", "ethereum-ecosystem", "binance-chain", "avalanche-ecosystem", "polygon-ecosystem", "play-to-earn"] tags, 777741.8942136433 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crypt2 Esports inserted successfully.
Processing data for Spartan Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Spartan Protocol name, ["binance-chain", "bnb-chain"] tags, 776650.4206322229 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Spartan Protocol inserted successfully.
Processing data for NFTrade
Query:
            MERGE INTO coins1 c
            USING (SELECT NFTrade name, ["avalanche-ecosystem", "dao-maker", "poolz-finance-portfolio", "polkafoundry-red-kite"] tags, 774661.4456151337 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFTrade inserted successfully.
Processing data for Opacity
Query:
            MERGE INTO coins1 c
            USING (SELECT Opacity name, ["filesharing", "storage"] tags, 773463.3788901081 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Opacity inserted successfully.
Processing data for Bob's Repair
Query:
            MERGE INTO coins1 c
            USING (SELECT Bob's Repair name, [] tags, 767470.7074936812 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bob's Repair inserted successfully.
Processing data for Drops Ownership Power
Query:
            MERGE INTO coins1 c
            USING (SELECT Drops Ownership Power name, ["collectibles-nfts", "defi", "polkastarter"] tags, 766914.1584183396 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Drops Ownership Power inserted successfully.
Processing data for AppCoins
Query:
            MERGE INTO coins1 c
            USING (SELECT AppCoins name, ["platform", "mobile", "dapp"] tags, 764878.2733495589 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AppCoins inserted successfully.
Processing data for Bitswift
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitswift name, ["platform", "enterprise-solutions"] tags, 761713.64179403 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitswift inserted successfully.
Processing data for Rangers Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Rangers Protocol name, ["ethereum-ecosystem", "polkastarter", "pantera-capital-portfolio", "vbc-ventures-portfolio", "bnb-chain"] tags, 761527.5760102968 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rangers Protocol inserted successfully.
Processing data for SafeBlast
Query:
            MERGE INTO coins1 c
            USING (SELECT SafeBlast name, ["bnb-chain"] tags, 760589.2904655596 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SafeBlast inserted successfully.
Processing data for FlypMe
Query:
            MERGE INTO coins1 c
            USING (SELECT FlypMe name, ["marketplace", "wallet"] tags, 757588.2895517432 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FlypMe inserted successfully.
Processing data for New BitShares
Query:
            MERGE INTO coins1 c
            USING (SELECT New BitShares name, [] tags, 744759.8732283339 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for New BitShares inserted successfully.
Processing data for Orbitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Orbitcoin name, ["mineable", "hybrid-pow-pos", "neoscrypt"] tags, 743106.1077148147 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Orbitcoin inserted successfully.
Processing data for The Midas Touch Gold
Query:
            MERGE INTO coins1 c
            USING (SELECT The Midas Touch Gold name, [] tags, 742350.2225202568 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for The Midas Touch Gold inserted successfully.
Processing data for BonusCloud
Query:
            MERGE INTO coins1 c
            USING (SELECT BonusCloud name, [] tags, 741876.9446399963 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BonusCloud inserted successfully.
Processing data for Life Crypto
Query:
            MERGE INTO coins1 c
            USING (SELECT Life Crypto name, [] tags, 740329.5951143758 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Life Crypto inserted successfully.
Processing data for Leeds United Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Leeds United Fan Token name, ["sports", "fan-token"] tags, 735911.988895144 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Leeds United Fan Token inserted successfully.
Processing data for ATLANT
Query:
            MERGE INTO coins1 c
            USING (SELECT ATLANT name, ["real-estate"] tags, 734486.923175948 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ATLANT inserted successfully.
Processing data for BitCore
Query:
            MERGE INTO coins1 c
            USING (SELECT BitCore name, ["mineable", "masternodes"] tags, 732930.0592175949 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitCore inserted successfully.
Processing data for DeepOnion
Query:
            MERGE INTO coins1 c
            USING (SELECT DeepOnion name, ["mineable", "hybrid-pow-pos", "x13", "marketplace", "medium-of-exchange", "privacy", "payments", "staking"] tags, 729623.6482212825 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeepOnion inserted successfully.
Processing data for Garlicoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Garlicoin name, ["mineable", "memes", "bnb-chain"] tags, 728565.6914029334 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Garlicoin inserted successfully.
Processing data for Tolar
Query:
            MERGE INTO coins1 c
            USING (SELECT Tolar name, [] tags, 728084.2860253386 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tolar inserted successfully.
Processing data for SIRIN LABS Token
Query:
            MERGE INTO coins1 c
            USING (SELECT SIRIN LABS Token name, ["platform", "distributed-computing"] tags, 726122.131588896 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SIRIN LABS Token inserted successfully.
Processing data for GlobalBoost-Y
Query:
            MERGE INTO coins1 c
            USING (SELECT GlobalBoost-Y name, ["mineable", "pow", "yescript"] tags, 725175.6809368775 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GlobalBoost-Y inserted successfully.
Processing data for Thorstarter
Query:
            MERGE INTO coins1 c
            USING (SELECT Thorstarter name, ["launchpad", "olympus-pro-ecosystem"] tags, 724003.5971494324 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Thorstarter inserted successfully.
Processing data for Viacoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Viacoin name, ["mineable", "pow", "scrypt"] tags, 722090.8080561566 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Viacoin inserted successfully.
Processing data for Dexsport
Query:
            MERGE INTO coins1 c
            USING (SELECT Dexsport name, [] tags, 720544.4683984006 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dexsport inserted successfully.
Processing data for Kava Swap
Query:
            MERGE INTO coins1 c
            USING (SELECT Kava Swap name, [] tags, 718157.7692039537 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kava Swap inserted successfully.
Processing data for Burency
Query:
            MERGE INTO coins1 c
            USING (SELECT Burency name, [] tags, 717207.548357865 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Burency inserted successfully.
Processing data for BlackCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT BlackCoin name, ["pos", "scrypt"] tags, 716725.3438323307 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BlackCoin inserted successfully.
Processing data for 8PAY
Query:
            MERGE INTO coins1 c
            USING (SELECT 8PAY name, ["ethereum-ecosystem", "bnb-chain"] tags, 716703.3924620361 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 8PAY inserted successfully.
Processing data for Lamden
Query:
            MERGE INTO coins1 c
            USING (SELECT Lamden name, ["platform", "atomic-swaps", "interoperability", "smart-contracts"] tags, 713613.4659612363 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lamden inserted successfully.
Processing data for Billion Happiness
Query:
            MERGE INTO coins1 c
            USING (SELECT Billion Happiness name, ["bnb-chain"] tags, 712645.8190426205 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Billion Happiness inserted successfully.
Processing data for HEROcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT HEROcoin name, ["gambling", "gaming"] tags, 712601.0305060929 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HEROcoin inserted successfully.
Processing data for ACENT
Query:
            MERGE INTO coins1 c
            USING (SELECT ACENT name, ["web3"] tags, 711956.8292539375 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ACENT inserted successfully.
Processing data for Neutra Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Neutra Finance name, ["arbitrum-ecosytem", "camelot-launchpad"] tags, 711744.3990992317 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Neutra Finance inserted successfully.
Processing data for FaraLand
Query:
            MERGE INTO coins1 c
            USING (SELECT FaraLand name, ["collectibles-nfts", "gaming", "metaverse", "polkafoundry-red-kite", "play-to-earn", "icetea-labs", "mvb", "moon-knight-labs", "bnb-chain"] tags, 710823.2141978799 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FaraLand inserted successfully.
Processing data for ALL.ART protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT ALL.ART protocol name, ["art", "marketplace", "vr-ar", "collectibles-nfts", "data-provenance", "solana-ecosystem"] tags, 709439.1383403752 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ALL.ART protocol inserted successfully.
Processing data for Sumokoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Sumokoin name, ["mineable", "privacy"] tags, 707720.9140898397 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sumokoin inserted successfully.
Processing data for Nebulas
Query:
            MERGE INTO coins1 c
            USING (SELECT Nebulas name, ["platform", "search-engine", "dragonfly-capital-portfolio"] tags, 705728.4163973548 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nebulas inserted successfully.
Processing data for Mist
Query:
            MERGE INTO coins1 c
            USING (SELECT Mist name, ["vr-ar", "collectibles-nfts", "gaming", "metaverse", "play-to-earn", "bnb-chain"] tags, 705609.2837991603 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mist inserted successfully.
Processing data for APIX
Query:
            MERGE INTO coins1 c
            USING (SELECT APIX name, [] tags, 705315.6891364005 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for APIX inserted successfully.
Processing data for Kattana
Query:
            MERGE INTO coins1 c
            USING (SELECT Kattana name, ["bnb-chain"] tags, 704623.1938290532 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kattana inserted successfully.
Processing data for Only1
Query:
            MERGE INTO coins1 c
            USING (SELECT Only1 name, ["marketplace", "collectibles-nfts", "solana-ecosystem", "alameda-research-portfolio", "petrock-capital-portfolio", "animoca-brands-portfolio"] tags, 699737.7592604313 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Only1 inserted successfully.
Processing data for Honest
Query:
            MERGE INTO coins1 c
            USING (SELECT Honest name, ["masternodes"] tags, 697910.284041044 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Honest inserted successfully.
Processing data for KatKoyn
Query:
            MERGE INTO coins1 c
            USING (SELECT KatKoyn name, ["mineable", "pow", "scrypt"] tags, 688934.2583378638 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KatKoyn inserted successfully.
Processing data for Waves Enterprise
Query:
            MERGE INTO coins1 c
            USING (SELECT Waves Enterprise name, ["platform", "enterprise-solutions", "staking"] tags, 681329.4174976345 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Waves Enterprise inserted successfully.
Processing data for Spume Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Spume Protocol name, [] tags, 680826.3019916798 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Spume Protocol inserted successfully.
Processing data for SYNC Network
Query:
            MERGE INTO coins1 c
            USING (SELECT SYNC Network name, ["collectibles-nfts", "defi"] tags, 676975.2767260461 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SYNC Network inserted successfully.
Processing data for Oxygen
Query:
            MERGE INTO coins1 c
            USING (SELECT Oxygen name, ["yield-farming", "solana-ecosystem", "ftx-bankruptcy-estate"] tags, 671963.6615157245 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oxygen inserted successfully.
Processing data for Pawthereum
Query:
            MERGE INTO coins1 c
            USING (SELECT Pawthereum name, ["philanthropy", "ethereum-ecosystem", "bnb-chain"] tags, 671025.31857103 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pawthereum inserted successfully.
Processing data for Binemon
Query:
            MERGE INTO coins1 c
            USING (SELECT Binemon name, ["collectibles-nfts", "gaming", "play-to-earn"] tags, 667428.2209532701 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Binemon inserted successfully.
Processing data for Raiden Network Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Raiden Network Token name, ["platform", "scaling", "state-channel", "fabric-ventures-portfolio"] tags, 665971.6524089702 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Raiden Network Token inserted successfully.
Processing data for SmileyCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT SmileyCoin name, ["mineable", "scrypt", "marketplace"] tags, 665679.7432308928 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SmileyCoin inserted successfully.
Processing data for Etho Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Etho Protocol name, ["mineable", "distributed-computing", "filesharing", "masternodes", "storage", "bnb-chain"] tags, 660967.2094581361 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Etho Protocol inserted successfully.
Processing data for High Performance Blockchain
Query:
            MERGE INTO coins1 c
            USING (SELECT High Performance Blockchain name, ["dpos", "hardware", "enterprise-solutions", "smart-contracts"] tags, 656893.1125246113 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for High Performance Blockchain inserted successfully.
Processing data for Kalao
Query:
            MERGE INTO coins1 c
            USING (SELECT Kalao name, ["vr-ar", "collectibles-nfts", "avalanche-ecosystem", "metaverse"] tags, 655834.437869597 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kalao inserted successfully.
Processing data for YFDAI.FINANCE
Query:
            MERGE INTO coins1 c
            USING (SELECT YFDAI.FINANCE name, ["ai-big-data", "defi", "dao", "yield-farming", "governance"] tags, 654217.8023355178 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for YFDAI.FINANCE inserted successfully.
Processing data for Essentia
Query:
            MERGE INTO coins1 c
            USING (SELECT Essentia name, ["masternodes"] tags, 654184.0896445479 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Essentia inserted successfully.
Processing data for Catheon Gaming
Query:
            MERGE INTO coins1 c
            USING (SELECT Catheon Gaming name, [] tags, 650016.2064899157 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Catheon Gaming inserted successfully.
Processing data for CryptoBlades
Query:
            MERGE INTO coins1 c
            USING (SELECT CryptoBlades name, ["collectibles-nfts", "gaming", "play-to-earn", "oxbull", "bnb-chain"] tags, 649874.6576687375 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CryptoBlades inserted successfully.
Processing data for Monsterra (MSTR)
Query:
            MERGE INTO coins1 c
            USING (SELECT Monsterra (MSTR) name, [] tags, 647572.4102255212 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Monsterra (MSTR) inserted successfully.
Processing data for The Coop Network
Query:
            MERGE INTO coins1 c
            USING (SELECT The Coop Network name, [] tags, 646521.6519041283 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for The Coop Network inserted successfully.
Processing data for MoneroV
Query:
            MERGE INTO coins1 c
            USING (SELECT MoneroV  name, [] tags, 645464.6375899514 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MoneroV  inserted successfully.
Processing data for Clube Atlético Mineiro Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Clube Atlético Mineiro Fan Token name, ["sports", "fan-token"] tags, 643314.3627775933 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Clube Atlético Mineiro Fan Token inserted successfully.
Processing data for Unicly Hashmasks Collection
Query:
            MERGE INTO coins1 c
            USING (SELECT Unicly Hashmasks Collection name, ["collectibles-nfts"] tags, 643135.6324405955 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unicly Hashmasks Collection inserted successfully.
Processing data for LOCGame
Query:
            MERGE INTO coins1 c
            USING (SELECT LOCGame name, ["collectibles-nfts", "metaverse", "play-to-earn"] tags, 641096.5514170039 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LOCGame inserted successfully.
Processing data for SifChain
Query:
            MERGE INTO coins1 c
            USING (SELECT SifChain name, ["cosmos-ecosystem", "kenetic-capital-portfolio", "injective-ecosystem"] tags, 638766.2956254955 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SifChain inserted successfully.
Processing data for Props Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Props Token name, ["social-money", "algorand-ecosystem", "polygon-ecosystem"] tags, 638658.4052495864 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Props Token inserted successfully.
Processing data for aiRight
Query:
            MERGE INTO coins1 c
            USING (SELECT aiRight name, ["ai-big-data", "generative-ai"] tags, 637890.666157003 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for aiRight inserted successfully.
Processing data for Lanceria
Query:
            MERGE INTO coins1 c
            USING (SELECT Lanceria name, ["bnb-chain"] tags, 633096.7662648675 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lanceria inserted successfully.
Processing data for Nafter
Query:
            MERGE INTO coins1 c
            USING (SELECT Nafter name, ["collectibles-nfts", "bnb-chain"] tags, 632689.528463883 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nafter inserted successfully.
Processing data for Metrix Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Metrix Coin name, ["pos", "platform", "smart-contracts", "staking", "dapp"] tags, 632007.1688585107 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metrix Coin inserted successfully.
Processing data for Ixcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Ixcoin name, ["pow", "sha-256"] tags, 630267.9315150424 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ixcoin inserted successfully.
Processing data for Global Social Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT Global Social Chain name, [] tags, 616821.2421521536 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Global Social Chain inserted successfully.
Processing data for Hakka.Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Hakka.Finance name, ["defi", "dao", "governance", "bnb-chain"] tags, 616775.8015864826 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hakka.Finance inserted successfully.
Processing data for BlackHat
Query:
            MERGE INTO coins1 c
            USING (SELECT BlackHat name, ["pos", "privacy", "zero-knowledge-proofs", "masternodes"] tags, 613481.4767930352 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BlackHat inserted successfully.
Processing data for PLANET
Query:
            MERGE INTO coins1 c
            USING (SELECT PLANET name, [] tags, 613014.5397898359 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PLANET inserted successfully.
Processing data for Young Boys Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Young Boys Fan Token name, ["sports", "fan-token", "soccer"] tags, 604266.538985245 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Young Boys Fan Token inserted successfully.
Processing data for IG Gold
Query:
            MERGE INTO coins1 c
            USING (SELECT IG Gold name, [] tags, 602728.9031568161 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for IG Gold inserted successfully.
Processing data for WOOF
Query:
            MERGE INTO coins1 c
            USING (SELECT WOOF name, ["memes", "solana-ecosystem", "doggone-doggerel"] tags, 601384.907315183 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WOOF inserted successfully.
Processing data for RaceFi
Query:
            MERGE INTO coins1 c
            USING (SELECT RaceFi name, ["gaming", "entertainment", "solana-ecosystem", "metaverse", "exnetwork-capital-portfolio", "play-to-earn", "solrazr-launchpad"] tags, 600522.4747853685 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RaceFi inserted successfully.
Processing data for NFT
Query:
            MERGE INTO coins1 c
            USING (SELECT NFT name, ["collectibles-nfts", "dao", "governance"] tags, 592130.8440764949 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFT inserted successfully.
Processing data for Fractal
Query:
            MERGE INTO coins1 c
            USING (SELECT Fractal name, ["polkadot-ecosystem", "polkastarter", "framework-ventures-portfolio"] tags, 591379.7122426109 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Fractal inserted successfully.
Processing data for Raze Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Raze Network name, ["ai-big-data", "defi", "privacy", "substrate", "polkadot", "polkadot-ecosystem", "duckstarter", "poolz-finance-portfolio", "polygon-ecosystem", "bounce-launchpad", "web3", "vbc-ventures-portfolio", "okex-blockdream-ventures-portfolio", "bnb-chain"] tags, 586572.3630354938 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Raze Network inserted successfully.
Processing data for Tiger King Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Tiger King Coin name, ["defi"] tags, 585327.5191761953 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tiger King Coin inserted successfully.
Processing data for Woodcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Woodcoin name, ["mineable", "pow"] tags, 584903.5936308391 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Woodcoin inserted successfully.
Processing data for BlueMove
Query:
            MERGE INTO coins1 c
            USING (SELECT BlueMove name, ["marketplace", "collectibles-nfts", "aptos-ecosystem"] tags, 582761.5228707395 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BlueMove inserted successfully.
Processing data for Ekta
Query:
            MERGE INTO coins1 c
            USING (SELECT Ekta name, ["ethereum-ecosystem", "bnb-chain", "real-world-assets"] tags, 580131.1255069714 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ekta inserted successfully.
Processing data for Unido EP
Query:
            MERGE INTO coins1 c
            USING (SELECT Unido EP name, ["polkadot-ecosystem", "polkastarter"] tags, 578190.4451572456 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Unido EP inserted successfully.
Processing data for Tokes
Query:
            MERGE INTO coins1 c
            USING (SELECT Tokes name, ["health", "payments"] tags, 574870.1883934699 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tokes inserted successfully.
Processing data for HempCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT HempCoin name, ["mineable", "hybrid-pow-pos", "scrypt", "masternodes"] tags, 574751.7648899725 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HempCoin inserted successfully.
Processing data for NuriFootBall
Query:
            MERGE INTO coins1 c
            USING (SELECT NuriFootBall name, [] tags, 574564.9573256164 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NuriFootBall inserted successfully.
Processing data for Archimedes Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Archimedes Finance name, ["defi"] tags, 572056.1606110727 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Archimedes Finance inserted successfully.
Processing data for Smart MFG
Query:
            MERGE INTO coins1 c
            USING (SELECT Smart MFG name, ["manufacturing", "logistics", "enterprise-solutions", "collectibles-nfts", "data-provenance", "defi", "iot", "payments", "smart-contracts"] tags, 568909.0124651501 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Smart MFG inserted successfully.
Processing data for KCCPAD
Query:
            MERGE INTO coins1 c
            USING (SELECT KCCPAD name, ["launchpad", "bnb-chain"] tags, 567996.7864118202 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KCCPAD inserted successfully.
Processing data for PetroDollar
Query:
            MERGE INTO coins1 c
            USING (SELECT PetroDollar name, ["mineable"] tags, 567240.1445896034 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PetroDollar inserted successfully.
Processing data for Omni
Query:
            MERGE INTO coins1 c
            USING (SELECT Omni name, ["pow", "scrypt"] tags, 566983.5090533829 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Omni inserted successfully.
Processing data for PlanetWatch
Query:
            MERGE INTO coins1 c
            USING (SELECT PlanetWatch name, ["algorand-ecosystem"] tags, 564578.3290270219 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PlanetWatch inserted successfully.
Processing data for LINKA
Query:
            MERGE INTO coins1 c
            USING (SELECT LINKA name, [] tags, 559362.4108518821 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LINKA inserted successfully.
Processing data for FidexToken
Query:
            MERGE INTO coins1 c
            USING (SELECT FidexToken name, [] tags, 558958.7106460813 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FidexToken inserted successfully.
Processing data for NFTY Token
Query:
            MERGE INTO coins1 c
            USING (SELECT NFTY Token name, [] tags, 557342.999478321 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFTY Token inserted successfully.
Processing data for Alfa Romeo Racing ORLEN Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Alfa Romeo Racing ORLEN Fan Token name, ["sports", "fan-token"] tags, 556920.6578646696 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alfa Romeo Racing ORLEN Fan Token inserted successfully.
Processing data for PANTHEON X
Query:
            MERGE INTO coins1 c
            USING (SELECT PANTHEON X name, [] tags, 551404.1372678012 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PANTHEON X inserted successfully.
Processing data for Goldcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Goldcoin name, ["mineable", "pow", "scrypt"] tags, 551208.1921946777 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Goldcoin inserted successfully.
Processing data for SHIBAVAX
Query:
            MERGE INTO coins1 c
            USING (SELECT SHIBAVAX name, ["memes", "avalanche-ecosystem", "doggone-doggerel"] tags, 550300.0854731966 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SHIBAVAX inserted successfully.
Processing data for Humaniq
Query:
            MERGE INTO coins1 c
            USING (SELECT Humaniq name, ["asset-management"] tags, 546339.5752650321 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Humaniq inserted successfully.
Processing data for FedoraCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT FedoraCoin name, ["mineable"] tags, 545965.7804614534 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FedoraCoin inserted successfully.
Processing data for Opium
Query:
            MERGE INTO coins1 c
            USING (SELECT Opium name, ["defi", "derivatives", "dao", "insurance", "governance", "cms-holdings-portfolio", "kenetic-capital-portfolio", "alameda-research-portfolio", "polygon-ecosystem"] tags, 545819.9987107405 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Opium inserted successfully.
Processing data for Streamity
Query:
            MERGE INTO coins1 c
            USING (SELECT Streamity name, ["bnb-chain"] tags, 540577.7536491186 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Streamity inserted successfully.
Processing data for SPORT
Query:
            MERGE INTO coins1 c
            USING (SELECT SPORT name, [] tags, 537335.882717175 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SPORT inserted successfully.
Processing data for MetaSoccer
Query:
            MERGE INTO coins1 c
            USING (SELECT MetaSoccer name, ["collectibles-nfts", "play-to-earn"] tags, 536930.9335616668 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MetaSoccer inserted successfully.
Processing data for Skeb Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Skeb Coin name, [] tags, 536452.1732567254 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Skeb Coin inserted successfully.
Processing data for PhoenixDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT PhoenixDAO name, ["bnb-chain"] tags, 534904.202268099 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PhoenixDAO inserted successfully.
Processing data for Bean Cash
Query:
            MERGE INTO coins1 c
            USING (SELECT Bean Cash name, ["mineable", "hybrid-pow-pos", "sha-256"] tags, 531097.615550377 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bean Cash inserted successfully.
Processing data for Davis Cup Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Davis Cup Fan Token name, ["fan-token"] tags, 525744.0910898355 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Davis Cup Fan Token inserted successfully.
Processing data for AtromG8
Query:
            MERGE INTO coins1 c
            USING (SELECT AtromG8 name, ["bnb-chain"] tags, 525230.8576919314 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AtromG8 inserted successfully.
Processing data for Genesis Vision
Query:
            MERGE INTO coins1 c
            USING (SELECT Genesis Vision name, ["asset-management"] tags, 523138.9435828119 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Genesis Vision inserted successfully.
Processing data for Flixxo
Query:
            MERGE INTO coins1 c
            USING (SELECT Flixxo name, ["media", "entertainment", "video"] tags, 521663.30269333377 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Flixxo inserted successfully.
Processing data for SmartCash
Query:
            MERGE INTO coins1 c
            USING (SELECT SmartCash name, ["mineable", "masternodes"] tags, 521636.6353280553 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SmartCash inserted successfully.
Processing data for Swirge
Query:
            MERGE INTO coins1 c
            USING (SELECT Swirge name, ["bnb-chain"] tags, 520420.35641938203 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swirge inserted successfully.
Processing data for HTMLCOIN
Query:
            MERGE INTO coins1 c
            USING (SELECT HTMLCOIN name, ["mineable", "platform", "collectibles-nfts", "dapp"] tags, 519106.2390676765 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HTMLCOIN inserted successfully.
Processing data for Scry.info
Query:
            MERGE INTO coins1 c
            USING (SELECT Scry.info name, ["platform", "ai-big-data", "smart-contracts"] tags, 517576.81071602926 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Scry.info inserted successfully.
Processing data for Bismuth
Query:
            MERGE INTO coins1 c
            USING (SELECT Bismuth name, ["mineable", "hybrid-pow-pos", "pos", "pow"] tags, 516032.5992852053 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bismuth inserted successfully.
Processing data for Rainmaker Games
Query:
            MERGE INTO coins1 c
            USING (SELECT Rainmaker Games name, ["alameda-research-portfolio", "bullperks-launchpad", "animoca-brands-portfolio"] tags, 515548.3758983449 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rainmaker Games inserted successfully.
Processing data for SeedOn
Query:
            MERGE INTO coins1 c
            USING (SELECT SeedOn name, [] tags, 513709.530434417 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SeedOn inserted successfully.
Processing data for Oikos
Query:
            MERGE INTO coins1 c
            USING (SELECT Oikos name, ["defi", "bnb-chain"] tags, 510638.5245086065 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Oikos inserted successfully.
Processing data for AGA Token
Query:
            MERGE INTO coins1 c
            USING (SELECT AGA Token name, ["polygon-ecosystem"] tags, 509520.3444282151 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AGA Token inserted successfully.
Processing data for Feathercoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Feathercoin name, ["mineable", "pow", "neoscrypt", "medium-of-exchange", "collectibles-nfts", "payments"] tags, 508421.4294610612 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Feathercoin inserted successfully.
Processing data for PERI Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT PERI Finance name, ["defi", "duckstarter", "bnb-chain"] tags, 508002.5693452799 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PERI Finance inserted successfully.
Processing data for Spore
Query:
            MERGE INTO coins1 c
            USING (SELECT Spore name, ["art", "marketplace", "collectibles-nfts", "staking", "avalanche-ecosystem", "bnb-chain"] tags, 506351.46207259095 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Spore inserted successfully.
Processing data for XY Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT XY Finance name, ["marketplace", "collectibles-nfts", "defi", "ethereum-ecosystem", "amm", "dex", "avalanche-ecosystem", "polygon-ecosystem", "fantom-ecosystem", "arbitrum-ecosytem", "animoca-brands-portfolio", "cross-chain", "moonriver-ecosystem", "cronos-ecosystem", "bnb-chain", "circle-ventures-portfolio"] tags, 502485.37493087904 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XY Finance inserted successfully.
Processing data for Double-A Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT Double-A Chain name, [] tags, 502217.83778337657 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Double-A Chain inserted successfully.
Processing data for AmonD
Query:
            MERGE INTO coins1 c
            USING (SELECT AmonD name, ["payments"] tags, 499485.60577981913 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AmonD inserted successfully.
Processing data for PUMLx
Query:
            MERGE INTO coins1 c
            USING (SELECT PUMLx name, ["move-to-earn"] tags, 498808.7580681083 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PUMLx inserted successfully.
Processing data for Mogul Productions
Query:
            MERGE INTO coins1 c
            USING (SELECT Mogul Productions name, ["collectibles-nfts", "crowdfunding", "entertainment", "metaverse", "bnb-chain"] tags, 497889.50251223845 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mogul Productions inserted successfully.
Processing data for Caspian
Query:
            MERGE INTO coins1 c
            USING (SELECT Caspian name, ["asset-management", "kenetic-capital-portfolio"] tags, 496592.49945428764 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Caspian inserted successfully.
Processing data for XP NETWORK
Query:
            MERGE INTO coins1 c
            USING (SELECT XP NETWORK name, ["collectibles-nfts"] tags, 493913.6719329471 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XP NETWORK inserted successfully.
Processing data for Decentr
Query:
            MERGE INTO coins1 c
            USING (SELECT Decentr name, ["cosmos-ecosystem", "defi", "injective-ecosystem"] tags, 493350.1761581052 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decentr inserted successfully.
Processing data for Zap
Query:
            MERGE INTO coins1 c
            USING (SELECT Zap name, ["defi", "oracles"] tags, 493276.6702611897 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zap inserted successfully.
Processing data for DraftCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT DraftCoin name, ["pos", "scrypt"] tags, 490240.78623371356 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DraftCoin inserted successfully.
Processing data for VIBE
Query:
            MERGE INTO coins1 c
            USING (SELECT VIBE name, ["marketplace"] tags, 488424.0372082082 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VIBE inserted successfully.
Processing data for Naka Bodhi Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Naka Bodhi Token name, [] tags, 486380.4761296773 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Naka Bodhi Token inserted successfully.
Processing data for Aion
Query:
            MERGE INTO coins1 c
            USING (SELECT Aion name, ["mineable", "marketplace", "ai-big-data", "payments"] tags, 485065.7909454504 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aion inserted successfully.
Processing data for Paribus
Query:
            MERGE INTO coins1 c
            USING (SELECT Paribus name, [] tags, 484713.3246592425 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Paribus inserted successfully.
Processing data for DAOstack
Query:
            MERGE INTO coins1 c
            USING (SELECT DAOstack name, ["platform", "dao", "web3"] tags, 484376.08938192815 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DAOstack inserted successfully.
Processing data for Kcash
Query:
            MERGE INTO coins1 c
            USING (SELECT Kcash name, ["services", "wallet"] tags, 481138.22656977916 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kcash inserted successfully.
Processing data for PotCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT PotCoin name, ["mineable", "pow", "scrypt"] tags, 481010.98928190116 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PotCoin inserted successfully.
Processing data for Cyclone Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Cyclone Protocol name, ["iotex-ecosystem", "bnb-chain"] tags, 477409.61873351614 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cyclone Protocol inserted successfully.
Processing data for CannabisCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT CannabisCoin name, ["mineable", "pow"] tags, 477132.68110421015 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CannabisCoin inserted successfully.
Processing data for VIDY
Query:
            MERGE INTO coins1 c
            USING (SELECT VIDY name, [] tags, 475576.19132284255 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VIDY inserted successfully.
Processing data for PlotX
Query:
            MERGE INTO coins1 c
            USING (SELECT PlotX name, ["prediction-markets", "dao-maker", "polygon-ecosystem"] tags, 472596.32805205364 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PlotX inserted successfully.
Processing data for UBXS Token
Query:
            MERGE INTO coins1 c
            USING (SELECT UBXS Token name, ["real-estate", "collectibles-nfts", "binance-smart-chain", "metaverse", "real-world-assets"] tags, 472210.8505843974 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UBXS Token inserted successfully.
Processing data for CryptoZoon
Query:
            MERGE INTO coins1 c
            USING (SELECT CryptoZoon name, ["collectibles-nfts", "play-to-earn", "bnb-chain"] tags, 472101.3975465825 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CryptoZoon inserted successfully.
Processing data for TRAVA.FINANCE
Query:
            MERGE INTO coins1 c
            USING (SELECT TRAVA.FINANCE name, ["ai-big-data", "defi", "lending-borowing", "web3", "bnb-chain"] tags, 471437.5828307473 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TRAVA.FINANCE inserted successfully.
Processing data for Everton Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Everton Fan Token name, ["sports", "fan-token"] tags, 469754.26472816966 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Everton Fan Token inserted successfully.
Processing data for Shirtum
Query:
            MERGE INTO coins1 c
            USING (SELECT Shirtum name, ["sports", "collectibles-nfts", "metaverse"] tags, 468014.81463395787 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shirtum inserted successfully.
Processing data for DAPS Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT DAPS Coin name, ["mineable", "pos", "platform", "privacy", "bnb-chain"] tags, 467198.7191777335 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DAPS Coin inserted successfully.
Processing data for AIPAD
Query:
            MERGE INTO coins1 c
            USING (SELECT AIPAD name, ["ai-big-data", "launchpad", "bluezilla"] tags, 466579.53920101555 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AIPAD inserted successfully.
Processing data for Karbo
Query:
            MERGE INTO coins1 c
            USING (SELECT Karbo name, ["mineable", "pow", "cryptonight", "marketplace", "privacy"] tags, 464462.0970190954 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Karbo inserted successfully.
Processing data for UREEQA
Query:
            MERGE INTO coins1 c
            USING (SELECT UREEQA name, ["art", "media", "medium-of-exchange", "collectibles-nfts", "music", "payments", "timestamping", "video", "ferrum-network"] tags, 459456.28965613147 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UREEQA inserted successfully.
Processing data for Rainbow Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Rainbow Token name, ["bnb-chain"] tags, 459236.8144206793 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rainbow Token inserted successfully.
Processing data for Baanx
Query:
            MERGE INTO coins1 c
            USING (SELECT Baanx name, [] tags, 459091.0338038927 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Baanx inserted successfully.
Processing data for Alanyaspor Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Alanyaspor Fan Token name, ["fan-token"] tags, 456634.0002299315 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alanyaspor Fan Token inserted successfully.
Processing data for MUNT
Query:
            MERGE INTO coins1 c
            USING (SELECT MUNT name, ["mineable", "pow", "scrypt", "sigma"] tags, 454190.44389997475 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MUNT inserted successfully.
Processing data for FLIP
Query:
            MERGE INTO coins1 c
            USING (SELECT FLIP name, [] tags, 452455.59007675137 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FLIP inserted successfully.
Processing data for Wings
Query:
            MERGE INTO coins1 c
            USING (SELECT Wings name, ["asset-management", "crowdfunding"] tags, 450884.8349296384 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wings inserted successfully.
Processing data for Carbon
Query:
            MERGE INTO coins1 c
            USING (SELECT Carbon name, ["collectibles-nfts", "gaming", "social-token", "play-to-earn"] tags, 449948.4993847488 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Carbon inserted successfully.
Processing data for Huobi Pool Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Huobi Pool Token name, [] tags, 448900.9264544066 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Huobi Pool Token inserted successfully.
Processing data for NIX
Query:
            MERGE INTO coins1 c
            USING (SELECT NIX name, ["mineable", "privacy", "masternodes"] tags, 448440.69442010275 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NIX inserted successfully.
Processing data for Sakura
Query:
            MERGE INTO coins1 c
            USING (SELECT Sakura name, ["polkadot-ecosystem"] tags, 447516.44543198793 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sakura inserted successfully.
Processing data for iEthereum
Query:
            MERGE INTO coins1 c
            USING (SELECT iEthereum name, [] tags, 445853.78555932635 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for iEthereum inserted successfully.
Processing data for KIRA
Query:
            MERGE INTO coins1 c
            USING (SELECT KIRA name, ["cosmos-ecosystem", "vbc-ventures-portfolio", "injective-ecosystem"] tags, 443523.77759762405 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for KIRA inserted successfully.
Processing data for Blockzero Labs
Query:
            MERGE INTO coins1 c
            USING (SELECT Blockzero Labs name, [] tags, 442839.21273789735 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blockzero Labs inserted successfully.
Processing data for Aryacoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Aryacoin name, ["mineable", "defi", "dao", "binance-chain"] tags, 442169.4939081574 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aryacoin inserted successfully.
Processing data for Bibox Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Bibox Token name, ["marketplace", "centralized-exchange", "discount-token", "algorand-ecosystem"] tags, 440724.9838490411 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bibox Token inserted successfully.
Processing data for Sao Paulo FC Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Sao Paulo FC Fan Token name, ["sports", "fan-token"] tags, 440402.1558403475 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sao Paulo FC Fan Token inserted successfully.
Processing data for HyperChainX
Query:
            MERGE INTO coins1 c
            USING (SELECT HyperChainX name, [] tags, 438300.1418519826 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HyperChainX inserted successfully.
Processing data for Gemie
Query:
            MERGE INTO coins1 c
            USING (SELECT Gemie name, ["content-creation", "entertainment", "polygon-ecosystem"] tags, 437922.3129015006 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gemie inserted successfully.
Processing data for Hunter Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Hunter Token name, [] tags, 429888.3131095171 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hunter Token inserted successfully.
Processing data for Nexalt
Query:
            MERGE INTO coins1 c
            USING (SELECT Nexalt name, [] tags, 428029.5265118548 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nexalt inserted successfully.
Processing data for Tycoon
Query:
            MERGE INTO coins1 c
            USING (SELECT Tycoon name, [] tags, 426675.8772809537 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tycoon inserted successfully.
Processing data for ODIN PROTOCOL
Query:
            MERGE INTO coins1 c
            USING (SELECT ODIN PROTOCOL name, ["platform", "cosmos-ecosystem", "defi", "dao", "storage", "bnb-chain"] tags, 426562.9134847288 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ODIN PROTOCOL inserted successfully.
Processing data for Binamon
Query:
            MERGE INTO coins1 c
            USING (SELECT Binamon name, ["collectibles-nfts", "gaming", "play-to-earn", "mvb", "bnb-chain"] tags, 426285.90800516703 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Binamon inserted successfully.
Processing data for Pawtocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Pawtocol name, ["ai-big-data"] tags, 425416.20060616126 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pawtocol inserted successfully.
Processing data for Link Machine Learning
Query:
            MERGE INTO coins1 c
            USING (SELECT Link Machine Learning name, ["ai-big-data"] tags, 424954.09857303504 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Link Machine Learning inserted successfully.
Processing data for Hawksight
Query:
            MERGE INTO coins1 c
            USING (SELECT Hawksight name, ["defi", "solana-ecosystem", "terra-ecosystem"] tags, 423204.88959566975 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hawksight inserted successfully.
Processing data for YF Link
Query:
            MERGE INTO coins1 c
            USING (SELECT YF Link name, ["defi", "dao", "yield-farming", "governance"] tags, 422844.5405802307 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for YF Link inserted successfully.
Processing data for BitcoinHD
Query:
            MERGE INTO coins1 c
            USING (SELECT BitcoinHD name, ["medium-of-exchange"] tags, 419799.996767916 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BitcoinHD inserted successfully.
Processing data for Swop
Query:
            MERGE INTO coins1 c
            USING (SELECT Swop name, [] tags, 418272.67289754 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swop inserted successfully.
Processing data for Metaverse VR
Query:
            MERGE INTO coins1 c
            USING (SELECT Metaverse VR name, ["metaverse"] tags, 416322.70508733066 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Metaverse VR inserted successfully.
Processing data for Cryptonovae
Query:
            MERGE INTO coins1 c
            USING (SELECT Cryptonovae name, ["asset-management", "duckstarter", "bnb-chain"] tags, 414148.83906578977 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cryptonovae inserted successfully.
Processing data for DMarket
Query:
            MERGE INTO coins1 c
            USING (SELECT DMarket name, ["marketplace", "collectibles-nfts", "entertainment", "payments"] tags, 412820.1313641992 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DMarket inserted successfully.
Processing data for ONSTON
Query:
            MERGE INTO coins1 c
            USING (SELECT ONSTON name, ["collectibles-nfts", "ethereum-ecosystem", "avalanche-ecosystem", "metaverse", "polygon-ecosystem"] tags, 411782.5541877229 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ONSTON inserted successfully.
Processing data for Etherland
Query:
            MERGE INTO coins1 c
            USING (SELECT Etherland name, ["real-estate", "collectibles-nfts", "mobile", "metaverse"] tags, 408707.4450103424 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Etherland inserted successfully.
Processing data for DEXA COIN
Query:
            MERGE INTO coins1 c
            USING (SELECT DEXA COIN name, [] tags, 407893.1262008345 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DEXA COIN inserted successfully.
Processing data for Infinity Games
Query:
            MERGE INTO coins1 c
            USING (SELECT Infinity Games name, [] tags, 407831.34855541587 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Infinity Games inserted successfully.
Processing data for Polker
Query:
            MERGE INTO coins1 c
            USING (SELECT Polker name, ["collectibles-nfts", "gaming", "metaverse", "play-to-earn", "bullperks-launchpad", "bnb-chain"] tags, 406650.1252067792 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Polker inserted successfully.
Processing data for Plasma Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Plasma Finance name, ["defi", "ethereum-ecosystem", "governance", "exnetwork-capital-portfolio", "polygon-ecosystem", "injective-ecosystem", "bnb-chain"] tags, 406510.5046852234 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Plasma Finance inserted successfully.
Processing data for Hush
Query:
            MERGE INTO coins1 c
            USING (SELECT Hush name, ["mineable", "pow", "equihash", "privacy"] tags, 405799.59241023485 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hush inserted successfully.
Processing data for Hedget
Query:
            MERGE INTO coins1 c
            USING (SELECT Hedget name, ["decentralized-exchange-dex-token", "defi", "derivatives", "options", "alameda-research-portfolio", "exnetwork-capital-portfolio", "chromia-ecosystem"] tags, 405407.37565938034 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hedget inserted successfully.
Processing data for ZClassic
Query:
            MERGE INTO coins1 c
            USING (SELECT ZClassic name, ["mineable", "pow", "equihash", "marketplace", "privacy", "zero-knowledge-proofs"] tags, 404119.94113163 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ZClassic inserted successfully.
Processing data for OneRare
Query:
            MERGE INTO coins1 c
            USING (SELECT OneRare name, ["collectibles-nfts", "gaming", "polygon-ecosystem"] tags, 402465.1439648023 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OneRare inserted successfully.
Processing data for Hot Cross
Query:
            MERGE INTO coins1 c
            USING (SELECT Hot Cross name, ["yield-farming", "mvb", "bnb-chain"] tags, 402224.75239706546 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hot Cross inserted successfully.
Processing data for Zenfuse
Query:
            MERGE INTO coins1 c
            USING (SELECT Zenfuse name, ["bnb-chain"] tags, 401248.3647383658 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zenfuse inserted successfully.
Processing data for Natus Vincere Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Natus Vincere Fan Token name, ["sports", "fan-token", "soccer"] tags, 401247.036647641 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Natus Vincere Fan Token inserted successfully.
Processing data for Denarius
Query:
            MERGE INTO coins1 c
            USING (SELECT Denarius name, ["mineable", "masternodes"] tags, 401064.1937840686 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Denarius inserted successfully.
Processing data for Beyond Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Beyond Protocol name, [] tags, 397109.2783386551 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Beyond Protocol inserted successfully.
Processing data for ritestream
Query:
            MERGE INTO coins1 c
            USING (SELECT ritestream name, ["marketplace", "collectibles-nfts", "entertainment"] tags, 394248.7938231668 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ritestream inserted successfully.
Processing data for Swace
Query:
            MERGE INTO coins1 c
            USING (SELECT Swace name, [] tags, 393274.3280910595 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swace inserted successfully.
Processing data for Swarm
Query:
            MERGE INTO coins1 c
            USING (SELECT Swarm name, ["asset-management", "crowdfunding"] tags, 392408.70834810275 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swarm inserted successfully.
Processing data for Universidad de Chile Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Universidad de Chile Fan Token name, ["sports", "fan-token", "soccer"] tags, 389050.7859206611 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Universidad de Chile Fan Token inserted successfully.
Processing data for Upfiring
Query:
            MERGE INTO coins1 c
            USING (SELECT Upfiring name, ["media", "distributed-computing", "filesharing"] tags, 386795.2885366993 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Upfiring inserted successfully.
Processing data for Snetwork
Query:
            MERGE INTO coins1 c
            USING (SELECT Snetwork name, [] tags, 386146.78244262235 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Snetwork inserted successfully.
Processing data for Quark
Query:
            MERGE INTO coins1 c
            USING (SELECT Quark name, ["mineable", "pow", "multiple-algorithms"] tags, 385867.86325324856 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Quark inserted successfully.
Processing data for Open Platform
Query:
            MERGE INTO coins1 c
            USING (SELECT Open Platform name, [] tags, 384545.30726369686 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Open Platform inserted successfully.
Processing data for RealTract
Query:
            MERGE INTO coins1 c
            USING (SELECT RealTract name, ["platform", "smart-contracts"] tags, 382893.7632333588 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RealTract inserted successfully.
Processing data for Crabada
Query:
            MERGE INTO coins1 c
            USING (SELECT Crabada name, ["gaming", "avalanche-ecosystem", "play-to-earn", "skyvision-capital-portfolio"] tags, 381619.0639972279 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crabada inserted successfully.
Processing data for OST
Query:
            MERGE INTO coins1 c
            USING (SELECT OST name, ["services", "kenetic-capital-portfolio"] tags, 380869.06722302746 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OST inserted successfully.
Processing data for Typerium
Query:
            MERGE INTO coins1 c
            USING (SELECT Typerium name, [] tags, 376285.62037508655 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Typerium inserted successfully.
Processing data for SaTT
Query:
            MERGE INTO coins1 c
            USING (SELECT SaTT name, ["bnb-chain"] tags, 373852.3507460792 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SaTT inserted successfully.
Processing data for Royale Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Royale Finance name, ["gaming", "polkastarter"] tags, 372897.37047418096 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Royale Finance inserted successfully.
Processing data for yieldwatch
Query:
            MERGE INTO coins1 c
            USING (SELECT yieldwatch name, ["bnb-chain"] tags, 369885.4257862141 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for yieldwatch inserted successfully.
Processing data for Ryo Currency
Query:
            MERGE INTO coins1 c
            USING (SELECT Ryo Currency name, ["mineable"] tags, 369152.7143227002 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ryo Currency inserted successfully.
Processing data for Centaur
Query:
            MERGE INTO coins1 c
            USING (SELECT Centaur name, ["cosmos-ecosystem", "injective-ecosystem"] tags, 369108.45740387967 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Centaur inserted successfully.
Processing data for Leverj Gluon
Query:
            MERGE INTO coins1 c
            USING (SELECT Leverj Gluon name, ["defi", "scaling"] tags, 368769.75061585085 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Leverj Gluon inserted successfully.
Processing data for COGI
Query:
            MERGE INTO coins1 c
            USING (SELECT COGI name, ["defi", "gaming", "play-to-earn", "vbc-ventures-portfolio", "bnb-chain"] tags, 368762.8123315146 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for COGI inserted successfully.
Processing data for Playermon
Query:
            MERGE INTO coins1 c
            USING (SELECT Playermon name, ["gaming", "play-to-earn"] tags, 368610.95277812186 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Playermon inserted successfully.
Processing data for HollyGold
Query:
            MERGE INTO coins1 c
            USING (SELECT HollyGold name, ["marketing", "media", "entertainment", "video", "social-money"] tags, 366083.99779398914 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HollyGold inserted successfully.
Processing data for Plant Vs Undead
Query:
            MERGE INTO coins1 c
            USING (SELECT Plant Vs Undead name, ["mvb", "bnb-chain"] tags, 365668.56634694274 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Plant Vs Undead inserted successfully.
Processing data for Zero
Query:
            MERGE INTO coins1 c
            USING (SELECT Zero name, ["mineable", "pow", "equihash", "privacy", "avalanche-ecosystem"] tags, 365530.2408182935 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zero inserted successfully.
Processing data for Cred
Query:
            MERGE INTO coins1 c
            USING (SELECT Cred name, ["payments", "binance-labs-portfolio"] tags, 365348.4814498151 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cred inserted successfully.
Processing data for APY.Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT APY.Finance name, ["defi", "yield-farming", "yield-aggregator", "alameda-research-portfolio", "exnetwork-capital-portfolio", "polygon-ecosystem"] tags, 363898.0841732919 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for APY.Finance inserted successfully.
Processing data for DPRating
Query:
            MERGE INTO coins1 c
            USING (SELECT DPRating name, [] tags, 363406.37764356035 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DPRating inserted successfully.
Processing data for PowerTrade Fuel
Query:
            MERGE INTO coins1 c
            USING (SELECT PowerTrade Fuel name, ["centralized-exchange", "defi", "derivatives", "insurance", "yield-farming", "options", "cms-holdings-portfolio", "framework-ventures-portfolio", "ledgerprime-portfolio", "pantera-capital-portfolio"] tags, 361203.1355724034 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PowerTrade Fuel inserted successfully.
Processing data for Game.com
Query:
            MERGE INTO coins1 c
            USING (SELECT Game.com name, ["media", "paradigm-portfolio"] tags, 360227.18609417346 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Game.com inserted successfully.
Processing data for Waletoken
Query:
            MERGE INTO coins1 c
            USING (SELECT Waletoken name, [] tags, 359752.4167284763 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Waletoken inserted successfully.
Processing data for Amazy
Query:
            MERGE INTO coins1 c
            USING (SELECT Amazy name, [] tags, 357891.24996990786 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Amazy inserted successfully.
Processing data for EasyFi
Query:
            MERGE INTO coins1 c
            USING (SELECT EasyFi name, ["defi", "dao", "yield-farming", "lending-borowing", "injective-ecosystem", "bnb-chain"] tags, 357223.25157994736 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EasyFi inserted successfully.
Processing data for Creaticles
Query:
            MERGE INTO coins1 c
            USING (SELECT Creaticles name, ["marketplace", "collectibles-nfts"] tags, 356693.50272417936 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Creaticles inserted successfully.
Processing data for Massnet
Query:
            MERGE INTO coins1 c
            USING (SELECT Massnet name, [] tags, 356601.4290900434 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Massnet inserted successfully.
Processing data for Sint-Truidense Voetbalvereniging Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Sint-Truidense Voetbalvereniging Fan Token name, ["sports", "fan-token", "soccer"] tags, 355042.3485956777 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sint-Truidense Voetbalvereniging Fan Token inserted successfully.
Processing data for PRivaCY Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT PRivaCY Coin name, ["mineable", "platform", "privacy"] tags, 351647.17299325764 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PRivaCY Coin inserted successfully.
Processing data for Medicalchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Medicalchain name, ["health"] tags, 351556.1491844125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Medicalchain inserted successfully.
Processing data for NANJCOIN
Query:
            MERGE INTO coins1 c
            USING (SELECT NANJCOIN name, [] tags, 349695.6016935504 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NANJCOIN inserted successfully.
Processing data for Aidos Kuneen
Query:
            MERGE INTO coins1 c
            USING (SELECT Aidos Kuneen name, [] tags, 349190.1909558622 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Aidos Kuneen inserted successfully.
Processing data for Era Token (Era7)
Query:
            MERGE INTO coins1 c
            USING (SELECT Era Token (Era7) name, ["gaming"] tags, 348329.92176627606 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Era Token (Era7) inserted successfully.
Processing data for AllianceBlock
Query:
            MERGE INTO coins1 c
            USING (SELECT AllianceBlock name, ["ai-big-data", "avalanche-ecosystem", "exnetwork-capital-portfolio", "injective-ecosystem"] tags, 348282.5083943495 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AllianceBlock inserted successfully.
Processing data for Skrumble Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Skrumble Network name, [] tags, 347515.174272249 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Skrumble Network inserted successfully.
Processing data for Digital Reserve Currency
Query:
            MERGE INTO coins1 c
            USING (SELECT Digital Reserve Currency name, [] tags, 346153.34187008935 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Digital Reserve Currency inserted successfully.
Processing data for Venus BCH
Query:
            MERGE INTO coins1 c
            USING (SELECT Venus BCH name, [] tags, 345302.30867933837 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Venus BCH inserted successfully.
Processing data for Cat Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Cat Token name, ["collectibles-nfts"] tags, 345185.1260595779 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cat Token inserted successfully.
Processing data for Bread
Query:
            MERGE INTO coins1 c
            USING (SELECT Bread name, ["services", "wallet", "binance-launchpad", "kenetic-capital-portfolio"] tags, 344948.632939789 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bread inserted successfully.
Processing data for HitChain
Query:
            MERGE INTO coins1 c
            USING (SELECT HitChain name, [] tags, 344239.84599307727 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HitChain inserted successfully.
Processing data for Electrify.Asia
Query:
            MERGE INTO coins1 c
            USING (SELECT Electrify.Asia name, ["energy"] tags, 343146.2792283301 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Electrify.Asia inserted successfully.
Processing data for PLATINCOIN
Query:
            MERGE INTO coins1 c
            USING (SELECT PLATINCOIN name, ["medium-of-exchange", "payments"] tags, 342844.1155757332 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PLATINCOIN inserted successfully.
Processing data for Darwinia Commitment Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Darwinia Commitment Token name, ["metaverse"] tags, 338536.3378025497 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Darwinia Commitment Token inserted successfully.
Processing data for Azbit
Query:
            MERGE INTO coins1 c
            USING (SELECT Azbit name, [] tags, 334846.5762695476 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Azbit inserted successfully.
Processing data for Hiveterminal Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Hiveterminal Token name, [] tags, 331560.11872205837 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hiveterminal Token inserted successfully.
Processing data for Kaby Arena
Query:
            MERGE INTO coins1 c
            USING (SELECT Kaby Arena name, ["collectibles-nfts", "gaming", "polkafoundry-red-kite", "icetea-labs"] tags, 330850.73320946505 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kaby Arena inserted successfully.
Processing data for PolkaWar
Query:
            MERGE INTO coins1 c
            USING (SELECT PolkaWar name, ["collectibles-nfts", "gaming", "metaverse", "bnb-chain"] tags, 328968.67398518947 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PolkaWar inserted successfully.
Processing data for Pakcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Pakcoin name, ["mineable", "pow", "scrypt"] tags, 326745.1642475221 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pakcoin inserted successfully.
Processing data for DigitalNote
Query:
            MERGE INTO coins1 c
            USING (SELECT DigitalNote name, ["mineable", "hybrid-pow-pos", "pow", "multiple-algorithms", "medium-of-exchange", "interoperability", "masternodes", "payments", "staking", "bnb-chain"] tags, 323984.9305855981 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DigitalNote inserted successfully.
Processing data for Linked Finance World
Query:
            MERGE INTO coins1 c
            USING (SELECT Linked Finance World name, ["collectibles-nfts", "defi", "dex", "cross-chain", "vbc-ventures-portfolio", "bnb-chain"] tags, 321261.6272376791 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Linked Finance World inserted successfully.
Processing data for Galaxy Blitz
Query:
            MERGE INTO coins1 c
            USING (SELECT Galaxy Blitz name, [] tags, 319634.0970266458 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Galaxy Blitz inserted successfully.
Processing data for X8X Token
Query:
            MERGE INTO coins1 c
            USING (SELECT X8X Token name, [] tags, 319130.258840256 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for X8X Token inserted successfully.
Processing data for e-Money
Query:
            MERGE INTO coins1 c
            USING (SELECT e-Money name, ["cosmos-ecosystem", "avalanche-ecosystem", "polkastarter", "exnetwork-capital-portfolio", "vbc-ventures-portfolio", "injective-ecosystem"] tags, 318952.70181480004 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for e-Money inserted successfully.
Processing data for CoinFi
Query:
            MERGE INTO coins1 c
            USING (SELECT CoinFi name, ["asset-management", "crowdsourcing", "research"] tags, 315808.7074385125 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CoinFi inserted successfully.
Processing data for ownix
Query:
            MERGE INTO coins1 c
            USING (SELECT ownix name, [] tags, 314680.7970921158 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ownix inserted successfully.
Processing data for DecentraWeb
Query:
            MERGE INTO coins1 c
            USING (SELECT DecentraWeb name, [] tags, 312567.4631557913 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DecentraWeb inserted successfully.
Processing data for Veil
Query:
            MERGE INTO coins1 c
            USING (SELECT Veil name, ["mineable", "privacy"] tags, 311001.8688776248 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Veil inserted successfully.
Processing data for OnGO
Query:
            MERGE INTO coins1 c
            USING (SELECT OnGO name, [] tags, 309608.16842774465 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OnGO inserted successfully.
Processing data for bAlpha
Query:
            MERGE INTO coins1 c
            USING (SELECT bAlpha name, [] tags, 307444.2319979914 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for bAlpha inserted successfully.
Processing data for WABnetwork
Query:
            MERGE INTO coins1 c
            USING (SELECT WABnetwork name, [] tags, 306938.870141434 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WABnetwork inserted successfully.
Processing data for Float Protocol (Bank)
Query:
            MERGE INTO coins1 c
            USING (SELECT Float Protocol (Bank) name, ["olympus-pro-ecosystem"] tags, 306537.17858030554 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Float Protocol (Bank) inserted successfully.
Processing data for ChessCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT ChessCoin name, ["hybrid-pow-pos", "scrypt"] tags, 304786.12990358967 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ChessCoin inserted successfully.
Processing data for Parachute
Query:
            MERGE INTO coins1 c
            USING (SELECT Parachute name, ["payments", "staking", "dao"] tags, 301501.2019384911 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Parachute inserted successfully.
Processing data for Apollon Limassol
Query:
            MERGE INTO coins1 c
            USING (SELECT Apollon Limassol name, ["sports", "fan-token", "soccer"] tags, 301125.87394608546 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Apollon Limassol inserted successfully.
Processing data for Odyssey
Query:
            MERGE INTO coins1 c
            USING (SELECT Odyssey name, ["platform", "sharing-economy"] tags, 300639.2587076094 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Odyssey inserted successfully.
Processing data for Helmet.insure
Query:
            MERGE INTO coins1 c
            USING (SELECT Helmet.insure name, ["insurance", "bnb-chain"] tags, 300629.98189156776 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Helmet.insure inserted successfully.
Processing data for Lightning
Query:
            MERGE INTO coins1 c
            USING (SELECT Lightning name, ["launchpad", "bnb-chain"] tags, 298851.9264739576 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lightning inserted successfully.
Processing data for Avatly
Query:
            MERGE INTO coins1 c
            USING (SELECT Avatly name, ["metaverse"] tags, 298473.7618733761 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Avatly inserted successfully.
Processing data for Etherparty
Query:
            MERGE INTO coins1 c
            USING (SELECT Etherparty name, ["marketplace", "payments", "dapp"] tags, 298428.0138693894 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Etherparty inserted successfully.
Processing data for Iridium
Query:
            MERGE INTO coins1 c
            USING (SELECT Iridium name, ["mineable", "pow", "medium-of-exchange", "store-of-value", "privacy", "ringct"] tags, 298174.74627298035 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Iridium inserted successfully.
Processing data for TERA
Query:
            MERGE INTO coins1 c
            USING (SELECT TERA name, ["mineable"] tags, 296787.95828395756 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TERA inserted successfully.
Processing data for AidCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT AidCoin name, ["philanthropy"] tags, 296743.6621290746 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AidCoin inserted successfully.
Processing data for CryptEx
Query:
            MERGE INTO coins1 c
            USING (SELECT CryptEx name, ["dpos", "cybersecurity", "bnb-chain"] tags, 296581.73988895206 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CryptEx inserted successfully.
Processing data for AirNFTs
Query:
            MERGE INTO coins1 c
            USING (SELECT AirNFTs name, ["collectibles-nfts", "gaming", "launchpad", "bnb-chain"] tags, 296345.6296257347 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AirNFTs inserted successfully.
Processing data for Alliance Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Alliance Fan Token name, ["sports", "fan-token", "soccer"] tags, 295508.63323742175 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Alliance Fan Token inserted successfully.
Processing data for Cryptopolis
Query:
            MERGE INTO coins1 c
            USING (SELECT Cryptopolis name, ["gaming", "play-to-earn"] tags, 294942.00841352594 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cryptopolis inserted successfully.
Processing data for Rapidz
Query:
            MERGE INTO coins1 c
            USING (SELECT Rapidz name, [] tags, 294927.77961172076 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rapidz inserted successfully.
Processing data for Ethereum Gold Project
Query:
            MERGE INTO coins1 c
            USING (SELECT Ethereum Gold Project name, [] tags, 294521.21603233885 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ethereum Gold Project inserted successfully.
Processing data for StakeCubeCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT StakeCubeCoin name, ["mineable", "pow", "centralized-exchange", "collectibles-nfts", "masternodes"] tags, 293445.99805936986 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for StakeCubeCoin inserted successfully.
Processing data for Professional Fighters League Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Professional Fighters League Fan Token name, ["sports", "fan-token", "soccer"] tags, 292050.50266237196 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Professional Fighters League Fan Token inserted successfully.
Processing data for VIG
Query:
            MERGE INTO coins1 c
            USING (SELECT VIG name, ["eos"] tags, 291392.7872414378 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for VIG inserted successfully.
Processing data for DDKoin
Query:
            MERGE INTO coins1 c
            USING (SELECT DDKoin name, ["mineable", "dpos", "platform", "enterprise-solutions", "scaling"] tags, 289634.1891235246 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DDKoin inserted successfully.
Processing data for Dinamo Zagreb Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Dinamo Zagreb Fan Token name, ["sports", "fan-token", "chiliz"] tags, 289049.1286391586 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dinamo Zagreb Fan Token inserted successfully.
Processing data for Crown
Query:
            MERGE INTO coins1 c
            USING (SELECT Crown name, ["mineable", "pos", "sha-256", "collectibles-nfts", "masternodes"] tags, 288576.07442020334 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crown inserted successfully.
Processing data for Swarm City
Query:
            MERGE INTO coins1 c
            USING (SELECT Swarm City name, ["marketplace"] tags, 288247.43245032564 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Swarm City inserted successfully.
Processing data for BASIC
Query:
            MERGE INTO coins1 c
            USING (SELECT BASIC name, [] tags, 288084.4134755517 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BASIC inserted successfully.
Processing data for Finxflo
Query:
            MERGE INTO coins1 c
            USING (SELECT Finxflo name, ["polkastarter", "exnetwork-capital-portfolio", "bnb-chain"] tags, 288014.5889577035 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Finxflo inserted successfully.
Processing data for Yield Optimization Platform & Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Yield Optimization Platform & Protocol name, ["polkastarter"] tags, 287783.375716641 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Yield Optimization Platform & Protocol inserted successfully.
Processing data for DogeCash
Query:
            MERGE INTO coins1 c
            USING (SELECT DogeCash name, ["masternodes", "memes", "doggone-doggerel"] tags, 287749.5645021624 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DogeCash inserted successfully.
Processing data for Internxt
Query:
            MERGE INTO coins1 c
            USING (SELECT Internxt name, ["distributed-computing", "filesharing", "iot", "storage"] tags, 287422.4924842599 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Internxt inserted successfully.
Processing data for Jarvis Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Jarvis Network name, ["defi", "derivatives", "synthetics"] tags, 287054.50852938334 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Jarvis Network inserted successfully.
Processing data for Ravencoin Classic
Query:
            MERGE INTO coins1 c
            USING (SELECT Ravencoin Classic name, [] tags, 285596.40685996314 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ravencoin Classic inserted successfully.
Processing data for EVRYNET
Query:
            MERGE INTO coins1 c
            USING (SELECT EVRYNET name, [] tags, 285126.06012259424 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EVRYNET inserted successfully.
Processing data for Curate
Query:
            MERGE INTO coins1 c
            USING (SELECT Curate name, ["fashion", "retail", "marketplace", "collectibles-nfts", "defi", "e-commerce", "payments", "governance", "algorand-ecosystem", "bnb-chain"] tags, 283828.5273957746 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Curate inserted successfully.
Processing data for AstroSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT AstroSwap name, ["velas-ecosystem"] tags, 283569.80975404364 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AstroSwap inserted successfully.
Processing data for Mettalex
Query:
            MERGE INTO coins1 c
            USING (SELECT Mettalex name, ["bnb-chain"] tags, 283384.2205981765 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Mettalex inserted successfully.
Processing data for GoWithMi
Query:
            MERGE INTO coins1 c
            USING (SELECT GoWithMi name, ["platform"] tags, 283244.09848471894 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GoWithMi inserted successfully.
Processing data for BHO Network
Query:
            MERGE INTO coins1 c
            USING (SELECT BHO Network name, [] tags, 280651.81436643226 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BHO Network inserted successfully.
Processing data for Everex
Query:
            MERGE INTO coins1 c
            USING (SELECT Everex name, ["services", "smart-contracts"] tags, 280480.3056893164 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Everex inserted successfully.
Processing data for CyberMusic
Query:
            MERGE INTO coins1 c
            USING (SELECT CyberMusic name, [] tags, 279945.91179797467 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CyberMusic inserted successfully.
Processing data for Millonarios FC Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Millonarios FC Fan Token name, ["sports", "fan-token"] tags, 279906.399392231 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Millonarios FC Fan Token inserted successfully.
Processing data for Bitteam token
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitteam token name, [] tags, 278592.6334135727 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitteam token inserted successfully.
Processing data for XMax
Query:
            MERGE INTO coins1 c
            USING (SELECT XMax name, ["media", "content-creation", "gaming"] tags, 276680.6890050488 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for XMax inserted successfully.
Processing data for MIBR Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT MIBR Fan Token name, ["fan-token"] tags, 276587.0117575755 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MIBR Fan Token inserted successfully.
Processing data for CryptoTanks
Query:
            MERGE INTO coins1 c
            USING (SELECT CryptoTanks name, ["gaming", "bnb-chain"] tags, 276223.60987201275 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CryptoTanks inserted successfully.
Processing data for MoneySwap
Query:
            MERGE INTO coins1 c
            USING (SELECT MoneySwap name, [] tags, 275358.20174419583 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MoneySwap inserted successfully.
Processing data for Coinsbit Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Coinsbit Token name, [] tags, 274479.6084843335 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Coinsbit Token inserted successfully.
Processing data for TurtleCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT TurtleCoin name, ["mineable", "privacy"] tags, 273260.9395988428 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TurtleCoin inserted successfully.
Processing data for Innovation Blockchain Payment
Query:
            MERGE INTO coins1 c
            USING (SELECT Innovation Blockchain Payment name, [] tags, 273190.81988159596 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Innovation Blockchain Payment inserted successfully.
Processing data for DATA
Query:
            MERGE INTO coins1 c
            USING (SELECT DATA name, ["marketing", "cosmos-ecosystem", "ai-big-data", "injective-ecosystem"] tags, 271542.7366249463 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DATA inserted successfully.
Processing data for OracleChain
Query:
            MERGE INTO coins1 c
            USING (SELECT OracleChain name, ["dpos", "platform", "oracles"] tags, 271457.22931119736 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OracleChain inserted successfully.
Processing data for EUNO
Query:
            MERGE INTO coins1 c
            USING (SELECT EUNO name, ["mineable"] tags, 271053.7871286397 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EUNO inserted successfully.
Processing data for X-CASH
Query:
            MERGE INTO coins1 c
            USING (SELECT X-CASH name, [] tags, 270838.85879462265 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for X-CASH inserted successfully.
Processing data for Samsunspor Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Samsunspor Fan Token name, ["sports", "fan-token"] tags, 270476.8796747377 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Samsunspor Fan Token inserted successfully.
Processing data for MotaCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT MotaCoin name, ["mineable", "hybrid-pow-pos", "x13", "payments"] tags, 270011.0102748089 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MotaCoin inserted successfully.
Processing data for Zennies
Query:
            MERGE INTO coins1 c
            USING (SELECT Zennies name, ["pos", "scrypt"] tags, 268826.17319719994 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zennies inserted successfully.
Processing data for BeamSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT BeamSwap name, [] tags, 268566.0683919269 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BeamSwap inserted successfully.
Processing data for Stake DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Stake DAO name, ["defi", "yield-aggregator", "olympus-pro-ecosystem", "arbitrum-ecosytem"] tags, 268560.87400676595 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stake DAO inserted successfully.
Processing data for Launchblock.com
Query:
            MERGE INTO coins1 c
            USING (SELECT Launchblock.com name, ["staking", "ethereum-ecosystem", "yield-farming", "launchpad", "web3"] tags, 268218.3146357622 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Launchblock.com inserted successfully.
Processing data for ArbitrageCT
Query:
            MERGE INTO coins1 c
            USING (SELECT ArbitrageCT name, [] tags, 267057.9396242673 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ArbitrageCT inserted successfully.
Processing data for Governor DAO
Query:
            MERGE INTO coins1 c
            USING (SELECT Governor DAO name, ["dao", "governance"] tags, 265988.0169256587 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Governor DAO inserted successfully.
Processing data for dAppstore
Query:
            MERGE INTO coins1 c
            USING (SELECT dAppstore name, [] tags, 264151.2704245317 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for dAppstore inserted successfully.
Processing data for Blockpass
Query:
            MERGE INTO coins1 c
            USING (SELECT Blockpass name, [] tags, 263711.2349503035 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blockpass inserted successfully.
Processing data for AudioCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT AudioCoin name, ["mineable", "hybrid-pow-pos", "scrypt", "music"] tags, 263432.6446885196 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for AudioCoin inserted successfully.
Processing data for disBalancer
Query:
            MERGE INTO coins1 c
            USING (SELECT disBalancer name, ["cybersecurity", "distributed-computing", "duckstarter", "poolz-finance-portfolio", "hacken-foundation", "bnb-chain"] tags, 263321.49635012186 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for disBalancer inserted successfully.
Processing data for eXPerience Chain
Query:
            MERGE INTO coins1 c
            USING (SELECT eXPerience Chain name, ["mineable"] tags, 260371.55134018237 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for eXPerience Chain inserted successfully.
Processing data for Dexlab
Query:
            MERGE INTO coins1 c
            USING (SELECT Dexlab name, ["solana-ecosystem"] tags, 260027.40719922574 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dexlab inserted successfully.
Processing data for Jarvis+
Query:
            MERGE INTO coins1 c
            USING (SELECT Jarvis+ name, ["ai-big-data"] tags, 256988.11218463234 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Jarvis+ inserted successfully.
Processing data for Legia Warsaw Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Legia Warsaw Fan Token name, ["sports", "fan-token", "soccer"] tags, 256912.67465869285 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Legia Warsaw Fan Token inserted successfully.
Processing data for CyberVein
Query:
            MERGE INTO coins1 c
            USING (SELECT CyberVein name, [] tags, 252753.12771197234 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CyberVein inserted successfully.
Processing data for Peruvian National Football Team Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Peruvian National Football Team Fan Token name, ["sports", "fan-token", "soccer"] tags, 250759.6876086018 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Peruvian National Football Team Fan Token inserted successfully.
Processing data for PlatinumBAR
Query:
            MERGE INTO coins1 c
            USING (SELECT PlatinumBAR name, ["mineable", "hybrid-pow-pos", "quark"] tags, 250077.69561473143 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PlatinumBAR inserted successfully.
Processing data for Manna
Query:
            MERGE INTO coins1 c
            USING (SELECT Manna name, [] tags, 249140.62095619907 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Manna inserted successfully.
Processing data for Safex Cash
Query:
            MERGE INTO coins1 c
            USING (SELECT Safex Cash name, ["mineable", "privacy"] tags, 248081.2280000012 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Safex Cash inserted successfully.
Processing data for Arqma
Query:
            MERGE INTO coins1 c
            USING (SELECT Arqma name, [] tags, 247542.07605242706 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Arqma inserted successfully.
Processing data for Basis Cash
Query:
            MERGE INTO coins1 c
            USING (SELECT Basis Cash name, ["defi", "stablecoin", "yield-farming", "rebase", "seigniorage"] tags, 245946.04614323433 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Basis Cash inserted successfully.
Processing data for DOSE
Query:
            MERGE INTO coins1 c
            USING (SELECT DOSE name, ["health", "collectibles-nfts", "animoca-brands-portfolio", "skyvision-capital-portfolio", "move-to-earn"] tags, 244851.41144668098 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DOSE inserted successfully.
Processing data for Planet Inverse
Query:
            MERGE INTO coins1 c
            USING (SELECT Planet Inverse name, ["bnb-chain"] tags, 243529.27385433932 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Planet Inverse inserted successfully.
Processing data for ContentBox
Query:
            MERGE INTO coins1 c
            USING (SELECT ContentBox name, [] tags, 243326.74409576884 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ContentBox inserted successfully.
Processing data for Team Heretics Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Team Heretics Fan Token name, ["sports", "fan-token", "soccer"] tags, 242975.59980469345 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Team Heretics Fan Token inserted successfully.
Processing data for Ares Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Ares Protocol name, ["oracles", "smart-contracts", "substrate", "polkadot-ecosystem", "duckstarter"] tags, 242771.68582483655 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ares Protocol inserted successfully.
Processing data for Standard
Query:
            MERGE INTO coins1 c
            USING (SELECT Standard name, ["defi", "oracles", "asset-backed-stablecoin", "dao", "ethereum-ecosystem", "substrate", "rebase", "polkadot-ecosystem", "governance", "cms-holdings-portfolio", "polygon-ecosystem"] tags, 240829.63252059813 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Standard inserted successfully.
Processing data for Bottos
Query:
            MERGE INTO coins1 c
            USING (SELECT Bottos name, ["marketplace", "ai-big-data", "distributed-computing"] tags, 240729.7852480439 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bottos inserted successfully.
Processing data for S4FE
Query:
            MERGE INTO coins1 c
            USING (SELECT S4FE name, ["platform", "enterprise-solutions"] tags, 240487.4891904758 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for S4FE inserted successfully.
Processing data for QUINADS
Query:
            MERGE INTO coins1 c
            USING (SELECT QUINADS name, [] tags, 240121.33216073908 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for QUINADS inserted successfully.
Processing data for Centric Swap
Query:
            MERGE INTO coins1 c
            USING (SELECT Centric Swap name, ["services", "collectibles-nfts", "defi", "yield-farming", "governance", "bnb-chain"] tags, 238618.69671745048 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Centric Swap inserted successfully.
Processing data for Base Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Base Protocol name, ["rebase", "vbc-ventures-portfolio"] tags, 236868.39215419447 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Base Protocol inserted successfully.
Processing data for FRAKT Token
Query:
            MERGE INTO coins1 c
            USING (SELECT FRAKT Token name, [] tags, 236776.3711722745 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for FRAKT Token inserted successfully.
Processing data for Club Atletico Independiente
Query:
            MERGE INTO coins1 c
            USING (SELECT Club Atletico Independiente name, ["sports", "fan-token", "soccer"] tags, 236127.72254639052 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Club Atletico Independiente inserted successfully.
Processing data for Lokr
Query:
            MERGE INTO coins1 c
            USING (SELECT Lokr name, [] tags, 235239.6466725333 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lokr inserted successfully.
Processing data for TigerCash
Query:
            MERGE INTO coins1 c
            USING (SELECT TigerCash name, ["centralized-exchange"] tags, 234527.34774603657 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TigerCash inserted successfully.
Processing data for Cook Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Cook Finance name, ["asset-management", "defi", "duckstarter", "poolz-finance-portfolio"] tags, 231914.96165471387 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cook Finance inserted successfully.
Processing data for Grizzly Honey
Query:
            MERGE INTO coins1 c
            USING (SELECT Grizzly Honey name, [] tags, 231505.47146231311 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Grizzly Honey inserted successfully.
Processing data for Vidulum
Query:
            MERGE INTO coins1 c
            USING (SELECT Vidulum name, [] tags, 230885.14144008304 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Vidulum inserted successfully.
Processing data for Deutsche eMark
Query:
            MERGE INTO coins1 c
            USING (SELECT Deutsche eMark name, ["mineable", "hybrid-pow-pos", "sha-256"] tags, 230588.18695975203 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Deutsche eMark inserted successfully.
Processing data for WePower
Query:
            MERGE INTO coins1 c
            USING (SELECT WePower name, ["marketplace", "crowdfunding"] tags, 229411.79775646364 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WePower inserted successfully.
Processing data for TripCandy
Query:
            MERGE INTO coins1 c
            USING (SELECT TripCandy name, ["hospitality", "tourism", "bnb-chain"] tags, 228566.46854420786 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for TripCandy inserted successfully.
Processing data for DeHive
Query:
            MERGE INTO coins1 c
            USING (SELECT DeHive name, ["defi", "poolz-finance-portfolio", "exnetwork-capital-portfolio"] tags, 227903.8304789559 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DeHive inserted successfully.
Processing data for UTU Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT UTU Protocol name, ["marketplace", "ai-big-data", "privacy", "identity", "oracles", "sharing-economy", "dapp", "ethereum-ecosystem", "bnb-chain"] tags, 227707.4807072535 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UTU Protocol inserted successfully.
Processing data for Curecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Curecoin name, ["mineable", "pow", "scrypt", "education", "distributed-computing", "research"] tags, 224741.3567530589 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Curecoin inserted successfully.
Processing data for NextDAO
Query:
            MERGE INTO coins1 c
            USING (SELECT NextDAO name, [] tags, 222898.24799586326 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NextDAO inserted successfully.
Processing data for The HUSL
Query:
            MERGE INTO coins1 c
            USING (SELECT The HUSL name, ["gaming", "music", "metaverse", "bullperks-launchpad"] tags, 221987.91360792087 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for The HUSL inserted successfully.
Processing data for Kangal
Query:
            MERGE INTO coins1 c
            USING (SELECT Kangal name, ["memes", "bnb-chain"] tags, 221839.69399559664 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Kangal inserted successfully.
Processing data for renDOGE
Query:
            MERGE INTO coins1 c
            USING (SELECT renDOGE name, [] tags, 221571.36853234257 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for renDOGE inserted successfully.
Processing data for BeatzCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT BeatzCoin name, ["music"] tags, 220787.26791447934 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BeatzCoin inserted successfully.
Processing data for Delphy
Query:
            MERGE INTO coins1 c
            USING (SELECT Delphy name, ["gambling"] tags, 220778.8812772885 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Delphy inserted successfully.
Processing data for Goons of Balatroon
Query:
            MERGE INTO coins1 c
            USING (SELECT Goons of Balatroon name, ["polygon-ecosystem", "arbitrum-ecosytem"] tags, 220464.4971005168 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Goons of Balatroon inserted successfully.
Processing data for Xensor
Query:
            MERGE INTO coins1 c
            USING (SELECT Xensor name, ["iot"] tags, 218342.08771404123 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Xensor inserted successfully.
Processing data for Golos Blockchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Golos Blockchain name, [] tags, 218194.2996137776 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Golos Blockchain inserted successfully.
Processing data for 2crazyNFT
Query:
            MERGE INTO coins1 c
            USING (SELECT 2crazyNFT name, ["bnb-chain"] tags, 217410.37265213346 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for 2crazyNFT inserted successfully.
Processing data for Zenswap Network Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Zenswap Network Token name, ["decentralized-exchange-dex-token"] tags, 216757.00173268354 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Zenswap Network Token inserted successfully.
Processing data for Step®
Query:
            MERGE INTO coins1 c
            USING (SELECT Step® name, ["move-to-earn"] tags, 215670.48876951792 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Step® inserted successfully.
Processing data for Nerve Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Nerve Finance name, ["defi", "yield-farming", "amm", "dex", "three-arrows-capital-portfolio", "bnb-chain"] tags, 215278.2597292194 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nerve Finance inserted successfully.
Processing data for Decentralized Asset Trading Platform
Query:
            MERGE INTO coins1 c
            USING (SELECT Decentralized Asset Trading Platform name, [] tags, 213492.53587970024 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decentralized Asset Trading Platform inserted successfully.
Processing data for Bitcoin Atom
Query:
            MERGE INTO coins1 c
            USING (SELECT Bitcoin Atom name, ["mineable"] tags, 212741.18090522086 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Bitcoin Atom inserted successfully.
Processing data for Ruff
Query:
            MERGE INTO coins1 c
            USING (SELECT Ruff name, ["platform", "iot"] tags, 211788.16597588177 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ruff inserted successfully.
Processing data for PluraCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT PluraCoin name, ["mineable", "pow", "privacy"] tags, 209273.67196322928 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PluraCoin inserted successfully.
Processing data for DinoSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT DinoSwap name, ["asset-management", "defi", "yield-farming", "polygon-ecosystem", "vbc-ventures-portfolio", "spartan-group", "okex-blockdream-ventures-portfolio"] tags, 208203.72982547316 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DinoSwap inserted successfully.
Processing data for Tokenplace
Query:
            MERGE INTO coins1 c
            USING (SELECT Tokenplace name, [] tags, 207743.40059102824 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tokenplace inserted successfully.
Processing data for Blue Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Blue Protocol name, ["platform"] tags, 207679.84319981321 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Blue Protocol inserted successfully.
Processing data for Terracoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Terracoin name, ["mineable", "pow", "sha-256", "masternodes"] tags, 207613.13921069194 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Terracoin inserted successfully.
Processing data for GTONCapital
Query:
            MERGE INTO coins1 c
            USING (SELECT GTONCapital name, ["fantom-ecosystem", "bnb-chain"] tags, 207448.9343468176 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GTONCapital inserted successfully.
Processing data for Sator
Query:
            MERGE INTO coins1 c
            USING (SELECT Sator name, ["ethereum-ecosystem", "solana-ecosystem"] tags, 206538.7948908309 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Sator inserted successfully.
Processing data for BUZZCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT BUZZCoin name, ["mineable"] tags, 205887.53150381628 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BUZZCoin inserted successfully.
Processing data for WagyuSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT WagyuSwap name, ["decentralized-exchange-dex-token", "dex", "velas-ecosystem"] tags, 204951.36367258834 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WagyuSwap inserted successfully.
Processing data for LiquidApps
Query:
            MERGE INTO coins1 c
            USING (SELECT LiquidApps name, ["platform", "distributed-computing", "interoperability", "smart-contracts", "eos"] tags, 204266.50464698873 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for LiquidApps inserted successfully.
Processing data for Decentralized Vulnerability Platform
Query:
            MERGE INTO coins1 c
            USING (SELECT Decentralized Vulnerability Platform name, [] tags, 201674.8503992133 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Decentralized Vulnerability Platform inserted successfully.
Processing data for Battle Hero
Query:
            MERGE INTO coins1 c
            USING (SELECT Battle Hero name, [] tags, 200883.78404652353 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Battle Hero inserted successfully.
Processing data for Ink
Query:
            MERGE INTO coins1 c
            USING (SELECT Ink name, ["services", "identity"] tags, 200527.36869932894 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ink inserted successfully.
Processing data for Ninneko
Query:
            MERGE INTO coins1 c
            USING (SELECT Ninneko name, ["gaming", "launchzone", "bnb-chain"] tags, 200245.97868109102 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Ninneko inserted successfully.
Processing data for ACoconut
Query:
            MERGE INTO coins1 c
            USING (SELECT ACoconut name, ["bnb-chain"] tags, 199179.73977203734 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ACoconut inserted successfully.
Processing data for Impossible Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Impossible Finance name, ["decentralized-exchange-dex-token", "defi", "dex", "injective-ecosystem", "bnb-chain"] tags, 197357.1010634073 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Impossible Finance inserted successfully.
Processing data for Inex Project
Query:
            MERGE INTO coins1 c
            USING (SELECT Inex Project name, [] tags, 196684.57932128667 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Inex Project inserted successfully.
Processing data for Soldex
Query:
            MERGE INTO coins1 c
            USING (SELECT Soldex name, [] tags, 196016.6471892002 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Soldex inserted successfully.
Processing data for MediShares
Query:
            MERGE INTO coins1 c
            USING (SELECT MediShares name, ["health"] tags, 192850.95830820414 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MediShares inserted successfully.
Processing data for BiblePay
Query:
            MERGE INTO coins1 c
            USING (SELECT BiblePay name, ["mineable", "philanthropy", "masternodes", "payments"] tags, 192010.66870672157 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BiblePay inserted successfully.
Processing data for ASPO World
Query:
            MERGE INTO coins1 c
            USING (SELECT ASPO World name, ["gaming", "polkafoundry-red-kite", "play-to-earn", "icetea-labs"] tags, 191671.80046488158 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for ASPO World inserted successfully.
Processing data for Crypto Sports Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Crypto Sports Network name, ["mineable", "platform", "sports", "collectibles-nfts", "gaming", "masternodes", "metaverse", "play-to-earn"] tags, 190885.69780433422 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Crypto Sports Network inserted successfully.
Processing data for UGAS
Query:
            MERGE INTO coins1 c
            USING (SELECT UGAS name, ["platform", "distributed-computing"] tags, 190748.55009805635 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UGAS inserted successfully.
Processing data for Cryptonite
Query:
            MERGE INTO coins1 c
            USING (SELECT Cryptonite name, ["mineable", "pow", "m7-pow"] tags, 190310.40531592115 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cryptonite inserted successfully.
Processing data for eosDAC
Query:
            MERGE INTO coins1 c
            USING (SELECT eosDAC name, [] tags, 190031.64118456765 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for eosDAC inserted successfully.
Processing data for Tachyon Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Tachyon Protocol name, [] tags, 189895.51705402357 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tachyon Protocol inserted successfully.
Processing data for Cheems
Query:
            MERGE INTO coins1 c
            USING (SELECT Cheems name, ["collectibles-nfts", "memes", "solana-ecosystem", "doggone-doggerel"] tags, 189655.33260516173 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cheems inserted successfully.
Processing data for Birdchain
Query:
            MERGE INTO coins1 c
            USING (SELECT Birdchain name, ["bnb-chain"] tags, 188706.06185423536 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Birdchain inserted successfully.
Processing data for HashBX
Query:
            MERGE INTO coins1 c
            USING (SELECT HashBX name, ["bnb-chain"] tags, 188493.75908550888 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for HashBX inserted successfully.
Processing data for DopeCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT DopeCoin name, ["pow", "scrypt"] tags, 188313.26528123656 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DopeCoin inserted successfully.
Processing data for GoldMint
Query:
            MERGE INTO coins1 c
            USING (SELECT GoldMint name, [] tags, 187687.90685021615 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for GoldMint inserted successfully.
Processing data for YetiCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT YetiCoin name, ["sports", "collectibles-nfts", "ethereum-ecosystem", "move-to-earn"] tags, 187556.88505721258 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for YetiCoin inserted successfully.
Processing data for DinoX
Query:
            MERGE INTO coins1 c
            USING (SELECT DinoX name, ["collectibles-nfts", "gaming", "play-to-earn", "bnb-chain"] tags, 187248.95419367106 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for DinoX inserted successfully.
Processing data for Wonderman Nation
Query:
            MERGE INTO coins1 c
            USING (SELECT Wonderman Nation name, [] tags, 187196.18417331978 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Wonderman Nation inserted successfully.
Processing data for Stealth
Query:
            MERGE INTO coins1 c
            USING (SELECT Stealth name, ["mineable", "hybrid-pow-pos", "x13", "medium-of-exchange", "privacy"] tags, 187151.70456247404 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stealth inserted successfully.
Processing data for Lead Wallet
Query:
            MERGE INTO coins1 c
            USING (SELECT Lead Wallet name, ["bnb-chain"] tags, 186747.85846459877 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Lead Wallet inserted successfully.
Processing data for RED
Query:
            MERGE INTO coins1 c
            USING (SELECT RED name, ["marketplace"] tags, 186543.69105446222 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for RED inserted successfully.
Processing data for Golff
Query:
            MERGE INTO coins1 c
            USING (SELECT Golff name, ["yield-aggregator", "heco-ecosystem"] tags, 186088.0079411579 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Golff inserted successfully.
Processing data for Creo Engine
Query:
            MERGE INTO coins1 c
            USING (SELECT Creo Engine name, ["collectibles-nfts", "gaming", "binance-smart-chain", "play-to-earn"] tags, 185968.5001384914 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Creo Engine inserted successfully.
Processing data for Atlas Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Atlas Protocol name, ["marketing"] tags, 185954.32576936268 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Atlas Protocol inserted successfully.
Processing data for Evedo
Query:
            MERGE INTO coins1 c
            USING (SELECT Evedo name, [] tags, 185291.0115398139 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Evedo inserted successfully.
Processing data for CareCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT CareCoin name, [] tags, 184813.91376684286 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for CareCoin inserted successfully.
Processing data for PlayGame
Query:
            MERGE INTO coins1 c
            USING (SELECT PlayGame name, [] tags, 184335.40197539187 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PlayGame inserted successfully.
Processing data for Netko
Query:
            MERGE INTO coins1 c
            USING (SELECT Netko name, ["mineable"] tags, 182710.03779780763 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Netko inserted successfully.
Processing data for Falconswap
Query:
            MERGE INTO coins1 c
            USING (SELECT Falconswap name, ["decentralized-exchange-dex-token", "dex", "exnetwork-capital-portfolio"] tags, 182200.35894353196 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Falconswap inserted successfully.
Processing data for Chain of Legends
Query:
            MERGE INTO coins1 c
            USING (SELECT Chain of Legends name, ["collectibles-nfts", "gaming", "entertainment", "binance-smart-chain", "governance", "play-to-earn", "gaming-guild", "bnb-chain"] tags, 180648.38585882096 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Chain of Legends inserted successfully.
Processing data for UCA Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT UCA Coin name, [] tags, 179813.7270421362 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for UCA Coin inserted successfully.
Processing data for Rise
Query:
            MERGE INTO coins1 c
            USING (SELECT Rise name, ["dpos", "platform", "dapp"] tags, 179084.16678026575 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Rise inserted successfully.
Processing data for Breezecoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Breezecoin name, [] tags, 178892.82090508018 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Breezecoin inserted successfully.
Processing data for SINOVATE
Query:
            MERGE INTO coins1 c
            USING (SELECT SINOVATE name, ["mineable", "filesharing", "storage"] tags, 178279.60059837927 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SINOVATE inserted successfully.
Processing data for MODEL-X-coin
Query:
            MERGE INTO coins1 c
            USING (SELECT MODEL-X-coin name, [] tags, 178032.1440607691 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MODEL-X-coin inserted successfully.
Processing data for Nitro Network
Query:
            MERGE INTO coins1 c
            USING (SELECT Nitro Network name, ["retail", "iot"] tags, 177837.75765671625 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Nitro Network inserted successfully.
Processing data for OIN Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT OIN Finance name, ["avalanche-ecosystem", "exnetwork-capital-portfolio", "polygon-ecosystem"] tags, 176077.99846694144 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for OIN Finance inserted successfully.
Processing data for PWR Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT PWR Coin name, ["mineable"] tags, 174550.80591384595 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for PWR Coin inserted successfully.
Processing data for Motocoin
Query:
            MERGE INTO coins1 c
            USING (SELECT Motocoin name, ["mineable", "pop"] tags, 174113.80698131616 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Motocoin inserted successfully.
Processing data for Phore
Query:
            MERGE INTO coins1 c
            USING (SELECT Phore name, ["privacy", "masternodes"] tags, 173905.20131788144 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Phore inserted successfully.
Processing data for WeTrust
Query:
            MERGE INTO coins1 c
            USING (SELECT WeTrust name, ["platform", "smart-contracts"] tags, 173844.46845306747 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WeTrust inserted successfully.
Processing data for Silva Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Silva Token name, [] tags, 172804.40044565118 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Silva Token inserted successfully.
Processing data for Dragon Kart
Query:
            MERGE INTO coins1 c
            USING (SELECT Dragon Kart name, ["vbc-ventures-portfolio"] tags, 172276.40797246425 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Dragon Kart inserted successfully.
Processing data for Neural Protocol
Query:
            MERGE INTO coins1 c
            USING (SELECT Neural Protocol name, [] tags, 171543.52222586676 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Neural Protocol inserted successfully.
Processing data for EarthFund
Query:
            MERGE INTO coins1 c
            USING (SELECT EarthFund name, [] tags, 171220.82846915632 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for EarthFund inserted successfully.
Processing data for Stox
Query:
            MERGE INTO coins1 c
            USING (SELECT Stox name, ["platform", "prediction-markets"] tags, 171080.1541109653 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Stox inserted successfully.
Processing data for SiaCashCoin
Query:
            MERGE INTO coins1 c
            USING (SELECT SiaCashCoin name, [] tags, 170991.80946602585 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SiaCashCoin inserted successfully.
Processing data for Elamachain
Query:
            MERGE INTO coins1 c
            USING (SELECT Elamachain name, ["ai-big-data"] tags, 170710.04766054833 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Elamachain inserted successfully.
Processing data for BLink
Query:
            MERGE INTO coins1 c
            USING (SELECT BLink name, ["bnb-chain"] tags, 170559.82039978134 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for BLink inserted successfully.
Processing data for Pacoca
Query:
            MERGE INTO coins1 c
            USING (SELECT Pacoca name, ["bnb-chain"] tags, 170544.7731416789 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Pacoca inserted successfully.
Processing data for APYSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT APYSwap name, ["defi", "polkastarter", "exnetwork-capital-portfolio", "chromia-ecosystem", "okex-blockdream-ventures-portfolio", "bnb-chain"] tags, 170532.243596478 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for APYSwap inserted successfully.
Processing data for Cosmo Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Cosmo Coin name, [] tags, 170510.28550343437 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cosmo Coin inserted successfully.
Processing data for Hydro
Query:
            MERGE INTO coins1 c
            USING (SELECT Hydro name, ["platform", "decentralized-exchange-dex-token", "defi", "smart-contracts", "yield-farming", "amm", "dex", "bnb-chain"] tags, 170446.2959058155 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Hydro inserted successfully.
Processing data for SakeToken
Query:
            MERGE INTO coins1 c
            USING (SELECT SakeToken name, ["decentralized-exchange-dex-token", "defi", "derivatives", "amm", "bnb-chain"] tags, 169192.80228882402 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SakeToken inserted successfully.
Processing data for Donut
Query:
            MERGE INTO coins1 c
            USING (SELECT Donut name, ["loyalty", "social-token"] tags, 168632.956922805 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Donut inserted successfully.
Processing data for NFTify
Query:
            MERGE INTO coins1 c
            USING (SELECT NFTify name, ["marketplace", "collectibles-nfts", "polkafoundry-red-kite", "icetea-labs", "bnb-chain"] tags, 166839.87261264963 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for NFTify inserted successfully.
Processing data for U Network
Query:
            MERGE INTO coins1 c
            USING (SELECT U Network name, ["media", "content-creation", "smart-contracts"] tags, 165923.77182567446 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for U Network inserted successfully.
Processing data for Team Vitality Fan Token
Query:
            MERGE INTO coins1 c
            USING (SELECT Team Vitality Fan Token name, ["sports", "fan-token"] tags, 165481.4539787255 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Team Vitality Fan Token inserted successfully.
Processing data for Shadows
Query:
            MERGE INTO coins1 c
            USING (SELECT Shadows name, ["defi", "derivatives", "substrate", "polkadot", "polkadot-ecosystem", "duckstarter", "bnb-chain"] tags, 164274.0017079899 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Shadows inserted successfully.
Processing data for SnowSwap
Query:
            MERGE INTO coins1 c
            USING (SELECT SnowSwap name, ["yield-farming"] tags, 163861.79153131897 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for SnowSwap inserted successfully.
Processing data for Tidal Finance
Query:
            MERGE INTO coins1 c
            USING (SELECT Tidal Finance name, ["polkastarter", "exnetwork-capital-portfolio", "polygon-ecosystem", "vbc-ventures-portfolio", "spartan-group", "injective-ecosystem"] tags, 163264.321051667 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Tidal Finance inserted successfully.
Processing data for Titan Coin
Query:
            MERGE INTO coins1 c
            USING (SELECT Titan Coin name, ["mineable"] tags, 163242.40638902734 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Titan Coin inserted successfully.
Processing data for Cyclub
Query:
            MERGE INTO coins1 c
            USING (SELECT Cyclub name, ["content-creation", "crowdfunding"] tags, 162497.02487528397 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Cyclub inserted successfully.
Processing data for Gamerse
Query:
            MERGE INTO coins1 c
            USING (SELECT Gamerse name, ["oxbull"] tags, 162449.20672381992 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Gamerse inserted successfully.
Processing data for Argon
Query:
            MERGE INTO coins1 c
            USING (SELECT Argon name, ["avalanche-ecosystem", "bnb-chain"] tags, 161653.34454325392 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for Argon inserted successfully.
Processing data for MicroBitcoin
Query:
            MERGE INTO coins1 c
            USING (SELECT MicroBitcoin name, ["mineable", "medium-of-exchange"] tags, 161586.5084982122 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for MicroBitcoin inserted successfully.
Processing data for WinCash
Query:
            MERGE INTO coins1 c
            USING (SELECT WinCash name, [] tags, 161141.50295757092 marketcap) v
            ON c.name = v.name
            WHEN MATCHED THEN
                UPDATE SET c.tags = v.tags, c.marketcap = v.marketcap
            WHEN NOT MATCHED THEN
                INSERT (name, tags, marketcap) VALUES (v.name, v.tags, v.marketcap)

Data for WinCash inserted successfully.

# bitcoin & ethereum had too many characthers in tags column to be truncated to i altered the table and manually put in the tags

In [19]:
conn = sf.connect(
    user='Vandalism',
    password='Rakovosel0123321',
    account='pv92401.europe-west4.gcp',
    warehouse='crypto',
    database='api',
    schema='eda'
)
print("connected")
# Create a cursor object to execute SQL queries
cur = conn.cursor()
print("created cursor")

sql = """ALTER TABLE coins2 MODIFY COLUMN tags VARCHAR(2000);"""

# Execute the query
cur.execute(sql)

# Construct the query to update the tags of Bitcoin in coins2 table
sql = """UPDATE coins2
         SET tags = CONCAT(tags, ',"pow","sha-256","mineable","store-of-value","state-channel","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","fabric-ventures-portfolio","framework-ventures-portfolio","galaxy-digital-portfolio","huobi-capital-portfolio","alameda-research-portfolio","a16z-portfolio","1confirmation-portfolio","winklevoss-capital-portfolio","usv-portfolio","placeholder-ventures-portfolio","pantera-capital-portfolio","multicoin-capital-portfolio","paradigm-portfolio","pos","smart-contracts","ethereum-ecosystem","hashkey-capital-portfolio","kenetic-capital-portfolio","injective-ecosystem","payments","stablecoin","asset-backed-stablecoin","avalanche-ecosystem","solana-ecosystem","arbitrum-ecosytem","moonriver-ecosystem","bnb-chain","usd-stablecoin","optimism-ecosystem"')
         WHERE name = 'Bitcoin'"""

cur.execute(sql)

sql = """UPDATE coins2
         SET tags = CONCAT(tags, ', "PoS", "Smart Contracts", "Coinbase Ventures Portfolio", "Three Arrows Capital Portfolio", "Polychain Capital Portfolio", "Binance Labs Portfolio", "Blockchain Capital Portfolio", "BoostVC Portfolio", "CMS Holdings Portfolio", "DCG Portfolio", "DragonFly Capital Portfolio", "Electric Capital Portfolio", "Fabric Ventures Portfolio", "Framework Ventures Portfolio", "Hashkey Capital Portfolio", "Kenetic Capital Portfolio", "Huobi Capital Portfolio", "Alameda Research Portfolio", "a16z Portfolio", "1Confirmation Portfolio", "Winklevoss Capital Portfolio", "USV Portfolio", "Placeholder Ventures Portfolio", "Pantera Capital Portfolio", "Multicoin Capital Portfolio", "Paradigm Portfolio", "Ethereum Ecosystem", "Injective Ecosystem"')
         WHERE name = 'Ethereum'"""

# Execute the query
cur.execute(sql)

# Commit the changes to the database
conn.commit()

# Print a message indicating the update was successful
print("Updated")

connected
created cursor
Updated

In [28]:
conn = sf.connect(
    user='Vandalism',
    password='Rakovosel0123321',
    account='pv92401.europe-west4.gcp',
    warehouse='crypto1',
    database='api1',
    schema='eda1'
)
print("connected")
# Create a cursor object to execute SQL queries
cur = conn.cursor()
print("created cursor")


cur.execute("SELECT * FROM coins1 ORDER BY marketcap DESC")

df = pd.DataFrame(cur.fetchall(), columns= ['name','tags','marketcap'])
conn.close()

connected
created cursor